Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

refactor: remove 38 definitions only their own tests ever called
  plugins/abstract/src/abstract/cli_framework.py
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/tests/test_experience_library.py
  plugins/abstract/tests/unit/test_cli_framework.py
  plugins/egregore/scripts/conventions.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/scripts/stage_parallel.py
  plugins/egregore/tests/test_night_run.py
  plugins/egregore/tests/test_quality_gate.py
  plugins/egregore/tests/test_quality_integration.py
  plugins/egregore/tests/unit/test_stage_parallel.py
  plugins/memory-palace/src/memory_palace/corpus/counter_reinforcement.py
  plugins/memory-palace/src/memory_palace/corpus/source_lineage.py
  plugins/memory-palace/src/memory_palace/knowledge_graph.py
  plugins/memory-palace/tests/test_journey_tracker.py
  plugins/memory-palace/tests/test_knowledge_graph.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/memory-palace/tests/test_migration.py
  plugins/memory-palace/tests/test_source_lineage.py
  plugins/memory-palace/tests/test_tier_manager.py
  plugins/memory-palace/tests/unit/test_counter_reinforcement.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

docs: point book examples at skills that exist, lower the wrap ratchet
  book/src/getting-started/common-workflows.md
  book/src/getting-started/quick-start.md
  book/src/plugins/conjure.md
  book/src/plugins/conserve.md
  plugins/abstract/docs/python-structure.md
  scripts/prose_wrap_baseline.json
Due: run-plugin-tests, validate-abstract-plugin

fix: restore the readers that live-code tests use as oracles
  plugins/egregore/scripts/conventions.py
  plugins/egregore/tests/test_quality_gate.py
  plugins/egregore/tests/test_quality_integration.py
  plugins/memory-palace/src/memory_palace/corpus/source_lineage.py
  plugins/memory-palace/src/memory_palace/knowledge_graph.py
  plugins/memory-palace/tests/test_journey_tracker.py
  plugins/memory-palace/tests/test_knowledge_graph.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/memory-palace/tests/test_migration.py
  plugins/memory-palace/tests/test_source_lineage.py
  plugins/memory-palace/tests/test_tier_manager.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

chore(pensive,cartograph): declare the hooks key the other hooked plugins carry
  plugins/cartograph/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
Due: none

fix(gauntlet): resolve call targets at build time and persist traced flows
  plugins/gauntlet/scripts/graph_build.py
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/src/gauntlet/incremental.py
  plugins/gauntlet/tests/unit/scripts/test_graph_scripts.py
  plugins/gauntlet/tests/unit/test_incremental.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): give the night run an entry point and the orchestrator a briefing
  book/src/plugins/egregore.md
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/scripts/handoff_gate.py
  plugins/egregore/scripts/learning.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/tests/test_handoff_gate.py
  plugins/egregore/tests/test_learning.py
  plugins/egregore/tests/test_night_run_cli.py
  plugins/egregore/tests/test_night_run_e2e.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(conserve): drive the coordination workspace from the shell
  plugins/conserve/scripts/coordination_workspace.py
  plugins/conserve/skills/context-optimization/modules/findings-format.md
  plugins/conserve/skills/context-optimization/modules/session-routing.md
  plugins/conserve/tests/test_coordination_workspace.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(memory-palace): expose the two palace migrations on the CLI
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/tests/scripts/test_memory_palace_cli_migrate.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(pensive): run Tier 1 of the tiered audit through its own thresholds
  plugins/pensive/scripts/tiered_audit.py
  plugins/pensive/skills/tiered-audit/SKILL.md
  plugins/pensive/tests/unit/scripts/test_tiered_audit_script.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(sanctum): feed git into PRPrepAnalyzer for the pr-prep skill
  plugins/sanctum/scripts/pr_prep_analyze.py
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/tests/test_pr_prep_analyze.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs: retire stale references, link orphan guides, and trim two repeated paragraphs
  Makefile
  assets/tapes/README.md
  book/src/plugins/scry.md
  book/src/reference/capabilities-commands-extended.md
  book/src/reference/capabilities-skills.md
  plugins/abstract/README.md
  plugins/abstract/docs/compatibility/compatibility-patterns.md
  plugins/abstract/docs/governance.md
  plugins/archetypes/skills/architecture-paradigm-client-server/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-cqrs-es/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-domain-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-event-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-functional-core/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-layered/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microkernel/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microservices/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-modular-monolith/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-pipeline/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-serverless/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/attune/README.md
  plugins/leyline/README.md
  plugins/pensive/skills/api-review/SKILL.md
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/pensive/skills/blast-radius/SKILL.md
  plugins/pensive/skills/bug-review/SKILL.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/harden/SKILL.md
  plugins/pensive/skills/makefile-review/SKILL.md
  plugins/pensive/skills/math-review/SKILL.md
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/skills/safety-critical-patterns/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/pensive/skills/test-review/SKILL.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/scribe/skills/voice-review/SKILL.md
Due: run-plugin-tests, validate-abstract-plugin, validate-archetypes-plugin, check-context-optimization, validate-description-budget

perf(gauntlet): index definitions once instead of scanning nodes per call edge
  plugins/gauntlet/src/gauntlet/graph.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(pensive): load the Tier 1 checks without dragging in the package
  plugins/pensive/scripts/tiered_audit.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(scripts): guard the temp-file cleanup against an empty array on bash 3.2
  scripts/run-plugin-tests.sh
  tests/unit/test_run_plugin_tests.py
Due: none

feat(tome): make every TRIZ record say what it could not resolve
  CHANGELOG.md
  docs/adr/0026-triz-records-carry-their-residual.md
  plugins/tome/agents/triz-analyst.md
  plugins/tome/skills/triz/SKILL.md
  plugins/tome/src/tome/channels/triz.py
  plugins/tome/tests/channels/test_triz.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(phantom): gate bash and editor tools, block drags that press in a region, refuse ambiguous edits
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/src/phantom/safety.py
  plugins/phantom/tests/unit/test_loop.py
  plugins/phantom/tests/unit/test_safety.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(hookify): run installed rules from a hook, and reject rules that cannot fire
  plugins/hookify/.claude-plugin/plugin.json
  plugins/hookify/README.md
  plugins/hookify/core/config_loader.py
  plugins/hookify/core/rule_engine.py
  plugins/hookify/hooks/hooks.json
  plugins/hookify/hooks/rule_guard.py
  plugins/hookify/openpackage.yml
  plugins/hookify/skills/rule-catalog/rules/stewardship/campsite-check.md
  plugins/hookify/tests/test_config_loader.py
  plugins/hookify/tests/test_rule_catalog_contract.py
  plugins/hookify/tests/test_rule_engine.py
  plugins/hookify/tests/test_rule_guard_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(oracle): only signal a PID that is actually running the daemon
  plugins/oracle/hooks/daemon_lifecycle.py
  plugins/oracle/tests/unit/test_daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(spec-kit): stop distinct cache keys from sharing a file, and let categories reach every entry
  plugins/spec-kit/src/speckit/caching.py
  plugins/spec-kit/tests/test_caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(minister): keep a corrupt tracker file recoverable, and bound the gh call
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/src/minister/project_tracker.py
  plugins/minister/tests/unit/test_dora_metrics.py
  plugins/minister/tests/unit/test_project_tracker_corrupt_file.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): catch the asyncio timeout on 3.9, kill the probe it leaves behind, write stats atomically
  plugins/conjure/scripts/usage_logger.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/scripts/war_room/orchestrator.py
  plugins/conjure/tests/test_edge_cases.py
  plugins/conjure/tests/test_war_room_experts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(hooks): keep SessionStart hooks inside their budgets, and survive an empty array on bash 3.2
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/hooks/setup.sh
  plugins/conserve/hooks/shared/json_utils.sh
  plugins/conserve/skills/context-optimization/modules/session-routing.md
  plugins/conserve/tests/unit/hooks/test_setup_hook.py
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/hooks/shared/json_utils.sh
  plugins/imbue/hooks/user-prompt-submit.sh
  plugins/imbue/tests/unit/hooks/test_scope_guard_cache_cleanup.py
  plugins/leyline/hooks/detect-git-platform.sh
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/leyline/hooks/hooks.json
  plugins/leyline/scripts/interactive_auth.sh
  plugins/leyline/skills/authentication-patterns/tests/test-interactive-auth.sh
  plugins/leyline/tests/unit/hooks/test_fetch_recent_discussions.py
  plugins/leyline/tests/unit/skills/test_git_platform.py
  plugins/memory-palace/hooks/setup.sh
  plugins/memory-palace/hooks/shared/json_utils.sh
  plugins/memory-palace/tests/hooks/test_setup_hook.py
  scripts/shared/json_utils.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(build): a shell gate that covers the repo, a cargo build that can fail, and recipes that say what they do
  Makefile
  plugins/abstract/Makefile
  plugins/abstract/config/make/common.mk
  plugins/abstract/config/make/markdown-only.mk
  plugins/abstract/config/make/python.mk
  plugins/archetypes/Makefile
  plugins/attune/Makefile
  plugins/attune/templates/python/Makefile.template
  plugins/attune/templates/rust/Makefile.template
  plugins/attune/templates/typescript/Makefile.template
  plugins/cartograph/Makefile
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/egregore/Makefile
  plugins/gauntlet/Makefile
  plugins/herald/Makefile
  plugins/hookify/Makefile
  plugins/imbue/Makefile
  plugins/leyline/Makefile
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/oracle/Makefile
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
  plugins/phantom/Makefile
  plugins/sanctum/Makefile
  plugins/scribe/Makefile
  plugins/scry/Makefile
  plugins/spec-kit/Makefile
  plugins/tome/Makefile
  scripts/run-plugin-lint.sh
  scripts/run-plugin-typecheck.sh
  scripts/shellcheck.sh
  tests/test_debug_variables_reports_what_recipes_see.py
  tests/test_makefile_recipe_honesty.py
  tests/test_shared_make_includes_are_required.py
  tests/test_shellcheck_gate_covers_the_repository.py
  tests/test_shellflags_are_guarded.py
  tests/test_skrills_build_propagates_failure.py
Due: validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(workflows): name every dropped agent, and count the refutation majority over the roster
  plugins/attune/workflows/skill-library.js
  plugins/pensive/workflows/unified-review.js
  plugins/phantom/workflows/surface-check.js
  plugins/scry/workflows/capture-set.js
  tests/test_shipped_workflows.py
Due: none

fix(pensive): one module identity for the Tier 1 checks, a three-dot diff, and an escalation module that says what is manual
  plugins/pensive/scripts/tiered_audit.py
  plugins/pensive/skills/tiered-audit/modules/escalation-criteria.md
  plugins/pensive/src/pensive/__init__.py
  plugins/pensive/tests/unit/scripts/test_tiered_audit_script.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(gauntlet,sanctum): pin the inline leyline copies to the canonical
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/tests/unit/test_sqlite_graph_base_fallback_drift.py
  plugins/sanctum/src/sanctum/validators/_frontmatter.py
  plugins/sanctum/tests/test_frontmatter_fallback_drift.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): a gate nothing evaluated no longer reads as pass
  plugins/sanctum/scripts/pr_prep_analyze.py
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/src/sanctum/pr_prep.py
  plugins/sanctum/tests/test_pr_prep.py
  plugins/sanctum/tests/test_pr_prep_analyze.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(memory-palace): migrate encoding dry-runs, reports what it skipped, and merges instead of replacing
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/src/memory_palace/corpus/counter_reinforcement.py
  plugins/memory-palace/src/memory_palace/migration.py
  plugins/memory-palace/tests/scripts/test_memory_palace_cli_migrate.py
  plugins/memory-palace/tests/test_computational_encoding.py
  plugins/memory-palace/tests/unit/test_counter_reinforcement.py
  plugins/memory-palace/tests/unit/test_semantic_deduplicator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(conserve): the coordination workspace CLI fails loudly on an unknown task or a missing workspace
  plugins/conserve/scripts/coordination_workspace.py
  plugins/conserve/tests/test_coordination_workspace.py
  plugins/conserve/tests/unit/test_clear_context_bounds.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(imbue): a validator that could not fail, a false lint suppression, and counter helpers only tests called
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/scripts/imbue_validator.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/test_imbue_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(scribe): one inline-code mask for four modules, and a splice regex that cannot go quadratic
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/src/scribe/markdown_spans.py
  plugins/scribe/src/scribe/negation.py
  plugins/scribe/src/scribe/pattern_loader.py
  plugins/scribe/src/scribe/spelling.py
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_pattern_loader.py
  plugins/scribe/tests/unit/test_markdown_spans.py
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(herald,parseltongue,scry): an atomic throttle write, a lock match on a word, and a shell script that follows the rules
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/tests/test_judge_panel_workflow.py
  plugins/herald/tests/unit/test_double_shot_latte.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/race_conditions.py
  plugins/parseltongue/tests/test_async_edge_cases.py
  plugins/scry/scripts/gif_demo.sh
  plugins/scry/tests/test_gif_demo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): a documented ValueError, a five-channel docstring, and a metrics doc that cites code that exists
  docs/metrics/tome-research-quality.md
  plugins/tome/src/tome/channels/web.py
  plugins/tome/src/tome/scripts/research_planner.py
  plugins/tome/tests/channels/test_web.py
  plugins/tome/tests/test_metrics_doc_citations.py
  plugins/tome/tests/unit/test_research_planner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(abstract): assert what the swallowing tests swallow, and stop two timing tests depending on an idle machine
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/abstract/tests/scripts/skills_eval/test_tool_performance_analyzer.py
  plugins/abstract/tests/unit/test_find_skill_files_skips_fixtures.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

chore(egregore,docs): say who runs the night run, regenerate the dependency manifest, and point two Skill() targets at commands
  docs/plugin-dependencies.json
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/skills/summon/SKILL.md
  plugins/egregore/tests/test_shipped_scripts_are_named.py
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/verification.md
  tests/test_plugin_dependency_manifest.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(abstract): restore the report output a lint autofix stripped, and warn on a non-list skills entry
  plugins/abstract/scripts/context_optimizer.py
  plugins/abstract/scripts/hook_validator.py
  plugins/abstract/scripts/skill_validator.py
  plugins/abstract/scripts/validate_plugin.py
  plugins/abstract/tests/scripts/test_context_optimizer.py
  plugins/abstract/tests/scripts/test_hook_validator.py
  plugins/abstract/tests/scripts/test_skill_validator.py
  plugins/abstract/tests/unit/scripts/test_validate_plugin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(abstract,leyline,attune): assert what fifteen silent tests only ran, and drive the real ambiguity detector
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/abstract/tests/hooks/test_homeostatic_monitor.py
  plugins/abstract/tests/scripts/test_makefile_dogfooder_cli.py
  plugins/abstract/tests/unit/hooks/test_post_learnings_stop.py
  plugins/abstract/tests/unit/test_errors.py
  plugins/attune/tests/test_tasks_integration.py
  plugins/leyline/tests/test_quota_tracker.py
  plugins/leyline/tests/unit/scripts/test_usage_logger.py
  tests/test_gates_fail_closed.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(hookify,imbue,memory-palace,gauntlet,spec-kit): unit-test the branches the subprocess tests cannot reach
  plugins/gauntlet/tests/unit/test_blast_radius.py
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/hookify/tests/test_hook_to_hookify.py
  plugins/hookify/tests/test_install_rule.py
  plugins/hookify/tests/test_rule_guard_units.py
  plugins/imbue/tests/unit/hooks/test_guard_scope_ramp.py
  plugins/imbue/tests/unit/hooks/test_package_registry_probe.py
  plugins/memory-palace/tests/scripts/test_memory_palace_cli_parser.py
  plugins/memory-palace/tests/scripts/test_sync_wiki.py
  plugins/memory-palace/tests/test_index_cli_reporting.py
  plugins/memory-palace/tests/test_index_prune_cli_guard.py
  plugins/spec-kit/tests/test_caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-memory-palace-plugin

fix(sanctum): the test analyzer no longer reports a plugin's .venv as untested source
  plugins/sanctum/scripts/test_analyzer.py
  plugins/sanctum/tests/test_test_analyzer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
