Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(tome): surface non-semantic retrieval and refuse illegal result states
  docs/metrics/tome-research-quality.md
  docs/research/2026-07-17-tome-research-engine.md
  docs/superpowers/specs/2026-07-17-tome-research-engine-design.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/tome/src/tome/channels/academic.py
  plugins/tome/src/tome/graph/palace_adapter.py
  plugins/tome/src/tome/graph/threads.py
  plugins/tome/src/tome/metrics/impact.py
  plugins/tome/src/tome/models.py
  plugins/tome/src/tome/retrieval/semantic.py
  plugins/tome/tests/channels/test_academic.py
  plugins/tome/tests/graph/test_threads.py
  plugins/tome/tests/metrics/test_impact.py
  plugins/tome/tests/retrieval/test_semantic.py
  plugins/tome/tests/unit/test_models.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

perf(tome): normalize each title once when ranking findings
  plugins/tome/src/tome/synthesis/ranker.py
  plugins/tome/tests/unit/test_ranker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): keep untitled findings out of fuzzy deduplication
  plugins/tome/src/tome/synthesis/merger.py
  plugins/tome/tests/unit/test_fuzzy_dedup.py
  plugins/tome/tests/unit/test_merger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(tome): resolve memory-palace so contract tests can run
  plugins/tome/pyproject.toml
  plugins/tome/uv.lock
Due: none

feat(scribe): detect significance-cluster and loop-metaphor slop
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

ci: bump setup-python and setup-uv pins across workflows
  .github/workflows/cron-memory-palace.yaml
  .github/workflows/cross-framework-publish.yml
  .github/workflows/ecosystem-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  .github/workflows/trust-attestation.yml
  .github/workflows/typecheck.yml
Due: none

docs: point tome research companions at their new locations
  docs/metrics/tome-research-quality.md
  docs/superpowers/specs/2026-07-17-tome-research-engine-design.md
  plugins/leyline/src/leyline/cli_envelope.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(tome): run backend contract tests against the real memory-palace
  .github/workflows/tome-integration.yml
  plugins/tome/pyproject.toml
  plugins/tome/tests/graph/test_palace_adapter.py
  plugins/tome/tests/graph/test_threads.py
  plugins/tome/tests/retrieval/test_semantic.py
  plugins/tome/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore(memory-palace): index 35 web captures
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

chore(memory-palace): prune 46 failed captures from index
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(memory-palace): gate promotion on empty captures
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/src/memory_palace/corpus/index_promoter.py
  plugins/memory-palace/tests/hooks/test_deduplication.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
  plugins/memory-palace/tests/test_index_promoter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(memory-palace): report empty captures, compute capture scores
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/src/memory_palace/corpus/index_analytics.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
  plugins/memory-palace/tests/test_index_analytics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(sanctum): scope registration excludes to the plugins root
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations_core.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): reject model preamble as capture titles
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(memory-palace): add keyword index builder
  .gitignore
  plugins/memory-palace/data/indexes/keyword-index.yaml
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/scripts/build_indexes.py
  plugins/memory-palace/src/memory_palace/corpus/keyword_index.py
  plugins/memory-palace/tests/scripts/test_build_indexes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs(memory-palace): document and demo the keyword index builder
  plugins/memory-palace/Makefile
  plugins/memory-palace/README.md
  plugins/memory-palace/skills/palace-index-curator/SKILL.md
Due: run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(gates): make quality gates able to fail
  .gitignore
  plugins/abstract/scripts/abstract_validator.py
  plugins/abstract/scripts/rules_validator.py
  plugins/abstract/tests/hooks/test_continual_metrics.py
  plugins/attune/scripts/sync_templates.py
  plugins/attune/tests/test_sync_templates.py
  plugins/conjure/Makefile
  plugins/conjure/pyproject.toml
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/quota_tracker.py
  plugins/conjure/scripts/usage_logger.py
  plugins/conjure/scripts/war_room/audit_trail.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/tests/scripts/test_usage_logger.py
  plugins/conserve/Makefile
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/tests/scripts/test_memory_palace_cli_parser.py
  plugins/parseltongue/Makefile
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/test_quality_checker.py
  tests/test_gate_exit_codes.py
  tests/test_plugin_test_runnability.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(memory-palace): restore capture index emptied from a worktree
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

docs(research): fold syntheses into docs of record
  .claude/rules/prefer-invariants-over-fallbacks.md
  .claude/skills/night-market-completion-integrity-campaign/SKILL.md
  .claude/skills/night-market-research-frontier/SKILL.md
  .claude/skills/night-market-research-methodology/SKILL.md
  .gitignore
  docs/adr/0009-sidecar-service-discovery.md
  docs/metrics/tome-research-quality.md
  docs/research/2026-07-17-tome-research-engine.md
  docs/superpowers/specs/2026-07-17-tome-research-engine-design.md
  plugins/conserve/skills/compression-strategy/modules/reversible-compression.md
  plugins/conserve/skills/context-optimization/modules/cache-aligned-prefixes.md
  plugins/egregore/skills/quality-gate/SKILL.md
  plugins/imbue/skills/proof-of-work/modules/verifier-integrity.md
  plugins/pensive/skills/rust-review/modules/native-type-modeling.md
Due: run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(memory-palace): refuse orphan prune on a missing corpus
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/src/memory_palace/corpus/index_promoter.py
  plugins/memory-palace/tests/test_index_promoter.py
  plugins/memory-palace/tests/test_index_prune_cli_guard.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs(adr): record tome graph reuse decision
  .gitignore
  docs/adr/0018-tome-graph-reuse-over-build.md
Due: none

feat(conserve): add action-first-output skill
  CHANGELOG.md
  book/src/plugins/conserve.md
  book/src/reference/capabilities-reference.md
  book/src/reference/capabilities-skills.md
  docs/api-overview.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/README.md
  plugins/conserve/openpackage.yml
  plugins/conserve/skills/action-first-output/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/conserve/tests/unit/skills/test_action_first_output.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/test_update_versions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

chore(memory-palace): drain capture index backlog to zero pending
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(memory-palace): drain fresh captures at commit time
  .pre-commit-config.yaml
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/scripts/check_capture_index_drained.py
  plugins/memory-palace/scripts/precommit_palace_maintenance.sh
  plugins/memory-palace/skills/palace-index-curator/SKILL.md
  plugins/memory-palace/tests/hooks/test_deduplication.py
  plugins/memory-palace/tests/test_capture_index_artifact.py
  plugins/memory-palace/tests/test_capture_index_drain_gate.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(adr): retire docs/superpowers and record its decisions
  .claude/rules/ceremony-requires-need.md
  .claude/skills/night-market-research-methodology/SKILL.md
  .gitignore
  docs/adr/0019-superpowers-design-consolidation.md
  docs/superpowers/specs/2026-07-17-tome-research-engine-design.md
  plugins/sanctum/skills/validate-pr/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

Add MiniMax provider to Conjure delegation and War Room
  CHANGELOG.md
  plugins/conjure/Makefile
  plugins/conjure/README.md
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/quota_tracker.py
  plugins/conjure/scripts/war_room/config.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/skills/minimax-delegation/SKILL.md
  plugins/conjure/skills/minimax-delegation/modules/minimax-specifics.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/test_war_room_experts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(abstract): distinguish missing signal from clean results in LEARNINGS.md
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(skills): add model and harness update workflow
  .claude/skills/claude-code-plugin-reference/SKILL.md
  .claude/skills/night-market-model-and-harness-updates/SKILL.md
  .claude/skills/night-market-model-and-harness-updates/modules/asset-sweep.md
  .claude/skills/night-market-model-and-harness-updates/modules/drift-detection.md
  .claude/skills/night-market-model-and-harness-updates/modules/research-protocol.md
  .claude/skills/night-market-model-and-harness-updates/modules/verification.md
  .claude/upstream-baseline.json
  docs/agent-model-matrix.md
  docs/knowledge-corpus/anthropic-model-roster.md
  docs/knowledge-corpus/claude-code-harness-deltas.md
  docs/model-harness-updates/implementation-plan.md
  docs/model-harness-updates/migrations/2026-08-02-bootstrap.md
  docs/model-harness-updates/migrations/2026-08-02-harness-2-1-220.md
  docs/model-harness-updates/specification.md
  plugins/conjure/scripts/war_room/config.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/scripts/war_room/orchestrator.py
  plugins/conjure/tests/test_cjr_fixes.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/phantom/src/phantom/cost.py
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/tests/unit/test_cost_tracker.py
  plugins/phantom/tests/unit/test_loop.py
  pyproject.toml
  scripts/check_agent_model_matrix.py
  scripts/check_upstream_drift.py
  tests/scripts/test_check_agent_model_matrix.py
  tests/unit/skills/test_night_market_model_and_harness_updates.py
  tests/unit/test_check_upstream_drift.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-memory-palace-plugin, check-context-optimization

test(isolation): keep the suite out of the live observability store
  plugins/abstract/tests/conftest.py
  plugins/abstract/tests/test_log_isolation.py
  plugins/conftest_shared.py
  plugins/conserve/tests/conftest.py
  plugins/sanctum/tests/conftest.py
  plugins/sanctum/tests/test_leyline_not_shadowed.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

fix(workflows): gate phantom citations and unverified commits
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/leyline/skills/deferred-capture/SKILL.md
  plugins/memory-palace/commands/garden.md
  plugins/memory-palace/skills/digital-garden-cultivator/SKILL.md
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/tests/skills/test_performance_review_memory_lenses.py
  plugins/sanctum/commands/acp.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/update-version.md
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/skills/do-issue/modules/parallel-execution.md
  plugins/sanctum/skills/version-updates/SKILL.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/sanctum/tests/test_commit_landed_verification.py
  tests/test_assets_respect_enforced_vows.py
  tests/test_cited_paths_resolve.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(attune): add a review mission type for observational work
  plugins/attune/commands/mission.md
  plugins/attune/skills/mission-orchestrator/SKILL.md
  plugins/attune/skills/mission-orchestrator/modules/mission-types.md
  plugins/attune/tests/unit/skills/test_mission_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

ci(ecosystem): widen the trigger to match what the gates read
  .github/workflows/ecosystem-tests.yml
  tests/test_ci_covers_ecosystem_gates.py
Due: none

feat(workflows): close the discussion board's write-back loop
  Makefile
  plugins/sanctum/skills/commit-messages/SKILL.md
  scripts/reconcile_discussions.py
  tests/test_discussion_loop_is_wired.py
  tests/unit/test_reconcile_discussions.py
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(abstract): stop publishing daily digests that say nothing
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/tests/scripts/test_post_learnings_to_discussions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(discussions): record the backlog reconciliation evidence
  docs/discussion-reconciliation-2026-08-03.md
Due: none

feat(rust): record branch elimination as the hand-rolled loop exception
  plugins/leyline/skills/loop-optimization/SKILL.md
  plugins/leyline/tests/unit/skills/test_loop_optimization.py
  plugins/pensive/skills/rust-review/modules/iterator-and-allocation-slop.md
  plugins/pensive/tests/skills/test_rust_review_branchless.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(discussions): require a trailer before writing back to the board
  scripts/reconcile_discussions.py
  tests/unit/test_reconcile_discussions.py
Due: none

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
