Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

feat(pensive): add select! orchestration and memory-allocation review lenses
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/pensive/agents/rust-auditor.md
  plugins/pensive/commands/performance-review.md
  plugins/pensive/commands/rust-review.md
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/performance-review/modules/memory-allocation-lenses.md
  plugins/pensive/skills/rust-review/modules/concurrency-patterns.md
Due: run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(scripts): scrub leaked git env in plugin test runner
  plugins/leyline/pyproject.toml
  scripts/run-plugin-tests.sh
  tests/unit/test_run_plugin_tests.py
  uv.lock
Due: none

chore(memory-palace): refresh web-capture index
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(conjure): sync uv.lock with leyline pyyaml dev-dep
  plugins/conjure/uv.lock
Due: validate-conjure-plugin

test(pensive): cover select! rule and memory-allocation lenses
  plugins/pensive/skills/performance-review/modules/memory-allocation-lenses.md
  plugins/pensive/tests/skills/test_performance_review_memory_lenses.py
  plugins/pensive/tests/skills/test_rust_review_select_orchestration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore(memory-palace): refresh web-capture index
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

test(memory-palace): guard index consistency and authority tiers
  plugins/memory-palace/tests/hooks/test_deduplication.py
  plugins/memory-palace/tests/test_index_analytics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(archetypes,pensive): add DDD paradigm and ceremony-audit lens
  .claude/rules/ceremony-requires-need.md
  book/src/plugins/archetypes.md
  book/src/reference/capabilities-reference.md
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/archetypes/skills/architecture-paradigm-domain-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigms/SKILL.md
  plugins/archetypes/tests/test_ddd_paradigm.py
  plugins/archetypes/tests/test_paradigm_components.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/pensive/skills/architecture-review/modules/ceremony-audit.md
  plugins/pensive/tests/skills/test_ceremony_audit.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-archetypes-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(archetypes): run the plugin's tests in CI
  plugins/archetypes/pyproject.toml
  plugins/archetypes/uv.lock
Due: validate-archetypes-plugin

chore(memory-palace): drain web-capture index
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

docs(archetypes): ground the DDD thesis in Evans's own correction
  CHANGELOG.md
  plugins/archetypes/skills/architecture-paradigm-domain-driven/SKILL.md
  plugins/archetypes/tests/test_ddd_paradigm.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-archetypes-plugin, check-context-optimization, validate-description-budget

fix(ci): bind mypy to each plugin's own environment
  .pre-commit-config.yaml
  CHANGELOG.md
  plugins/cartograph/pyproject.toml
  plugins/cartograph/uv.lock
  scripts/run-plugin-typecheck.sh
  tests/test_plugin_typecheck_config.py
Due: none

fix(abstract): skip null duration_ms in skill log aggregation
  plugins/abstract/scripts/aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(memory-palace): keep the capture index consistent for shared content
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/src/memory_palace/corpus/index_promoter.py
  plugins/memory-palace/tests/hooks/test_deduplication.py
  plugins/memory-palace/tests/test_capture_index_artifact.py
  plugins/memory-palace/tests/test_index_promoter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs(release): record the 1.9.16 fixes in changelog and README
  CHANGELOG.md
  README.md
  docs/api-overview.md
Due: none

chore(memory-palace): drain capture index backlog and enable surfacer
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/memory-palace-config.yaml
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

docs(tome): research report, metrics framework, and design spec
  docs/tome-research-engine/design-spec.md
  docs/tome-research-engine/metrics-framework.md
  docs/tome-research-engine/research-report.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: validate-memory-palace-plugin

feat(tome): keep citation edges as CitationEdge (build increment 1)
  plugins/tome/src/tome/channels/academic.py
  plugins/tome/src/tome/models.py
  plugins/tome/tests/channels/test_academic.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): citation-graph seam over memory-palace (build increment 2)
  plugins/memory-palace/src/memory_palace/__init__.py
  plugins/tome/pyproject.toml
  plugins/tome/src/tome/graph/__init__.py
  plugins/tome/src/tome/graph/palace_adapter.py
  plugins/tome/tests/graph/__init__.py
  plugins/tome/tests/graph/test_palace_adapter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(tome): research threads, paths, and triangulation (build increment 3)
  plugins/memory-palace/src/memory_palace/__init__.py
  plugins/tome/src/tome/graph/threads.py
  plugins/tome/src/tome/synthesis/ranker.py
  plugins/tome/tests/graph/test_threads.py
  plugins/tome/tests/unit/test_ranker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(tome): semantic retrieval over EmbeddingIndex (build increment 4)
  plugins/memory-palace/src/memory_palace/__init__.py
  plugins/tome/src/tome/retrieval/__init__.py
  plugins/tome/src/tome/retrieval/semantic.py
  plugins/tome/tests/retrieval/__init__.py
  plugins/tome/tests/retrieval/test_semantic.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(tome): research-quality metrics harness (build increment 5)
  plugins/tome/README.md
  plugins/tome/src/tome/metrics/__init__.py
  plugins/tome/src/tome/metrics/corpus.py
  plugins/tome/src/tome/metrics/retrieval.py
  plugins/tome/tests/metrics/__init__.py
  plugins/tome/tests/metrics/test_corpus.py
  plugins/tome/tests/metrics/test_retrieval.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): impact metrics (disruption index + centrality)
  plugins/tome/src/tome/metrics/impact.py
  plugins/tome/tests/metrics/test_impact.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): wire real embedding provider (sentence-transformers)
  plugins/tome/src/tome/retrieval/semantic.py
  plugins/tome/tests/retrieval/test_semantic.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): make metrics harness over a committed gold set
  plugins/tome/Makefile
  plugins/tome/src/tome/metrics/fixtures/gold_set.yaml
  plugins/tome/src/tome/metrics/harness.py
  plugins/tome/tests/metrics/test_harness.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(lint): reduce PLR complexity in six plugins
  plugins/herald/hooks/double_shot_latte.py
  plugins/hookify/core/rule_engine.py
  plugins/hookify/scripts/hook_to_hookify.py
  plugins/hookify/scripts/install_rule.py
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/phantom/src/phantom/loop.py
  plugins/scribe/src/scribe/session_parser.py
  plugins/tome/src/tome/synthesis/merger.py
  plugins/tome/src/tome/synthesis/ranker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): drop three orphan hash mappings
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(memory-palace): light package import and skip numpy stub in mypy
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/src/memory_palace/__init__.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(tome): make citation edges visible to the graph analyzer
  CHANGELOG.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/src/memory_palace/graph_analyzer.py
  plugins/memory-palace/tests/test_graph_analyzer.py
  plugins/tome/src/tome/graph/palace_adapter.py
  plugins/tome/src/tome/retrieval/semantic.py
  plugins/tome/tests/graph/test_palace_adapter.py
  plugins/tome/tests/retrieval/test_semantic.py
  plugins/tome/tests/unit/test_ranker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

chore(memory-palace): drain 20 pending captures
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

feat(scribe): detect anthropomorphized non-human subjects
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/modules/empirical-baseline.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/src/scribe/pattern_loader.py
  plugins/scribe/tests/test_pattern_loader.py
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore(scribe): sync uv.lock to version 1.9.17
  plugins/scribe/uv.lock
Due: none

style(plugins): align ruff line-length to 88 with root
  plugins/abstract/uv.lock
  plugins/archetypes/pyproject.toml
  plugins/hookify/pyproject.toml
  plugins/leyline/uv.lock
  plugins/memory-palace/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/scribe/pyproject.toml
  plugins/tome/pyproject.toml
Due: validate-abstract-plugin, validate-archetypes-plugin, validate-memory-palace-plugin

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
