Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(egregore,sanctum): the notify stub matches herald and unloads on failure, the quality checker sees docstrings behind a shebang
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/egregore/scripts/notify.py
  plugins/egregore/tests/test_herald_notify_drift.py
  plugins/egregore/tests/test_notify.py
  plugins/egregore/tests/test_session_start_hook.py
  plugins/herald/tests/test_egregore_consumer_surface.py
  plugins/herald/tests/test_notify.py
  plugins/herald/tests/unit/test_double_shot_latte.py
  plugins/oracle/tests/unit/test_daemon_lifecycle.py
  plugins/pensive/tests/unit/test_configuration.py
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
  plugins/sanctum/tests/test_quality_checker.py
  plugins/sanctum/tests/test_session_complete_notify.py
  plugins/scry/tests/test_command_content.py
  plugins/tome/tests/metrics/test_impact.py
  plugins/tome/tests/retrieval/test_semantic.py
  plugins/tome/tests/unit/test_frontier_matrix.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(memory-palace): keep the package root importable without PyYAML
  plugins/memory-palace/src/memory_palace/__init__.py
  plugins/memory-palace/tests/hooks/test_hook_imports_without_yaml.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs: record the session-start hook fix and gate the version badge
  CHANGELOG.md
  README.md
  tests/test_readme_counts_match_the_repository.py
Due: none

fix(abstract,hookify,memory-palace): hooks import under the operator's python
  CHANGELOG.md
  plugins/abstract/hooks/shared/dir_utils.py
  plugins/abstract/src/abstract/__init__.py
  plugins/abstract/src/abstract/paths.py
  plugins/abstract/src/abstract/utils.py
  plugins/hookify/hooks/rule_guard.py
  plugins/hookify/tests/test_rule_guard_hook.py
  plugins/memory-palace/src/memory_palace/corpus/__init__.py
  plugins/memory-palace/tests/hooks/test_hook_imports_without_yaml.py
  tests/test_hooks_import_without_project_deps.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

fix(ci): run the two yaml-dependent pre-commit hooks through uv
  .github/workflows/cron-memory-palace.yaml
  .github/workflows/cross-framework-publish.yml
  .github/workflows/ecosystem-tests.yml
  .github/workflows/lint.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-tests.yml
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  .github/workflows/slop-check.yml
  .github/workflows/tome-integration.yml
  .github/workflows/trust-attestation.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

feat(sanctum,leyline): /pr-review --concise and --hold-insights
  CHANGELOG.md
  plugins/leyline/skills/git-platform/modules/command-mapping.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-workflow-enforcement.md
  plugins/sanctum/commands/pr-review/modules/review-workflow-phases-1-4.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/suggestion-comments.md
  plugins/sanctum/tests/unit/skills/test_pr_review_concise_and_hold_insights.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(ci): gate every bare-python3 pre-commit entry against a missing PyYAML
  .pre-commit-config.yaml
  CHANGELOG.md
  tests/test_precommit_entries_import_without_project_deps.py
Due: none

test(abstract,memory-palace): pin the lazy package roots and the paths branch
  plugins/abstract/tests/unit/test_package_root_exports.py
  plugins/memory-palace/tests/unit/test_package_root_exports.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

docs: record the interpreter rule, and give the book the real /pr-review flags
  book/src/reference/capabilities-commands.md
  docs/plugin-development-guide.md
  docs/quality-gates.md
  plugins/hookify/README.md
Due: run-plugin-tests

docs(lessons): LL-011 and LL-012, the two interpreters that share a name
  docs/lessons-learned.md
Due: none

docs(readme): move the network disclosure behind a link, fold requirements
  README.md
  docs/deep-dive/network-and-data.md
Due: none

docs(changelog): one 1.9.21 section, dated for release
  CHANGELOG.md
Due: none

fix(oracle): read the full command line when matching the daemon PID
  plugins/oracle/hooks/daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(imbue): make the scope-guard cache test build its repo and really fail the rename
  plugins/imbue/tests/unit/hooks/test_scope_guard_cache_cleanup.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

test: scan only tracked markdown for anchors, and floor the link count at half
  tests/test_intra_repo_anchors_resolve.py
Due: none

test: hide shellcheck from the absent-checker test on Ubuntu too
  tests/test_shellcheck_gate_covers_the_repository.py
Due: none

fix(abstract): stop parallel Skill hooks erasing .history.json
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/hooks/test_history_concurrency.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(adr): record why the splay tree was not adopted for skill recency
  CHANGELOG.md
  docs/adr/0027-skill-history-is-replaced-not-rewritten.md
Due: none

docs(adr): name skill-improver as the one frequency reader in ADR-0027
  docs/adr/0027-skill-history-is-replaced-not-rewritten.md
Due: none

test(abstract): pin the reload-under-lock and first-run directory invariants
  plugins/abstract/tests/hooks/test_history_concurrency.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(guides): explain the history lock file in the observability guide
  docs/guides/skill-observability-guide.md
Due: none

docs(changelog): fold the history race fix into 1.9.21 and date it today
  CHANGELOG.md
Due: none

fix(workflows): name the agents a fan-out lost in four more places
  plugins/abstract/workflows/skill-audit.js
  plugins/cartograph/workflows/atlas.js
  plugins/egregore/workflows/gate-audit.js
  plugins/pensive/workflows/unified-review.js
  tests/test_atlas_workflow_missing.py
  tests/test_shipped_workflows.py
Due: validate-abstract-plugin

fix(hookify): keep block rules blocking when PyYAML is absent
  plugins/hookify/README.md
  plugins/hookify/core/config_loader.py
  plugins/hookify/hooks/rule_guard.py
  plugins/hookify/tests/test_config_loader.py
  plugins/hookify/tests/test_rule_guard_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): run pr-prep without PyYAML and see every test file
  plugins/sanctum/scripts/pr_prep_analyze.py
  plugins/sanctum/scripts/test_analyzer.py
  plugins/sanctum/skills/pr-review/modules/suggestion-comments.md
  plugins/sanctum/src/sanctum/pr_prep.py
  plugins/sanctum/tests/test_pr_prep.py
  plugins/sanctum/tests/test_pr_prep_analyze.py
  plugins/sanctum/tests/test_test_analyzer.py
  plugins/sanctum/tests/unit/skills/test_pr_review_concise_and_hold_insights.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conserve): keep coordination state out of commits and task ids unique
  .gitignore
  plugins/conserve/hooks/setup.sh
  plugins/conserve/scripts/coordination_workspace.py
  plugins/conserve/skills/context-optimization/modules/findings-format.md
  plugins/conserve/skills/context-optimization/modules/session-routing.md
  plugins/conserve/tests/test_coordination_workspace.py
  plugins/conserve/tests/unit/hooks/test_setup_hook.py
  tests/test_coordination_workspace_is_ignored.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(abstract): keep a corrupt history and find skills under any path
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/hooks/test_history_concurrency.py
  plugins/abstract/tests/scripts/skills_eval/test_tool_performance_analyzer.py
  plugins/abstract/tests/unit/test_cli_framework.py
  plugins/abstract/tests/unit/test_find_skill_files_skips_fixtures.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(egregore): give a broken night run its own exit code
  plugins/egregore/scripts/night_run.py
  plugins/egregore/skills/summon/SKILL.md
  plugins/egregore/tests/test_night_run_cli.py
  plugins/egregore/tests/test_shipped_scripts_are_named.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(tome): check that each metrics citation points at the code it names
  docs/metrics/tome-research-quality.md
  plugins/tome/tests/test_metrics_doc_citations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(pensive): scan a project checked out under a target/ directory
  plugins/pensive/src/pensive/harden/scanner.py
  plugins/pensive/tests/unit/harden/test_scanner_cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(spec-kit): clear the disk entry when a prefix ends mid-category
  plugins/spec-kit/src/speckit/caching.py
  plugins/spec-kit/tests/test_caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(oracle): match the daemon by the script path it was launched with
  plugins/oracle/hooks/daemon_lifecycle.py
  plugins/oracle/tests/unit/test_daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(scripts): fail the shellcheck gate when git cannot list the scripts
  scripts/shellcheck.sh
  tests/test_shellcheck_gate_covers_the_repository.py
Due: none

test(conjure): make the timeout and atomic-write fixes fail when reverted
  plugins/conjure/tests/test_edge_cases.py
  plugins/conjure/tests/test_war_room_orchestrator_coverage.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

test(minister): prove an interrupted save keeps the previous tracker
  plugins/minister/tests/unit/test_project_tracker_corrupt_file.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(parseltongue): recognize RWLock, _rwlock and dblock as locks again
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/race_conditions.py
  plugins/parseltongue/tests/test_async_edge_cases.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(memory-palace): let plugin-check fail when search or garden-metrics crash
  plugins/memory-palace/Makefile
  plugins/memory-palace/examples/palaces-sample.json
  plugins/memory-palace/tests/test_plugin_check_recipes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(leyline): stop two repositories sharing a discussions cache
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/leyline/tests/unit/hooks/test_fetch_recent_discussions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(attune): refuse unknown paradigm names in a research file
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/tests/unit/test_research_file.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(changelog): cover the night run, coordination CLI and rule fallback
  CHANGELOG.md
Due: none

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
