Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(gauntlet): narrow bare Exception in _generate_problem_variation (GAT-005)
  plugins/gauntlet/src/gauntlet/challenges.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(conjure): O(n log n) Borda count via score-dict eliminates triple-nested vote loop (CJR-004)
  plugins/conjure/scripts/war_room/phases.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(conjure): split 78-line execute() into _build_command and _launch_process helpers (CJR-005)
  plugins/conjure/scripts/delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(conjure): use CLAUDE_HAIKU_3 constant in orchestrator, remove inline literal (CJR-006)
  plugins/conjure/scripts/war_room/orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(conjure): __getattr__ delegation removes 14 forwarder methods from WarRoomOrchestrator (CJR-007)
  plugins/conjure/scripts/war_room/orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(conjure): leyline iter_source_files fallback verified compatible (CJR-008)
  plugins/imbue/hooks/guard_scope_ramp.py
  plugins/imbue/hooks/shared/vow_utils.py
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/hooks/vow_no_emoji_commits.py
  plugins/imbue/skills/workflow-monitor/SKILL.md
  plugins/leyline/src/leyline/sqlite_graph_base.py
  plugins/leyline/tests/test_ley_fixes.py
  plugins/pensive/tests/test_pen_fixes.py
  plugins/sanctum/scripts/meta_evaluation.py
  plugins/sanctum/tests/test_san_fixes.py
  plugins/tome/src/tome/synthesis/merger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(leyline): narrow bare Exception handlers; document quota vs usage-logging boundary (LEY-001/002/004)
  plugins/leyline/skills/quota-management/SKILL.md
  plugins/leyline/skills/usage-logging/SKILL.md
  plugins/leyline/src/leyline/tokens.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(pensive): narrow bare exceptions, delegate build-system detection, and remove callable guard (PEN-005..PEN-015)
  plugins/conserve/skills/bloat-detector/SKILL.md
  plugins/imbue/scripts/imbue_validator.py
  plugins/imbue/tests/unit/hooks/test_vow_no_ai_attribution.py
  plugins/imbue/tests/unit/hooks/test_vow_no_emoji_commits.py
  plugins/pensive/src/pensive/analysis/repository_analyzer.py
  plugins/pensive/src/pensive/skills/rust_review/cargo.py
  plugins/pensive/src/pensive/skills/unified_review.py
  plugins/pensive/src/pensive/workflows/code_review.py
  plugins/pensive/src/pensive/workflows/memory_manager.py
  plugins/pensive/tests/skills/test_unified_review.py
  plugins/sanctum/scripts/consolidation_planner.py
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/test_consolidation_planner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(memory-palace): narrow bare Exception handlers to specific types (MP-005, MP-011)
  plugins/memory-palace/src/memory_palace/corpus/embedding_index.py
  plugins/memory-palace/src/memory_palace/lifecycle/autonomy_state.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(parseltongue): split suggest_improvements into three helpers (SML-005)
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/complex_scenarios.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(parseltongue): replace TestingGuideSkill delegation class with module-level functions (SML-006)
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/__init__.py
  plugins/parseltongue/src/parseltongue/cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(attune): add language templates and test coverage for init simplification (ATT-002/003/005)
  plugins/attune/scripts/attune_init.py
  plugins/attune/templates/decision_journal/lessons.md
  plugins/attune/templates/decision_journal/tradeoffs.md
  plugins/attune/templates/python/__init__.py
  plugins/attune/templates/rust/lib.rs
  plugins/attune/templates/rust/main.rs
  plugins/attune/templates/typescript/App.tsx
  plugins/attune/templates/typescript/index.ts
  plugins/attune/tests/test_att_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): classify_technique returns None on no match; extract _build_alert_title
  plugins/egregore/scripts/notify.py
  plugins/egregore/scripts/scout.py
  plugins/egregore/tests/test_egr_fixes.py
  plugins/egregore/tests/test_scout.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(conserve): add test suite for CON-001..009 refactors
  plugins/conserve/tests/test_con_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

test(imbue): add test suite for IMB-009 refactor
  plugins/imbue/tests/test_imb_fixes.py
  plugins/tome/tests/test_tome_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

refactor(sanctum): collapse 4 duplicate version-update wrappers into 2 (SAN-001)
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/test_update_versions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): narrow bare Exception handlers in session_complete_notify (SAN-018)
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
  plugins/sanctum/tests/test_notification_integration.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(spec-kit): implement category-prefix invalidation in CacheManager (SML-004)
  plugins/spec-kit/src/speckit/caching.py
  plugins/spec-kit/tests/test_caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): use ast.walk for BDD compliance check instead of regex (SAN-016)
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/test_quality_checker.py
  plugins/sanctum/tests/test_san_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): pre-compute content.lower() once per check method (SAN-017)
  plugins/sanctum/scripts/meta_evaluation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): split consolidation_planner main() into _build_parser + 3 handlers (SAN-012)
  plugins/sanctum/scripts/consolidation_planner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

perf(sanctum): cache test file content to avoid double-read per checker
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/test_quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(tome): simplify author extraction in parse_arxiv_response
  plugins/tome/src/tome/channels/academic.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(tome): reduce deduplicate to single pass over findings
  plugins/tome/src/tome/synthesis/merger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(imbue): extract _read_with_lock and _write_with_fd from _atomic_increment
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

refactor(conserve): split scan_directory and _parse_pyproject_deps into focused helpers
  plugins/conserve/scripts/context_scanner/__init__.py
  plugins/conserve/scripts/context_scanner/ecosystems.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(memory-palace): remove dead code and narrow optional-dep exception handlers
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/src/memory_palace/corpus/embedding_index.py
  plugins/memory-palace/tests/scripts/test_memory_palace_cli_garden.py
  plugins/memory-palace/tests/test_embedding_index.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(memory-palace): remove dead Jaccard fallback from SemanticDeduplicator
  plugins/memory-palace/src/memory_palace/corpus/semantic_deduplicator.py
  plugins/memory-palace/tests/test_embedding_index.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(memory-palace): consolidate get_statistics to single-pass accumulation
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(memory-palace): add get_synapses_to and stop private _conn access
  plugins/memory-palace/src/memory_palace/knowledge_graph.py
  plugins/memory-palace/src/memory_palace/palace_renderer.py
  plugins/memory-palace/tests/test_knowledge_graph.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs(refinement): record MP-004..MP-015 closures and deferrals in synthesis
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

docs(refinement): backfill first-session Phase 3 closures in synthesis table
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

refactor(conserve): extract class constants, remove inner _walk, expose CCR helper
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/conserve/scripts/context_scanner/ecosystems.py
  plugins/conserve/scripts/context_scanner/models.py
  plugins/conserve/scripts/growth_controller.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(abstract): remove redundant attribute aliases from skills_eval classes
  plugins/abstract/src/abstract/skills_eval/auditor.py
  plugins/abstract/src/abstract/skills_eval/improvements.py
  plugins/abstract/src/abstract/skills_eval/token_tracker.py
  plugins/abstract/tests/scripts/skills_eval/test_improvement_suggester.py
  plugins/abstract/tests/scripts/skills_eval/test_skills_auditor.py
  plugins/abstract/tests/scripts/skills_eval/test_token_usage_tracker.py
  plugins/abstract/tests/unit/test_skills_eval_auditor.py
  plugins/abstract/tests/unit/test_skills_eval_token_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

refactor(abstract): rename in_progress_tasks → remaining_tasks on TaskState
  plugins/abstract/src/abstract/tasks_manager_base.py
  plugins/abstract/tests/test_abs_fixes.py
  plugins/abstract/tests/unit/test_tasks_manager_base.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(imbue): remove body-text fallback that over-classified skills as review-workflow
  plugins/imbue/scripts/imbue_validator.py
  plugins/imbue/tests/unit/test_imbue_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

refactor(sanctum): deduplicate file-read error handling in _extract_module_refs_from_file
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_san_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

perf(tome): skip cross-channel pair enumeration when cross_channel=False
  plugins/tome/src/tome/synthesis/merger.py
  plugins/tome/tests/test_tome_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(refinement): record session-3 closures in synthesis
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

docs(refinement): record stale-fixed findings and final deferrals
  docs/refinement/2026-06-22/00-synthesis.md
Due: none
