Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin, check-context-optimization

performance-regression-detector:
  name: Performance Regression Detection
  entry: python3 scripts/performance_regression_detector.py
  language: system
  pass_filenames: false
  args:
  - .
  - --update-baseline

technical-debt-detector:
  name: Technical Debt Detection
  entry: python3 scripts/technical_debt_detector.py
  language: system
  pass_filenames: false
  args:
  - .

plugin-api-compatibility-checker:
  name: Plugin API Compatibility Validation
  entry: python3 scripts/plugin_api_compatibility_checker.py
  language: system
  pass_filenames: false
  args:
  - .

enhanced-context-optimizer:
  name: Enhanced Context Optimization
  entry: python3 scripts/enhanced_context_optimizer.py
  language: system
  pass_filenames: false
  args:
  - .

quality-gate-enforcer:
  name: Quality Gate Enforcement
  entry: python3 scripts/quality_gate_enforcer.py
  language: system
  pass_filenames: false
  args:
  - .
  stages:
  - pre-commit
  - pre-merge-commit

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conservation-plugin:
  name: Validate Conservation Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conservation
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py --check-sizes
  language: system
  pass_filenames: false

feat: add wrapper base class for superpower integration
  plugins/abstract/scripts/compatibility_validator.py
  plugins/abstract/scripts/wrapper_generator.py
  plugins/abstract/src/wrapper_base.py
  plugins/abstract/tests/test_wrapper_infrastructure.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

fix(wrapper): resolve critical issues in wrapper infrastructure
  plugins/abstract/src/abstract/wrapper_base.py
  plugins/abstract/src/wrapper_base.py
  plugins/abstract/tests/test_wrapper_infrastructure.py
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/README.md
  plugins/pensive/commands/full-review.md
  plugins/pensive/skills/unified-review/SKILL.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, check-context-optimization

feat: implement test-skill wrapper around superpowers:tdd
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/commands/test-skill-wrapper.md
  plugins/abstract/src/__init__.py
  plugins/abstract/src/test_skill_wrapper.py
  plugins/abstract/src/wrapper_base.py
  plugins/abstract/tests/test_test_skill_wrapper.py
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

fix: resolve code review issues for test-skill wrapper
  plugins/abstract/commands/create-command.md
  plugins/abstract/src/test_skill_wrapper.py
  plugins/abstract/src/wrapper_base.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

feat: add migration analyzer for detecting superpower overlaps
  plugins/abstract/data/overlap_mappings.yaml
  plugins/abstract/scripts/migration_analyzer.py
  plugins/abstract/tests/test_migration_analyzer.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

feat: implement compatibility validator for superpower wrapper migration
  plugins/abstract/scripts/compatibility_validator.py
  plugins/abstract/scripts/migration_analyzer.py
  plugins/abstract/tests/test_compatibility_validator.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

docs: add wrapper development documentation
  plugins/abstract/README-UPDATE.md
  plugins/abstract/docs/wrapper-development-guide.md
  plugins/abstract/examples/test-skill-migration-example.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer, validate-abstract-plugin

test: add integration tests and makefile targets for wrapper validation
  plugins/abstract/Makefile
  plugins/abstract/tests/integration/__init__.py
  plugins/abstract/tests/integration/test_full_workflow.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

perf: add performance benchmarking for wrapper overhead
  plugins/abstract/scripts/performance_benchmark.py
  plugins/abstract/tests/test_performance.py
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/skills/pr-review/SKILL.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, check-context-optimization

fix(sanctum): correct superpowers skill name in wrapper files
  plugins/sanctum/commands/fix-pr-wrapper.md
  plugins/sanctum/commands/pr-review-wrapper.md
  plugins/sanctum/commands/pr-wrapper.md
  plugins/sanctum/docs/superpowers-integration-guide.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

feat(imbue): add scope-guard skill for anti-overengineering
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/README.md
  plugins/imbue/hooks/pre-pr-scope-check.sh
  plugins/imbue/hooks/scope-guard-integration.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/imbue/skills/scope-guard/baseline-scenarios.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-skills, validate-imbue-plugin, check-context-optimization

test(scope-guard): complete TDD baseline validation
  plugins/imbue/skills/scope-guard/baseline-scenarios.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer, validate-imbue-plugin

feat(imbue): add scope-guard hooks for session awareness
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/hooks/user-prompt-submit.sh
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-imbue-plugin

docs(scope-guard): update integration guide with automatic hooks
  plugins/imbue/hooks/scope-guard-integration.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer, validate-imbue-plugin

Task 1: capture tracker baseline
  .claude/minister/tracker-comment.md
  .claude/todowrite-2025-12-08-minister-doc-refresh.md
  plugins/minister/src/minister/project_tracker.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

feat(memory-palace): implement Phase 1 knowledge corpus indexing
  plugins/memory-palace/src/memory_palace/corpus/cache_lookup.py
  plugins/memory-palace/tests/test_cache_lookup.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

fix(memory-palace): address Phase 1 code review feedback
  PLUGIN_DEPENDENCY_PATTERN.md
  REFACTORING_SUMMARY.md
  RUFF_FIX_PLAN.md
  docs/CORE_DEPENDENCIES_SOLUTION.md
  docs/SHARED_DEPENDENCIES_REMOVAL.md
  docs/SIMPLIFIED_CORE_DEPENDENCIES_SOLUTION.md
  docs/archive/dependency-resolution.md
  docs/cross-plugin-collaboration.md
  docs/examples/README.md
  docs/examples/async-web-scraper-demo.md
  docs/examples/context-optimization-demo.md
  docs/skill-integration-guide.md
  examples/cross-plugin-collaboration/README.md
  examples/cross-plugin-collaboration/abstract-sanctum-skill-pr.md
  examples/cross-plugin-collaboration/conservation-abstract-optimization.md
  examples/cross-plugin-collaboration/conservation-sanctum-workflow.md
  examples/cross-plugin-collaboration/three-way-ecosystem.md
  plugins/abstract/docs/extension-registry-guide.md
  plugins/abstract/scripts/compatibility_validator.py
  plugins/abstract/scripts/makefile_dogfooder.py
  plugins/abstract/scripts/update_changelog.py
  plugins/conservation/ENHANCEMENTS_SUMMARY.md
  plugins/conservation/docs/plugin_integration_guide.md
  plugins/conservation/skills/context-optimization/modules/context-waiting.md
  plugins/leyline/scripts/quota_tracker.py
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/memory-palace/data/indexes/keyword-index.yaml
  plugins/memory-palace/data/indexes/query-templates.yaml
  plugins/memory-palace/scripts/build_indexes.py
  plugins/memory-palace/src/memory_palace/corpus/keyword_index.py
  plugins/sanctum/tests/test_agents.py
  plugins/spec-kit/PHASE2_TASK4_IMPLEMENTATION_REPORT.md
  plugins/spec-kit/PHASE3_IMPLEMENTATION_REPORT.md
  plugins/spec-kit/skills/speckit-orchestrator/modules/writing-plans-extensions.md
  plugins/spec-kit/tests/test_agents.py
  scripts/status-report-template.md
  scripts/tracker.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-conservation-plugin, validate-memory-palace-plugin

fix: resolve all Python syntax errors in test files
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/shared/config.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

feat(memory-palace): implement Phase 2 research interception hook
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/scripts/test_quota_tracker.py
  plugins/conjure/tests/scripts/test_usage_logger.py
  plugins/conjure/tests/test_edge_cases.py
  plugins/conjure/tests/test_hooks.py
  plugins/conjure/tests/test_integration.py
  plugins/conjure/tests/test_skills.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
  plugins/parseltongue/tests/test_edge_cases.py
  plugins/parseltongue/tests/test_integration.py
  plugins/pensive/tests/skills/test_architecture_review.py
  plugins/pensive/tests/test_integration.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conjure-plugin, validate-memory-palace-plugin

fix(memory-palace): use correct Claude Code hook API fields
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

feat(memory-palace): implement Phase 3 marginal value filter
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/memory-palace/src/memory_palace/corpus/__init__.py
  plugins/memory-palace/src/memory_palace/corpus/marginal_value.py
  plugins/memory-palace/tests/test_marginal_value.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin, check-context-optimization

fix(memory-palace): address Phase 3 code review feedback
  plugins/memory-palace/src/memory_palace/corpus/marginal_value.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

fix(conjure): resolve ruff linting issues
  plugins/abstract/src/abstract/wrapper_base.py
  plugins/conjure/tests/conftest.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/test_skills.py
  plugins/memory-palace/data/state/.gitkeep
  plugins/memory-palace/data/telemetry/.gitkeep
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-conjure-plugin, validate-memory-palace-plugin

fix(conservation): resolve all ruff linting issues
  fix_self_referential_constants.py
  plugins/abstract/scripts/__init__.py
  plugins/conservation/Makefile
  plugins/conservation/scripts/aggressive_skill_optimizer.py
  plugins/conservation/scripts/fix_long_lines.py
  plugins/conservation/scripts/growth-analyzer.py
  plugins/conservation/scripts/growth-controller.py
  plugins/conservation/scripts/quick_skill_optimizer.py
  plugins/conservation/services/optimization_service.py
  plugins/conservation/skills/optimizing-large-skills/tools/optimization-patterns.py
  plugins/conservation/tests/conftest.py
  plugins/conservation/tests/unit/agents/test_context_optimizer.py
  plugins/conservation/tests/unit/commands/test_analyze_growth.py
  plugins/conservation/tests/unit/commands/test_optimize_context.py
  plugins/conservation/tests/unit/scripts/test_conservation_validator.py
  plugins/conservation/tests/unit/skills/test_context_optimization.py
  plugins/conservation/tests/unit/skills/test_mcp_code_execution.py
  plugins/conservation/tests/unit/skills/test_optimizing_large_skills.py
  plugins/conservation/tests/unit/skills/test_performance_monitoring.py
  plugins/conservation/tests/unit/skills/test_token_conservation.py
  plugins/imbue/fix_imports.py
  plugins/imbue/tests/unit/skills/test_review_core.py
  plugins/imbue/tests/unit/skills/test_structured_output.py
  plugins/memory-palace/src/memory_palace/corpus/cache_lookup.py
  plugins/memory-palace/src/memory_palace/py.typed
  plugins/minister/uv.lock
  plugins/parseltongue/uv.lock
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-conservation-plugin, validate-memory-palace-plugin

fix(memory-palace): resolve ruff linting issues
  plugins/imbue/fix_imports.py
  plugins/imbue/tests/unit/agents/test_review_analyst.py
  plugins/imbue/tests/unit/commands/test_catchup_command.py
  plugins/imbue/tests/unit/commands/test_review_command.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-plugin

fix(leyline): resolve all ruff linting issues
  plugins/leyline/scripts/quota_tracker.py
  plugins/leyline/scripts/usage_logger.py
  plugins/leyline/src/leyline/mecw.py
  plugins/leyline/src/leyline/tokens.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

fix(parseltongue): resolve ruff linting issues and add placeholder modules
  plugins/parseltongue/parseltongue/__init__.py
  plugins/parseltongue/parseltongue/cli.py
  plugins/parseltongue/parseltongue/skills/__init__.py
  plugins/parseltongue/parseltongue/skills/async_analyzer.py
  plugins/parseltongue/parseltongue/skills/code_transformation.py
  plugins/parseltongue/parseltongue/skills/compatibility_checker.py
  plugins/parseltongue/parseltongue/skills/language_detection.py
  plugins/parseltongue/parseltongue/skills/pattern_matching.py
  plugins/parseltongue/parseltongue/skills/skill_loader.py
  plugins/parseltongue/parseltongue/skills/testing_guide.py
  plugins/parseltongue/pyproject.toml
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

fix: resolve ruff linting issues in root directory
  fix_all_plr2004.py
  fix_plr2004.py
  fix_plr2004_simple.py
  fix_self_referential_constants.py
Due: none

refactor(spec-kit): improve conftest.py fixtures for TDD/BDD compliance
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/tests/conftest.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

refactor(spec-kit): apply BDD structure to test_task_planning.py
  plugins/spec-kit/tests/conftest.py
  plugins/spec-kit/tests/test_task_planning.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

refactor(spec-kit): apply BDD structure to test_spec_writing.py
  plugins/spec-kit/tests/conftest.py
  plugins/spec-kit/tests/test_spec_writing.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

refactor(spec-kit): apply BDD structure to remaining test files
  plugins/spec-kit/tests/conftest.py
  plugins/spec-kit/tests/test_frontmatter.py
  plugins/spec-kit/tests/test_integration.py
  plugins/spec-kit/tests/test_orchestrator.py
  plugins/spec-kit/tests/test_performance.py
  plugins/spec-kit/tests/test_wrapped_commands.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

Path conditions:
  performance-regression-detector: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  technical-debt-detector: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  plugin-api-compatibility-checker: any of: ^plugins/.*\.json$|^plugins/.*plugin\.yaml$|^plugins/.*plugin\.yml$
  enhanced-context-optimizer: any of: ^.*SKILL\.md$|^plugins/.*\.py$
  quality-gate-enforcer: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conservation-plugin: any of: ^plugins/conservation/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
