Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(gauntlet): update query test for difficulty display /4
  plugins/conserve/scripts/context_scanner.py
  plugins/gauntlet/agents/extractor.md
  plugins/gauntlet/src/gauntlet/extraction.py
  plugins/gauntlet/src/gauntlet/graph_challenges.py
  plugins/gauntlet/src/gauntlet/incremental.py
  plugins/gauntlet/src/gauntlet/knowledge_store.py
  plugins/gauntlet/src/gauntlet/progress.py
  plugins/gauntlet/src/gauntlet/query.py
  plugins/gauntlet/tests/unit/test_extraction.py
  plugins/gauntlet/tests/unit/test_knowledge_store.py
  plugins/gauntlet/tests/unit/test_progress.py
  plugins/gauntlet/tests/unit/test_query.py
  plugins/sanctum/hooks/security_pattern_check.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(imbue): add /justify command for anti-additive-bias auditing
  CHANGELOG.md
  README.md
  book/src/reference/capabilities-commands.md
  book/src/reference/capabilities-reference.md
  book/src/reference/capabilities-skills.md
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/README.md
  plugins/imbue/commands/justify.md
  plugins/imbue/skills/justify/SKILL.md
  plugins/imbue/tests/unit/commands/test_justify_command.py
  plugins/imbue/tests/unit/skills/test_justify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix: address PR #390 review feedback
  CHANGELOG.md
  docs/context-map-implementation-plan.md
  docs/context-map-project-brief.md
  docs/context-map-specification.md
  docs/plugin-ecosystem-audit-2026-04-08.md
  docs/superpowers/plans/2026-04-07-context-map-v2.md
  docs/superpowers/specs/2026-04-07-context-map-v2-design.md
  plugins/cartograph/openpackage.yml
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/skills/context-map/SKILL.md
  plugins/gauntlet/openpackage.yml
  plugins/herald/openpackage.yml
  plugins/imbue/README.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(pensive,sanctum): integrate justify into review workflows
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/skills/pr-review/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs: redesign architecture diagram for GitHub readability
  README.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

docs: replace mermaid diagram with D2 pre-rendered SVG
  README.md
  assets/architecture-dark.svg
  assets/architecture-light.svg
  assets/architecture.d2
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

refactor(scripts): switch clawhub-submit to bulk sync workflow
  scripts/clawhub-cron.sh
  scripts/clawhub-submit.sh
Due: none

fix: address open issues from PR review feedback (#374-#386)
  plugins/cartograph/hooks/graph_community_refresh.py
  plugins/gauntlet/tests/unit/test_flows.py
  plugins/leyline/skills/sem-integration/modules/detection.md
  plugins/leyline/skills/sem-integration/modules/fallback.md
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/hooks/deferred_item_watcher.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(cartograph): add exception path test for community refresh hook
  plugins/cartograph/tests/unit/test_graph_community_refresh.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: sync README and api-overview with plugin.json counts
  README.md
  docs/api-overview.md
Due: none

fix: address PR review toolkit findings (C1, C2, I1, I2)
  plugins/cartograph/hooks/graph_community_refresh.py
  plugins/conserve/openpackage.yml
  plugins/imbue/openpackage.yml
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/hooks/deferred_item_watcher.py
  plugins/sanctum/openpackage.yml
  plugins/scribe/openpackage.yml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin

feat(scribe): add SICO-based voice extraction and generation pipeline
  README.md
  book/src/reference/capabilities-reference.md
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/README.md
  plugins/scribe/agents/craft-reviewer.md
  plugins/scribe/agents/prose-reviewer.md
  plugins/scribe/commands/voice-extract.md
  plugins/scribe/commands/voice-generate.md
  plugins/scribe/commands/voice-learn.md
  plugins/scribe/commands/voice-review.md
  plugins/scribe/docs/voice-craft-plan.md
  plugins/scribe/docs/voice-craft-research.md
  plugins/scribe/docs/voice-craft-spec.md
  plugins/scribe/openpackage.yml
  plugins/scribe/skills/voice-extract/SKILL.md
  plugins/scribe/skills/voice-extract/modules/register-creation.md
  plugins/scribe/skills/voice-extract/modules/sample-intake.md
  plugins/scribe/skills/voice-extract/modules/sico-extraction.md
  plugins/scribe/skills/voice-generate/SKILL.md
  plugins/scribe/skills/voice-generate/modules/generation-pipeline.md
  plugins/scribe/skills/voice-generate/modules/register-selection.md
  plugins/scribe/skills/voice-generate/modules/source-framing.md
  plugins/scribe/skills/voice-learn/SKILL.md
  plugins/scribe/skills/voice-learn/modules/pattern-analysis.md
  plugins/scribe/skills/voice-learn/modules/snapshot-management.md
  plugins/scribe/skills/voice-review/SKILL.md
  plugins/scribe/tests/unit/skills/__init__.py
  plugins/scribe/tests/unit/skills/test_voice_craft_integration.py
  plugins/scribe/tests/unit/skills/test_voice_extract.py
  plugins/scribe/tests/unit/skills/test_voice_generate.py
  plugins/scribe/tests/unit/skills/test_voice_learn.py
  plugins/scribe/tests/unit/skills/test_voice_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs: add insight engine design spec
  docs/superpowers/specs/2026-04-12-insight-engine-design.md
Due: none

docs: add insight engine implementation plan
  docs/superpowers/plans/2026-04-12-insight-engine.md
Due: none

feat(abstract): add insight engine for diverse learnings posting
  .github/DISCUSSION_TEMPLATE/insights.yml
  book/src/reference/capabilities-reference.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/agents/insight-engine.md
  plugins/abstract/hooks/post_learnings_stop.py
  plugins/abstract/scripts/insight_analyzer.py
  plugins/abstract/scripts/insight_registry.py
  plugins/abstract/scripts/insight_types.py
  plugins/abstract/scripts/lenses/__init__.py
  plugins/abstract/scripts/lenses/delta_lens.py
  plugins/abstract/scripts/lenses/health_lens.py
  plugins/abstract/scripts/lenses/pattern_lens.py
  plugins/abstract/scripts/lenses/trend_lens.py
  plugins/abstract/scripts/post_insights_to_discussions.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/tests/scripts/lenses/__init__.py
  plugins/abstract/tests/scripts/lenses/test_delta_lens.py
  plugins/abstract/tests/scripts/lenses/test_health_lens.py
  plugins/abstract/tests/scripts/lenses/test_pattern_lens.py
  plugins/abstract/tests/scripts/lenses/test_trend_lens.py
  plugins/abstract/tests/scripts/test_insight_analyzer.py
  plugins/abstract/tests/scripts/test_insight_registry.py
  plugins/abstract/tests/scripts/test_insight_types.py
  plugins/abstract/tests/scripts/test_post_insights.py
  plugins/abstract/tests/scripts/test_post_learnings_to_discussions.py
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/code-refinement/modules/insight-generation.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/insight-generation.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(abstract): address review findings in insight engine
  plugins/abstract/hooks/post_learnings_stop.py
  plugins/abstract/scripts/insight_analyzer.py
  plugins/abstract/scripts/insight_types.py
  plugins/abstract/scripts/lenses/__init__.py
  plugins/abstract/scripts/post_insights_to_discussions.py
  plugins/leyline/hooks/fetch-recent-discussions.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(leyline): prefer cargo install over brew for sem-cli
  plugins/leyline/skills/sem-integration/modules/detection.md
Due: run-plugin-tests

chore(memory-palace): update knowledge index with new entries
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

feat(abstract): add insight-palace bridge for cross-plugin knowledge flow
  plugins/abstract/hooks/post_learnings_stop.py
  plugins/abstract/scripts/insight_analyzer.py
  plugins/abstract/scripts/insight_palace_bridge.py
  plugins/abstract/scripts/insight_types.py
  plugins/abstract/tests/unit/scripts/test_insight_palace_bridge.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(abstract): add insight engine coverage tests
  README.md
  plugins/abstract/tests/scripts/lenses/test_trend_lens.py
  plugins/abstract/tests/scripts/test_insight_analyzer.py
  plugins/abstract/tests/scripts/test_post_insights.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(abstract): merge insight engine specs into permanent docs
  book/src/plugins/abstract.md
  docs/superpowers/plans/2026-04-12-insight-engine.md
  docs/superpowers/specs/2026-04-12-insight-engine-design.md
Due: none

feat(attune): add Prosecution Counsel role to war-room
  book/src/reference/capabilities-reference.md
  plugins/attune/skills/war-room/modules/expert-roles.md
  plugins/imbue/skills/justify/SKILL.md
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/openpackage.yml
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

feat(leyline): add additive-bias-defense cross-cutting contract
  plugins/leyline/skills/additive-bias-defense/SKILL.md
  plugins/leyline/tests/unit/skills/test_additive_bias_defense.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(attune): add plan-versioner module for iteration tracking
  plugins/attune/skills/mission-orchestrator/modules/plan-versioner.md
Due: run-plugin-tests

feat(attune): add feedback-collector module for review verdicts
  plugins/attune/skills/mission-orchestrator/modules/feedback-collector.md
Due: run-plugin-tests

feat(attune): add context-injector module for revision prompts
  plugins/attune/skills/mission-orchestrator/modules/context-injector.md
Due: run-plugin-tests

feat(attune): add iteration-governor module for 3-round cap
  plugins/attune/skills/mission-orchestrator/modules/iteration-governor.md
Due: run-plugin-tests

feat(attune): add plan-review module for interactive review loop
  plugins/attune/skills/mission-orchestrator/modules/plan-review.md
Due: run-plugin-tests

feat(attune): add plan_review schema to mission state
  plugins/attune/skills/mission-orchestrator/modules/mission-state.md
Due: run-plugin-tests

feat(attune): wire interactive review loop into plan-to-execute transition
  plugins/attune/skills/mission-orchestrator/modules/phase-routing.md
Due: run-plugin-tests

feat(attune): register interactive review modules in orchestrator
  plugins/attune/skills/mission-orchestrator/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

test(attune): add interactive plan review test coverage
  plugins/attune/tests/unit/skills/test_mission_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: update README plugin catalog for 1.9.0 features
  README.md
Due: none

fix(attune,leyline): address PR #403 review findings
  plugins/attune/skills/mission-orchestrator/modules/iteration-governor.md
  plugins/attune/skills/mission-orchestrator/modules/mission-state.md
  plugins/attune/skills/mission-orchestrator/modules/phase-routing.md
  plugins/attune/skills/mission-orchestrator/modules/plan-review.md
  plugins/attune/skills/war-room/modules/expert-roles.md
  plugins/leyline/tests/unit/skills/test_additive_bias_defense.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(attune): guard empty sections in feedback-collector and fix round wording
  plugins/attune/skills/mission-orchestrator/modules/feedback-collector.md
  plugins/attune/skills/mission-orchestrator/modules/iteration-governor.md
Due: run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
