Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(tome): apply the outcome rule to a replan round with no findings
  plugins/tome/src/tome/scripts/research_planner.py
  plugins/tome/tests/unit/test_replan_outcomes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): normalize Delphi convergence against the Borda points awarded
  plugins/conjure/scripts/war_room/delphi.py
  plugins/conjure/tests/test_delphi_convergence_scale.py
  plugins/conjure/tests/test_war_room_delphi_coverage.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): give each ranked ballot line its points, not every label near "1."
  plugins/conjure/scripts/war_room/phases.py
  plugins/conjure/tests/test_borda_ballot_parsing.py
  plugins/conjure/tests/test_cjr_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(tome): match domain keywords only where a word starts
  plugins/tome/src/tome/scripts/domain_classifier.py
  plugins/tome/tests/unit/test_domain_classifier.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(tome): state the classifier confidence formula the code computes
  plugins/tome/src/tome/scripts/domain_classifier.py
  plugins/tome/tests/unit/test_domain_classifier.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): estimate the prompt the same way with or without tiktoken
  plugins/conjure/scripts/quota_tracker.py
  plugins/conjure/tests/scripts/test_quota_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(imbue): count only non-empty lines toward the scope ramp
  plugins/imbue/hooks/shared/scope_ramp.py
  plugins/imbue/tests/unit/hooks/test_scope_ramp.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(tome): count a repeated id once in nDCG and recall
  plugins/tome/src/tome/metrics/retrieval.py
  plugins/tome/tests/metrics/test_retrieval.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(imbue): compare PyPI names after PEP 503 normalization in the package guard
  plugins/imbue/hooks/shared/package_guard.py
  plugins/imbue/tests/unit/hooks/test_package_guard.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(sanctum): compare skill log timestamps against an aware cutoff
  plugins/sanctum/scripts/update_plugins_modules/performance_analysis.py
  plugins/sanctum/tests/unit/test_update_plugins_modules.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): read a zone-less GitHub updated_at as UTC
  plugins/tome/src/tome/channels/github.py
  plugins/tome/tests/channels/test_github.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(imbue): give every scope-guard Worthiness score exactly one band
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/imbue/skills/scope-guard/modules/baseline-scenarios.md
  plugins/imbue/skills/scope-guard/modules/decision-framework.md
  plugins/imbue/tests/unit/skills/test_scope_guard_doc_math.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs(attune): compare war-room checkpoint modes in exact hundredths
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/tests/unit/skills/test_war_room_checkpoint_mode_math.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(imbue): make the feature-review scoring docs agree with their math
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/imbue/skills/feature-review/modules/scoring-framework.md
  plugins/imbue/tests/unit/skills/test_feature_review_doc_math.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs(tome): repoint graph_analyzer citations after the betweenness fix
  docs/metrics/tome-research-quality.md
Due: none

fix(egregore): keep scout posting when a technique has no category
  plugins/egregore/scripts/scout.py
  plugins/egregore/tests/test_scout.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): match war-room trigger keywords at word starts
  plugins/conjure/scripts/war_room/hooks.py
  plugins/conjure/tests/test_war_room_full_flow.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): stop identical war-room responses overwriting each other
  plugins/conjure/scripts/war_room/models.py
  plugins/conjure/tests/test_war_room_merkle_dag.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): budget inline file context against the whole argv element
  plugins/conjure/scripts/delegation_prompt.py
  plugins/conjure/tests/scripts/test_delegation_prompt.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(spec-kit): expire cache entries on the clock they were written with
  plugins/spec-kit/src/speckit/caching.py
  plugins/spec-kit/tests/test_caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): require the clock when checking a baton for stranding
  plugins/egregore/scripts/continuation_baton.py
  plugins/egregore/tests/test_continuation_baton.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): score a unanimous war-room vote as unanimous
  plugins/conjure/scripts/war_room/audit_trail.py
  plugins/conjure/tests/unit/test_audit_trail.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(parseltongue): estimate coverage from covered functions, not test count
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_structure.py
  plugins/parseltongue/tests/test_testing_guidance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(imbue): give the normal contract tier its documented meaning
  plugins/imbue/scripts/contract_validator.py
  plugins/imbue/tests/unit/test_contract_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(leyline): report the whole new version after a plugin update
  plugins/leyline/scripts/update_all_plugins.py
  plugins/leyline/tests/test_update_all_plugins.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): score a plugin's own CI runs and treat --level as a floor
  plugins/leyline/scripts/verify_plugin.py
  plugins/leyline/tests/unit/scripts/test_verify_plugin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(imbue): document that contracts count distinct evidence tags
  plugins/imbue/skills/proof-of-work/modules/output-contracts.md
  plugins/imbue/tests/unit/test_contract_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(imbue): price discovery reads the way the bounded-discovery rule does
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(sanctum): credit a doc's file name only for whole header words
  plugins/sanctum/scripts/consolidation_planner.py
  plugins/sanctum/tests/test_consolidation_planner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): stop title punctuation from hiding topic words in web relevance
  plugins/tome/src/tome/channels/web.py
  plugins/tome/tests/channels/test_web.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): detect breaking commits by their Conventional Commits markers
  plugins/sanctum/src/sanctum/pr_prep.py
  plugins/sanctum/tests/test_pr_prep.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(parseltongue): skip dash-only lines when reading TDD requirements
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_recommendations.py
  plugins/parseltongue/tests/test_testing_guidance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): count entries left for the next sweep as unfiled
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): share one git budget across the policy hook's branch measure
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/test_post_implementation_policy.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): label only ~/.claude/settings.json as user settings
  plugins/sanctum/hooks/config_change_audit.py
  plugins/sanctum/tests/test_config_change_audit.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(hookify): suggest file rules in the schema config_loader accepts
  plugins/hookify/scripts/rule_suggester.py
  plugins/hookify/tests/test_rule_suggester.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(attune): show alternative paradigms under the key the recommender writes
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/tests/unit/test_present_recommendation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: record the math review fixes under 1.10.0
  CHANGELOG.md
Due: none

fix(memory-palace): rank entities without scipy
  docs/metrics/tome-research-quality.md
  plugins/memory-palace/src/memory_palace/graph_analyzer.py
  plugins/memory-palace/tests/test_graph_analyzer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: emit valid JSON from escape_for_json when jq is missing
  plugins/conserve/hooks/shared/json_utils.sh
  plugins/imbue/hooks/shared/json_utils.sh
  plugins/memory-palace/hooks/shared/json_utils.sh
  scripts/shared/json_utils.sh
  tests/test_json_utils_fallback_escape.py
Due: validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin
