Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

docs(1.9.4): record karpathy and mission-orchestrator additions
  CHANGELOG.md
Due: none

fix(review-1.9.4): resolve doc/slop blockers from PR #470 review
  CHANGELOG.md
  docs/karpathy-derivation/project-brief.md
  plugins/abstract/scripts/skill_graph.py
  plugins/abstract/skills/skill-graph-audit/SKILL.md
  plugins/conserve/skills/mcp-code-execution/SKILL.md
  plugins/leyline/src/leyline/bootstrap.py
  plugins/leyline/src/leyline/git_platform.py
  plugins/pensive/skills/rust-review/modules/test-slop.md
  plugins/scribe/skills/slop-detector/modules/cleanup-workflow.md
  plugins/scribe/skills/slop-detector/modules/document-economy.md
  plugins/scribe/skills/slop-detector/modules/hallucination-detection.md
  plugins/scribe/skills/slop-detector/modules/identity-and-voice-leaks.md
  plugins/scribe/skills/slop-detector/modules/stub-and-deferral.md
  scripts/check_docstring_quality.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(review-1.9.4): inverted detection cmd + silent-failure logging
  plugins/abstract/scripts/skill_graph.py
  plugins/pensive/skills/rust-review/modules/async-slop.md
  plugins/pensive/src/pensive/skills/performance_review.py
  plugins/sanctum/hooks/brainstorm_session_warn.py
  scripts/_plugin_meta.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(review-1.9.4): tighten tautological tests + add behavioral coverage
  plugins/attune/tests/unit/skills/test_mission_orchestrator.py
  plugins/leyline/tests/unit/src/test_bootstrap.py
  plugins/sanctum/tests/test_brainstorm_session_warn.py
  plugins/sanctum/tests/test_deferred_capture.py
  plugins/sanctum/tests/test_tasks_manager.py
  plugins/scribe/tests/unit/skills/test_slop_detector.py
  plugins/scribe/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(review-1.9.4): type-design fixes from PR #470 review
  plugins/abstract/scripts/skill_graph.py
  plugins/memory-palace/src/memory_palace/project_palace/entry.py
  plugins/memory-palace/tests/test_project_palace.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_quality.py
  plugins/sanctum/src/sanctum/validators/_results.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

refactor(review-1.9.4): suggestions S1+S5 from PR #470 review
  plugins/abstract/scripts/skill_graph.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

refactor(review-1.9.4): code-simplifier pass on PR-fix changes
  plugins/abstract/scripts/skill_graph.py
  plugins/leyline/src/leyline/bootstrap.py
  plugins/leyline/src/leyline/git_platform.py
  plugins/memory-palace/src/memory_palace/project_palace/entry.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

fix(leyline): close S2/S3/S6/S9/S10 + gh_api field-key guard (#484)
  plugins/leyline/src/leyline/bootstrap.py
  plugins/leyline/src/leyline/cli_envelope.py
  plugins/leyline/src/leyline/git_platform.py
  plugins/leyline/tests/unit/src/test_bootstrap.py
  plugins/leyline/tests/unit/src/test_cli_envelope.py
  plugins/leyline/tests/unit/src/test_git_platform.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(memory-palace): typed rooms registry + frozen ReviewEntry (#484, #485)
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/src/memory_palace/project_palace/entry.py
  plugins/memory-palace/src/memory_palace/project_palace/manager.py
  plugins/memory-palace/src/memory_palace/project_palace/rooms.py
  plugins/memory-palace/tests/test_project_palace.py
  plugins/memory-palace/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(parseltongue): demote testing-guide mixins to functions (#485 / C9)
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/__init__.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_quality.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_recommendations.py
  plugins/parseltongue/tests/test_testing_guidance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(abstract): add S11 negative paths for dir_utils helpers (#484)
  plugins/abstract/tests/unit/hooks/test_dir_utils.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

chore(memory-palace): index new research entries and ignore reviews/
  .gitignore
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

chore: gitignore .claude/scheduled_tasks.lock
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

fix(ci): unblock 3 failing CI checks on PR #470
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/memory-palace/src/memory_palace/project_palace/entry.py
  plugins/memory-palace/src/memory_palace/project_palace/rooms.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(1.9.4): close 5 PR #470 review threads on module wiring + CHANGELOG order
  CHANGELOG.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skill-authoring/modules/error-handling.md
  plugins/abstract/skills/skill-authoring/modules/examples.md
  plugins/abstract/skills/skill-authoring/modules/troubleshooting.md
  plugins/abstract/skills/skill-authoring/modules/validation.md
  plugins/abstract/skills/skills-eval/modules/skill-authoring-best-practices.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/leyline/skills/evaluation-framework/modules/evaluation-rubric.md
  plugins/leyline/skills/progressive-loading/SKILL.md
  plugins/leyline/skills/progressive-loading/modules/api-patterns.md
Due: run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(ci): wire bandit -c pyproject.toml so exclude_dirs and skips are applied
  .github/workflows/security.yml
Due: none

chore(memory-palace): index 4 webfetch entries
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(abstract): restore module paths in development-workflow example (PR #470)
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(modules): normalize bare-name modules: lists across 25 skills + 1 example (PR #470)
  plugins/abstract/docs/examples/modular-skills/advanced-patterns/README.md
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/conserve/skills/bloat-detector/SKILL.md
  plugins/leyline/skills/markdown-formatting/SKILL.md
  plugins/parseltongue/skills/python-async/SKILL.md
  plugins/parseltongue/skills/python-performance/SKILL.md
  plugins/parseltongue/skills/python-testing/SKILL.md
  plugins/pensive/skills/makefile-review/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/pensive/skills/test-review/SKILL.md
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/update-readme/SKILL.md
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/session-to-post/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/style-learner/SKILL.md
  plugins/scribe/skills/tech-tutorial/SKILL.md
  plugins/scribe/skills/voice-extract/SKILL.md
  plugins/scribe/skills/voice-generate/SKILL.md
  plugins/scribe/skills/voice-learn/SKILL.md
  plugins/scry/skills/browser-recording/SKILL.md
  plugins/scry/skills/vhs-recording/SKILL.md
  plugins/scry/tests/test_skill_content.py
  plugins/spec-kit/skills/spec-writing/SKILL.md
  plugins/spec-kit/skills/speckit-orchestrator/SKILL.md
  plugins/spec-kit/skills/task-planning/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix: address all 13 findings from PR #511 self-review
  docs/adr/0014-pensive-review-skill-consolidation.md
  docs/adr/0015-orchestrator-skill-simplification.md
  docs/api-overview.md
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/tests/scripts/test_auto_promote_learnings.py
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/scripts/imbue_validator.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads_reset.py
  plugins/imbue/tests/unit/validators/test_markdown_wrap.py
  plugins/imbue/validators/markdown_wrap.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin

fix(leyline): drop datetime.UTC from quota_tracker imports
  plugins/leyline/src/leyline/quota_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(sanctum): add /fixit command for paste-driven debugging
  book/src/reference/capabilities-commands.md
  book/src/reference/capabilities-reference.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/README.md
  plugins/sanctum/commands/fixit.md
Due: run-plugin-tests, validate-description-budget

feat(sanctum): browser tiers for /fix-pr verify
  CHANGELOG.md
  plugins/sanctum/commands/fix-pr-modules/steps/5-validate.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/tests/test_fix_pr_validate_strategies.py
  plugins/sanctum/tests/test_workflow_steps_modularization.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

fix: PR #511 review batch (23 threads)
  CHANGELOG.md
  docs/observability-hook-audit.md
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-authoring/modules/observability-warnings.md
  plugins/abstract/tests/scripts/test_auto_promote_learnings.py
  plugins/leyline/scripts/stewardship_tracker.py
  plugins/leyline/src/leyline/deferred_capture.py
  plugins/leyline/tests/test_plugin_health.py
  plugins/minister/src/minister/project_tracker.py
  plugins/minister/tests/bdd/test_scenarios.py
  plugins/minister/tests/conftest.py
  plugins/minister/tests/unit/test_initiative_tracker.py
  plugins/minister/tests/unit/test_project_tracker_init_persistence.py
  plugins/minister/tests/unit/test_project_tracker_metrics.py
  plugins/minister/tests/unit/test_project_tracker_tasks.py
  plugins/sanctum/tests/test_config_change_audit.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

docs: PR #511 polish (NB3 prose conjunctions, changelog reorg)
  CHANGELOG.md
  docs/adr/0015-orchestrator-skill-simplification.md
Due: none

fix(imbue): vow_bounded_reads hook output schema (#517)
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(gauntlet): guard yaml import for hook compat (#518)
  plugins/gauntlet/src/gauntlet/ml/scorer.py
  plugins/gauntlet/src/gauntlet/problem_bank.py
  plugins/gauntlet/tests/unit/test_scorer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(minister): DORA metrics skill (#487)
  book/src/plugins/minister.md
  book/src/reference/capabilities-reference.md
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/skills/dora-metrics/SKILL.md
  plugins/minister/skills/dora-metrics/modules/agentic-workflow-signals.md
  plugins/minister/skills/dora-metrics/modules/thresholds.md
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/skills/test_dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(archetypes): restore paradigm-component vocabulary in 13 SKILL.md (#463)
  plugins/archetypes/skills/architecture-paradigm-client-server/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-cqrs-es/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-event-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-functional-core/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-layered/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microkernel/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microservices/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-modular-monolith/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-pipeline/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-serverless/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/archetypes/tests/test_paradigm_components.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-archetypes-plugin, check-context-optimization, validate-description-budget

docs(pensive): add Verification + Testing sections to performance-review (#469)
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/tests/skills/test_performance_review_meta_eval.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(tome): register tome:research as dispatchable agent (#465)
  book/src/plugins/tome.md
  book/src/reference/capabilities-reference.md
  plugins/tome/.claude-plugin/plugin.json
  plugins/tome/agents/research.md
  plugins/tome/tests/unit/test_research_agent_registration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(sanctum): regression test for stale module references (#468)
  plugins/sanctum/tests/test_module_references_clean.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(imbue): scope os.open patch to hook module to avoid masking init calls (#496)
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

feat(gauntlet): in-loop variation provider for Claude Code (#464)
  plugins/gauntlet/skills/challenge/SKILL.md
  plugins/gauntlet/src/gauntlet/challenges.py
  plugins/gauntlet/src/gauntlet/providers/__init__.py
  plugins/gauntlet/src/gauntlet/providers/in_loop.py
  plugins/gauntlet/tests/unit/skills/test_challenge.py
  plugins/gauntlet/tests/unit/test_in_loop_provider.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget
