Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

feat(hooks): guard posted content against AI slop
  .claude/hooks/README.md
  .claude/hooks/slop_scan_before_post.py
  .claude/hooks/test_slop_scan_before_post.py
  .claude/settings.json
  plugins/abstract/agents/insight-engine.md
  plugins/attune/skills/war-room/modules/discussion-publishing.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/minister/commands/close-issue.md
  plugins/minister/commands/create-issue.md
  plugins/minister/skills/github-initiative-pulse/SKILL.md
  plugins/tome/skills/synthesize/SKILL.md
Due: run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs: fix hallucinated APIs and bare stubs
  docs/skill-integration-guide.md
  plugins/leyline/skills/progressive-loading/SKILL.md
  plugins/sanctum/commands/fixit.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs: disclose network and credential hooks
  README.md
  plugins/abstract/commands/aggregate-logs.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

fix(scripts): handle clawhub collisions and per-upstream forks
  scripts/awesome-submit.sh
  scripts/clawhub-submit.sh
Due: none

refactor(pensive): convert rust_review audits to a registry
  plugins/pensive/src/pensive/skills/rust_review/__init__.py
  plugins/pensive/tests/skills/test_rust_review_registry.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(plugins): surface silent failures B1-B4 from PR #521
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
  plugins/pensive/src/pensive/harden/scanner.py
  plugins/pensive/tests/unit/harden/test_scanner_cli.py
  scripts/check_hook_modernization.py
  tests/unit/test_check_hook_modernization.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(imbue): repair vow_bounded_reads hook output schema
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads_reset.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

feat(conserve): add GC for CCR context-archive
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/conserve/tests/test_reversible_compression.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

test(abstract): add skill-auditor validation floor regression test
  plugins/abstract/tests/test_skill_auditor_validation_floor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(plugins): PR #568 hardening follow-ups
  plugins/imbue/scripts/citation_verifier.py
  plugins/imbue/tests/unit/test_citation_verifier.py
  plugins/scribe/src/scribe/spelling.py
  plugins/scribe/tests/test_spelling.py
  plugins/scribe/uv.lock
  plugins/tome/src/tome/channels/ideation.py
  plugins/tome/tests/channels/test_ideation.py
  plugins/tome/tests/channels/test_triz.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(adr): record confidence-tagging and theory-building decisions
  docs/adr/0012-confidence-tagged-claims.md
  docs/adr/0013-naur-theory-building.md
  docs/adr/0017-confidence-and-theory-building-decisions.md
Due: none

docs(sanctum): wire lessons-learned into fix-pr completion
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
Due: run-plugin-tests, validate-description-budget

refactor(memory-palace): wire palace-diagram into /palace
  plugins/memory-palace/commands/palace.md
  plugins/memory-palace/skills/palace-diagram/SKILL.md
  plugins/memory-palace/tests/unit/skills/test_palace_diagram.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

chore: gitignore transient session and review artifacts
  .gitignore
Due: none

chore(plugins): remove ghost deps, tombstone tests, and orphan files
  plugins/attune/tests/test_attune_init.py
  plugins/conserve/tests/test_bloat_detector_runtime.md
  plugins/leyline/skills/evaluation-framework/INTEGRATION.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/tests/scripts/test_memory_palace_cli.py
  plugins/minister/tests/unit/test_project_tracker.py
  plugins/pensive/skills/api-review/SKILL.md
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/pensive/skills/bug-review/SKILL.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/makefile-review/SKILL.md
  plugins/pensive/skills/math-review/SKILL.md
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/skills/safety-critical-patterns/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/pensive/skills/test-review/SKILL.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/pensive/tests/skills/test_rust_review.py
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/sanctum/skills/file-analysis/SKILL.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/update-readme/SKILL.md
  plugins/sanctum/skills/version-updates/SKILL.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/sanctum/tests/test_update_plugin_registrations.py
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/session-to-post/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/style-learner/SKILL.md
  plugins/scribe/skills/tech-tutorial/SKILL.md
  plugins/scribe/tests/benchmarks/__init__.py
  plugins/tome/tests/synthesis/__init__.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

refactor(codebase): Phase 1 mechanical fixes from Tier 3 code refinement
  plugins/archetypes/README.md
  plugins/attune/scripts/attune_init.py
  plugins/attune/tests/test_attune_init_structure.py
  plugins/cartograph/README.md
  plugins/conserve/hooks/context_warning.py
  plugins/egregore/scripts/scout.py
  plugins/herald/README.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/memory-palace/.gitignore
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/sanctum/scripts/quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-archetypes-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(abstract/archetypes/attune/conjure): add Exit Criteria to 35 skills
  plugins/abstract/skills/escalation-governance/SKILL.md
  plugins/abstract/skills/friction-detector/SKILL.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-scope-guide/SKILL.md
  plugins/abstract/skills/hooks-eval/SKILL.md
  plugins/abstract/skills/metacognitive-self-mod/SKILL.md
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/plugin-review/SKILL.md
  plugins/abstract/skills/rules-eval/SKILL.md
  plugins/abstract/skills/shared-patterns/SKILL.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-client-server/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-cqrs-es/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-event-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-functional-core/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-layered/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microkernel/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microservices/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-modular-monolith/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-pipeline/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-serverless/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/attune/skills/dorodango/SKILL.md
  plugins/attune/skills/makefile-generation/SKILL.md
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/skills/workflow-setup/SKILL.md
  plugins/conjure/skills/gemini-delegation/SKILL.md
  plugins/conjure/skills/qwen-delegation/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-archetypes-plugin, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(cartograph/egregore/memory-palace/sanctum/scribe/spec-kit/tome): add Exit Criteria to 35 skills
  plugins/cartograph/skills/architecture-diagram/SKILL.md
  plugins/cartograph/skills/call-chain/SKILL.md
  plugins/cartograph/skills/class-diagram/SKILL.md
  plugins/cartograph/skills/code-communities/SKILL.md
  plugins/cartograph/skills/data-flow/SKILL.md
  plugins/cartograph/skills/dependency-graph/SKILL.md
  plugins/cartograph/skills/workflow-diagram/SKILL.md
  plugins/egregore/skills/install-watchdog/SKILL.md
  plugins/egregore/skills/summon/SKILL.md
  plugins/egregore/skills/uninstall-watchdog/SKILL.md
  plugins/memory-palace/skills/digital-garden-cultivator/SKILL.md
  plugins/memory-palace/skills/knowledge-locator/SKILL.md
  plugins/memory-palace/skills/memory-palace-architect/SKILL.md
  plugins/memory-palace/skills/palace-diagram/SKILL.md
  plugins/memory-palace/skills/review-chamber/SKILL.md
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/skills/do-issue/SKILL.md
  plugins/sanctum/skills/doc-consolidation/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/skills/session-management/SKILL.md
  plugins/sanctum/skills/stack-create/SKILL.md
  plugins/sanctum/skills/stack-mode/SKILL.md
  plugins/sanctum/skills/stack-push/SKILL.md
  plugins/sanctum/skills/stack-rebase/SKILL.md
  plugins/sanctum/skills/test-updates/SKILL.md
  plugins/sanctum/skills/version-updates/SKILL.md
  plugins/scribe/skills/session-replay/SKILL.md
  plugins/spec-kit/skills/spec-writing/SKILL.md
  plugins/spec-kit/skills/task-planning/SKILL.md
  plugins/tome/skills/code-search/SKILL.md
  plugins/tome/skills/dig/SKILL.md
  plugins/tome/skills/discourse/SKILL.md
  plugins/tome/skills/papers/SKILL.md
  plugins/tome/skills/research/SKILL.md
  plugins/tome/skills/synthesize/SKILL.md
Due: run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(conserve/gauntlet/hookify/imbue/leyline/oracle/phantom): add Exit Criteria to 35 skills
  plugins/conserve/skills/agent-expenditure/SKILL.md
  plugins/conserve/skills/bloat-detector/SKILL.md
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/conserve/skills/context-map/SKILL.md
  plugins/conserve/skills/cpu-gpu-performance/SKILL.md
  plugins/conserve/skills/decisive-action/SKILL.md
  plugins/conserve/skills/mcp-code-execution/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/conserve/skills/smart-sourcing/SKILL.md
  plugins/conserve/skills/token-conservation/SKILL.md
  plugins/gauntlet/skills/challenge/SKILL.md
  plugins/gauntlet/skills/curate/SKILL.md
  plugins/gauntlet/skills/extract/SKILL.md
  plugins/gauntlet/skills/gauntlet-curate/SKILL.md
  plugins/gauntlet/skills/graph-build/SKILL.md
  plugins/gauntlet/skills/graph-search/SKILL.md
  plugins/gauntlet/skills/onboard/SKILL.md
  plugins/hookify/skills/rule-catalog/SKILL.md
  plugins/hookify/skills/writing-rules/SKILL.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/imbue/skills/latent-space-engineering/SKILL.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/imbue/skills/vow-enforcement/SKILL.md
  plugins/imbue/skills/workflow-monitor/SKILL.md
  plugins/leyline/skills/additive-bias-defense/SKILL.md
  plugins/leyline/skills/content-sanitization/SKILL.md
  plugins/leyline/skills/deferred-capture/SKILL.md
  plugins/leyline/skills/document-conversion/SKILL.md
  plugins/leyline/skills/markdown-formatting/SKILL.md
  plugins/leyline/skills/sem-integration/SKILL.md
  plugins/leyline/skills/stewardship/SKILL.md
  plugins/leyline/skills/supply-chain-advisory/SKILL.md
  plugins/leyline/skills/testing-quality-standards/SKILL.md
  plugins/oracle/skills/setup/SKILL.md
  plugins/phantom/skills/computer-control/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

refactor(parseltongue): deduplicate parse_code by redirecting to async_analysis._base
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_recommendations.py
  plugins/parseltongue/tests/test_testing_guidance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(refinement): record Phase 2 Exit Criteria and SML-002 closure SHAs
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

refactor(pensive): report all overflow sites per pattern, not just the first
  plugins/pensive/src/pensive/skills/bug_review/_detection.py
  plugins/pensive/tests/skills/test_bug_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): eliminate 4 duplicate version-update bodies via shared generic
  plugins/attune/tests/test_create_structure_helper.py
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/test_update_versions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): extract _is_vague_result_assertion to reduce _check_assertion_quality nesting
  plugins/abstract/src/abstract/skills_eval/token_tracker.py
  plugins/abstract/src/abstract/wrapper_base.py
  plugins/abstract/tests/unit/test_skills_eval_token_tracker.py
  plugins/abstract/tests/unit/test_wrapper_base.py
  plugins/attune/scripts/attune_init.py
  plugins/attune/tests/test_create_structure_helper.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(pensive): remove break that halted multi-hit integer-overflow detection (PEN-013)
  plugins/pensive/src/pensive/skills/bug_review/_analysis.py
  plugins/pensive/tests/skills/test_bug_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conserve): raise instead of sys.exit so callers can handle file errors (CON-008)
  plugins/conserve/scripts/growth_analyzer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(gauntlet): batch BFS queries and build weight-index dicts (GAT-001/002/003)
  plugins/gauntlet/src/gauntlet/challenges.py
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/src/gauntlet/progress.py
  plugins/gauntlet/tests/unit/test_blast_radius.py
  plugins/gauntlet/tests/unit/test_challenges.py
  plugins/gauntlet/tests/unit/test_progress.py
  plugins/gauntlet/tests/unit/test_search.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): extract _parse_test_report and _run_check_or_validate helpers (SAN-009/010)
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/test_quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): narrow exception handlers and extract model ID constants (CJR-001/002/003)
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/war_room/config.py
  plugins/conjure/tests/test_cjr_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(memory-palace): batch entity queries and replace full-table fetch (MP-002/003)
  plugins/memory-palace/src/memory_palace/knowledge_graph.py
  plugins/memory-palace/src/memory_palace/palace_renderer.py
  plugins/memory-palace/tests/test_palace_renderer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(conjure): replace inline model ID literals with named constants (CJR-001)
  plugins/conjure/scripts/war_room/experts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(egregore): make herald notify path configurable via env var (EGR-001)
  plugins/egregore/scripts/notify.py
  plugins/egregore/tests/test_egr001_herald_path.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(parseltongue): replace AsyncAnalysisSkill delegation class with module functions (SML-001)
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/__init__.py
  plugins/parseltongue/src/parseltongue/cli.py
  plugins/parseltongue/tests/conftest.py
  plugins/parseltongue/tests/test_async_patterns.py
  plugins/parseltongue/tests/test_sml001_delegation_removal.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(refinement): record Phase 3 commit SHAs in synthesis doc
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

refactor(abstract): narrow bare excepts, set membership, dedup analysis calls (ABS-001..022)
  plugins/abstract/src/abstract/skill_tools.py
  plugins/abstract/src/abstract/skills_eval/auditor.py
  plugins/abstract/src/abstract/skills_eval/token_tracker.py
  plugins/abstract/src/abstract/tasks_manager_base.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/src/abstract/wrapper_base.py
  plugins/abstract/tests/test_abs_fixes.py
  plugins/abstract/tests/test_wrapper_infrastructure.py
  plugins/abstract/tests/unit/test_wrapper_base.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(refinement): close ABS-001..022 in synthesis doc (7987649c)
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

refactor(gauntlet): replace O(n*6) char-by-char FTS sanitizer with compiled re.sub
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/tests/test_gat_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(hookify): narrow bare Exception in rule loaders and publish get_bundled_rules_dir (SML-003/007)
  plugins/hookify/core/config_loader.py
  plugins/hookify/tests/test_sml_fixes.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(abstract): emit DeprecationWarning from estimate_tokens so callers discover the rename (XPL-010a)
  docs/refinement/2026-06-22/xpl009-rationale.md
  plugins/abstract/src/abstract/tokens.py
  plugins/abstract/tests/test_xpl010_deprecation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
