Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

chore: suppress expected test warnings in abstract and conjure
  plugins/abstract/pyproject.toml
  plugins/conjure/pyproject.toml
Due: validate-abstract-plugin, validate-conjure-plugin

docs: post-unbloat governance updates
  CHANGELOG.md
  plugins/leyline/skills/supply-chain-advisory/SKILL.md
  tests/scripts/test_generate_dependency_map.py
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(coverage): enforce 90% coverage threshold across all plugins
  plugins/attune/pyproject.toml
  plugins/conjure/pyproject.toml
  plugins/conserve/pyproject.toml
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/conserve/tests/unit/test_pre_compact_preserve.py
  plugins/conserve/tests/unit/test_tool_output_summarizer.py
  plugins/egregore/pyproject.toml
  plugins/hookify/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/memory-palace/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/parseltongue/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/phantom/pyproject.toml
  plugins/phantom/uv.lock
  plugins/sanctum/pyproject.toml
  plugins/scribe/pyproject.toml
  plugins/scribe/uv.lock
  plugins/scry/pyproject.toml
  plugins/spec-kit/pyproject.toml
  plugins/tome/pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

docs(gauntlet): add plugin design spec for codebase learning
  docs/superpowers/specs/2026-03-30-gauntlet-plugin-design.md
Due: none

docs(gauntlet): add implementation plan with 14 tasks
  docs/superpowers/plans/2026-03-30-gauntlet-plugin.md
Due: none

feat(gauntlet): add plugin scaffolding and data models
  book/src/plugins/gauntlet.md
  book/src/reference/capabilities-reference.md
  plugins/gauntlet/.claude-plugin/plugin.json
  plugins/gauntlet/Makefile
  plugins/gauntlet/README.md
  plugins/gauntlet/agents/extractor.md
  plugins/gauntlet/commands/gauntlet-curate.md
  plugins/gauntlet/commands/gauntlet-extract.md
  plugins/gauntlet/commands/gauntlet-onboard.md
  plugins/gauntlet/commands/gauntlet-progress.md
  plugins/gauntlet/commands/gauntlet.md
  plugins/gauntlet/hooks/hooks.json
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/skills/challenge/SKILL.md
  plugins/gauntlet/skills/curate/SKILL.md
  plugins/gauntlet/skills/extract/SKILL.md
  plugins/gauntlet/skills/onboard/SKILL.md
  plugins/gauntlet/src/gauntlet/__init__.py
  plugins/gauntlet/src/gauntlet/models.py
  plugins/gauntlet/tests/__init__.py
  plugins/gauntlet/tests/conftest.py
  plugins/gauntlet/tests/integration/__init__.py
  plugins/gauntlet/tests/unit/__init__.py
  plugins/gauntlet/tests/unit/test_models.py
  plugins/gauntlet/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(gauntlet): add knowledge store and AST-based extraction
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/src/gauntlet/extraction.py
  plugins/gauntlet/src/gauntlet/knowledge_store.py
  plugins/gauntlet/tests/unit/test_extraction.py
  plugins/gauntlet/tests/unit/test_knowledge_store.py
  plugins/gauntlet/uv.lock
  scripts/check_per_file_ignores.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add challenge engine, scoring, and progress tracking
  plugins/gauntlet/src/gauntlet/challenges.py
  plugins/gauntlet/src/gauntlet/progress.py
  plugins/gauntlet/src/gauntlet/scoring.py
  plugins/gauntlet/tests/unit/test_challenges.py
  plugins/gauntlet/tests/unit/test_progress.py
  plugins/gauntlet/tests/unit/test_scoring.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add query API and pre-commit gate hook
  plugins/gauntlet/hooks/hooks.json
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/src/gauntlet/query.py
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/gauntlet/tests/unit/test_query.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): fix Python 3.9 compatibility in cli_framework and scripts
  plugins/abstract/agents/skill-auditor.md
  plugins/abstract/scripts/compliance_checker.py
  plugins/abstract/scripts/improvement_suggester.py
  plugins/abstract/scripts/skills_auditor.py
  plugins/abstract/scripts/token_usage_tracker.py
  plugins/abstract/scripts/tool_performance_analyzer.py
  plugins/abstract/src/abstract/cli_framework.py
  plugins/gauntlet/README.md
  plugins/gauntlet/agents/extractor.md
  plugins/gauntlet/commands/gauntlet-curate.md
  plugins/gauntlet/commands/gauntlet-extract.md
  plugins/gauntlet/commands/gauntlet-onboard.md
  plugins/gauntlet/commands/gauntlet-progress.md
  plugins/gauntlet/commands/gauntlet.md
  plugins/gauntlet/scripts/answer_evaluator.py
  plugins/gauntlet/scripts/challenge_engine.py
  plugins/gauntlet/scripts/extractor.py
  plugins/gauntlet/scripts/progress_tracker.py
  plugins/gauntlet/skills/challenge/SKILL.md
  plugins/gauntlet/skills/curate/SKILL.md
  plugins/gauntlet/skills/extract/SKILL.md
  plugins/gauntlet/skills/onboard/SKILL.md
  plugins/gauntlet/tests/integration/test_end_to_end.py
  plugins/gauntlet/tests/unit/test_cli_scripts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(conserve): cap context_warning severity at WARNING for estimated values
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/conserve/tests/unit/test_context_warning_estimation.py
  plugins/conserve/tests/unit/test_context_warning_output.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(egregore): extract notifications into standalone herald plugin
  plugins/egregore/.claude-plugin/plugin.json
  plugins/egregore/scripts/notify.py
  plugins/herald/.claude-plugin/plugin.json
  plugins/herald/Makefile
  plugins/herald/README.md
  plugins/herald/pyproject.toml
  plugins/herald/scripts/__init__.py
  plugins/herald/scripts/notify.py
  plugins/herald/tests/__init__.py
  plugins/herald/tests/conftest.py
  plugins/herald/tests/test_notify.py
  plugins/herald/tests/unit/__init__.py
  plugins/herald/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add ML feature extraction for answer scoring
  plugins/gauntlet/src/gauntlet/ml/__init__.py
  plugins/gauntlet/src/gauntlet/ml/features.py
  plugins/gauntlet/src/gauntlet/ml/models/.gitkeep
  plugins/gauntlet/tests/unit/test_features.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

style(gauntlet): add docstrings and type annotations to ML feature module
  plugins/gauntlet/src/gauntlet/ml/features.py
  plugins/gauntlet/tests/unit/test_features.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add Scorer protocol and YamlScorer implementation
  plugins/gauntlet/src/gauntlet/ml/models/quality_v1.yaml
  plugins/gauntlet/src/gauntlet/ml/scorer.py
  plugins/gauntlet/tests/unit/test_scorer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add score_answer_quality() public API
  plugins/gauntlet/src/gauntlet/ml/__init__.py
  plugins/gauntlet/tests/unit/test_ml_init.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): integrate ML scoring into evaluate_answer()
  plugins/gauntlet/src/gauntlet/scoring.py
  plugins/gauntlet/tests/unit/test_scoring.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): export score_answer_quality from package root
  plugins/gauntlet/src/gauntlet/__init__.py
  plugins/gauntlet/src/gauntlet/ml/__init__.py
  plugins/gauntlet/src/gauntlet/ml/features.py
  plugins/gauntlet/src/gauntlet/ml/scorer.py
  plugins/gauntlet/src/gauntlet/models.py
  plugins/gauntlet/src/gauntlet/progress.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(gauntlet): use configurable blend weights and test ML fallback path
  plugins/gauntlet/src/gauntlet/ml/__init__.py
  plugins/gauntlet/src/gauntlet/scoring.py
  plugins/gauntlet/tests/unit/test_scoring.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(oracle): add venv provisioning with uv and onnxruntime
  book/src/plugins/oracle.md
  book/src/reference/capabilities-reference.md
  plugins/oracle/.claude-plugin/plugin.json
  plugins/oracle/Makefile
  plugins/oracle/README.md
  plugins/oracle/commands/oracle-setup.md
  plugins/oracle/hooks/daemon_lifecycle.py
  plugins/oracle/hooks/hooks.json
  plugins/oracle/pyproject.toml
  plugins/oracle/skills/setup/SKILL.md
  plugins/oracle/src/oracle/__init__.py
  plugins/oracle/src/oracle/provision.py
  plugins/oracle/tests/__init__.py
  plugins/oracle/tests/conftest.py
  plugins/oracle/tests/unit/__init__.py
  plugins/oracle/tests/unit/test_daemon_lifecycle.py
  plugins/oracle/tests/unit/test_provision.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(oracle): create plugin skeleton with marketplace-safe structure
  plugins/oracle/hooks/daemon_lifecycle.py
  plugins/oracle/tests/conftest.py
  plugins/oracle/tests/unit/test_daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(oracle): add HTTP client with graceful degradation
  plugins/oracle/pyproject.toml
  plugins/oracle/src/oracle/client.py
  plugins/oracle/src/oracle/daemon.py
  plugins/oracle/tests/unit/test_client.py
  plugins/oracle/tests/unit/test_daemon.py
  pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(oracle): add /oracle:setup command for user-initiated provisioning
  plugins/oracle/commands/oracle-setup.md
  plugins/oracle/skills/setup/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(gauntlet): auto-detect oracle sidecar and upgrade scoring
  plugins/gauntlet/src/gauntlet/ml/__init__.py
  plugins/gauntlet/src/gauntlet/ml/scorer.py
  plugins/gauntlet/tests/unit/test_sidecar_scorer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: add ONNX integration research, specs, and plans
  docs/research/onnx-research-2026-03-31.md
  docs/superpowers/plans/2026-03-31-onnx-integration.md
  docs/superpowers/plans/2026-04-01-oracle-plugin.md
  docs/superpowers/specs/2026-03-31-onnx-integration-design.md
Due: none

feat(imbue): add tome research enrichment to feature-review
  .feature-review.yaml
  docs/tome-feature-review-plan.md
  docs/tome-feature-review-spec.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/imbue/skills/feature-review/modules/configuration.md
  plugins/imbue/skills/feature-review/modules/research-enrichment.md
  plugins/imbue/tests/unit/skills/test_feature_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs: update marketplace, capabilities, and changelog for v1.8.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  book/src/reference/capabilities-reference.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/README.md
Due: run-plugin-tests, validate-imbue-plugin

fix(gauntlet): use enums for challenge types, consolidate docs
  .pre-commit-config.yaml
  docs/adr/0009-sidecar-service-discovery.md
  docs/api-overview.md
  docs/research/onnx-research-2026-03-31.md
  docs/superpowers/plans/2026-03-30-gauntlet-plugin.md
  docs/superpowers/plans/2026-03-31-onnx-integration.md
  docs/superpowers/plans/2026-04-01-oracle-plugin.md
  docs/superpowers/specs/2026-03-30-gauntlet-plugin-design.md
  docs/superpowers/specs/2026-03-31-onnx-integration-design.md
  docs/tome-feature-review-plan.md
  docs/tome-feature-review-spec.md
  docs/tome-implementation-plan.md
  docs/tome-specification.md
  plugins/gauntlet/README.md
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/src/gauntlet/challenges.py
  plugins/gauntlet/src/gauntlet/models.py
  plugins/gauntlet/src/gauntlet/scoring.py
  plugins/gauntlet/uv.lock
  plugins/oracle/README.md
  plugins/oracle/pyproject.toml
  plugins/oracle/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): make create-tag submissions config-driven
  book/src/reference/capabilities-reference.md
  plugins/sanctum/commands/create-tag.md
  tag-submissions.json
Due: run-plugin-tests, validate-description-budget

docs: update README counts and add create-tag config tests
  README.md
  plugins/sanctum/tests/test_commands.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(gauntlet,cartograph,pensive): sync manifests and fix pre-existing issues
  .claude-plugin/marketplace.json
  plugins/cartograph/.claude-plugin/plugin.json
  plugins/cartograph/README.md
  plugins/gauntlet/.claude-plugin/plugin.json
  plugins/gauntlet/README.md
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/src/gauntlet/treesitter_parser.py
  plugins/gauntlet/tests/unit/test_precommit_graph.py
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/README.md
  plugins/pensive/openpackage.yml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: add 11 missing hooks to capabilities reference
  book/src/reference/capabilities-hooks.md
  book/src/reference/capabilities-reference.md
Due: none
