Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

docs(refinement): close CON-020 (no action) and complete synthesis
  docs/refinement/2026-06-22/00-synthesis.md
Due: none

refactor(plugins): split god-class CLIs and fix dead references
  docs/adr/0017-confidence-and-theory-building-decisions.md
  plugins/abstract/commands/create-skill.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/pensive/agents/code-refiner.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/code-refinement/modules/code-quality-analysis.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/pensive/skills/unified-review/modules/output-format-templates.md
  plugins/pensive/skills/unified-review/modules/quality-checklist-patterns.md
  plugins/pensive/skills/unified-review/modules/review-workflow-core.md
  plugins/sanctum/docs/superpowers-integration-guide.md
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/skills/git-workspace-review/modules/git-commands.md
  plugins/sanctum/skills/pr-prep/modules/todowrite-patterns.md
  plugins/scry/skills/media-composition/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

chore: gitignore unbloat log and stale refinement synthesis
  .gitignore
Due: none

test: strengthen tautological assertions and add eval-table regression guard
  plugins/abstract/tests/test_base.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

feat(slop-detector): ground detection in 2026 Reddit citation study
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/scribe/skills/slop-detector/modules/empirical-baseline.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
Due: run-plugin-tests, validate-conserve-plugin

feat(tome): ground TRIZ/ideate skills in 2024-2025 research
  plugins/tome/agents/triz-analyst.md
  plugins/tome/skills/ideate/SKILL.md
  plugins/tome/skills/triz/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs: document research-grounding commits in CHANGELOG and README
  CHANGELOG.md
  README.md
Due: none

docs(refinement): drop em-dash that tripped the slop-check gate
  docs/refinement/2026-06-22/xpl009-rationale.md
Due: none

chore(memory-palace): drain capture index of orphaned entries
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

chore: stop tracking transient refinement synthesis docs
  .gitignore
  docs/refinement/2026-06-22/00-synthesis.md
  docs/refinement/2026-06-22/xpl009-rationale.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: validate-memory-palace-plugin

fix(hooks): read tool payload from stdin, not env vars
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/pre_skill_execution.py
  plugins/abstract/hooks/shared/hook_io.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/hooks/test_homeostatic_monitor_input.py
  plugins/abstract/tests/hooks/test_hook_io.py
  plugins/abstract/tests/hooks/test_pre_skill_execution.py
  plugins/abstract/tests/hooks/test_skill_execution_logger.py
  plugins/leyline/hooks/noqa_guard.py
  plugins/leyline/tests/unit/hooks/test_noqa_guard_stdin.py
  plugins/sanctum/hooks/deferred_item_watcher.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_watcher_stdin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

chore(lint): use single uv-managed ruff in pre-commit
  .pre-commit-config.yaml
Due: none

ci: check pinned CI/pre-commit versions, bump pins
  .github/workflows/capabilities-sync.yml
  .github/workflows/cron-memory-palace.yaml
  .github/workflows/cross-framework-publish.yml
  .github/workflows/deploy-book.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  .github/workflows/slop-check.yml
  .github/workflows/trust-attestation.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_pinned_versions.py
  scripts/check_ruff_version.py
  tests/unit/test_check_pinned_versions.py
  tests/unit/test_check_ruff_version.py
Due: none

fix(plugin-check): bound hangs, unmask failures
  Makefile
  plugins/conserve/Makefile
  plugins/parseltongue/Makefile
  plugins/scribe/Makefile
  plugins/scry/Makefile
  prototypes/forced-eval/README.md
  prototypes/forced-eval/forced_eval.py
  prototypes/forced-eval/test_forced_eval.py
  reports/dogfooding-feature-review-2026-06-28.md
Due: validate-conserve-plugin

test(harness): add regression tests for plugin-check and forced-eval
  prototypes/forced-eval/test_forced_eval.py
  tests/unit/test_plugin_check_harness.py
Due: none

docs: note speckit-converge and pinned-version hooks in 1.9.14
  CHANGELOG.md
  README.md
Due: none

ci: pin setup-uv to v8.2.0; bare v8 tag does not exist
  .github/workflows/cron-memory-palace.yaml
  .github/workflows/cross-framework-publish.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  .github/workflows/trust-attestation.yml
  .github/workflows/typecheck.yml
Due: none

test: harden ecosystem test coverage; fix config-skip and quality-checker bugs
  plugins/abstract/tests/scripts/test_abstract_validator.py
  plugins/abstract/tests/scripts/test_abstract_validator_plr0913.py
  plugins/abstract/tests/scripts/test_validate_budget.py
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_launch_spec.py
  plugins/conjure/tests/test_cjr_fixes.py
  plugins/gauntlet/tests/unit/test_models.py
  plugins/gauntlet/tests/unit/test_query.py
  plugins/herald/tests/test_alert_source.py
  plugins/imbue/tests/unit/test_imbue_fallback.py
  plugins/leyline/tests/unit/hooks/test_noqa_guard_stdin.py
  plugins/leyline/tests/unit/scripts/test_usage_logger.py
  plugins/phantom/tests/unit/test_loop.py
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/test_quality_checker.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_watcher.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_watcher_stdin.py
  plugins/scribe/tests/unit/test_session_parser.py
  tests/unit/test_check_pinned_versions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin

fix(review): address PR #587 review feedback across ecosystem
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/shared/hook_io.py
  plugins/abstract/scripts/validate_budget.py
  plugins/conjure/scripts/delegation_executor.py
  plugins/gauntlet/src/gauntlet/treesitter_parser.py
  plugins/leyline/hooks/noqa_guard.py
  plugins/leyline/scripts/usage_logger.py
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/shared/decision_engine.py
  plugins/memory-palace/hooks/shared/telemetry.py
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/tests/unit/test_loop.py
  plugins/sanctum/hooks/deferred_item_watcher.py
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/tests/test_quality_checker.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_watcher_stdin.py
  plugins/scribe/src/scribe/session_parser.py
  plugins/scribe/tests/unit/test_session_parser.py
  scripts/check_pinned_versions.py
  tests/unit/test_check_pinned_versions.py
  tests/unit/test_plugin_check_harness.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-memory-palace-plugin

chore(memory-palace): drain orphaned capture index, intake 15 entries
  docs/curation-log.md
  plugins/memory-palace/data/staging/autosop-ai-documentation-generator-from-code.md
  plugins/memory-palace/data/staging/capturing-expert-knowledge-before-it-s-lost-dozuki.md
  plugins/memory-palace/data/staging/cloneable-agentic-ai-cloning-expert-worker.md
  plugins/memory-palace/data/staging/demystifying-tacit-knowledge-in-graphic-design.md
  plugins/memory-palace/data/staging/how-field-technicians-capture-job-site-notes-resq.md
  plugins/memory-palace/data/staging/memos-self-hosted-markdown-note-taking-with.md
  plugins/memory-palace/data/staging/minutes-local-first-meeting-transcription-with.md
  plugins/memory-palace/data/staging/obsidian-web-clipper-cross-browser-markdown.md
  plugins/memory-palace/data/staging/odk-collect-offline-android-xforms-field-data.md
  plugins/memory-palace/data/staging/singlefile-single-file-html-web-page-archiver.md
  plugins/memory-palace/data/staging/stepsnap-openscribe-screen-interaction-to-step-by.md
  plugins/memory-palace/data/staging/tacit-knowledge-extraction-via-logic-augmented.md
  plugins/memory-palace/data/staging/top-3-challenges-facing-the-skilled-trades-canada.md
  plugins/memory-palace/data/staging/trilium-web-clipper-plus-manifest-v3-clipper-for.md
  plugins/memory-palace/data/staging/web-clipper-multi-platform-browser-capture-to-20.md
  plugins/memory-palace/docs/developer-drafts/autosop-ai-documentation-generator-from-code.md
  plugins/memory-palace/docs/developer-drafts/capturing-expert-knowledge-before-it-s-lost-dozuki.md
  plugins/memory-palace/docs/developer-drafts/cloneable-agentic-ai-cloning-expert-worker.md
  plugins/memory-palace/docs/developer-drafts/demystifying-tacit-knowledge-in-graphic-design.md
  plugins/memory-palace/docs/developer-drafts/how-field-technicians-capture-job-site-notes-resq.md
  plugins/memory-palace/docs/developer-drafts/memos-self-hosted-markdown-note-taking-with.md
  plugins/memory-palace/docs/developer-drafts/minutes-local-first-meeting-transcription-with.md
  plugins/memory-palace/docs/developer-drafts/obsidian-web-clipper-cross-browser-markdown.md
  plugins/memory-palace/docs/developer-drafts/odk-collect-offline-android-xforms-field-data.md
  plugins/memory-palace/docs/developer-drafts/singlefile-single-file-html-web-page-archiver.md
  plugins/memory-palace/docs/developer-drafts/stepsnap-openscribe-screen-interaction-to-step-by.md
  plugins/memory-palace/docs/developer-drafts/tacit-knowledge-extraction-via-logic-augmented.md
  plugins/memory-palace/docs/developer-drafts/top-3-challenges-facing-the-skilled-trades-canada.md
  plugins/memory-palace/docs/developer-drafts/trilium-web-clipper-plus-manifest-v3-clipper-for.md
  plugins/memory-palace/docs/developer-drafts/web-clipper-multi-platform-browser-capture-to-20.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: run-plugin-tests, validate-memory-palace-plugin

feat(forced-eval): add activation-lift measurement harness
  prototypes/forced-eval/.gitignore
  prototypes/forced-eval/README.md
  prototypes/forced-eval/activation_cases.json
  prototypes/forced-eval/measure_activation.py
  prototypes/forced-eval/test_measure_activation.py
Due: none

ci(pre-commit): pin bandit to 1.8.6 for Python 3.9 support
  .pre-commit-config.yaml
  scripts/check_pinned_versions.py
  tests/unit/test_check_pinned_versions.py
Due: none

docs(quality-gates): fold dogfooding review into permanent docs
  .gitignore
  docs/quality-gates.md
  prototypes/forced-eval/README.md
  reports/dogfooding-feature-review-2026-06-28.md
  tests/unit/test_plugin_check_harness.py
Due: none

chore(memory-palace): drop committed curation-log audit artifact
  .gitignore
  docs/curation-log.md
Due: none

feat(leyline): add loop-optimization skill for hand-vs-compiler rule
  book/src/reference/capabilities-reference.md
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/openpackage.yml
  plugins/leyline/skills/loop-optimization/SKILL.md
  plugins/leyline/tests/unit/skills/test_loop_optimization.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/parseltongue/agents/python-pro.md
  plugins/parseltongue/skills/python-performance/SKILL.md
  plugins/parseltongue/skills/python-performance/modules/optimization-patterns.md
  plugins/pensive/skills/code-refinement/modules/algorithm-efficiency.md
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/rust-review/modules/iterator-and-allocation-slop.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(imbue,leyline): add verifier-integrity guard from prover-verifier research
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/proof-of-work/modules/verifier-integrity.md
  plugins/leyline/skills/testing-quality-standards/modules/best-practices.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

feat(egregore): opt-in completion-integrity gate (default off)
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/scripts/config.py
  plugins/egregore/skills/quality-gate/SKILL.md
  plugins/egregore/skills/summon/modules/pipeline.md
  plugins/egregore/tests/test_config.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(rules): add prefer-invariants-over-fallbacks guardrail
  .claude/rules/prefer-invariants-over-fallbacks.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: validate-memory-palace-plugin

test(egregore): cover completion_integrity raw-JSON opt-in path
  plugins/egregore/tests/test_config.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(egregore,changelog): document completion_integrity and loop guardrails
  CHANGELOG.md
  plugins/egregore/README.md
Due: run-plugin-tests

docs(skills): add night-market project skill library
  .claude/skills/claude-code-plugin-reference/SKILL.md
  .claude/skills/night-market-architecture-contract/SKILL.md
  .claude/skills/night-market-build-and-env/SKILL.md
  .claude/skills/night-market-change-control/SKILL.md
  .claude/skills/night-market-collective-memory/SKILL.md
  .claude/skills/night-market-completion-integrity-campaign/SKILL.md
  .claude/skills/night-market-config-catalog/SKILL.md
  .claude/skills/night-market-debugging-playbook/SKILL.md
  .claude/skills/night-market-diagnostics-toolkit/SKILL.md
  .claude/skills/night-market-diagnostics-toolkit/scripts/health-snapshot.sh
  .claude/skills/night-market-docs-and-writing/SKILL.md
  .claude/skills/night-market-failure-archaeology/SKILL.md
  .claude/skills/night-market-operations/SKILL.md
  .claude/skills/night-market-research-frontier/SKILL.md
  .claude/skills/night-market-research-methodology/SKILL.md
  .claude/skills/night-market-validation-and-qa/SKILL.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: validate-memory-palace-plugin, check-context-optimization

feat(attune): package skill-library knowledge-transfer mission
  book/src/reference/capabilities-reference.md
  plugins/attune/.claude-plugin/plugin.json
  plugins/attune/commands/skill-library.md
  plugins/attune/skills/skill-library-mission/SKILL.md
  plugins/attune/skills/skill-library-mission/modules/authoring-rules.md
  plugins/attune/skills/skill-library-mission/modules/review-protocol.md
  plugins/attune/skills/skill-library-mission/modules/taxonomy.md
  plugins/attune/skills/skill-library-mission/references/mission-prompt.md
  plugins/attune/tests/unit/skills/test_skill_library_mission.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

chore(memory-palace): refresh vitality index
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: validate-memory-palace-plugin

fix(leyline,pensive): address PR 600 review findings
  plugins/leyline/skills/loop-optimization/SKILL.md
  plugins/leyline/tests/unit/skills/test_loop_optimization.py
  plugins/pensive/skills/code-refinement/modules/algorithm-efficiency.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget
