Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

chore(minister): drop the leyline mypy override nothing triggers
  plugins/minister/pyproject.toml
Due: none

chore(ledger): raise the dated-ID backlog to 70 for the pinned legacy rates
  .claude/upstream-baseline.json
Due: none

docs(changelog): record the unbloat pass under 1.10.0
  CHANGELOG.md
Due: none

fix(gauntlet): stop formatting from passing answers with no content
  plugins/gauntlet/src/gauntlet/ml/features.py
  plugins/gauntlet/src/gauntlet/ml/models/quality_v1.yaml
  plugins/gauntlet/src/gauntlet/scoring.py
  plugins/gauntlet/tests/unit/test_features.py
  plugins/gauntlet/tests/unit/test_scoring.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(gauntlet): apply the risk weights users configure
  plugins/gauntlet/scripts/graph_query.py
  plugins/gauntlet/src/gauntlet/blast_radius.py
  plugins/gauntlet/tests/unit/test_blast_radius.py
  plugins/pensive/hooks/pr_blast_radius.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conserve): read session rows where Claude Code writes them
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/conserve/tests/unit/test_context_warning_estimation.py
  plugins/conserve/tests/unit/test_tool_output_summarizer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(abstract): measure skill stability over windows of runs
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/shared/stability.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/hooks/test_continual_metrics.py
  plugins/abstract/tests/hooks/test_homeostatic_monitor.py
  plugins/abstract/tests/hooks/test_homeostatic_monitor_input.py
  plugins/abstract/tests/test_hooks_shared_stability.py
  plugins/abstract/tests/test_hooks_skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(scripts): scan prose-free files for hidden Unicode
  scripts/slop_score.py
  tests/scripts/test_slop_score_raw_text.py
Due: none

fix(conserve): put growth severity in the bands its thresholds name
  plugins/conserve/scripts/growth_analyzer.py
  plugins/conserve/tests/unit/scripts/test_growth_analyzer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(abstract): correct the improvement loop's trend and rate math
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/scripts/lenses/trend_lens.py
  plugins/abstract/src/abstract/improvement_memory.py
  plugins/abstract/src/abstract/performance_tracker.py
  plugins/abstract/tests/scripts/lenses/test_trend_lens.py
  plugins/abstract/tests/test_math_review_abstract_metrics.py
  plugins/abstract/tests/unit/test_performance_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): report the budget failure that actually happened
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/tests/scripts/test_validate_budget.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): promote to an issue only above the documented threshold
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/tests/scripts/test_auto_promote_learnings.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(conserve): stop auto-approving commands that write or delete
  plugins/conserve/hooks/permission_request.py
  plugins/conserve/tests/unit/test_permission_request.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(abstract): make token and audit scoring agree with their own thresholds
  plugins/abstract/src/abstract/cli.py
  plugins/abstract/src/abstract/skills_eval/auditor.py
  plugins/abstract/src/abstract/skills_eval/token_tracker.py
  plugins/abstract/tests/test_math_review_skills_eval.py
  plugins/abstract/tests/unit/test_cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): count what the skill analysis reports actually measure
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/scripts/finding_verifier.py
  plugins/abstract/scripts/lenses/trend_lens.py
  plugins/abstract/scripts/skill_analyzer.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_math_review_abstract_scripts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(pensive): make review scores and flags match the rules they cite
  plugins/pensive/src/pensive/reporting/formatters.py
  plugins/pensive/src/pensive/skills/makefile_review/_analysis.py
  plugins/pensive/src/pensive/skills/makefile_review/_quality.py
  plugins/pensive/src/pensive/skills/rust_review/cargo.py
  plugins/pensive/src/pensive/skills/rust_review/ownership.py
  plugins/pensive/src/pensive/skills/rust_review_data.py
  plugins/pensive/src/pensive/utils/severity_mapper.py
  plugins/pensive/tests/skills/test_math_review_pensive.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conserve): print the counts the context map leaves out
  plugins/conserve/scripts/context_scanner/import_graph.py
  plugins/conserve/scripts/context_scanner/renderers.py
  plugins/conserve/tests/test_math_review_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(scribe): number session turns from the first real user prompt
  plugins/scribe/src/scribe/session_parser.py
  plugins/scribe/tests/unit/test_session_parser.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): stop telling kebab-case skills to adopt kebab-case
  plugins/abstract/src/abstract/skills_eval/improvements.py
  plugins/abstract/tests/unit/test_skills_eval_improvements.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(memory-palace): center hash vectors so unrelated texts are not duplicates
  plugins/memory-palace/src/memory_palace/corpus/semantic_deduplicator.py
  plugins/memory-palace/tests/unit/test_semantic_deduplicator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): bucket hash embeddings by token, not position
  plugins/memory-palace/src/memory_palace/corpus/embedding_index.py
  plugins/memory-palace/tests/test_embedding_index.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): remove the decay cliff at four half-lives
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/tests/test_decay_model.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): rank betweenness brokers on the strong-is-cheap cost
  plugins/memory-palace/src/memory_palace/graph_analyzer.py
  plugins/memory-palace/tests/test_graph_analyzer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): pass importance and unit type into orchestrator decay
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): carry partial days between vitality recomputes
  plugins/memory-palace/scripts/update_vitality_scores.py
  plugins/memory-palace/tests/scripts/test_update_vitality_scores.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): score untouched entries at neutral, not below flagged ones
  plugins/memory-palace/src/memory_palace/corpus/usage_tracker.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/memory-palace/tests/test_usage_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): read naive garden timestamps as UTC, including --now
  plugins/memory-palace/src/memory_palace/garden_metrics.py
  plugins/memory-palace/tests/test_garden_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(phantom): stop charging each screenshot on top of reported usage
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/tests/unit/test_loop.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(herald): describe the continuation throttle as the reset it is
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/tests/unit/test_double_shot_latte.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(phantom): estimate screenshot tokens as pixels / 750
  plugins/phantom/src/phantom/cost.py
  plugins/phantom/tests/unit/test_cost_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(minister): keep DORA change failure rate within 0..1
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): estimate file tokens from the one extension ratio table
  plugins/leyline/src/leyline/tokens.py
  plugins/leyline/tests/test_tokens.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): measure the RPM window from its start and gate on daily tokens
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/leyline/tests/test_quota_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): make the MECW thresholds mean what classification applies
  plugins/leyline/src/leyline/mecw.py
  plugins/leyline/tests/test_mecw.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): report learned success rates that survive decay and timing
  plugins/egregore/scripts/learning.py
  plugins/egregore/tests/test_learning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): let the rate-limit hook only extend a recorded cooldown
  plugins/egregore/hooks/rate_limit_hook.py
  plugins/egregore/tests/test_rate_limit_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): meter the judge prompt that is sent, not the raw evidence
  plugins/egregore/scripts/claude_babysitter.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run_e2e.py
  plugins/egregore/tests/test_night_run_metering.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): read cooldown_until in the watchdog as the UTC instant it is
  plugins/egregore/scripts/watchdog.sh
  plugins/egregore/scripts/window.py
  plugins/egregore/tests/test_watchdog_cooldown.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): bound StepCost to [0, 1] so the stated utility range holds
  plugins/leyline/skills/utility/modules/step-cost.md
  plugins/leyline/tests/unit/skills/test_utility_range.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): compare quota status against the level the tracker returns
  plugins/leyline/skills/quota-management/SKILL.md
  plugins/leyline/tests/unit/skills/test_quota_management_doc.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
