Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

docs: update README, CHANGELOG, and ADR-0004 for v1.9.8
  CHANGELOG.md
  README.md
  docs/adr/0004-skill-description-budget-optimization.md
  docs/skill-description-guide.md
Due: none

feat(review): add sub-agent isolation and understanding-probe guidance
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/pensive/tests/skills/test_unified_review.py
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/tests/unit/skills/test_pr_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(coverage): decouple threshold enforcement from pytest addopts across all plugins
  plugins/abstract/pyproject.toml
  plugins/attune/pyproject.toml
  plugins/conjure/pyproject.toml
  plugins/conserve/pyproject.toml
  plugins/egregore/pyproject.toml
  plugins/gauntlet/pyproject.toml
  plugins/herald/pyproject.toml
  plugins/hookify/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/memory-palace/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/oracle/pyproject.toml
  plugins/parseltongue/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/phantom/pyproject.toml
  plugins/sanctum/pyproject.toml
  plugins/scribe/pyproject.toml
  plugins/spec-kit/pyproject.toml
  plugins/tome/pyproject.toml
  scripts/fix_coverage_threshold.py
  scripts/run-plugin-tests.sh
  tests/unit/test_fix_coverage_threshold.py
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

test: add awk threshold extraction tests and fix stale scribe frontmatter assertions
  plugins/scribe/tests/unit/skills/test_tech_tutorial.py
  plugins/scribe/tests/unit/skills/test_voice_extract.py
  plugins/scribe/tests/unit/skills/test_voice_generate.py
  tests/unit/test_run_plugin_tests.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: update CHANGELOG and testing guide for coverage threshold fix
  CHANGELOG.md
  docs/testing-guide.md
Due: none

docs(readme): add testing-guide and quality-gates to Documentation section
  README.md
Due: none

feat(pensive,scribe): add kuva viz, mlock audit, and Reddit post format
  plugins/minister/skills/dora-metrics/SKILL.md
  plugins/minister/tests/unit/skills/test_dora_metrics.py
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/performance-review/modules/kuva-visualization.md
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/skills/rust-review/modules/concurrency-patterns.md
  plugins/pensive/skills/rust-review/modules/iterator-and-allocation-slop.md
  plugins/pensive/skills/rust-review/modules/unsafe-audit.md
  plugins/pensive/tests/unit/skills/test_performance_review.py
  plugins/pensive/tests/unit/skills/test_rust_review.py
  plugins/scribe/skills/session-to-post/SKILL.md
  plugins/scribe/skills/session-to-post/modules/reddit-format.md
  plugins/scribe/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(review): address PR 541 follow-up comments
  CHANGELOG.md
  plugins/leyline/skills/evaluation-framework/modules/multi-metric-evaluation-methodology.md
Due: run-plugin-tests

fix(release): trigger pipeline and emit valid YAML
  plugins/sanctum/commands/create-tag.md
  scripts/clawhub_export.py
  tests/unit/test_clawhub_export.py
Due: run-plugin-tests, validate-description-budget

docs: surface PR #470 finding-IDs and fix slop connectors
  CHANGELOG.md
  plugins/abstract/skills/skill-graph-audit/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

feat(abstract): verify-before-promote gate for auto-promoted findings
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/scripts/finding_verifier.py
  plugins/abstract/tests/scripts/test_auto_promote_learnings.py
  plugins/abstract/tests/unit/scripts/test_finding_verifier.py
  plugins/sanctum/commands/do-issue.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-description-budget

fix(review): address PR #546 review feedback
  docs/api-overview.md
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/scripts/finding_verifier.py
  plugins/abstract/skills/skill-graph-audit/SKILL.md
  plugins/abstract/tests/scripts/test_auto_promote_learnings.py
  plugins/memory-palace/hooks/memory-palace-index.yaml
  scripts/clawhub_export.py
  tests/unit/test_clawhub_export.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(precommit): ratchet skill exit-criteria and uncalled libraries
  .pre-commit-config.yaml
  scripts/check_skill_exit_criteria_drift.py
  scripts/check_skill_graph_drift.py
  scripts/skill_exit_criteria_baseline.json
  scripts/skill_graph_baseline.json
  tests/scripts/test_check_skill_exit_criteria_drift.py
  tests/scripts/test_check_skill_graph_drift.py
Due: none

feat(memory-palace): add palace index curation
  .pre-commit-config.yaml
  book/src/reference/capabilities-reference.md
  docs/palace-index-methods/project-brief.md
  docs/palace-index-methods/research-findings.md
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/.gitignore
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/index_surfacer.py
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/memory-palace/hooks/shared/config.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/scripts/precommit_palace_maintenance.sh
  plugins/memory-palace/scripts/update_vitality_scores.py
  plugins/memory-palace/skills/palace-index-curator/SKILL.md
  plugins/memory-palace/src/memory_palace/corpus/index_analytics.py
  plugins/memory-palace/src/memory_palace/corpus/index_promoter.py
  plugins/memory-palace/tests/hooks/test_index_surfacer.py
  plugins/memory-palace/tests/scripts/test_update_vitality_scores.py
  plugins/memory-palace/tests/test_index_analytics.py
  plugins/memory-palace/tests/test_index_promoter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

test(memory-palace): characterize index curation edge cases
  plugins/memory-palace/tests/test_index_analytics.py
  plugins/memory-palace/tests/test_index_promoter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(abstract): align plugin lint config with root workspace
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/promote_discussion_to_issue.py
  plugins/memory-palace/pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

feat(abstract): add finding-verifier CLI
  plugins/abstract/scripts/finding_verifier.py
  plugins/abstract/tests/unit/scripts/test_finding_verifier.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

build(dogfood): add live demo targets and shared test-unit hook
  plugins/abstract/Makefile
  plugins/abstract/config/make/python.mk
  plugins/memory-palace/Makefile
Due: validate-abstract-plugin, validate-memory-palace-plugin

feat(scribe): wire Tier 5 slop patterns into runtime
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/identity-and-voice-leaks.md
  plugins/scribe/skills/slop-detector/modules/language-handling.md
  plugins/scribe/skills/slop-detector/modules/remediation-strategies.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/src/scribe/pattern_loader.py
  plugins/scribe/tests/test_pattern_loader.py
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(memory-palace): add memory-clarity-probe skill from MMPO paper
  book/src/reference/capabilities-reference.md
  plugins/conserve/skills/context-optimization/SKILL.md
  plugins/conserve/skills/context-optimization/modules/belief-clarity.md
  plugins/memory-palace/.claude-plugin/metadata.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/skills/memory-clarity-probe/SKILL.md
  plugins/memory-palace/tests/unit/skills/test_memory_clarity_probe.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(sanctum): add validate-mr skill with diff-derived test plan (closes #548)
  book/src/reference/capabilities-reference.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/fix-pr-modules/configuration-options.md
  plugins/sanctum/commands/fix-pr-modules/steps/5-validate.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/validate-mr.md
  plugins/sanctum/skills/validate-mr/SKILL.md
  plugins/sanctum/tests/test_workflow_steps_modularization.py
  plugins/sanctum/tests/unit/skills/test_validate_mr.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

ci: trigger workflows when their own config changes
  .github/workflows/capabilities-sync.yml
  .github/workflows/deploy-book.yml
  .github/workflows/slop-check.yml
Due: none

fix(book): use colon separators in tome skill list to fix slop-check
  book/src/plugins/tome.md
Due: none

docs: simplify README, lead with everyday workflows
  README.md
Due: none

fix(conserve): pin frozen benchmark fixture for log-hygiene test (#540)
  plugins/conserve/skills/compression-strategy/modules/log-debugging-hygiene.md
  plugins/conserve/tests/fixtures/intake_queue.jsonl
  plugins/conserve/tests/test_log_debugging_hygiene.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(memory-palace): reject non-2xx fetches in knowledge-intake (#547)
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(conserve,memory-palace): add MMPO anchor-clarity gates (#550, #551, #552)
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/memory-palace/skills/session-palace-builder/SKILL.md
Due: run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(pensive): expose safety-critical-patterns via /full-review (#538)
  plugins/pensive/commands/full-review.md
  plugins/pensive/skills/safety-critical-patterns/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(research): record blocked logprob path for MMPO belief entropy (#553)
  docs/research/mmpo-belief-entropy-logprob-path.md
Due: none

docs(sanctum): teach update-readme the index-not-manual shape
  plugins/sanctum/skills/update-readme/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

refactor(sanctum): rename validate-mr to validate-pr for consistency
  book/src/reference/capabilities-reference.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/fix-pr-modules/configuration-options.md
  plugins/sanctum/commands/fix-pr-modules/steps/5-validate.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/validate-pr.md
  plugins/sanctum/skills/validate-pr/SKILL.md
  plugins/sanctum/tests/test_workflow_steps_modularization.py
  plugins/sanctum/tests/unit/skills/test_validate_pr.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

test(memory-palace): cover non-2xx fetch skip (#547)
  book/src/plugins/memory-palace.md
  book/src/reference/capabilities-reference.md
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): tighten non-2xx fetch detection precision
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
