Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

chore(deps): refresh locks and raise three stale upper bounds
  plugins/attune/uv.lock
  plugins/conjure/uv.lock
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/uv.lock
  plugins/imbue/uv.lock
  plugins/memory-palace/uv.lock
  plugins/minister/uv.lock
  plugins/parseltongue/uv.lock
  plugins/pensive/uv.lock
  plugins/phantom/uv.lock
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/uv.lock
  uv.lock
Due: validate-imbue-plugin, validate-conjure-plugin, validate-memory-palace-plugin

chore(build): drop the plugins/core ghost workspace member
  pyproject.toml
Due: none

chore(gitignore): stop hiding dependency manifests behind *.txt
  .gitignore
Due: none

test(scry): run the missing-ffmpeg test instead of skipping it
  plugins/scry/tests/test_gif_demo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(pensive): replace a vacuous network test with a contract test
  plugins/pensive/tests/test_edge_cases.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(memory-palace): declare faiss so semantic dedup actually loads
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/src/memory_palace/corpus/semantic_deduplicator.py
  plugins/memory-palace/uv.lock
  plugins/tome/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs(pr-template): clear the slop patterns the templates teach
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/breaking-change.md
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
Due: none

feat(sanctum): add --interactive comprehension loop to pr-review
  plugins/gauntlet/README.md
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/scripts/progress_tracker.py
  plugins/gauntlet/tests/unit/test_cli_scripts.py
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/interactive-review.md
  plugins/sanctum/tests/test_interactive_review_contract.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(tome): classify agent-memory topics and refine on low confidence
  plugins/tome/skills/research/SKILL.md
  plugins/tome/src/tome/models.py
  plugins/tome/src/tome/scripts/domain_classifier.py
  plugins/tome/tests/unit/test_classifier_refine.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(memory-palace): flag recalled units whose source files changed
  book/src/reference/capabilities-reference.md
  plugins/memory-palace/.claude-plugin/metadata.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/index_surfacer.py
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/memory-palace/hooks/recall.py
  plugins/memory-palace/hooks/session_lifecycle.py
  plugins/memory-palace/skills/palace-index-curator/SKILL.md
  plugins/memory-palace/skills/palace-index-curator/modules/archive-pattern.md
  plugins/memory-palace/skills/session-handoff/SKILL.md
  plugins/memory-palace/skills/session-handoff/modules/temporal-awareness.md
  plugins/memory-palace/skills/session-handoff/modules/two-phase-extraction.md
  plugins/memory-palace/skills/session-handoff/modules/unit-schema.md
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/src/memory_palace/corpus/embedding_index.py
  plugins/memory-palace/src/memory_palace/corpus/staleness_signals.py
  plugins/memory-palace/src/memory_palace/session_history.py
  plugins/memory-palace/tests/hooks/test_recall_hook.py
  plugins/memory-palace/tests/hooks/test_session_gap.py
  plugins/memory-palace/tests/test_decay_model.py
  plugins/memory-palace/tests/test_embedding_index.py
  plugins/memory-palace/tests/unit/skills/test_archive_pattern.py
  plugins/memory-palace/tests/unit/skills/test_session_handoff.py
  plugins/memory-palace/tests/unit/test_session_history.py
  plugins/memory-palace/tests/unit/test_staleness_signals.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(memory-palace): keep capture frontmatter parseable and redacted
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/research-queue-integration.md
  plugins/memory-palace/hooks/research_queue.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/repair_capture_frontmatter.py
  plugins/memory-palace/src/memory_palace/corpus/_frontmatter.py
  plugins/memory-palace/src/memory_palace/corpus/keyword_index.py
  plugins/memory-palace/tests/hooks/test_research_queue.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
  plugins/memory-palace/tests/scripts/test_repair_capture_frontmatter.py
  plugins/memory-palace/tests/test_keyword_index.py
  plugins/memory-palace/tests/unit/test__frontmatter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(imbue,tome): add know-your-delegate module and export skill
  book/src/reference/capabilities-reference.md
  plugins/imbue/skills/latent-space-engineering/SKILL.md
  plugins/imbue/skills/latent-space-engineering/modules/know-your-delegate.md
  plugins/imbue/tests/test_know_your_delegate.py
  plugins/tome/.claude-plugin/plugin.json
  plugins/tome/commands/export.md
  plugins/tome/skills/export/SKILL.md
  plugins/tome/tests/test_export_skill.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs(memory-palace): point the curator at the frontmatter repair
  plugins/memory-palace/skills/palace-index-curator/SKILL.md
  plugins/memory-palace/tests/unit/skills/test_palace_index_curator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(tests): resolve citations and ruff probes against CI's view
  Makefile
  tests/test_cited_paths_resolve.py
  tests/test_ruff_does_not_format_markdown.py
Due: none

docs: fold mission artifacts into the docs of record
  .claude/skills/night-market-model-and-harness-updates/SKILL.md
  .claude/skills/night-market-model-and-harness-updates/modules/verification.md
  .claude/upstream-baseline.json
  docs/discussion-reconciliation-2026-08-03.md
  docs/knowledge-corpus/anthropic-model-roster.md
  docs/knowledge-corpus/claude-code-harness-deltas.md
  docs/lessons-learned.md
  docs/migrations/2026-08-02-bootstrap.md
  docs/migrations/2026-08-02-harness-2-1-220.md
  docs/model-harness-updates/implementation-plan.md
  docs/model-harness-updates/specification.md
  tests/unit/test_check_upstream_drift.py
Due: check-context-optimization

docs(memory-palace): say when to offer +recall mid-session
  plugins/memory-palace/skills/session-handoff/SKILL.md
Due: run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(memory-palace): resolve user data outside the version cache
  plugins/memory-palace/hooks/local_doc_processor.py
  plugins/memory-palace/hooks/recall.py
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/session_lifecycle.py
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/migrate_data_root.py
  plugins/memory-palace/src/memory_palace/lifecycle/autonomy_state.py
  plugins/memory-palace/src/memory_palace/palace_manager.py
  plugins/memory-palace/src/memory_palace/paths.py
  plugins/memory-palace/src/memory_palace/session_history.py
  plugins/memory-palace/tests/hooks/test_recall_hook.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
  plugins/memory-palace/tests/hooks/test_unconverted_binary.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
  plugins/memory-palace/tests/scripts/test_migrate_data_root.py
  plugins/memory-palace/tests/unit/test_paths.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): point the curation scripts at the same root
  plugins/memory-palace/scripts/build_indexes.py
  plugins/memory-palace/scripts/check_capture_index_drained.py
  plugins/memory-palace/scripts/intake_cli.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/scripts/migrate_data_root.py
  plugins/memory-palace/scripts/update_autonomy_state.py
  plugins/memory-palace/tests/scripts/test_migrate_data_root.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): let a migration re-run read as confirmation
  plugins/memory-palace/scripts/migrate_data_root.py
  plugins/memory-palace/tests/scripts/test_migrate_data_root.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(leyline): hoist plugin-data resolution, fix minister's tracker
  plugins/leyline/src/leyline/__init__.py
  plugins/leyline/src/leyline/plugin_data.py
  plugins/leyline/tests/test_plugin_data.py
  plugins/memory-palace/src/memory_palace/paths.py
  plugins/memory-palace/tests/unit/test_paths.py
  plugins/minister/pyproject.toml
  plugins/minister/src/minister/project_tracker.py
  plugins/minister/tests/unit/test_project_data_root.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: index Path.parents instead of slicing it for Python 3.9
  plugins/leyline/src/leyline/plugin_data.py
  plugins/memory-palace/src/memory_palace/paths.py
  tests/test_python39_path_parents.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(scribe): add STE-derived sentence, paragraph, and noun-cluster checks
  plugins/scribe/data/ste/lexicons.yaml
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(scribe): add the four regex-tractable STE rules as an opt-in section
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/src/scribe/pattern_loader.py
  plugins/scribe/tests/test_pattern_loader.py
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(scribe,imbue): add the STE skill, the scope rule, and the register technique
  .claude/rules/ste-for-operator-and-procedures.md
  book/src/reference/capabilities-reference.md
  plugins/imbue/skills/latent-space-engineering/SKILL.md
  plugins/imbue/skills/latent-space-engineering/modules/named-register-invocation.md
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/skills/simplified-technical-english/SKILL.md
  plugins/scribe/skills/simplified-technical-english/modules/adopted-rules.md
  plugins/scribe/skills/simplified-technical-english/modules/licensing.md
  plugins/scribe/skills/simplified-technical-english/modules/reconciliation.md
  plugins/scribe/skills/simplified-technical-english/modules/scope-boundaries.md
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/unit/skills/test_simplified_technical_english.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(scribe): four defects in the STE checks, all found by running them
  .claude/rules/ste-for-operator-and-procedures.md
  plugins/scribe/data/ste/lexicons.yaml
  plugins/scribe/skills/simplified-technical-english/SKILL.md
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
  plugins/scribe/tests/unit/skills/test_simplified_technical_english.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(operations): convert the release runbook to the STE register
  .claude/skills/night-market-operations/SKILL.md
Due: check-context-optimization

docs(operations): split a compound failure condition into two sentences
  .claude/skills/night-market-operations/SKILL.md
Due: check-context-optimization

fix(scribe): count sentences inside a list item, not around it
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(scribe): six tokenizer defects behind most noun-cluster noise
  plugins/scribe/data/ste/lexicons.yaml
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(scribe): decide the register where the sentence is read
  plugins/scribe/data/ste/lexicons.yaml
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(scribe): make the STE checks runnable, and resync the numbers
  .claude/rules/ste-for-operator-and-procedures.md
  plugins/scribe/skills/simplified-technical-english/SKILL.md
  plugins/scribe/skills/simplified-technical-english/modules/reconciliation.md
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
  plugins/scribe/tests/unit/skills/test_simplified_technical_english.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(scribe): publish the doubt instead of asserting the register
  plugins/scribe/skills/simplified-technical-english/SKILL.md
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
  plugins/scribe/tests/unit/skills/test_simplified_technical_english.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(scribe): read the label the classifier throws away
  plugins/scribe/skills/simplified-technical-english/SKILL.md
  plugins/scribe/src/scribe/ste.py
  plugins/scribe/tests/test_ste.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(harness): close the 2.1.220 follow-ups
  .claude/skills/claude-code-plugin-reference/SKILL.md
  .claude/skills/night-market-model-and-harness-updates/SKILL.md
  .claude/skills/night-market-model-and-harness-updates/modules/verification.md
  .gitignore
  docs/agent-model-matrix.md
  docs/knowledge-corpus/anthropic-model-roster.md
  docs/knowledge-corpus/claude-code-harness-deltas.md
  docs/migrations/2026-08-02-bootstrap.md
  docs/migrations/2026-08-02-harness-2-1-220.md
  plugins/conserve/hooks/background_agent_notice.py
  plugins/conserve/hooks/hooks.json
  plugins/conserve/tests/unit/hooks/test_background_agent_notice.py
  plugins/egregore/hooks/hooks.json
  scripts/check_upstream_drift.py
  scripts/framework_detect.py
  tests/unit/test_session_start_sources.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization

fix(tests): anchor the migration report test on the ephemeral contract
  tests/unit/skills/test_night_market_model_and_harness_updates.py
Due: none

fix(conjure): target the official mmx CLI for MiniMax delegation
  CHANGELOG.md
  book/src/plugins/conjure.md
  book/src/reference/capabilities-reference.md
  plugins/conjure/.claude-plugin/metadata.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/README.md
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/war_room/__init__.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/scripts/war_room/models.py
  plugins/conjure/scripts/war_room/phases.py
  plugins/conjure/skills/minimax-delegation/SKILL.md
  plugins/conjure/skills/minimax-delegation/modules/minimax-specifics.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/test_skills.py
  plugins/conjure/tests/test_war_room_experts.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(conjure): carry partial file context instead of dropping it
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

feat(conjure): let the provider contract drive delegation
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
