Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix: read hook input that arrives without a trailing newline
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/hooks/setup.sh
  plugins/conserve/tests/unit/hooks/test_session_start_agent_type.py
  plugins/conserve/tests/unit/hooks/test_setup_hook.py
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/tests/unit/hooks/test_session_start_agent_type.py
  plugins/memory-palace/hooks/setup.sh
  plugins/memory-palace/tests/hooks/test_setup_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix: make the plugin gates fail on a typo and pass on no work
  scripts/run-plugin-lint.sh
  scripts/run-plugin-tests.sh
  scripts/run-plugin-typecheck.sh
  tests/test_plugin_runners_report_what_ran.py
Due: none

fix(imbue): measure scope-guard zones from the merge-base
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/hooks/user-prompt-submit.sh
  plugins/imbue/tests/unit/hooks/test_scope_guard_branch_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(imbue): give the pre-PR scope check a verdict in master repos
  plugins/imbue/README.md
  plugins/imbue/hooks/scope-guard-integration.md
  plugins/imbue/scripts/pre_pr_scope_check.sh
  plugins/imbue/tests/unit/test_pre_pr_scope_check.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(memory-palace): finish Setup on a partial garden or a worktree
  plugins/memory-palace/hooks/setup.sh
  plugins/memory-palace/tests/hooks/test_setup_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(leyline): detect the platform from the host and star-prompt without jq
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/hooks/detect-git-platform.sh
  plugins/leyline/tests/hooks/test_hook_host_and_jq_edges.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): make watchdog and installers survive bad state and paths
  plugins/egregore/scripts/install_launchd.sh
  plugins/egregore/scripts/install_systemd.sh
  plugins/egregore/scripts/watchdog.sh
  plugins/egregore/tests/test_watchdog_and_installers_shell_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): keep interactive_auth's prompts, secrets and retries in bounds
  plugins/leyline/scripts/interactive_auth.sh
  plugins/leyline/tests/unit/scripts/test_interactive_auth_shell_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): let skrills-or-fallback be sourced, as its header says
  plugins/abstract/bin/skrills-or-fallback
  plugins/abstract/tests/test_skrills_or_fallback.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix: shellcheck extensionless shell scripts too
  scripts/shellcheck.sh
  tests/test_shellcheck_gate_covers_the_repository.py
Due: none

fix(conserve): read files directly in test_runtime_loading.sh
  plugins/conserve/tests/test_runtime_loading.sh
  plugins/conserve/tests/unit/test_runtime_loading_script.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(conserve): warn on CONSERVATION_MODE values that do nothing
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/tests/unit/hooks/test_session_start_agent_type.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix: make the clawhub publish scripts report failure and resume correctly
  scripts/clawhub-batch-publish.sh
  scripts/clawhub-cron.sh
  scripts/clawhub-submit.sh
  tests/test_clawhub_scripts_shell_review.py
Due: none

fix: keep awesome-submit dry runs local and let reruns push
  scripts/awesome-submit.sh
  tests/test_awesome_submit_shell_review.py
Due: none

fix(memory-palace): hash staged artifacts with git, not md5sum
  plugins/memory-palace/scripts/precommit_palace_maintenance.sh
  plugins/memory-palace/tests/scripts/test_precommit_maintenance_hash.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(phantom): wait for Xvfb before declaring the display ready
  plugins/phantom/scripts/entrypoint.sh
  plugins/phantom/tests/unit/test_entrypoint_waits_for_display.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): let status.sh find its own scripts
  plugins/conjure/bin/status.sh
  plugins/conjure/tests/test_status_script.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix: make add-subtitles.sh run on macOS
  assets/tapes/add-subtitles.sh
  tests/test_add_subtitles_font.py
Due: none

chore: format every shell script with shfmt and gate on it
  .claude/skills/night-market-diagnostics-toolkit/scripts/health-snapshot.sh
  assets/tapes/add-subtitles.sh
  plugins/abstract/bin/skrills-or-fallback
  plugins/conjure/bin/status.sh
  plugins/conserve/tests/test_runtime_loading.sh
  plugins/egregore/scripts/install_launchd.sh
  plugins/egregore/scripts/install_systemd.sh
  plugins/egregore/scripts/watchdog.sh
  plugins/egregore/tests/test_watchdog_relaunch.py
  plugins/imbue/scripts/pre_pr_scope_check.sh
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/phantom/scripts/entrypoint.sh
  scripts/awesome-submit.sh
  scripts/capabilities-sync-check.sh
  scripts/check-all-quality.sh
  scripts/clawhub-batch-publish.sh
  scripts/clawhub-cron.sh
  scripts/clawhub-submit.sh
  scripts/shared/check-json-utils-drift.sh
  scripts/without-git-env.sh
  tests/test_shell_scripts_are_shfmt_formatted.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin

chore(ci): pin shfmt 3.13.1, the version the scripts are formatted with
  .github/workflows/plugin-tests.yml
  .github/workflows/trust-attestation.yml
Due: none

docs: record the shell review fixes under 1.10.0
  CHANGELOG.md
Due: none

chore: record harness 2.1.290 and document the teammate changes
  .claude/upstream-baseline.json
  docs/knowledge-corpus/claude-code-harness-deltas.md
  plugins/conjure/skills/agent-teams/modules/health-monitoring.md
Due: run-plugin-tests, validate-conjure-plugin

refactor(diagnostics): restyle health-snapshot.sh to the house shell rules
  .claude/skills/night-market-diagnostics-toolkit/scripts/health-snapshot.sh
Due: none

refactor(conserve): restyle test_runtime_loading.sh and resolve SKILL_DIR from the script
  plugins/conserve/tests/test_runtime_loading.sh
  plugins/conserve/tests/unit/test_runtime_loading_script.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(tapes): restyle add-subtitles.sh to the house shell rules
  assets/tapes/add-subtitles.sh
Due: none

fix(imbue): escape agent_type before splicing it into SessionStart JSON
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/tests/unit/hooks/test_session_start_agent_type.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

refactor(abstract): apply the house shell rules that fit skrills-or-fallback
  plugins/abstract/bin/skrills-or-fallback
Due: validate-abstract-plugin

refactor(imbue): drop the unused extract_stat_number from user-prompt-submit
  plugins/imbue/hooks/user-prompt-submit.sh
Due: validate-imbue-plugin

fix(scry): resolve gif_demo.sh's directory when invoked by bare name
  plugins/scry/scripts/gif_demo.sh
  plugins/scry/tests/test_gif_demo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): let auth suite Tests 11 and 12 fail, and clean up on early exit
  plugins/leyline/skills/authentication-patterns/tests/test-interactive-auth.sh
  plugins/leyline/tests/unit/scripts/test_interactive_auth_suite.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(scripts): restyle check-json-utils-drift.sh to the house shell rules
  scripts/shared/check-json-utils-drift.sh
Due: none

refactor(scripts): restyle clawhub-submit.sh to the house shell rules
  scripts/clawhub-submit.sh
Due: none

refactor(scripts): restyle without-git-env.sh to the house shell rules
  scripts/without-git-env.sh
Due: none

refactor(scripts): restyle clawhub-cron.sh to the house shell rules
  scripts/clawhub-cron.sh
  tests/test_clawhub_scripts_shell_review.py
  tests/test_shell_portability.py
Due: none

refactor(scripts): restyle awesome-submit.sh to the house shell rules
  scripts/awesome-submit.sh
  tests/test_awesome_submit_shell_review.py
Due: none

refactor(scripts): restyle check-all-quality.sh to the house shell rules
  scripts/check-all-quality.sh
Due: none

refactor(scripts): restyle capabilities-sync-check.sh to the house shell rules
  scripts/capabilities-sync-check.sh
Due: none

refactor(scripts): restyle clawhub-batch-publish.sh to the house shell rules
  scripts/clawhub-batch-publish.sh
Due: none

refactor(egregore): restyle watchdog.sh to the house shell rules
  plugins/egregore/scripts/watchdog.sh
  plugins/egregore/tests/test_watchdog_relaunch.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(conjure): restyle bin/status.sh to the house shell rules
  plugins/conjure/bin/status.sh
Due: validate-conjure-plugin
