Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

refactor(sanctum): split fix_plugin into smaller focused methods
  plugins/sanctum/scripts/update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(conserve): add token-based context estimation heuristic
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(sanctum,ci): add capabilities sync tooling
  .claude/doc-sync.yaml
  Makefile
  docs/doc-sync-spec.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/sync-capabilities.md
  scripts/capabilities-sync-check.sh
  scripts/parse-doc-sync.py
Due: run-plugin-tests, validate-description-budget

feat(conserve): add session state versioning for backward compat
  plugins/conserve/agents/continuation-agent.md
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/clear-context/modules/session-state-schema.md
  plugins/conserve/skills/clear-context/modules/session-state.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

refactor(conjure): modularize war_room_orchestrator into package
  plugins/conjure/scripts/war_room/__init__.py
  plugins/conjure/scripts/war_room/delphi.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/scripts/war_room/hooks.py
  plugins/conjure/scripts/war_room/models.py
  plugins/conjure/scripts/war_room/orchestrator.py
  plugins/conjure/scripts/war_room/persistence.py
  plugins/conjure/scripts/war_room/phases.py
  plugins/conjure/scripts/war_room/prompts.py
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/tests/test_war_room_experts.py
  plugins/conjure/tests/test_war_room_invocation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix: resolve hook audit findings across all plugins
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/hooks-observability.json
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/hooks/setup.sh
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/hooks/user-prompt-submit.sh
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/setup.sh
  plugins/sanctum/hooks/session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix: resolve 6 blocking issues from PR #245 review
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/scripts/compliance_checker.py
  plugins/abstract/scripts/hook_validator.py
  plugins/abstract/scripts/improvement_suggester.py
  plugins/abstract/scripts/skill_utils.py
  plugins/abstract/scripts/skills_auditor.py
  plugins/abstract/scripts/token_usage_tracker.py
  plugins/abstract/scripts/tool_performance_analyzer.py
  plugins/conjure/scripts/war_room/__init__.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/scripts/war_room/orchestrator.py
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/tests/test_war_room_invocation.py
  plugins/conserve/hooks/setup.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin

fix: address PR #245 review - remove lint suppressions, merge doc
  docs/doc-sync-spec.md
  plugins/conjure/scripts/war_room/__init__.py
  plugins/conjure/scripts/war_room/models.py
  plugins/conjure/scripts/war_room/orchestrator.py
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/tests/test_war_room_merkle_dag.py
  plugins/conjure/tests/test_war_room_phases.py
  plugins/conjure/tests/test_war_room_session.py
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/skills/doc-updates/modules/capabilities-sync.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix: harden JSON parsing, improve test imports, and fix operator precedence
  README.md
  plugins/abstract/src/abstract/tasks_manager_base.py
  plugins/conjure/scripts/war_room/persistence.py
  plugins/hookify/tests/test_rule_suggester.py
  plugins/memory-palace/src/memory_palace/__init__.py
  plugins/memory-palace/src/memory_palace/session_history.py
  plugins/memory-palace/tests/hooks/test_session_lifecycle.py
  plugins/sanctum/scripts/meta_evaluation.py
  plugins/sanctum/scripts/update_versions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-memory-palace-plugin

feat(memory-palace): add code execution risk detection
  plugins/memory-palace/hooks/shared/safety_checks.py
  plugins/memory-palace/tests/hooks/test_safety_checks.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(memory-palace): add importance-weighted decay floors
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/tests/test_decay_model.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(leyline): expand Discussions fetch from 5 to 10
  plugins/leyline/hooks/fetch-recent-discussions.sh
Due: none

feat(abstract): preserve pinned learnings across regeneration
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_pinned_learnings.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(memory-palace): exclude constitutional entries from stale list
  plugins/leyline/hooks/hooks.json
  plugins/leyline/hooks/sanitize_external_content.py
  plugins/leyline/tests/hooks/test_sanitize_external_content.py
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/tests/test_decay_model.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(memory-palace): add importance_score to ReviewEntry
  plugins/memory-palace/src/memory_palace/project_palace.py
  plugins/memory-palace/tests/test_project_palace.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(leyline): add content-sanitization skill
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/skills/content-sanitization/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

style(sanctum): fix D413 and PLR2004 in session_complete_notify
  plugins/sanctum/hooks/session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(hookify): add configurable complexity/confidence thresholds
  plugins/hookify/scripts/hook_to_hookify.py
  plugins/hookify/tests/test_hook_to_hookify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(sanctum): add integration tests for session_complete_notify hook
  plugins/sanctum/tests/hooks/__init__.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(hookify): expand event mapping with tool-type detection
  plugins/hookify/scripts/hook_to_hookify.py
  plugins/hookify/tests/test_hook_to_hookify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: address PR #264 review feedback (14 items)
  CHANGELOG.md
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/leyline/hooks/sanitize_external_content.py
  plugins/memory-palace/hooks/shared/safety_checks.py
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/src/memory_palace/project_palace.py
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/skills/doc-consolidation/SKILL.md
  plugins/sanctum/skills/update-readme/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix: address PR #264 review feedback round 2
  .claude/rules/markdown-formatting.md
  CHANGELOG.md
  book/src/plugins/sanctum.md
  docs/implementation-plan.md
  docs/project-brief.md
  docs/specification.md
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
  plugins/abstract/tests/unit/test_cli_framework.py
  plugins/attune/tests/test_sync_templates.py
  plugins/conserve/tests/unit/scripts/test_quick_skill_optimizer.py
  plugins/conserve/tests/unit/skills/test_context_optimization.py
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/conserve/tests/unit/test_permission_request.py
  plugins/hookify/tests/test_hook_to_hookify.py
  plugins/hookify/tests/test_rule_suggester.py
  plugins/imbue/tests/unit/hooks/test_tdd_bdd_gate.py
  plugins/leyline/tests/unit/skills/test_testing_quality_standards.py
  plugins/memory-palace/src/memory_palace/project_palace.py
  plugins/memory-palace/tests/hooks/test_session_lifecycle.py
  plugins/memory-palace/tests/test_room_indices.py
  plugins/sanctum/README.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/summary.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
  plugins/sanctum/commands/shared/test-plan-injection.md
  plugins/sanctum/tests/test_commands.py
  plugins/sanctum/tests/test_continuous_improvement.py
  plugins/sanctum/tests/test_doc_updates_workflow.py
  plugins/sanctum/tests/test_test_plan_injection.py
  plugins/sanctum/tests/test_update_plugin_registrations.py
  plugins/sanctum/tests/unit/skills/test_test_updates_content.py
  plugins/sanctum/tests/unit/test_update_plugins_modules.py
  plugins/scry/tests/test_plugin_structure.py
  plugins/scry/tests/test_workflow_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, validate-description-budget

fix(memory-palace): replace identity assertions and use monkeypatch
  plugins/memory-palace/tests/hooks/test_config.py
  plugins/memory-palace/tests/hooks/test_deduplication.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(abstract): add stack traces to hook error logging
  plugins/abstract/hooks/pre_skill_execution.py
  plugins/abstract/hooks/skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(conjure): correct broken reference paths in agent-teams skill
  plugins/conjure/skills/agent-teams/SKILL.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(sanctum): remove tautological JSON validation after write
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): sanitize commit_hash in rollback command generation
  plugins/abstract/src/abstract/rollback_reviewer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add stop-word filtering to find_similar matching
  plugins/abstract/src/abstract/experience_library.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(sanctum): tighten performance test thresholds
  plugins/sanctum/tests/test_performance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): replace sys.path.insert and extract shared fixtures
  plugins/sanctum/pyproject.toml
  plugins/sanctum/tests/conftest.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
  plugins/sanctum/tests/test_continuous_improvement_integration.py
  plugins/sanctum/tests/test_error_handling.py
  plugins/sanctum/tests/test_performance.py
  plugins/sanctum/tests/test_update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations_simple.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(abstract): extract fixtures and safe_json_load utility
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/src/abstract/skills_eval/compliance.py
  plugins/abstract/src/abstract/tasks_manager_base.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/conftest.py
  plugins/abstract/tests/test_improvement_queue.py
  plugins/abstract/tests/unit/test_utils_extended.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): add logging for silent handlers and fix module refs
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/shared-modules/iron-law-enforcement.md
  plugins/abstract/shared-modules/iron-law-interlock.md
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/src/abstract/rollback_reviewer.py
  plugins/abstract/src/abstract/skill_versioning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(abstract): add unit tests for wrapper_generator.py
  plugins/abstract/tests/unit/test_wrapper_generator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(attune): add dry-run and backup tests for attune_init
  plugins/attune/tests/test_attune_init.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(sanctum): add integration tests for cross-platform notifications
  plugins/sanctum/tests/test_notification_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(attune,leyline): add structure validation for v1.4.2 skills
  plugins/attune/tests/unit/skills/test_mission_orchestrator.py
  plugins/leyline/tests/unit/skills/test_risk_classification.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests
