Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

feat(abstract): add --dry-run flag to wrapper_generator
  plugins/abstract/scripts/wrapper_generator.py
  plugins/abstract/tests/unit/test_wrapper_generator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(abstract): restore coverage threshold to 65%
  plugins/abstract/pyproject.toml
  plugins/abstract/tests/scripts/test_add_bdd_markers.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_categorize_frontmatter.py
  plugins/abstract/tests/scripts/test_skill_utils.py
  plugins/abstract/tests/scripts/test_update_changelog.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(leyline): create damage-control skill with exit criteria
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/skills/damage-control/SKILL.md
  plugins/leyline/skills/damage-control/modules/context-overflow.md
  plugins/leyline/skills/damage-control/modules/crash-recovery.md
  plugins/leyline/skills/damage-control/modules/merge-conflict-resolution.md
  plugins/leyline/skills/damage-control/modules/state-reconciliation.md
  plugins/leyline/tests/unit/skills/test_damage_control.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

ci: add Python 3.9 compatibility CI workflow
  .github/workflows/python39-compat.yml
Due: none

test(abstract): raise coverage target to 90%
  plugins/abstract/pyproject.toml
  plugins/abstract/tests/scripts/test_coverage_booster.py
  plugins/abstract/tests/unit/test_coverage_booster2.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

refactor(abstract): modularize makefile_dogfooder.py into dogfooder package (#177)
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/dogfooder/__init__.py
  plugins/abstract/scripts/dogfooder/parser.py
  plugins/abstract/scripts/dogfooder/reporter.py
  plugins/abstract/scripts/dogfooder/validator.py
  plugins/abstract/scripts/makefile_dogfooder.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_init.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_parser.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_reporter.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix: implement 93 placeholder Makefile targets across 9 plugins (#178)
  plugins/abstract/Makefile
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
  plugins/sanctum/Makefile
  plugins/scribe/Makefile
Due: validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

feat(scribe): add tech-tutorial skill with 3 modules (#176)
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/skills/tech-tutorial/SKILL.md
  plugins/scribe/skills/tech-tutorial/modules/code-examples.md
  plugins/scribe/skills/tech-tutorial/modules/outline-structure.md
  plugins/scribe/skills/tech-tutorial/modules/progressive-complexity.md
  plugins/scribe/tests/unit/skills/test_tech_tutorial.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(sanctum,pensive): add educational insights to PR review findings
  plugins/pensive/skills/unified-review/modules/output-format-templates.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/educational-insights.md
  plugins/sanctum/tests/unit/skills/test_pr_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

refactor(abstract): consolidate 34 untracked test files into 14
  plugins/abstract/scripts/automation_validate.py
  plugins/abstract/tests/scripts/test_abstract_validator.py
  plugins/abstract/tests/scripts/test_add_bdd_markers.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_automation_scripts.py
  plugins/abstract/tests/scripts/test_check_frontmatter.py
  plugins/abstract/tests/scripts/test_compatibility_validator.py
  plugins/abstract/tests/scripts/test_context_optimizer.py
  plugins/abstract/tests/scripts/test_hook_validator.py
  plugins/abstract/tests/scripts/test_skill_analyzer.py
  plugins/abstract/tests/scripts/test_skill_validator.py
  plugins/abstract/tests/scripts/test_token_estimator.py
  plugins/abstract/tests/scripts/test_token_estimator_cli.py
  plugins/abstract/tests/scripts/test_tool_perf_analyzer.py
  plugins/abstract/tests/scripts/test_wrapper_scripts.py
  plugins/abstract/tests/test_migration_analyzer.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_reporter.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_validator.py
  plugins/abstract/tests/unit/scripts/test_validate_plugin.py
  plugins/abstract/tests/unit/test_config.py
  plugins/abstract/tests/unit/test_errors.py
  plugins/abstract/tests/unit/test_improvements.py
  plugins/abstract/tests/unit/test_skill_versioning.py
  plugins/abstract/tests/unit/test_tasks_manager_base.py
  plugins/abstract/tests/unit/test_token_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract,ci): resolve 5 dogfooder bugs and 5 failing CI jobs
  .github/workflows/python39-compat.yml
  plugins/abstract/scripts/dogfooder/reporter.py
  plugins/abstract/scripts/dogfooder/validator.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_reporter.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): guard ImprovementQueue import in conftest for CI
  plugins/abstract/tests/conftest.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(memory-palace): add fallback stubs for research_interceptor on 3.9
  plugins/memory-palace/hooks/research_interceptor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): fix 5 failing research_interceptor tests on 3.9
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): fix fallback stubs for telemetry and intake on 3.9
  plugins/memory-palace/hooks/research_interceptor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: address all PR #276 review findings (C1-C4, I1-I8, S1-S8, T1-T6)
  .gitignore
  docs/api-overview.md
  docs/project-brief.md
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/scripts/dogfooder/validator.py
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/abstract/tests/test_hooks_homeostatic_monitor.py
  plugins/abstract/tests/test_hooks_pre_skill_execution.py
  plugins/abstract/tests/test_hooks_skill_execution_logger.py
  plugins/hookify/skills/rule-catalog/rules/stewardship/campsite-check.md
  plugins/leyline/scripts/plugin_health.py
  plugins/leyline/scripts/stewardship_tracker.py
  plugins/leyline/tests/test_plugin_health.py
  plugins/memory-palace/src/memory_palace/palace_manager.py
  plugins/memory-palace/src/memory_palace/project_palace.py
  plugins/memory-palace/tests/test_palace_manager.py
  plugins/memory-palace/tests/test_project_palace.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

fix: address all PR #276 review findings (C1-C4, I1-I2)
  .attune/mission-state.json
  docs/implementation-plan.md
  docs/project-brief.md
  docs/specification.md
  plugins/imbue/tests/unit/hooks/test_tdd_bdd_gate.py
  plugins/leyline/tests/test_plugin_health.py
  plugins/leyline/tests/test_stewardship_tracker.py
  plugins/memory-palace/tests/hooks/test_session_lifecycle.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
  pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-memory-palace-plugin

docs(egregore): add approved design document for egregore plugin
  docs/plans/2026-03-06-egregore-design.md
Due: none

docs(egregore): add implementation plan (20 tasks, 9 phases)
  docs/plans/2026-03-06-egregore-plan.md
Due: none

feat(egregore): scaffold plugin directory structure and build config
  plugins/egregore/.claude-plugin/plugin.json
  plugins/egregore/Makefile
  plugins/egregore/pyproject.toml
Due: none

feat(egregore): add core Python modules with 61 passing tests
  plugins/egregore/README.md
  plugins/egregore/pyproject.toml
  plugins/egregore/scripts/budget.py
  plugins/egregore/scripts/config.py
  plugins/egregore/scripts/manifest.py
  plugins/egregore/scripts/notify.py
  plugins/egregore/tests/__init__.py
  plugins/egregore/tests/test_budget.py
  plugins/egregore/tests/test_config.py
  plugins/egregore/tests/test_manifest.py
  plugins/egregore/tests/test_notify.py
  plugins/egregore/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): complete plugin with all assets and 75 passing tests
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/agents/sentinel.md
  plugins/egregore/commands/dismiss.md
  plugins/egregore/commands/install-watchdog.md
  plugins/egregore/commands/status.md
  plugins/egregore/commands/summon.md
  plugins/egregore/commands/uninstall-watchdog.md
  plugins/egregore/hooks/hooks.json
  plugins/egregore/hooks/session_start_hook.py
  plugins/egregore/hooks/stop_hook.py
  plugins/egregore/scripts/install_launchd.sh
  plugins/egregore/scripts/install_systemd.sh
  plugins/egregore/scripts/watchdog.sh
  plugins/egregore/skills/install-watchdog/SKILL.md
  plugins/egregore/skills/summon/SKILL.md
  plugins/egregore/skills/summon/modules/budget.md
  plugins/egregore/skills/summon/modules/decisions.md
  plugins/egregore/skills/summon/modules/intake.md
  plugins/egregore/skills/summon/modules/pipeline.md
  plugins/egregore/skills/uninstall-watchdog/SKILL.md
  plugins/egregore/templates/alert-completion.md
  plugins/egregore/templates/alert-crash.md
  plugins/egregore/templates/relaunch-prompt.md
  plugins/egregore/templates/webhook-payloads/discord.json
  plugins/egregore/templates/webhook-payloads/generic.json
  plugins/egregore/templates/webhook-payloads/slack.json
  plugins/egregore/tests/conftest.py
  plugins/egregore/tests/test_integration.py
  plugins/egregore/tests/test_session_start_hook.py
  plugins/egregore/tests/test_stop_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(egregore): add comprehensive plugin README
  plugins/egregore/README.md
Due: run-plugin-tests

feat: add plugin dependency map generator
  docs/plans/2026-03-06-egregore-design.md
  docs/plans/2026-03-06-egregore-plan.md
  docs/plugin-dependencies.json
  scripts/generate_dependency_map.py
  tests/scripts/test_generate_dependency_map.py
Due: none

feat(abstract): add plugin-review skill with tier orchestration
  plugins/abstract/skills/plugin-review/SKILL.md
  plugins/abstract/skills/plugin-review/modules/.gitkeep
  plugins/abstract/tests/unit/skills/test_plugin_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

feat(abstract): add branch tier module for plugin-review
  plugins/abstract/skills/plugin-review/modules/.gitkeep
  plugins/abstract/skills/plugin-review/modules/tier-branch.md
Due: run-plugin-tests, validate-abstract-plugin

feat(abstract): add PR tier module for plugin-review
  plugins/abstract/skills/plugin-review/modules/tier-pr.md
Due: run-plugin-tests, validate-abstract-plugin

feat(abstract): add release tier module for plugin-review
  plugins/abstract/skills/plugin-review/modules/tier-release.md
Due: run-plugin-tests, validate-abstract-plugin

feat(abstract): add dependency detection module for plugin-review
  plugins/abstract/skills/plugin-review/modules/dependency-detection.md
Due: run-plugin-tests, validate-abstract-plugin

feat(abstract): add tier flag to /plugin-review command
  plugins/abstract/commands/plugin-review.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

feat(sanctum): integrate /plugin-review as Phase 2 of /update-plugins
  plugins/sanctum/commands/update-plugins.md
Due: run-plugin-tests, validate-description-budget

feat(abstract): register plugin-review skill in plugin.json
  plugins/abstract/.claude-plugin/plugin.json
Due: validate-abstract-plugin

docs: add tiered plugin review design and plan
  docs/plans/2026-03-08-tiered-plugin-review-design.md
  docs/plans/2026-03-08-tiered-plugin-review-plan.md
Due: none

test: add unit tests for dependency map and plugin review modules
  plugins/abstract/tests/unit/skills/test_plugin_review.py
  tests/scripts/test_generate_dependency_map.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs: update CHANGELOG, capabilities reference, and add egregore book page
  CHANGELOG.md
  book/src/SUMMARY.md
  book/src/plugins/egregore.md
  book/src/reference/capabilities-reference.md
Due: none

fix: address PR #283 review feedback
  .claude/minister/test-quality-report.md
  CHANGELOG.md
  docs/api-overview.md
  plugins/abstract/commands/plugin-review.md
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/src/abstract/wrapper_base.py
  plugins/abstract/tests/test_wrapper_infrastructure.py
  plugins/abstract/tests/unit/test_wrapper_base.py
  plugins/archetypes/pyproject.toml
  plugins/conjure/tests/scripts/test_usage_logger.py
  plugins/conjure/uv.lock
  plugins/egregore/Makefile
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/commands/dismiss.md
  plugins/egregore/commands/summon.md
  plugins/egregore/scripts/scout.py
  plugins/egregore/uv.lock
  scripts/generate_dependency_map.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-description-budget
