Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

feat(phantom): add computer use toolkit plugin
  plugins/phantom/Makefile
  plugins/phantom/agents/desktop-pilot.md
  plugins/phantom/commands/control-desktop.md
  plugins/phantom/openpackage.yml
  plugins/phantom/pyproject.toml
  plugins/phantom/scripts/Dockerfile
  plugins/phantom/scripts/entrypoint.sh
  plugins/phantom/skills/computer-control/SKILL.md
  plugins/phantom/src/phantom/__init__.py
  plugins/phantom/src/phantom/__main__.py
  plugins/phantom/src/phantom/cli.py
  plugins/phantom/src/phantom/cost.py
  plugins/phantom/src/phantom/display.py
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/src/phantom/safety.py
  plugins/phantom/src/phantom/stuck.py
  plugins/phantom/tests/__init__.py
  plugins/phantom/tests/conftest.py
  plugins/phantom/tests/unit/__init__.py
  plugins/phantom/tests/unit/test_cli.py
  plugins/phantom/tests/unit/test_cost_tracker.py
  plugins/phantom/tests/unit/test_display.py
  plugins/phantom/tests/unit/test_loop.py
  plugins/phantom/tests/unit/test_safety.py
  plugins/phantom/tests/unit/test_stuck_detection.py
  plugins/phantom/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

refactor(parseltongue): move analysis modules from skills/ to analysis/
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/__init__.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/_base.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/blocking_detection.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/complex_scenarios.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/error_timeout.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/function_analysis.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/race_conditions.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/resource_performance.py
  plugins/parseltongue/src/parseltongue/analysis/async_analysis/testing_eventloop.py
  plugins/parseltongue/src/parseltongue/analysis/code_transformation.py
  plugins/parseltongue/src/parseltongue/analysis/compatibility_checker.py
  plugins/parseltongue/src/parseltongue/analysis/language_detection.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/__init__.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_analysis.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_constants.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_core.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_ddd.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_gof.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_improvements.py
  plugins/parseltongue/src/parseltongue/analysis/pattern_matching/_test_patterns.py
  plugins/parseltongue/src/parseltongue/analysis/skill_loader.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide.py
  plugins/parseltongue/src/parseltongue/cli.py
  plugins/parseltongue/tests/conftest.py
  plugins/parseltongue/tests/test_agents_config.py
  plugins/parseltongue/tests/test_async_patterns.py
  plugins/parseltongue/tests/test_language_detection.py
  plugins/parseltongue/tests/test_pattern_matching.py
  plugins/parseltongue/tests/test_testing_guidance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(abstract): implement Hyperagents self-improvement patterns
  plugins/abstract/agents/skill-improver.md
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/openpackage.yml
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/skills/metacognitive-self-mod/SKILL.md
  plugins/abstract/src/abstract/improvement_memory.py
  plugins/abstract/src/abstract/performance_tracker.py
  plugins/abstract/tests/test_improvement_memory.py
  plugins/abstract/tests/unit/test_performance_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

chore: remove duplicate stargazer shell script
  Makefile
  scripts/stargazer-overlap.sh
Due: none

chore: remove monolithic skill example and trim README
  plugins/abstract/docs/examples/modular-skills/complete-skills/README.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/monolithic-development-workflow.md
Due: run-plugin-tests, validate-abstract-plugin

chore: remove demo scaffold scripts from examples
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/scripts/setup_validator.py
  plugins/abstract/docs/examples/modular-skills/complete-skills/validation-scripts/compare-tokens.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

chore: remove stale compatibility issues and reference docs
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/docs/compatibility/compatibility-issues.md
  plugins/abstract/docs/compatibility/compatibility-patterns.md
  plugins/abstract/docs/compatibility/compatibility-reference.md
Due: run-plugin-tests, validate-abstract-plugin

fix(abstract): apply PR #324 review feedback to skill logger
  plugins/abstract/hooks/skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix: address PR review findings from pr-review-toolkit
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/post_learnings_stop.py
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/src/abstract/improvement_memory.py
  plugins/abstract/src/abstract/performance_tracker.py
  plugins/abstract/src/abstract/rollback_reviewer.py
  plugins/conserve/hooks/tool_output_summarizer.py
  scripts/add_cross_framework_fields.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

fix: resolve CI failures for sync-check and docs build
  .github/workflows/docs.yml
  book/src/reference/capabilities-reference.md
Due: none

feat: add operational framework patterns for mission coordination
  docs/implementation-plan-nelson.md
  docs/project-brief-nelson.md
  docs/specification-nelson.md
  plugins/attune/skills/mission-orchestrator/SKILL.md
  plugins/attune/skills/mission-orchestrator/references/mission-charter.md
  plugins/attune/skills/mission-orchestrator/references/progress-report.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-execution/references/mission-report.md
  plugins/conjure/skills/agent-teams/SKILL.md
  plugins/conjure/skills/agent-teams/references/team-formation.md
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/skills/delegation-core/references/execution-modes.md
  plugins/leyline/skills/damage-control/SKILL.md
  plugins/leyline/skills/damage-control/modules/risk-assessment-checklist.md
  plugins/leyline/skills/risk-classification/SKILL.md
  plugins/leyline/skills/risk-classification/modules/readiness-levels.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs: add stewardship sections to operational framework modules
  plugins/attune/skills/mission-orchestrator/references/mission-charter.md
  plugins/attune/skills/mission-orchestrator/references/progress-report.md
  plugins/attune/skills/project-execution/references/mission-report.md
  plugins/conjure/skills/agent-teams/references/team-formation.md
  plugins/conjure/skills/delegation-core/references/execution-modes.md
  plugins/leyline/skills/damage-control/modules/risk-assessment-checklist.md
  plugins/leyline/skills/risk-classification/modules/readiness-levels.md
Due: run-plugin-tests, validate-conjure-plugin

feat(scribe): add session-to-post skill for converting sessions to blog posts
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/commands/session-to-post.md
  plugins/scribe/openpackage.yml
  plugins/scribe/skills/session-to-post/SKILL.md
  plugins/scribe/skills/session-to-post/modules/narrative-structure.md
  plugins/scribe/skills/session-to-post/modules/session-extraction.md
  plugins/scribe/tests/unit/skills/test_session_to_post.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix: add missing plugin validation hooks for 12 plugins
  .pre-commit-config.yaml
Due: none

fix: address PR #331 review feedback
  .gitignore
  bridge/openclaw/openclaw.plugin.json
  docs/cross-framework/project-brief.md
  docs/implementation-plan-nelson.md
  docs/project-brief-nelson.md
  docs/specification-nelson.md
  plugins/abstract/agents/skill-improver.md
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/src/abstract/improvement_memory.py
  plugins/abstract/tests/test_improvement_memory.py
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/attune_init.py
  plugins/conserve/tests/unit/test_pre_compact_preserve.py
  plugins/conserve/tests/unit/test_tool_output_summarizer.py
  plugins/memory-palace/data/telemetry/memory-palace.csv
  plugins/memory-palace/src/memory_palace/corpus/integration_policy.py
  plugins/tome/src/tome/channels/github.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix: sync capabilities reference and add pre-commit check
  .pre-commit-config.yaml
  book/src/reference/capabilities-reference.md
Due: none

fix(ci): close command substitution in release heredoc
  .github/workflows/cross-framework-publish.yml
Due: none

fix(abstract): convert agent definitions from JSON to markdown
  plugins/abstract/agents/meta-architect.md
  plugins/abstract/agents/skill-auditor.md
Due: run-plugin-tests, validate-abstract-plugin

fix(conserve): remove dead ConservationValidator references
  plugins/conserve/tests/conftest.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(scribe): add session-replay with Codex support and output formats
  book/src/reference/capabilities-reference.md
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/commands/session-replay.md
  plugins/scribe/pyproject.toml
  plugins/scribe/skills/session-replay/SKILL.md
  plugins/scribe/src/scribe/session_parser.py
  plugins/scribe/src/scribe/tape_generator.py
  plugins/scribe/tests/unit/skills/test_session_replay.py
  plugins/scribe/tests/unit/test_codex_parser.py
  plugins/scribe/tests/unit/test_session_parser.py
  plugins/scribe/tests/unit/test_session_picker.py
  plugins/scribe/tests/unit/test_tape_generator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(phantom): add type checking and fix mypy errors
  plugins/phantom/Makefile
  plugins/phantom/pyproject.toml
  plugins/phantom/src/phantom/display.py
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(leyline): add supply chain security skill and SessionStart hook
  .github/workflows/security.yml
  CHANGELOG.md
  Makefile
  book/src/plugins/leyline.md
  book/src/reference/capabilities-reference.md
  docs/dependency-audit.md
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/hooks/hooks.json
  plugins/leyline/hooks/supply_chain_check.py
  plugins/leyline/openpackage.yml
  plugins/leyline/skills/supply-chain-advisory/SKILL.md
  plugins/leyline/skills/supply-chain-advisory/known-bad-versions.json
  plugins/leyline/skills/supply-chain-advisory/modules/incident-response.md
  plugins/leyline/skills/supply-chain-advisory/modules/scanning-patterns.md
  plugins/leyline/tests/unit/hooks/test_supply_chain_check.py
  plugins/memory-palace/_typos.toml
  plugins/memory-palace/hooks/memory-palace-index.yaml
  scripts/supply_chain_scan.py
  tests/unit/test_supply_chain_scan.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(pensive,parseltongue): add concurrency cost hierarchy to review skills
  plugins/parseltongue/skills/python-async/modules/concurrency-control.md
  plugins/pensive/agents/rust-auditor.md
  plugins/pensive/skills/rust-review/modules/concurrency-patterns.md
Due: run-plugin-tests

docs(abstract,leyline): update for Claude Code 2.1.69 release analysis
  plugins/abstract/docs/compatibility/compatibility-features-march2026-recent.md
  plugins/leyline/skills/supply-chain-advisory/SKILL.md
Due: run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

docs(abstract,conserve): add Claude Code 2.1.70 compatibility entries
  plugins/abstract/docs/compatibility/compatibility-features-march2026-recent.md
  plugins/conserve/skills/mcp-code-execution/SKILL.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(abstract,conserve,conjure,egregore,leyline): add Claude Code 2.1.75-2.1.85 compatibility
  CHANGELOG.md
  book/src/reference/capabilities-hooks.md
  docs/examples/hook-development/hook-types-comprehensive.md
  plugins/abstract/docs/compatibility/compatibility-features-march2026-recent.md
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/docs/model-optimization-guide.md
  plugins/abstract/skills/escalation-governance/SKILL.md
  plugins/abstract/skills/hook-authoring/modules/hook-types.md
  plugins/abstract/skills/hooks-eval/modules/sdk-hook-types.md
  plugins/conjure/skills/agent-teams/modules/health-monitoring.md
  plugins/conjure/skills/agent-teams/modules/spawning-patterns.md
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/context-optimization/modules/mecw-principles.md
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/skills/summon/SKILL.md
  plugins/egregore/skills/summon/modules/budget.md
  plugins/leyline/commands/update-all-plugins.md
  scripts/capabilities-sync-check.sh
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

test(scripts): expand coverage for add_model_hints and cursor_lean_export
  README.md
  tests/unit/test_add_model_hints.py
  tests/unit/test_cursor_lean_export.py
Due: none

fix(scribe,docs): address PR #343 review feedback
  .claude-plugin/marketplace.json
  .github/workflows/cross-framework-publish.yml
  CHANGELOG.md
  README.md
  book/src/plugins/domain-specialists.md
  docs/api-overview.md
  plugins/scribe/src/scribe/session_parser.py
  plugins/scribe/src/scribe/tape_generator.py
  plugins/scribe/tests/unit/test_session_parser.py
  plugins/scribe/tests/unit/test_tape_generator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(docs): address remaining PR #343 inline review comments
  README.md
  book/src/plugins/phantom.md
  plugins/abstract/docs/compatibility/compatibility-features-march2026-recent.md
  plugins/leyline/commands/update-all-plugins.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

fix(scribe,phantom,hookify): address PR #343 review items #345-#351
  book/src/plugins/phantom.md
  plugins/hookify/pyproject.toml
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/phantom/Makefile
  plugins/phantom/openpackage.yml
  plugins/phantom/pyproject.toml
  plugins/scribe/commands/session-replay.md
  plugins/scribe/src/scribe/session_parser.py
  plugins/scribe/tests/unit/conftest.py
  plugins/scribe/tests/unit/test_codex_parser.py
  plugins/scribe/tests/unit/test_session_parser.py
  plugins/scribe/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, validate-description-budget

feat(scribe): add thinking layer to session-replay (#335)
  plugins/phantom/Makefile
  plugins/phantom/pyproject.toml
  plugins/scribe/commands/session-replay.md
  plugins/scribe/skills/session-replay/SKILL.md
  plugins/scribe/src/scribe/session_parser.py
  plugins/scribe/src/scribe/tape_generator.py
  plugins/scribe/tests/unit/test_session_parser.py
  plugins/scribe/tests/unit/test_tape_generator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
