Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(pensive): add pythonpath to pytest config
  plugins/pensive/pyproject.toml
Due: none

refactor(abstract): extract shared CLI scaffolding from wrapper scripts
  plugins/abstract/scripts/cli_scaffold.py
  plugins/abstract/scripts/compliance_checker.py
  plugins/abstract/scripts/improvement_suggester.py
  plugins/abstract/scripts/skills_auditor.py
  plugins/abstract/scripts/token_usage_tracker.py
  plugins/abstract/scripts/tool_performance_analyzer.py
  plugins/abstract/tests/unit/test_cli_scaffold.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(egregore): add integration tests for hook main() entry points
  plugins/egregore/tests/test_session_start_hook.py
  plugins/egregore/tests/test_stop_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): validate webhook URL scheme to prevent SSRF
  plugins/egregore/scripts/notify.py
  plugins/egregore/tests/test_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(hookify): remove duplicate tests in test_rule_suggester.py
  plugins/hookify/pyproject.toml
  plugins/hookify/tests/test_rule_suggester.py
  plugins/hookify/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(sanctum): reclassify test_meta_evaluation as integration tests
  plugins/sanctum/tests/unit/scripts/test_meta_evaluation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(hookify): add yaml import guard and encoding param in pattern_loader
  plugins/scribe/src/scribe/pattern_loader.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(abstract): narrow overly broad pytest.raises to specific exceptions
  plugins/abstract/tests/unit/test_wrapper_base.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(conjure,sanctum): strengthen Merkle sealed-node verification and test coverage
  plugins/conjure/scripts/war_room/audit_trail.py
  plugins/conjure/tests/unit/test_persistence.py
  plugins/sanctum/tests/unit/scripts/test_meta_evaluation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(egregore): address manifest collision, forward-compat, and history field
  plugins/egregore/scripts/budget.py
  plugins/egregore/scripts/config.py
  plugins/egregore/scripts/manifest.py
  plugins/egregore/tests/conftest.py
  plugins/egregore/tests/test_budget.py
  plugins/egregore/tests/test_config.py
  plugins/egregore/tests/test_manifest.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): add agent specialization with persistent expertise
  plugins/egregore/scripts/specialists.py
  plugins/egregore/tests/test_specialists.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): add multi-repository support
  plugins/egregore/scripts/multi_repo.py
  plugins/egregore/tests/test_multi_repo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): add GitHub Discussions publishing for discoveries and insights
  plugins/egregore/scripts/config.py
  plugins/egregore/scripts/discussions.py
  plugins/egregore/tests/test_discussions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): add parallel pipeline stages for independent quality gates
  plugins/egregore/scripts/stage_parallel.py
  plugins/egregore/skills/summon/modules/pipeline.md
  plugins/egregore/tests/unit/__init__.py
  plugins/egregore/tests/unit/test_stage_parallel.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): add cross-item learning via decision log analysis
  plugins/egregore/scripts/learning.py
  plugins/egregore/tests/test_learning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(egregore): add parallel work item execution via git worktrees
  plugins/egregore/scripts/manifest.py
  plugins/egregore/scripts/parallel.py
  plugins/egregore/skills/summon/modules/pipeline.md
  plugins/egregore/tests/test_manifest.py
  plugins/egregore/tests/test_parallel.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

style(docs): apply 80-char prose wrapping to plugin READMEs
  plugins/abstract/README.md
  plugins/archetypes/README.md
  plugins/attune/README.md
  plugins/conjure/README.md
  plugins/conserve/README.md
  plugins/hookify/README.md
  plugins/imbue/README.md
  plugins/leyline/README.md
  plugins/memory-palace/README.md
  plugins/minister/README.md
  plugins/parseltongue/README.md
  plugins/pensive/README.md
  plugins/sanctum/README.md
  plugins/scribe/README.md
  plugins/scry/README.md
  plugins/spec-kit/README.md
Due: run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

style(docs): fix remaining nav link wrapping in capabilities-workflows
  book/src/reference/capabilities-workflows.md
Due: none

fix(egregore): address PR review blocking issues B1-B3
  plugins/egregore/scripts/manifest.py
  plugins/egregore/scripts/notify.py
  plugins/egregore/scripts/specialists.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): use "approve" instead of "allow" in Stop hook decision
  plugins/egregore/hooks/stop_hook.py
  plugins/egregore/tests/test_stop_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): prevent orchestrator from stopping at phase transitions
  plugins/egregore/agents/orchestrator.md
Due: run-plugin-tests

fix(egregore): block status-summary rationalization pattern
  plugins/egregore/agents/orchestrator.md
Due: run-plugin-tests

fix(egregore): require foreground launch for orchestrator agent
  plugins/egregore/skills/summon/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(egregore): close loop gap that allows summary before next item
  plugins/egregore/agents/orchestrator.md
Due: run-plugin-tests

fix(egregore): add mandatory output gate and anti-relabeling rule
  plugins/egregore/agents/orchestrator.md
Due: run-plugin-tests

chore: ignore memory-palace session data directory
  .gitignore
Due: none

fix(egregore): resolve mode detection mismatch causing bounded default
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/skills/summon/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(egregore): bounded mode stops at time limit, not item completion
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/commands/summon.md
Due: run-plugin-tests, validate-description-budget

feat(pensive): add agent dispatch mapping to unified review
  plugins/pensive/commands/full-review.md
  plugins/pensive/skills/unified-review/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix: address PR #317 review feedback
  .claude/area-agents/plugins-abstract.md
  .claude/area-agents/plugins-conserve.md
  .claude/area-agents/plugins-egregore.md
  .claude/area-agents/plugins-imbue.md
  .claude/area-agents/plugins-sanctum.md
  docs/agent-coordination/implementation-plan.md
  docs/agent-coordination/project-brief.md
  docs/agent-coordination/specification.md
  plugins/conserve/skills/context-optimization/modules/session-routing.md
  plugins/memory-palace/data/sessions/778fa3ac-6c6c-49ca-993f-73090521c215.json
  plugins/memory-palace/data/sessions/d1726ea2-e00a-4d38-9cad-6f0fd818dabf.json
  plugins/memory-palace/data/sessions/session_index.json
  plugins/pensive/skills/tiered-audit/modules/tier2-targeted.md
Due: run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin

docs: add fsck blog improvements design spec
  docs/superpowers/specs/2026-03-18-fsck-blog-improvements-design.md
Due: none

docs: address spec review feedback on fsck blog design
  docs/superpowers/specs/2026-03-18-fsck-blog-improvements-design.md
Due: none

docs: add implementation plan for fsck blog improvements
  docs/superpowers/plans/2026-03-18-fsck-blog-improvements.md
Due: none

feat(attune): add mandatory file structure section to planning
  plugins/attune/skills/project-planning/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(conjure): add cheapest-capable model selection heuristic
  plugins/conjure/skills/delegation-core/modules/cost-estimation.md
Due: run-plugin-tests, validate-conjure-plugin

feat(attune): add spec review loop and unit decomposition teaching
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-brainstorming/modules/spec-review-loop.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget
