Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin, check-context-optimization

performance-regression-detector:
  name: Performance Regression Detection
  entry: python3 scripts/performance_regression_detector.py
  language: system
  pass_filenames: false
  args:
  - .
  - --update-baseline

technical-debt-detector:
  name: Technical Debt Detection
  entry: python3 scripts/technical_debt_detector.py
  language: system
  pass_filenames: false
  args:
  - .

plugin-api-compatibility-checker:
  name: Plugin API Compatibility Validation
  entry: python3 scripts/plugin_api_compatibility_checker.py
  language: system
  pass_filenames: false
  args:
  - .

enhanced-context-optimizer:
  name: Enhanced Context Optimization
  entry: python3 scripts/enhanced_context_optimizer.py
  language: system
  pass_filenames: false
  args:
  - .

quality-gate-enforcer:
  name: Quality Gate Enforcement
  entry: python3 scripts/quality_gate_enforcer.py
  language: system
  pass_filenames: false
  args:
  - .
  stages:
  - pre-commit
  - pre-merge-commit

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conservation-plugin:
  name: Validate Conservation Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conservation
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py --check-sizes
  language: system
  pass_filenames: false

fix(sanctum): add mandatory Phase 6 summary comment to /fix-pr workflow
  plugins/sanctum/commands/fix-pr.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

chore: bump all plugins to version 1.0.5
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/pyproject.toml
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/pyproject.toml
  plugins/conservation/.claude-plugin/plugin.json
  plugins/conservation/pyproject.toml
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/pyproject.toml
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/pyproject.toml
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/pyproject.toml
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/pyproject.toml
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/parseltongue/pyproject.toml
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/pyproject.toml
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/pyproject.toml
  plugins/spec-kit/.claude-plugin/plugin.json
  plugins/spec-kit/pyproject.toml
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin

fix(conservation): move os import to top level
  plugins/conservation/hooks/context_warning.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin

fix(sanctum): improve /fix-pr enforcement for deferred items and issue closure
  plugins/sanctum/commands/fix-pr.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

fix(scry): address PR review feedback for gif-demo and tests
  plugins/scry/Makefile
  plugins/scry/scripts/gif-demo.sh
  plugins/scry/tests/conftest.py
  plugins/scry/tests/test_gif_demo.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

feat(scry): add media generation plugin and bump ecosystem to v1.1.0
  docs/architecture-analysis-report.md
  docs/documentation-drive-plan.md
  plugins/sanctum/commands/fix-pr.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

feat(minister): add /close-issue command for issue closure analysis
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/commands/close-issue.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer

chore(release): bump ecosystem to v1.1.1 with project-level agents
  .claude-plugin/marketplace.json
  CHANGELOG.md
  README.md
  docs/capabilities-reference.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conservation/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/memory-palace/data/state/autonomy-state.yaml
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/scry/.claude-plugin/plugin.json
  plugins/spec-kit/.claude-plugin/plugin.json
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin

feat(sanctum): add mandatory version validation to PR review workflow
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/scripts/validate-versions.sh
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/version-validation.md
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, check-context-optimization

fix: address PR review blocking issues
  .claude-plugin/marketplace.json
  .claude/agents/plugin-developer.md
Due: none

fix: align ALL plugins to v1.1.1 for ecosystem release
  .claude-plugin/marketplace.json
  plugins/memory-palace/.claude-plugin/plugin.json
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-memory-palace-plugin

fix(sanctum): escape markdown code blocks in pr-review test plan template
  plugins/sanctum/commands/pr-review.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

feat(conservation): add bloat detection system and unbloat workflow
  .cclsp.json
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/action-plan-budget-crisis.md
  docs/ecosystem-evaluation-2025-12-31.md
  docs/optimization-summary-2025-12-31.md
  plugins/abstract/README-UPDATE.md
  plugins/abstract/commands/validate-plugin.md
  plugins/abstract/docs/claude-code-compatibility.md
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/skills/skills-eval/modules/troubleshooting.md
  plugins/conservation/.claude-plugin/plugin.json
  plugins/conservation/README.md
  plugins/conservation/agents/bloat-auditor.md
  plugins/conservation/agents/unbloat-remediator.md
  plugins/conservation/commands/bloat-scan.md
  plugins/conservation/commands/unbloat.md
  plugins/conservation/skills/bloat-detector/SKILL.md
  plugins/conservation/skills/bloat-detector/modules/code-bloat-patterns.md
  plugins/conservation/skills/bloat-detector/modules/documentation-bloat.md
  plugins/conservation/skills/bloat-detector/modules/git-history-analysis.md
  plugins/conservation/skills/bloat-detector/modules/quick-scan.md
  plugins/conservation/skills/mcp-code-execution/SKILL.md
  plugins/conservation/tests/test_bloat_detector_modules.py
  plugins/conservation/tests/test_bloat_detector_runtime.md
  plugins/conservation/tests/test_runtime_loading.sh
  plugins/imbue/hooks/proof-enforcement.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/proof-of-work/modules/acceptance-criteria.md
  plugins/imbue/skills/proof-of-work/modules/red-flags.md
  plugins/imbue/skills/proof-of-work/modules/validation-protocols.md
  plugins/leyline/skills/usage-logging/SKILL.md
  plugins/memory-palace/docs/knowledge-corpus/queue/2025-12-31_codebase-bloat-detection-research.md
  plugins/memory-palace/docs/knowledge-corpus/queue/README.md
  plugins/memory-palace/hooks/research-queue-integration.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conservation-plugin, validate-memory-palace-plugin, check-context-optimization

fix(conservation): prevent cache directories from inflating bloat scan counts
  plugins/conservation/agents/bloat-auditor.md
  plugins/conservation/commands/bloat-scan.md
  plugins/conservation/skills/bloat-detector/SKILL.md
  plugins/conservation/skills/bloat-detector/modules/code-bloat-patterns.md
  plugins/conservation/skills/bloat-detector/modules/documentation-bloat.md
  plugins/conservation/skills/bloat-detector/modules/git-history-analysis.md
  plugins/conservation/skills/bloat-detector/modules/quick-scan.md
  plugins/conservation/tests/test_bloat_detector_runtime.md
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin, check-context-optimization

test(conservation): add comprehensive TDD/BDD implementation tests for scripts
  plugins/conservation/tests/integration/test_conservation_workflow_integration.py
  plugins/conservation/tests/unit/scripts/test_growth_analyzer.py
  plugins/conservation/tests/unit/scripts/test_growth_controller.py
  plugins/conservation/tests/unit/scripts/test_safe_replacer.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin

test(conservation): achieve 87% test coverage with comprehensive implementation tests
  plugins/conservation/tests/unit/scripts/test_aggressive_skill_optimizer.py
  plugins/conservation/tests/unit/scripts/test_cli_smoke.py
  plugins/conservation/tests/unit/scripts/test_dependency_manager.py
  plugins/conservation/tests/unit/scripts/test_fix_long_lines.py
  plugins/conservation/tests/unit/scripts/test_growth_analyzer.py
  plugins/conservation/tests/unit/scripts/test_quick_skill_optimizer.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin

docs(consolidation): reorganize documentation and integrate bloat detection features
  CHANGELOG.md
  Makefile
  README.md
  book/src/SUMMARY.md
  book/src/tutorials/cross-plugin-collaboration.md
  book/src/tutorials/error-handling-tutorial.md
  docs/api-updates.md
  docs/archive/2025-12-plans/action-plan-budget-crisis.md
  docs/archive/2025-12-plans/documentation-drive-plan.md
  docs/archive/2025-12-plans/ecosystem-evaluation-2025-12-31.md
  docs/archive/2025-12-plans/test-infrastructure-update.md
  docs/budget-optimization-dec-2025.md
  docs/capabilities-reference.md
  plugins/conservation/Makefile
  plugins/conservation/skills/bloat-detector/modules/code-bloat-patterns.md
  plugins/conservation/skills/bloat-detector/modules/documentation-bloat.md
  plugins/sanctum/skills/doc-updates/modules/consolidation-integration.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer, validate-conservation-plugin

fix: address PR #59 review feedback
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugins/conservation/scripts/fix_long_lines.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin

docs: simplify language and remove excessive decoration
  README.md
  docs/plugin-development-guide.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-skills, validate-abstract-plugin, check-context-optimization

gitignore docs/archive/
  .gitignore
  docs/archive/2025-12-plans/action-plan-budget-crisis.md
  docs/archive/2025-12-plans/documentation-drive-plan.md
  docs/archive/2025-12-plans/ecosystem-evaluation-2025-12-31.md
  docs/archive/2025-12-plans/test-infrastructure-update.md
Due: none

fix: sync all plugin.json versions to 1.1.2
  plugins/abstract/.claude-plugin/plugin.json
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conservation/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/minister/.claude-plugin/plugin.json
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/scry/.claude-plugin/plugin.json
  plugins/spec-kit/.claude-plugin/plugin.json
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin

chore: consolidate docs and add scry to marketplace
  .claude-plugin/marketplace.json
  IMPLEMENTATION_SUMMARY.md
  TEST_PLAN.md
  description-fix-strategy.md
  description-optimization-plan.md
  docs/unbloat-prompt-analysis-2026-01-02.md
  plugins/attune/tests/test_attune_init.py
  plugins/attune/tests/test_attune_upgrade.py
  plugins/attune/tests/test_plugin_project_init.py
  plugins/attune/tests/test_sync_templates.py
  plugins/conserve/uv.lock
  plugins/sanctum/commands/fix-pr.md
  uv.lock
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

chore: release v1.2.0 with streamlined README
  CHANGELOG.md
  README.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/pyproject.toml
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/pyproject.toml
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/pyproject.toml
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/pyproject.toml
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/pyproject.toml
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/pyproject.toml
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/pyproject.toml
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/parseltongue/pyproject.toml
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/pyproject.toml
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/pyproject.toml
  plugins/scry/.claude-plugin/plugin.json
  plugins/scry/pyproject.toml
  plugins/spec-kit/.claude-plugin/plugin.json
  plugins/spec-kit/pyproject.toml
  pyproject.toml
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-memory-palace-plugin

docs: fix internal book links and correct version dates
  book/src/getting-started/first-plugin.md
  book/src/getting-started/quick-start.md
  book/src/introduction.md
  book/src/tutorials/README.md
  book/src/tutorials/memory-palace-curation.md
  plugins/abstract/docs/claude-code-compatibility.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer, validate-abstract-plugin

docs(readme): convert plugin architecture diagram to Mermaid flowchart
  README.md
Due: none

feat(attune): add architecture-aware initialization with research
  README.md
  docs/common-workflows.md
  docs/script-integration-pattern.md
  plugins/attune/README.md
  plugins/attune/commands/attune:arch-init
  plugins/attune/docs/architecture-aware-initialization.md
  plugins/attune/examples/architecture-aware-example.md
  plugins/attune/examples/cli-tool-example.md
  plugins/attune/examples/data-pipeline-example.md
  plugins/attune/examples/library-example.md
  plugins/attune/examples/microservices-example.md
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/scripts/template_customizer.py
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/conserve/scripts/safe_replacer.py
  plugins/minister/src/minister/project_tracker.py
  plugins/sanctum/skills/test-updates/SKILL.md
  plugins/sanctum/skills/test-updates/scripts/quality_checker.py
  plugins/sanctum/skills/test-updates/scripts/test_analyzer.py
  plugins/sanctum/skills/test-updates/scripts/test_generator.py
  plugins/sanctum/uv.lock
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, check-context-optimization

fix: address PR review blocking issues
  .claude-plugin/marketplace.json
  plugins/attune/scripts/architecture_researcher.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

fix: address all PR review issues (lint, changelog, exceptions)
  CHANGELOG.md
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/version_fetcher.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

fix: address PR suggestions and test infrastructure (G1-G3, T1)
  conftest.py
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/scripts/template_customizer.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

update uv.lock
  uv.lock
Due: none

refactor: externalize trade-offs to YAML and reduce function complexity (G4, PLR)
  plugins/attune/data/paradigm_trade_offs.yaml
  plugins/attune/pyproject.toml
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/uv.lock
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer

fix(sanctum): use REST API for PR description updates
  plugins/sanctum/commands/fix-pr.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

style: apply ruff auto-fixes for import spacing and isinstance calls
  plugins/memory-palace/data/state/autonomy-state.yaml
  plugins/memory-palace/tests/conftest.py
  plugins/memory-palace/tests/test_autonomy_state.py
  plugins/memory-palace/tests/test_cache_lookup.py
  plugins/memory-palace/tests/test_decay_model.py
  plugins/memory-palace/tests/test_embedding_index.py
  plugins/memory-palace/tests/test_garden_metrics.py
  plugins/memory-palace/tests/test_keyword_index.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/memory-palace/tests/test_palace_manager.py
  plugins/memory-palace/tests/test_project_palace.py
  plugins/memory-palace/tests/test_query_templates.py
  plugins/memory-palace/tests/test_source_lineage.py
  plugins/memory-palace/tests/test_usage_tracker.py
  plugins/parseltongue/tests/test_integration.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

Path conditions:
  performance-regression-detector: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  technical-debt-detector: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  plugin-api-compatibility-checker: any of: ^plugins/.*\.json$|^plugins/.*plugin\.yaml$|^plugins/.*plugin\.yml$
  enhanced-context-optimizer: any of: ^.*SKILL\.md$|^plugins/.*\.py$
  quality-gate-enforcer: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conservation-plugin: any of: ^plugins/conservation/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
