Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

refactor: complete bloat reduction phases 6-9 with data extraction pattern
  CHANGELOG.md
  README.md
  bloat-scan-report-20260109.md
  docs/guides/README.md
  docs/guides/data-extraction-pattern.md
  docs/guides/development-vs-runtime-skills-separation.md
  docs/guides/skills-separation-diagram.md
  docs/guides/skills-separation-quickref.md
  docs/optimization-patterns.md
  examples/attune/library-example.md
  examples/attune/microservices-example.md
  plugins/abstract/data/makefile_target_catalog.yaml
  plugins/abstract/scripts/makefile_dogfooder.py
  plugins/attune/data/architecture_templates.yaml
  plugins/attune/data/paradigm_decision_matrix.yaml
  plugins/attune/examples/library-example.md
  plugins/attune/examples/microservices-example.md
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/template_customizer.py
  plugins/memory-palace/data/seed_topics.yaml
  plugins/memory-palace/scripts/seed_corpus.py
  plugins/pensive/src/pensive/skills/base.py
  plugins/pensive/src/pensive/utils/__init__.py
  plugins/pensive/src/pensive/utils/content_parser.py
  plugins/pensive/src/pensive/utils/report_generator.py
  plugins/pensive/src/pensive/utils/severity_mapper.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

fix(sanctum): add guardrails against --no-verify in commit workflows
  plugins/sanctum/commands/commit-msg.md
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

chore: bump all plugins to version 1.2.4
  CHANGELOG.md
  README.md
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/attune/.claude-plugin/metadata.json
  plugins/attune/.claude-plugin/plugin.json
  plugins/attune/tests/test_plugin_structure.py
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conserve/.claude-plugin/plugin.json
  plugins/hookify/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/minister/.claude-plugin/plugin.json
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/README.md
  plugins/pensive/tests/skills/test_base.py
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/tests/test_security_pattern_check.py
  plugins/scry/.claude-plugin/plugin.json
  plugins/spec-kit/.claude-plugin/plugin.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin

fix: address PR review suggestions for stub functions and incomplete modifiers
  plugins/attune/scripts/architecture_researcher.py
  plugins/memory-palace/scripts/seed_corpus.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: convert ASCII diagrams to GitHub-compatible mermaid charts
  docs/guides/skills-separation-diagram.md
  docs/guides/skills-separation-quickref.md
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/methodology-curator/modules/decision-making.md
  plugins/abstract/skills/methodology-curator/modules/testing.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(sanctum): improve thread discovery in /fix-pr workflow
  plugins/sanctum/commands/fix-pr-modules/troubleshooting-fixes.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
Due: run-plugin-tests, validate-description-budget

refactor(docs): streamline documentation and docstrings across ecosystem
  README.md
  book/src/getting-started/common-workflows.md
  book/src/getting-started/installation.md
  book/src/getting-started/quick-start.md
  book/src/introduction.md
  book/src/tutorials/README.md
  docs/api-overview.md
  docs/optimization-patterns.md
  docs/quality-gates.md
  docs/testing-guide.md
  plugins/abstract/README.md
  plugins/abstract/src/abstract/base.py
  plugins/abstract/src/abstract/skill_tools.py
  plugins/archetypes/README.md
  plugins/attune/README.md
  plugins/attune/scripts/project_detector.py
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/quota_tracker.py
  plugins/conserve/README.md
  plugins/hookify/core/config_loader.py
  plugins/hookify/core/rule_engine.py
  plugins/memory-palace/src/memory_palace/palace_manager.py
  plugins/minister/README.md
  plugins/minister/scripts/tracker.py
  plugins/minister/src/minister/project_tracker.py
  plugins/parseltongue/parseltongue/skills/async_analyzer.py
  plugins/parseltongue/parseltongue/skills/testing_guide.py
  plugins/pensive/src/pensive/skills/api_review.py
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
  plugins/sanctum/src/sanctum/pr_prep.py
  plugins/sanctum/src/sanctum/validators.py
  plugins/spec-kit/src/speckit/caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, validate-description-budget

docs: sync capabilities-reference with 1.2.4 features
  book/src/plugins/abstract.md
  book/src/plugins/pensive.md
  book/src/plugins/sanctum.md
  book/src/reference/capabilities-reference.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
Due: validate-abstract-plugin

fix(plugins): register missing commands and skills in plugin.json files
  book/src/reference/capabilities-reference.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/sanctum/.claude-plugin/plugin.json
Due: validate-imbue-plugin

feat(sanctum): add /update-plugins command and enhance doc-updates workflow
  book/src/plugins/sanctum.md
  book/src/reference/capabilities-reference.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/update-plugins.md
  plugins/sanctum/skills/doc-updates/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat: add agent-aware hooks and integrate proof-of-work enforcement
  CHANGELOG.md
  plugins/abstract/docs/claude-code-compatibility.md
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/docs/compatibility/compatibility-reference.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-scope-guide.md
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/skills/context-optimization/SKILL.md
  plugins/imbue/hooks/proof-enforcement.md
  plugins/imbue/hooks/session-start.sh
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/hooks/verify_workflow_complete.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

improve(sanctum): enhance pr-review to handle empty PR descriptions
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
Due: run-plugin-tests, validate-description-budget

refactor: simplify documentation and standardize naming
  README.md
  book/src/introduction.md
  docs/plugin-development-guide.md
  docs/quality-gates.md
  plugins/abstract/docs/python-structure.md
  plugins/abstract/docs/source/api/utils.rst
  plugins/abstract/scripts/context_optimizer.py
  plugins/abstract/src/abstract/README.md
  plugins/abstract/src/abstract/base.py
  plugins/abstract/src/abstract/utils.py
  plugins/archetypes/README.md
  plugins/attune/README.md
  plugins/conjure/README.md
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/quota_tracker.py
  plugins/conserve/scripts/main.py
  plugins/hookify/core/rule_engine.py
  plugins/imbue/scripts/imbue_validator.py
  plugins/leyline/src/leyline/tokens.py
  plugins/memory-palace/src/memory_palace/palace_manager.py
  plugins/minister/src/minister/project_tracker.py
  plugins/parseltongue/parseltongue/cli.py
  plugins/pensive/src/pensive/__init__.py
  plugins/sanctum/src/sanctum/validators.py
  plugins/spec-kit/src/speckit/__init__.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(docs): address PR review feedback
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/sanctum/commands/update-plugins.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

docs: address PR #111 review feedback with validation proofs
  docs/validation/mecw-optimization-completion.md
  docs/validation/pr-111-fix-summary.md
  docs/validation/shared-modules-accessibility-proof.md
  plugins/minister/commands/update-labels.md
Due: run-plugin-tests, validate-description-budget

refactor(docs): complete MECW optimization by archiving module examples
  docs/examples/makefile-testing/comprehensive-examples.md
  docs/examples/skill-development/graphviz-examples.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/commands/create-hook.md
  plugins/abstract/docs/MECW-optimization-plan.md
  plugins/abstract/hooks/hooks-observability.json
  plugins/abstract/shared-modules/iron-law-interlock.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-authoring/modules/scope-selection.md
  plugins/abstract/skills/hook-authoring/scripts/README.md
  plugins/abstract/skills/hook-authoring/scripts/hook_validator.py
  plugins/abstract/skills/hook-scope-guide.md
  plugins/abstract/skills/makefile-dogfooder/modules/testing.md
  plugins/abstract/skills/skill-authoring/modules/graphviz-conventions.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/scripts/imbue_validator.py
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/hooks/pyproject.toml
  plugins/pensive/src/pensive/utils/content_parser.py
  plugins/sanctum/.claude-plugin/plugin.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(sanctum): enforce thread resolution in /fix-pr with validation checkpoints
  plugins/sanctum/commands/fix-pr-modules/troubleshooting-fixes.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
Due: run-plugin-tests, validate-description-budget

fix(memory-palace): implement empty print methods and log skipped files
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/src/memory_palace/palace_manager.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): add user feedback to CLI command handlers
  plugins/memory-palace/src/memory_palace/palace_manager.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(imbue): address PR review comments #2695632420 and #2695646118
  plugins/imbue/skills/rigorous-reasoning/modules/debate-methodology.md
  plugins/imbue/tests/unit/test_imbue_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(sanctum): enforce thread resolution in /fix-pr workflow - prevent implementation failures
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
Due: run-plugin-tests, validate-description-budget

fix: add missing pytest imports to remaining test files
  plugins/conjure/tests/scripts/test_usage_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

style(imbue): apply ruff formatting to test_workflow_scalability
  plugins/imbue/tests/performance/test_workflow_scalability.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

feat(imbue,leyline): add anti-cargo-cult framework and interactive auth
  CHANGELOG.md
  README.md
  docs/guides/authentication-integration.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/proof-of-work/modules/iron-law-enforcement.md
  plugins/imbue/skills/proof-of-work/modules/red-flags.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/skills/scope-guard/modules/anti-overengineering.md
  plugins/imbue/skills/shared/SKILL.md
  plugins/imbue/skills/shared/modules/anti-cargo-cult.md
  plugins/imbue/tests/unit/skills/test_anti_cargo_cult.py
  plugins/leyline/scripts/interactive-auth.sh
  plugins/leyline/skills/authentication-patterns/README.md
  plugins/leyline/skills/authentication-patterns/SKILL.md
  plugins/leyline/skills/authentication-patterns/examples/workflow-integration.md
  plugins/leyline/skills/authentication-patterns/modules/interactive-auth.md
  plugins/leyline/skills/authentication-patterns/tests/test-interactive-auth.sh
  plugins/leyline/tests/test_quota_tracker.py
  plugins/leyline/tests/test_tokens.py
  plugins/memory-palace/docs/knowledge-corpus/README.md
  plugins/memory-palace/docs/knowledge-corpus/cargo-cult-programming-prevention.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

chore: bump version to 1.2.8
  plugins/abstract/pyproject.toml
  plugins/attune/pyproject.toml
  plugins/conjure/pyproject.toml
  plugins/conserve/pyproject.toml
  plugins/hookify/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/memory-palace/hooks/pyproject.toml
  plugins/memory-palace/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/parseltongue/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/sanctum/pyproject.toml
  plugins/scry/pyproject.toml
  plugins/spec-kit/pyproject.toml
  pyproject.toml
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

perf(sanctum): consolidate Stop hooks into single script
  README.md
  book/src/getting-started/README.md
  docs/performance/hooks.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/conserve/skills/context-optimization/SKILL.md
  plugins/hookify/skills/writing-rules/SKILL.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/memory-palace/skills/memory-palace-architect/SKILL.md
  plugins/minister/skills/github-initiative-pulse/SKILL.md
  plugins/parseltongue/skills/python-testing/SKILL.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/sanctum/README.md
  plugins/sanctum/hooks/PERFORMANCE.md
  plugins/sanctum/hooks/hooks.json
  plugins/sanctum/hooks/stop_combined.py
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/tests/test_session_complete_notify.py
  plugins/scry/skills/vhs-recording/SKILL.md
  plugins/spec-kit/skills/spec-writing/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(sanctum): improve WSL notification handling
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore: bump plugin.json and marketplace.json versions to 1.2.9
  .claude-plugin/marketplace.json
  plugins/abstract/.claude-plugin/plugin.json
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/attune/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conserve/.claude-plugin/plugin.json
  plugins/hookify/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/minister/.claude-plugin/plugin.json
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/scry/.claude-plugin/plugin.json
  plugins/spec-kit/.claude-plugin/plugin.json
Due: validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(sanctum): add plugin.json and marketplace.json to version updater
  plugins/sanctum/scripts/update_versions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore: bump plugin metadata.json versions to 1.2.10
  plugins/abstract/.claude-plugin/metadata.json
  plugins/archetypes/.claude-plugin/metadata.json
  plugins/conjure/.claude-plugin/metadata.json
  plugins/conserve/.claude-plugin/metadata.json
  plugins/imbue/.claude-plugin/metadata.json
  plugins/leyline/.claude-plugin/metadata.json
  plugins/memory-palace/.claude-plugin/metadata.json
  plugins/spec-kit/.claude-plugin/metadata.json
Due: validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin
