Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(imbue,sanctum): a cross-plugin assertion kept imbue red after a sanctum edit
  plugins/imbue/tests/unit/skills/test_proof_of_work.py
  plugins/sanctum/tests/test_post_implementation_policy.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs: the dispatch rule described a tool that now exists
  .claude/rules/plan-before-large-dispatch.md
  .claude/skills/claude-code-plugin-reference/SKILL.md
  CHANGELOG.md
  plugins/hookify/skills/rule-catalog/rules/workflow/plan-before-large-dispatch.md
  plugins/imbue/skills/proof-of-work/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

feat(abstract): teach the plugin validator the fifth asset type
  .claude/skills/claude-code-plugin-reference/SKILL.md
  CHANGELOG.md
  plugins/abstract/scripts/validate_plugin.py
  plugins/abstract/tests/unit/scripts/test_validate_plugin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization

test: catalog rule drift was documented, not guarded
  CHANGELOG.md
  tests/test_catalog_rules_mirror_canonical.py
Due: none

feat(pensive): ship the first workflow, and retire the barrier it replaces
  CHANGELOG.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/pensive/tests/test_unified_review_workflow.py
  plugins/pensive/workflows/unified-review.js
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(sanctum): fix-workflow's analysis half was a pipeline written in prose
  CHANGELOG.md
  plugins/sanctum/commands/fix-workflow.md
  plugins/sanctum/tests/test_fix_workflow_workflow.py
  plugins/sanctum/workflows/fix-workflow-analysis.js
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

feat(tome): the channel fan-out is a pipeline, and the overlap is now stated
  CHANGELOG.md
  plugins/tome/README.md
  plugins/tome/tests/test_research_workflow.py
  plugins/tome/workflows/research.js
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(attune): the skill library authors and reviews as a pipeline
  CHANGELOG.md
  plugins/attune/skills/skill-library-mission/SKILL.md
  plugins/attune/tests/test_skill_library_workflow.py
  plugins/attune/workflows/skill-library.js
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(tests): the first shipped workflow read as a phantom capability
  CHANGELOG.md
  tests/test_cited_paths_resolve.py
Due: none

feat: pin the workflow spend posture instead of inheriting it
  .claude/rules/plan-before-large-dispatch.md
  .claude/settings.json
  tests/test_workflow_spend_posture.py
Due: none

test: verify the settings posture against the harness, not the docs
  .claude/rules/plan-before-large-dispatch.md
  tests/test_workflow_spend_posture.py
Due: none

fix(rules): a workflow subagent's edit prompted, and the rule promised it would not
  .claude/rules/plan-before-large-dispatch.md
  plugins/hookify/skills/rule-catalog/rules/workflow/plan-before-large-dispatch.md
Due: run-plugin-tests

fix(rules): the workflow subagent inherits the session's mode, it is not forced
  .claude/rules/plan-before-large-dispatch.md
  plugins/hookify/skills/rule-catalog/rules/workflow/plan-before-large-dispatch.md
Due: run-plugin-tests

chore: bound the plugin cache instead of letting versions accumulate
  Makefile
  scripts/prune_plugin_cache.py
  tests/test_prune_plugin_cache.py
Due: none

docs(commands): 31 commands showed up in autocomplete as bare names
  plugins/abstract/commands/aggregate-logs.md
  plugins/abstract/commands/evaluate-skill.md
  plugins/abstract/commands/improve-skills.md
  plugins/abstract/commands/promote-discussions.md
  plugins/cartograph/commands/visualize.md
  plugins/memory-palace/commands/garden.md
  plugins/memory-palace/commands/navigate.md
  plugins/memory-palace/commands/palace.md
  plugins/memory-palace/commands/review-room.md
  plugins/memory-palace/commands/skill-logs.md
  plugins/parseltongue/commands/analyze-tests.md
  plugins/parseltongue/commands/check-async.md
  plugins/parseltongue/commands/run-profiler.md
  plugins/pensive/commands/api-review.md
  plugins/pensive/commands/architecture-review.md
  plugins/pensive/commands/bug-review.md
  plugins/pensive/commands/full-review.md
  plugins/pensive/commands/harden.md
  plugins/pensive/commands/makefile-review.md
  plugins/pensive/commands/math-review.md
  plugins/pensive/commands/performance-review.md
  plugins/pensive/commands/rust-review.md
  plugins/pensive/commands/shell-review.md
  plugins/pensive/commands/skill-history.md
  plugins/pensive/commands/skill-review.md
  plugins/pensive/commands/test-review.md
  plugins/scribe/commands/doc-generate.md
  plugins/scribe/commands/doc-polish.md
  plugins/scribe/commands/session-replay.md
  plugins/scribe/commands/session-to-post.md
  plugins/scribe/commands/style-learn.md
Due: run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin, validate-description-budget

refactor(pensive): eight review commands kept a second copy of their skill
  plugins/pensive/commands/api-review.md
  plugins/pensive/commands/architecture-review.md
  plugins/pensive/commands/bug-review.md
  plugins/pensive/commands/makefile-review.md
  plugins/pensive/commands/math-review.md
  plugins/pensive/commands/rust-review.md
  plugins/pensive/commands/shell-review.md
  plugins/pensive/commands/test-review.md
Due: run-plugin-tests, validate-description-budget

docs(commands): nine commands described a skill they never named
  plugins/abstract/commands/hooks-eval.md
  plugins/abstract/commands/plugin-review.md
  plugins/abstract/commands/rules-eval.md
  plugins/abstract/commands/skills-eval.md
  plugins/egregore/commands/install-watchdog.md
  plugins/egregore/commands/summon.md
  plugins/egregore/commands/uninstall-watchdog.md
  plugins/imbue/commands/catchup.md
  plugins/sanctum/commands/do-issue.md
Due: run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-description-budget

refactor(imbue): catchup restated the skill it now runs
  plugins/imbue/commands/catchup.md
Due: run-plugin-tests, validate-imbue-plugin, validate-description-budget

refactor(egregore): three commands restated the skills they now run
  plugins/egregore/commands/install-watchdog.md
  plugins/egregore/commands/summon.md
  plugins/egregore/commands/uninstall-watchdog.md
Due: run-plugin-tests, validate-description-budget

refactor(abstract): four eval commands restated the skills they now run
  plugins/abstract/commands/hooks-eval.md
  plugins/abstract/commands/plugin-review.md
  plugins/abstract/commands/rules-eval.md
  plugins/abstract/commands/skills-eval.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

refactor(sanctum): do-issue carried the procedure its skill already holds
  plugins/sanctum/commands/do-issue.md
Due: run-plugin-tests, validate-description-budget

fix(commands): the delegation described a refactor instead of instructing
  plugins/abstract/commands/hooks-eval.md
  plugins/abstract/commands/plugin-review.md
  plugins/abstract/commands/rules-eval.md
  plugins/abstract/commands/skills-eval.md
  plugins/egregore/commands/install-watchdog.md
  plugins/egregore/commands/summon.md
  plugins/egregore/commands/uninstall-watchdog.md
  plugins/imbue/commands/catchup.md
  plugins/pensive/commands/api-review.md
  plugins/pensive/commands/architecture-review.md
  plugins/pensive/commands/bug-review.md
  plugins/pensive/commands/makefile-review.md
  plugins/pensive/commands/math-review.md
  plugins/pensive/commands/rust-review.md
  plugins/pensive/commands/shell-review.md
  plugins/pensive/commands/test-review.md
  plugins/sanctum/commands/do-issue.md
Due: run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-description-budget

test(gates): the Skill() call form was adjudicated by nothing
  CHANGELOG.md
  README.md
  docs/quality-gates.md
  plugins/abstract/agents/skill-improver.md
  plugins/abstract/commands/aggregate-logs.md
  plugins/abstract/commands/evaluate-skill.md
  plugins/abstract/commands/improve-skills.md
  plugins/attune/commands/validate.md
  tests/test_cited_paths_resolve.py
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

fix(gates): make test broke itself by walking a tree make test creates
  scripts/check_skill_exit_criteria_drift.py
  tests/scripts/test_check_skill_exit_criteria_drift.py
Due: none

fix(conjure): the shared module cited a method that exists nowhere
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/conjure/tests/test_shared_module_identifiers_resolve.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): a trailing comma re-enabled delegation the operator disabled
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): freeze the shared provider contract, and guard --verify's exit code
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(scripts): a relative --plugins-root rmtree'd the live plugin cache
  scripts/prune_plugin_cache.py
  tests/test_prune_plugin_cache.py
Due: none

fix(egregore): three ways past the handoff gate into an unattended run
  plugins/egregore/scripts/handoff_gate.py
  plugins/egregore/scripts/verdict.py
  plugins/egregore/tests/test_handoff_gate.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): the night-run scope fence could not see a created file
  plugins/egregore/scripts/night_run.py
  plugins/egregore/tests/test_item_walk.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): an extra space walked a destructive command past the gate
  plugins/egregore/scripts/handoff_gate.py
  plugins/egregore/tests/test_handoff_gate.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: complete four prior findings that were reported fixed and were not
  .claude/rules/bounded-autonomy.md
  CHANGELOG.md
  docs/skill-integration-guide.md
  plugins/attune/Makefile
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conserve/Makefile
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/sanctum/Makefile
  plugins/scribe/Makefile
  plugins/scry/Makefile
  plugins/spec-kit/Makefile
  tests/test_provider_status_demo_is_live.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(egregore): four silent failures in the night-run item walk
  plugins/egregore/scripts/night_run.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run_e2e.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: normalize the last British spellings on added lines
  plugins/attune/workflows/skill-library.js
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/unit/skills/test_delegation_default_posture.py
  plugins/egregore/tests/test_night_run_e2e.py
  plugins/pensive/workflows/unified-review.js
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/test_post_implementation_policy.py
  plugins/sanctum/tests/test_quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(abstract): a LIVE label on a target that runs nothing
  plugins/abstract/scripts/dogfooder/validator.py
  plugins/abstract/tests/test_makefile_dogfooder.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_validator.py
  plugins/pensive/Makefile
  plugins/scribe/Makefile
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(gates): five guards that passed over the behavior they name
  plugins/conjure/Makefile
  plugins/conjure/scripts/check_skill_coverage.py
  plugins/conjure/tests/unit/skills/test_delegation_default_posture.py
  plugins/hookify/skills/rule-catalog/rules/security/require-security-review.md
  tests/test_ci_enforces_lint.py
  tests/test_cited_paths_resolve.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs: six pages describing a repository that is not this one
  README.md
  book/src/plugins/abstract.md
  docs/quality-gates.md
  plugins/abstract/shared-modules/skill-selection-judgment.md
  plugins/abstract/skills/skill-authoring/modules/advanced-patterns.md
  plugins/abstract/skills/skill-authoring/modules/examples.md
  plugins/abstract/skills/skill-authoring/modules/testing-with-subagents.md
  plugins/abstract/skills/skill-authoring/modules/troubleshooting.md
  plugins/abstract/skills/skills-eval/modules/skill-authoring-best-practices.md
Due: run-plugin-tests, validate-abstract-plugin

fix(types): five invariants that were docstrings and nothing else
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/test_delegation_error_paths.py
  plugins/egregore/scripts/handoff_gate.py
  plugins/egregore/scripts/scope.py
  plugins/egregore/scripts/window.py
  plugins/egregore/tests/test_handoff_gate.py
  plugins/egregore/tests/test_scope.py
  plugins/egregore/tests/test_verdict.py
  plugins/egregore/tests/test_window.py
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/test_post_implementation_policy.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(egregore): the judge could spawn a judge, and said nothing when it failed
  plugins/egregore/scripts/claude_babysitter.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/scripts/window.py
  plugins/egregore/tests/test_claude_babysitter.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run.py
  plugins/egregore/tests/test_window.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): three ways a gate certified what it had not checked
  plugins/egregore/scripts/night_run.py
  plugins/egregore/scripts/scope.py
  plugins/egregore/scripts/verdict.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_scope.py
  plugins/egregore/tests/test_verdict.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests
