Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

feat(make-dogfood): require LIVE demos instead of static echoes
  plugins/abstract/Makefile
  plugins/abstract/commands/make-dogfood.md
  plugins/abstract/skills/makefile-dogfooder/modules/generation.md
  plugins/conserve/Makefile
  plugins/imbue/Makefile
  plugins/parseltongue/Makefile
Due: run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-description-budget

fix(conserve): improve context warning to auto-continue instead of stopping
  plugins/conserve/hooks/context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

docs: emphasize nonconflicting parallel execution for task batches
  plugins/attune/agents/project-implementer.md
  plugins/attune/commands/execute.md
  plugins/sanctum/skills/do-issue/modules/parallel-execution.md
  plugins/spec-kit/agents/implementation-executor.md
  plugins/spec-kit/commands/speckit-implement.md
  plugins/spec-kit/skills/task-planning/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(hookify): add strict=True to zip() for safer iteration
  plugins/hookify/scripts/hook_to_hookify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(conserve): remove unused services/ directory
  plugins/conserve/services/optimization_service.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(conserve): add dead wrapper detection to bloat-scan/unbloat
  plugins/conserve/Makefile
  plugins/conserve/skills/bloat-detector/modules/code-bloat-patterns.md
  plugins/conserve/skills/bloat-detector/modules/remediation-types.md
Due: run-plugin-tests, validate-conserve-plugin

fix(sanctum): add hooks directory to coverage configuration
  plugins/sanctum/pyproject.toml
Due: none

feat: add safety-critical patterns and enhance makefile dogfooding
  .pre-commit-hook-makefile-dogfood.yaml
  README.md
  book/src/plugins/conserve.md
  book/src/plugins/pensive.md
  docs/api-overview.md
  plugins/abstract/.claude/session-state.md
  plugins/abstract/Makefile
  plugins/abstract/commands/make-dogfood.md
  plugins/abstract/docs/makefile-dogfood.md
  plugins/abstract/scripts/makefile_dogfooder.py
  plugins/abstract/tests/test_makefile_dogfooder.py
  plugins/attune/Makefile
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/conserve/agents/continuation-agent.md
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/parseltongue/Makefile
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/Makefile
  plugins/pensive/README.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/safety-critical-patterns/SKILL.md
  plugins/pensive/skills/shared/SKILL.md
  plugins/pensive/skills/shared/modules/code-quality-analysis.md
  plugins/pensive/tests/test_safety_critical_patterns.py
  plugins/sanctum/Makefile
  plugins/sanctum/README.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/scripts/update_plugins_modules/__init__.py
  plugins/sanctum/scripts/update_plugins_modules/knowledge_queue.py
  plugins/sanctum/scripts/update_plugins_modules/meta_evaluation.py
  plugins/sanctum/scripts/update_plugins_modules/performance_analysis.py
  plugins/sanctum/tests/test_pr_review_workflow.py
  plugins/sanctum/tests/unit/test_update_plugins_modules.py
  plugins/scribe/Makefile
  plugins/scry/Makefile
  plugins/spec-kit/Makefile
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix: address PR #174 review feedback
  plugins/abstract/Makefile
  plugins/conjure/Makefile
  plugins/sanctum/scripts/update_plugins_modules/knowledge_queue.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin

fix: remove session-state.md and add to gitignore
  .gitignore
  plugins/abstract/.claude/session-state.md
Due: run-plugin-tests, validate-abstract-plugin

feat(hooks): Add portable grep fallback and schema docs
  plugins/conserve/hooks/session-start.sh
  plugins/imbue/hooks/session-start.sh
Due: validate-imbue-plugin, validate-conserve-plugin

feat(hooks): Add debug logging for JSON parsing failures
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/hooks/security_pattern_check.py
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/hooks/verify_workflow_complete.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conserve): prevent continuation agent premature stopping
  plugins/conserve/agents/continuation-agent.md
Due: run-plugin-tests, validate-conserve-plugin

fix(tests): correct abstract permissions and attune coverage threshold
  plugins/abstract/scripts/wrapper_generator.py
  plugins/attune/pyproject.toml
  plugins/attune/scripts/attune_init.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(meta-eval): add TOCs, verification, and test refs to 13 skills
  .pre-commit-config.yaml
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/imbue/skills/review-core/SKILL.md
  plugins/leyline/skills/testing-quality-standards/SKILL.md
  plugins/parseltongue/skills/python-testing/SKILL.md
  plugins/pensive/skills/api-review/SKILL.md
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/pensive/skills/fpf-review/SKILL.md
  plugins/pensive/skills/makefile-review/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(conserve): remove impossible Task tool references from context warnings
  plugins/conserve/hooks/context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(conserve): update clear-context skill to remove Task tool references
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/skills/clear-context/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(conserve): add headless context reading documentation
  plugins/conserve/commands/optimize-context.md
Due: run-plugin-tests, validate-conserve-plugin, validate-description-budget

docs(conserve): document precise vs fast context measurement methods
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/skills/clear-context/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

refactor(conserve): consolidate test fixtures and sync emergency workflow
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/conftest.py
  plugins/conserve/tests/unit/test_context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(scripts): improve malformed YAML handling
  scripts/fix_descriptions.py
Due: none

chore(precommit): add skill description validation hook
  .pre-commit-config.yaml
Due: none

fix(conserve): restore critical execution mode guidance in clear-context
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/tests/conftest.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

refactor(hooks): extract shared JSON utilities to eliminate duplication
  plugins/attune/pyproject.toml
  plugins/conserve/hooks/session-start.sh
  plugins/imbue/hooks/session-start.sh
  scripts/shared/json_utils.sh
Due: validate-imbue-plugin, validate-conserve-plugin

fix(fix-pr): add enforcement checkpoint for issue creation in Step 6
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
Due: run-plugin-tests, validate-description-budget

docs(fix-pr): clarify handling of PR comments vs review threads
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
Due: run-plugin-tests, validate-description-budget

refactor(skills): remove Triggers label from description frontmatter
  plugins/archetypes/skills/architecture-paradigm-cqrs-es/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-event-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-functional-core/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microkernel/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-modular-monolith/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-serverless/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/attune/skills/project-init/SKILL.md
  plugins/hookify/skills/writing-rules/SKILL.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/leyline/skills/authentication-patterns/SKILL.md
  plugins/leyline/skills/error-patterns/SKILL.md
  plugins/leyline/skills/mecw-patterns/SKILL.md
  plugins/leyline/skills/progressive-loading/SKILL.md
  plugins/leyline/skills/pytest-config/SKILL.md
  plugins/leyline/skills/quota-management/SKILL.md
  plugins/leyline/skills/testing-quality-standards/SKILL.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/scry/skills/browser-recording/SKILL.md
  plugins/scry/skills/gif-generation/SKILL.md
  plugins/scry/skills/media-composition/SKILL.md
  plugins/scry/skills/vhs-recording/SKILL.md
  plugins/spec-kit/skills/spec-writing/SKILL.md
  plugins/spec-kit/skills/speckit-orchestrator/SKILL.md
  plugins/spec-kit/skills/task-planning/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-archetypes-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(conserve): make auto-continuation mandatory at EMERGENCY context level
  plugins/conserve/hooks/context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(skills): remove malformed Triggers lines from 8 skill files
  plugins/attune/skills/makefile-generation/SKILL.md
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/attune/skills/workflow-setup/SKILL.md
  plugins/memory-palace/skills/review-chamber/SKILL.md
Due: run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(attune): add validation pre-commit hook and templates dir
  .pre-commit-config.yaml
  plugins/attune/templates/.gitkeep
Due: none

feat(attune): complete Phase 0 - discoverability templates
  plugins/attune/templates/TEMPLATE-GUIDE.md
  plugins/attune/templates/agent-discoverability-template.md
  plugins/attune/templates/command-discoverability-template.md
  plugins/attune/templates/skill-discoverability-template.md
Due: run-plugin-tests

feat(attune): complete Phase 1 - pilot discoverability enhancements
  plugins/attune/agents/project-architect.md
  plugins/attune/commands/brainstorm.md
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/templates/TEMPLATE-GUIDE.md
  plugins/attune/templates/agent-discoverability-template.md
  plugins/attune/templates/command-discoverability-template.md
  plugins/attune/templates/skill-discoverability-template.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget
