Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin, check-context-optimization

Path conditions:
  performance-regression-detector: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  technical-debt-detector: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  plugin-api-compatibility-checker: any of: ^plugins/.*\.json$|^plugins/.*plugin\.yaml$|^plugins/.*plugin\.yml$
  enhanced-context-optimizer: any of: ^.*SKILL\.md$|^plugins/.*\.py$
  quality-gate-enforcer: any of: ^(plugins|scripts)/.*\.(py|md|yaml|yml|json)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conservation-plugin: any of: ^plugins/conservation/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$

feat(build): add plugin-check targets and Makefiles across all plugins
  REFACTORING_SUMMARY.md
  RUFF_FIX_PLAN.md
  docs/ERROR_HANDLING_ENHANCEMENT_REPORT.md
  docs/adr/0001-plugin-dependency-isolation.md
  docs/guides/plugin-dependency-pattern.md
  docs/guides/superpowers-integration.md
  plugins/abstract/Makefile
  plugins/archetypes/Makefile
  plugins/conjure/Makefile
  plugins/leyline/Makefile
  plugins/memory-palace/uv.lock
  plugins/minister/Makefile
  plugins/minister/uv.lock
Due: validate-abstract-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-memory-palace-plugin

ci(workflows): drop deleted scripts-based pipelines
  .github/workflows/docs.yml
  .github/workflows/security.yml
  .github/workflows/technical-debt-automation.yml
Due: none

ci(security): ensure Bandit SARIF exists for upload
  .github/workflows/security.yml
Due: none

fix: address PR review feedback (B1, C1, S1)
  .pre-commit-config.yaml
  plugins/abstract/pyproject.toml
  plugins/abstract/src/abstract/cli_framework.py
  plugins/parseltongue/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/pensive/src/pensive/analysis/repository_analyzer.py
  plugins/pensive/src/pensive/plugin/base.py
  plugins/pensive/src/pensive/reporting/formatters.py
  plugins/pensive/src/pensive/workflows/skill_coordinator.py
  plugins/spec-kit/tests/test_agents.py
  plugins/spec-kit/tests/test_integration.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

docs: fix broken markdown links and update documentation
  README.md
  docs/capabilities-reference.md
  docs/cross-plugin-collaboration.md
  docs/migration-guide.md
  docs/overview.md
  docs/plugin-development-guide.md
  docs/skill-integration-guide.md
  docs/superpowers-integration.md
  docs/technical-debt-framework.md
  plugins/abstract/README-UPDATE.md
  plugins/abstract/README.md
  plugins/abstract/docs/wrapper-development-guide.md
  plugins/abstract/examples/test-skill-migration-example.md
  plugins/abstract/skills/modular-skills/examples/complete-skills/development-workflow/SKILL.md
  plugins/abstract/src/abstract/skill_tools.py
  plugins/abstract/src/abstract/tokens.py
  plugins/archetypes/README.md
  plugins/archetypes/skills/architecture-paradigms/SKILL.md
  plugins/conjure/README.md
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conservation/README.md
  plugins/conservation/skills/context-optimization/SKILL.md
  plugins/conservation/tests/README.md
  plugins/imbue/README.md
  plugins/leyline/README.md
  plugins/leyline/skills/service-registry/SKILL.md
  plugins/minister/README.md
  plugins/minister/skills/github-initiative-pulse/SKILL.md
  plugins/parseltongue/README.md
  plugins/pensive/README.md
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/sanctum/docs/superpowers-integration-guide.md
  plugins/spec-kit/README.md
  plugins/spec-kit/skills/speckit-orchestrator/SKILL.md
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, check-context-optimization

fix: address remaining PR review feedback (C2-C4, I1, S1)
  plugins/abstract/src/abstract/cli_framework.py
  plugins/leyline/scripts/update_all_plugins.py
  plugins/memory-palace/hooks/local_doc_processor.py
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/pensive/tests/test_edge_cases.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-memory-palace-plugin

fix(security): exclude .venv and other non-code directories from security scans
  .github/workflows/security.yml
Due: none

fix(memory-palace): correct import path in research interceptor and ensure executable hooks
  plugins/memory-palace/data/state/autonomy-state.yaml
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/tests/hooks/test_hook_entrypoints.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

chore(plugins): harden tooling and file-error handling
  plugins/abstract/src/abstract/errors.py
  plugins/abstract/tests/test_errors.py
  plugins/abstract/tests/test_skill_structure.py
  plugins/abstract/tests/test_wrapper_infrastructure.py
  plugins/conjure/tests/test_skills.py
  plugins/imbue/scripts/imbue_validator.py
  plugins/imbue/tests/conftest.py
  plugins/imbue/tests/unit/agents/test_review_analyst.py
  plugins/imbue/tests/unit/test_imbue_validator.py
  plugins/leyline/scripts/update_all_plugins.py
  plugins/leyline/tests/test_update_all_plugins.py
  plugins/memory-palace/data/state/autonomy-state.yaml
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
  scripts/reinstall-all-plugins.sh
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-memory-palace-plugin

fix(abstract,leyline): address critical PR review feedback
  plugins/abstract/src/abstract/errors.py
  plugins/leyline/scripts/update_all_plugins.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

fix(imbue,docs): address PR review feedback
  docs/capabilities-reference.md
  plugins/imbue/tests/unit/test_imbue_validator.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-plugin

chore(release): bump all plugins to version 1.0.2
  .claude-plugin/marketplace.json
  CHANGELOG.md
  docs/capabilities-reference.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/pyproject.toml
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/pyproject.toml
  plugins/conservation/pyproject.toml
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/pyproject.toml
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/pyproject.toml
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/pyproject.toml
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/pyproject.toml
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/parseltongue/pyproject.toml
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/pyproject.toml
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/pyproject.toml
  plugins/spec-kit/.claude-plugin/plugin.json
  plugins/spec-kit/pyproject.toml
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin

fix(sanctum,conservation): address PR review feedback
  plugins/conservation/hooks/session-start.sh
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin

update lock files
  plugins/sanctum/uv.lock
  uv.lock
Due: none

fix(sanctum): remove emojis from fix-pr.md example outputs
  plugins/sanctum/commands/fix-pr.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

refactor(sanctum): modularize fix-issue command for token efficiency
  plugins/sanctum/commands/fix-issue.md
  plugins/sanctum/commands/fix-issue/COMMAND.md
  plugins/sanctum/commands/fix-issue/modules/completion.md
  plugins/sanctum/commands/fix-issue/modules/issue-discovery.md
  plugins/sanctum/commands/fix-issue/modules/parallel-execution.md
  plugins/sanctum/commands/fix-issue/modules/quality-gates.md
  plugins/sanctum/commands/fix-issue/modules/task-planning.md
  plugins/sanctum/commands/fix-issue/modules/troubleshooting.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

feat(imbue): add feature-review skill for evidence-based prioritization
  .feature-review.yaml
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/commands/feature-review.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/imbue/skills/feature-review/modules/classification-system.md
  plugins/imbue/skills/feature-review/modules/configuration.md
  plugins/imbue/skills/feature-review/modules/scoring-framework.md
  plugins/imbue/skills/feature-review/modules/tradeoff-dimensions.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-skills, validate-imbue-plugin, check-context-optimization

docs(imbue): add feature-review to README documentation
  plugins/imbue/README.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer, validate-imbue-plugin

fix(memory-palace): persist intake queue directly from PreToolUse hook
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin

chore(release): bump all plugins to version 1.0.3
  .claude-plugin/marketplace.json
  .gitignore
  CHANGELOG.md
  docs/tutorials/memory-palace-curation.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/pyproject.toml
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/pyproject.toml
  plugins/conservation/.claude-plugin/plugin.json
  plugins/conservation/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/imbue/tests/unit/agents/test_review_analyst.py
  plugins/imbue/tests/unit/commands/test_catchup_command.py
  plugins/imbue/tests/unit/commands/test_review_command.py
  plugins/imbue/tests/unit/skills/test_catchup.py
  plugins/imbue/tests/unit/skills/test_diff_analysis.py
  plugins/imbue/tests/unit/skills/test_review_core.py
  plugins/imbue/tests/unit/skills/test_structured_output.py
  plugins/imbue/uv.lock
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/pyproject.toml
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/docs/metadata.md
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/uv.lock
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/pyproject.toml
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/parseltongue/pyproject.toml
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/pyproject.toml
  plugins/pensive/uv.lock
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/pyproject.toml
  plugins/spec-kit/.claude-plugin/plugin.json
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/uv.lock
  pyproject.toml
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin

fix(review): address PR #38 review comments
  plugins/imbue/.claude-plugin/plugin.json
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-plugin, validate-memory-palace-plugin

docs(capabilities): add feature-review and standardize hook types
  docs/capabilities-reference.md
Due: none

refactor: restructure fix-issue and reinstall-all-plugins commands
  plugins/leyline/commands/reinstall-all-plugins.md
  plugins/leyline/scripts/reinstall_all_plugins.py
  plugins/sanctum/commands/fix-issue.md
  plugins/sanctum/skills/fix-issue/SKILL.md
  plugins/sanctum/skills/fix-issue/modules/completion.md
  plugins/sanctum/skills/fix-issue/modules/issue-discovery.md
  plugins/sanctum/skills/fix-issue/modules/parallel-execution.md
  plugins/sanctum/skills/fix-issue/modules/quality-gates.md
  plugins/sanctum/skills/fix-issue/modules/task-planning.md
  plugins/sanctum/skills/fix-issue/modules/troubleshooting.md
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, check-context-optimization

refactor(commands)!: eliminate duplicate command names across plugins
  docs/capabilities-reference.md
  docs/cross-plugin-collaboration.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/commands/structured-review.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/README.md
  plugins/sanctum/commands/git-catchup.md
  plugins/sanctum/commands/merge-docs.md
  plugins/sanctum/skills/commit-messages/SKILL.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-plugin, check-context-optimization

fix(review): address PR #38 review feedback
  plugins/imbue/tests/unit/commands/test_catchup_command.py
  plugins/imbue/tests/unit/commands/test_review_command.py
  plugins/imbue/tests/unit/skills/test_catchup.py
  plugins/imbue/tests/unit/skills/test_diff_analysis.py
  plugins/imbue/tests/unit/skills/test_structured_output.py
  plugins/imbue/uv.lock
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/uv.lock
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-imbue-plugin, validate-memory-palace-plugin

feat(sanctum): make out-of-scope issue creation mandatory in /fix-pr
  plugins/sanctum/commands/fix-pr.md
Due: performance-regression-detector, technical-debt-detector, quality-gate-enforcer

fix(compliance): address PR #42 review feedback
  plugins/abstract/src/abstract/skills_eval/compliance.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

test(compliance): add tests for trigger isolation and enforcement level
  plugins/abstract/tests/scripts/skills_eval/test_compliance_checker.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin

chore(release): bump all plugins to version 1.0.4
  .claude-plugin/marketplace.json
  CHANGELOG.md
  README.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/pyproject.toml
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/pyproject.toml
  plugins/conservation/.claude-plugin/plugin.json
  plugins/conservation/pyproject.toml
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/pyproject.toml
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/pyproject.toml
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/pyproject.toml
  plugins/minister/.claude-plugin/plugin.json
  plugins/minister/pyproject.toml
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/parseltongue/pyproject.toml
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/pyproject.toml
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/pyproject.toml
  plugins/spec-kit/.claude-plugin/plugin.json
  plugins/spec-kit/pyproject.toml
  pyproject.toml
  uv.lock
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conservation-plugin, validate-memory-palace-plugin

docs(book): add mdbook documentation and GitHub Pages workflow
  .github/workflows/deploy-book.yml
  book/book.toml
  book/src/SUMMARY.md
  book/src/achievements/README.md
  book/src/getting-started/README.md
  book/src/getting-started/first-plugin.md
  book/src/getting-started/installation.md
  book/src/getting-started/quick-start.md
  book/src/introduction.md
  book/src/plugins/README.md
  book/src/plugins/abstract.md
  book/src/plugins/archetypes.md
  book/src/plugins/conjure.md
  book/src/plugins/conservation.md
  book/src/plugins/domain-specialists.md
  book/src/plugins/foundation-layer.md
  book/src/plugins/imbue.md
  book/src/plugins/leyline.md
  book/src/plugins/memory-palace.md
  book/src/plugins/meta-layer.md
  book/src/plugins/minister.md
  book/src/plugins/parseltongue.md
  book/src/plugins/pensive.md
  book/src/plugins/sanctum.md
  book/src/plugins/spec-kit.md
  book/src/plugins/utility-layer.md
  book/src/reference/capabilities-reference.md
  book/src/reference/superpowers-integration.md
  book/src/tutorials/README.md
  book/src/tutorials/cache-modes.md
  book/src/tutorials/embedding-upgrade.md
  book/src/tutorials/memory-palace-curation.md
  book/theme/css/gamification.css
  book/theme/js/achievements.js
Due: none

feat(conservation): add two-tier MECW context warning hook
  plugins/conservation/hooks/context_warning.py
  plugins/conservation/hooks/hooks.json
  plugins/conservation/hooks/session-start.sh
  plugins/conservation/skills/context-optimization/condition_based_optimizer.py
  plugins/conservation/tests/unit/test_context_warning.py
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin

feat(memory-palace): add knowledge orchestrator with RL-based quality management
  plugins/memory-palace/data/state/autonomy-state.yaml
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/memory-palace/src/memory_palace/corpus/__init__.py
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/src/memory_palace/corpus/keyword_index.py
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/src/memory_palace/corpus/marginal_value.py
  plugins/memory-palace/src/memory_palace/corpus/source_lineage.py
  plugins/memory-palace/src/memory_palace/corpus/usage_tracker.py
  plugins/memory-palace/tests/test_decay_model.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/memory-palace/tests/test_source_lineage.py
  plugins/memory-palace/tests/test_usage_tracker.py
  plugins/memory-palace/uv.lock
  uv.lock
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-memory-palace-plugin, check-context-optimization

feat(sanctum): add /update-dependencies command and agent
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/agents/dependency-updater.md
  plugins/sanctum/commands/update-dependencies.md
Due: performance-regression-detector, technical-debt-detector, plugin-api-compatibility-checker, quality-gate-enforcer

test: add new test suites and standardize Makefile targets
  plugins/abstract/scripts/makefile_dogfooder.py
  plugins/abstract/scripts/migration_analyzer.py
  plugins/abstract/skills/hook-authoring/scripts/hook_validator.py
  plugins/abstract/skills/skill-authoring/scripts/skill_validator.py
  plugins/abstract/tests/test_errors.py
  plugins/conservation/tests/integration/test_conservation_workflow_integration.py
  plugins/conservation/tests/unit/agents/test_context_optimizer.py
  plugins/conservation/tests/unit/commands/test_optimize_context.py
  plugins/conservation/tests/unit/scripts/test_conservation_validator.py
  plugins/conservation/tests/unit/skills/test_condition_based_optimizer.py
  plugins/conservation/tests/unit/skills/test_context_optimization.py
  plugins/conservation/tests/unit/skills/test_mcp_code_execution.py
  plugins/conservation/tests/unit/skills/test_optimizing_large_skills.py
  plugins/conservation/tests/unit/skills/test_performance_monitoring.py
  plugins/conservation/tests/unit/skills/test_token_conservation.py
  plugins/imbue/Makefile
  plugins/leyline/tests/test_reinstall_all_plugins.py
  plugins/memory-palace/data/state/autonomy-state.yaml
  plugins/memory-palace/tests/test_marginal_value.py
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
  plugins/sanctum/Makefile
  plugins/spec-kit/Makefile
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-abstract-plugin, validate-imbue-plugin, validate-conservation-plugin, validate-memory-palace-plugin

fix: address PR #45 review feedback
  plugins/conservation/Makefile
  plugins/conservation/hooks/context_warning.py
  plugins/leyline/pyproject.toml
  plugins/leyline/tests/test_update_all_plugins.py
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/src/memory_palace/corpus/usage_tracker.py
Due: performance-regression-detector, technical-debt-detector, enhanced-context-optimizer, quality-gate-enforcer, validate-conservation-plugin, validate-memory-palace-plugin
