Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(ci): update workflows to match current plugin state
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  .github/workflows/slop-check.yml
  .github/workflows/trust-attestation.yml
Due: none

fix: repair broken descriptions and improve critical-path recognition
  plugins/abstract/commands/create-skill.md
  plugins/abstract/commands/skills-eval.md
  plugins/abstract/commands/test-skill.md
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/scripts/validate_plugin.py
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/tests/conftest.py
  plugins/abstract/tests/test_script_permissions.py
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
  plugins/abstract/tests/unit/test_validate_plugin.py
  plugins/conserve/commands/bloat-scan.md
  plugins/conserve/commands/unbloat.md
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/conserve/skills/decisive-action/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/conserve/skills/smart-sourcing/SKILL.md
  plugins/imbue/commands/catchup.md
  plugins/imbue/skills/workflow-monitor/SKILL.md
  plugins/leyline/skills/evaluation-framework/SKILL.md
  plugins/leyline/skills/service-registry/SKILL.md
  plugins/pensive/commands/refine-code.md
  plugins/sanctum/commands/acp.md
  plugins/sanctum/commands/commit-msg.md
  plugins/sanctum/commands/create-tag.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/git-catchup.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/update-plugins.md
  plugins/sanctum/commands/update-tests.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs: update all budget references to 20k/160-char limits
  docs/adr/0004-skill-description-budget-optimization.md
  docs/adr/0005-attune-discoverability-enhancement.md
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/skills/skills-eval/modules/troubleshooting.md
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
  plugins/leyline/skills/progressive-loading/modules/performance-budgeting.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix: address PR #366 review feedback
  .pr-review-gaunlet-1.8.0.md
  CHANGELOG.md
  book/src/plugins/scribe.md
  book/src/reference/capabilities-reference.md
  docs/cartograph/implementation-plan.md
  docs/cartograph/project-brief.md
  docs/cartograph/specification.md
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/skills/escalation-governance/SKILL.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hooks-eval/SKILL.md
  plugins/abstract/skills/metacognitive-self-mod/SKILL.md
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/plugin-review/SKILL.md
  plugins/abstract/skills/rules-eval/SKILL.md
  plugins/abstract/skills/shared-patterns/SKILL.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/src/gauntlet/blast_radius.py
  plugins/gauntlet/tests/unit/scripts/test_graph_scripts.py
  plugins/gauntlet/tests/unit/test_blast_radius.py
  plugins/gauntlet/tests/unit/test_graph.py
  plugins/gauntlet/tests/unit/test_incremental.py
  plugins/gauntlet/tests/unit/test_treesitter_parser.py
  plugins/leyline/hooks/noqa_guard.py
  plugins/leyline/tests/unit/hooks/test_noqa_guard.py
  plugins/oracle/hooks/daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(scripts): restore CWD before removing temp dirs in awesome-submit
  scripts/awesome-submit.sh
Due: none

fix(scripts): check for existing open PR before cloning in awesome-submit
  scripts/awesome-submit.sh
Due: none

fix(scripts): stop deleting remote branches in awesome-submit
  scripts/awesome-submit.sh
Due: none

feat(conserve,scribe): enhance AI slop detection with desloppify patterns
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/conserve/commands/ai-hygiene-audit.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
Due: run-plugin-tests, validate-conserve-plugin, validate-description-budget

chore: remove external project attribution from skills
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/conserve/commands/ai-hygiene-audit.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
Due: run-plugin-tests, validate-conserve-plugin, validate-description-budget

fix(scripts): rewrite clawhub-submit to use clawhub CLI instead of PRs
  scripts/clawhub-submit.sh
  tag-submissions.json
Due: none

feat: add tests, update docs, and plan sem integration
  README.md
  book/src/plugins/gauntlet.md
  docs/superpowers/plans/2026-04-05-sem-integration.md
  docs/superpowers/specs/2026-04-05-sem-integration-design.md
  plugins/gauntlet/README.md
  plugins/gauntlet/tests/unit/test_constants.py
  plugins/imbue/tests/unit/hooks/test_tdd_bdd_gate.py
  plugins/leyline/tests/unit/hooks/test_supply_chain_check.py
  plugins/sanctum/tests/test_security_pattern_check.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

feat(leyline): add sem-integration foundation skill
  book/src/reference/capabilities-reference.md
  book/src/reference/capabilities-skills.md
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/openpackage.yml
  plugins/leyline/skills/sem-integration/SKILL.md
  plugins/leyline/skills/sem-integration/modules/detection.md
  plugins/leyline/skills/sem-integration/modules/fallback.md
  plugins/leyline/tests/unit/skills/test_sem_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(imbue): add sem as primary diff engine in diff-analysis and catchup
  plugins/imbue/skills/catchup/modules/git-catchup-patterns.md
  plugins/imbue/skills/diff-analysis/modules/semantic-categorization.md
Due: run-plugin-tests, validate-imbue-plugin

feat(pensive,sanctum): integrate sem into blast-radius, workspace-review, and commit-messages
  plugins/pensive/skills/blast-radius/SKILL.md
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs: update skill count and leyline plugin page for sem-integration
  README.md
  book/src/plugins/leyline.md
  docs/superpowers/specs/2026-04-05-sem-integration-design.md
Due: none

docs: fix README badge and plugin table counts for sem-integration
  README.md
Due: none

fix: address PR #380 review blocking and critical issues
  plugins/gauntlet/src/gauntlet/communities.py
  plugins/gauntlet/src/gauntlet/problem_bank.py
  plugins/imbue/skills/catchup/modules/git-catchup-patterns.md
  plugins/imbue/skills/diff-analysis/modules/semantic-categorization.md
  plugins/leyline/hooks/supply_chain_check.py
  plugins/leyline/skills/sem-integration/SKILL.md
  plugins/leyline/skills/sem-integration/modules/fallback.md
  plugins/leyline/tests/unit/hooks/test_supply_chain_check.py
  plugins/pensive/hooks/pr_blast_radius.py
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  scripts/clawhub-submit.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix: address PR #380 review - remove stale docs, modernize README chart
  README.md
  docs/superpowers/plans/2026-04-05-sem-integration.md
  docs/superpowers/specs/2026-04-05-sem-integration-design.md
Due: none

fix(readme): redesign architecture mermaid chart for readability
  README.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(readme): use flat layout for narrower mermaid chart
  README.md
Due: none

fix: update tests for Difficulty scale change and minor formatting
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/gauntlet/hooks/graph_auto_update.py
  plugins/gauntlet/src/gauntlet/__init__.py
  plugins/gauntlet/src/gauntlet/communities.py
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/src/gauntlet/models.py
  plugins/gauntlet/src/gauntlet/treesitter_parser.py
  plugins/gauntlet/tests/unit/test_communities.py
  plugins/gauntlet/tests/unit/test_flows.py
  plugins/gauntlet/tests/unit/test_problem_bank.py
  plugins/herald/pyproject.toml
  plugins/imbue/skills/catchup/modules/git-catchup-patterns.md
  plugins/leyline/skills/sem-integration/modules/detection.md
  plugins/leyline/tests/unit/skills/test_sem_integration.py
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/pensive/skills/blast-radius/SKILL.md
  plugins/sanctum/hooks/security_pattern_check.py
  scripts/awesome-submit.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix: graph type design and error handling improvements (#376)
  plugins/gauntlet/src/gauntlet/graph.py
  plugins/gauntlet/src/gauntlet/incremental.py
  plugins/leyline/hooks/supply_chain_check.py
  scripts/awesome-submit.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test: add missing coverage for graph and model features (#382)
  plugins/gauntlet/tests/unit/test_graph.py
  plugins/gauntlet/tests/unit/test_models.py
  plugins/leyline/tests/unit/skills/test_sem_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: update supply_chain_check test for narrowed exception handling
  plugins/leyline/tests/unit/hooks/test_supply_chain_check.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: add context map v2 design spec
  docs/superpowers/specs/2026-04-07-context-map-v2-design.md
Due: none

docs: add context map v2 implementation plan
  docs/superpowers/plans/2026-04-07-context-map-v2.md
Due: none

feat(conserve): add per-file blast radius BFS
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(conserve): add --blast CLI flag for per-file blast radius
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(conserve): add scan caching with fingerprint invalidation
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(conserve): add schema/model extraction for ORM detection
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(conserve): add wiki knowledge article generation
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(conserve): add --section flag for targeted context queries
  plugins/conserve/scripts/context_scanner.py
  plugins/conserve/tests/test_context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

docs(conserve): update context-map skill with v2 capabilities
  book/src/reference/capabilities-reference.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/skills/context-map/SKILL.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(conserve): persist hot file importer counts through cache
  plugins/conserve/scripts/context_scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

chore(conserve): register context-map skill in openpackage.yml
  plugins/conserve/openpackage.yml
Due: validate-conserve-plugin

test(gauntlet,sanctum): add coverage and fix env leakage in tests
  plugins/gauntlet/src/gauntlet/treesitter_parser.py
  plugins/gauntlet/tests/unit/test_communities.py
  plugins/gauntlet/tests/unit/test_incremental.py
  plugins/sanctum/hooks/security_pattern_check.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
  plugins/sanctum/tests/test_notification_integration.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests
