Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

feat(conjure): add Muse, GLM-5.3, Codex, OpenCode and local Glimmer
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/scripts/quota_tracker.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_setup.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

feat(conjure): seat Muse on the council and derive Make targets from the registry
  plugins/conjure/Makefile
  plugins/conjure/scripts/war_room/config.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/tests/test_war_room_experts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): make `make test` actually run the tests
  plugins/conjure/Makefile
  plugins/conjure/tests/test_war_room_experts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(conjure): document the five new providers and record the sources
  CHANGELOG.md
  book/src/reference/capabilities-reference.md
  plugins/conjure/.claude-plugin/metadata.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/skills/codex-delegation/SKILL.md
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/skills/glm-delegation/SKILL.md
  plugins/conjure/skills/muse-delegation/SKILL.md
  plugins/conjure/skills/opencode-delegation/SKILL.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(conjure): refresh the README and clear the slop-detector pass
  CHANGELOG.md
  plugins/conjure/README.md
  plugins/conjure/skills/codex-delegation/SKILL.md
  plugins/conjure/skills/glm-delegation/SKILL.md
  plugins/conjure/skills/muse-delegation/SKILL.md
  plugins/conjure/skills/opencode-delegation/SKILL.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(docs): file minimax-delegation where the alphabet puts it
  book/src/reference/capabilities-reference.md
Due: none

fix(conjure): stop reporting auth ok for a check that never ran
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/tests/scripts/test_delegation_setup.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(abstract): an unrecorded duration is not a fast one
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): the summary table restated the conflation it reports
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): say which absent signals someone is meant to close
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(scripts): model-ID gates missed pre-4.x naming
  .claude/upstream-baseline.json
  scripts/check_agent_model_matrix.py
  scripts/check_upstream_drift.py
  tests/scripts/test_check_agent_model_matrix.py
  tests/unit/test_check_upstream_drift.py
Due: none

fix(docs): Opus 4.1's retirement date has passed
  docs/knowledge-corpus/anthropic-model-roster.md
Due: none

fix(scripts): a skill's prose was nobody's territory
  .claude/upstream-baseline.json
  scripts/check_upstream_drift.py
  tests/unit/test_check_upstream_drift.py
Due: none

fix(phantom): one default model, not two
  plugins/phantom/src/phantom/cli.py
  plugins/phantom/tests/unit/test_cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(attune): stop teaching a model pin the gate rejects
  plugins/attune/scripts/plugin_project_init.py
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/skills/war-room/modules/expert-roles.md
  plugins/attune/templates/agent-discoverability-template.md
  plugins/attune/tests/test_plugin_project_init.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

chore(scripts): tighten the dated-ID backlog to 55
  .claude/upstream-baseline.json
  scripts/check_upstream_drift.py
Due: none

fix(attune): fold model_preference into the field the gate reads
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  scripts/check_agent_model_matrix.py
  tests/scripts/test_check_agent_model_matrix.py
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(scripts): the exit-criteria ratchet carried 126 of slack
  scripts/check_skill_exit_criteria_drift.py
  scripts/skill_exit_criteria_baseline.json
  tests/scripts/test_check_skill_exit_criteria_drift.py
Due: none

fix(ci): setup-uv v10 disables the cache the poisoning advisory names
  .github/workflows/cron-memory-palace.yaml
  .github/workflows/cross-framework-publish.yml
  .github/workflows/ecosystem-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/python39-compat.yml
  .github/workflows/security.yml
  .github/workflows/tome-integration.yml
  .github/workflows/trust-attestation.yml
  .github/workflows/typecheck.yml
Due: none

fix(skills): every dangling Skill() ref resolved, ratchet closed to zero
  plugins/abstract/scripts/skill_graph.py
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/tests/scripts/test_skill_graph.py
  plugins/attune/skills/war-room/SKILL.md
  plugins/imbue/skills/workflow-monitor/SKILL.md
  plugins/leyline/skills/progressive-loading/README.md
  plugins/leyline/skills/progressive-loading/SKILL.md
  plugins/leyline/skills/progressive-loading/modules/loading-patterns.md
  plugins/sanctum/skills/test-updates/SKILL.md
  scripts/skill_graph_baseline.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(plugins): three parameters that documented work they never did
  plugins/egregore/scripts/learning.py
  plugins/memory-palace/src/memory_palace/corpus/marginal_value.py
  plugins/memory-palace/src/memory_palace/corpus/source_lineage.py
  plugins/memory-palace/tests/test_source_lineage.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(abstract): the routing guide sent Haiku to eight components that do not exist
  plugins/abstract/docs/model-optimization-guide.md
Due: run-plugin-tests, validate-abstract-plugin

fix(lint): per-plugin ruff configs replaced the repo floor instead of adding to it
  plugins/abstract/pyproject.toml
  plugins/archetypes/pyproject.toml
  plugins/attune/pyproject.toml
  plugins/conjure/pyproject.toml
  plugins/conserve/pyproject.toml
  plugins/egregore/pyproject.toml
  plugins/gauntlet/pyproject.toml
  plugins/herald/pyproject.toml
  plugins/hookify/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/memory-palace/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/oracle/pyproject.toml
  plugins/parseltongue/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/phantom/pyproject.toml
  plugins/sanctum/pyproject.toml
  plugins/scribe/pyproject.toml
  plugins/scry/pyproject.toml
  plugins/spec-kit/pyproject.toml
  plugins/tome/pyproject.toml
Due: validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(gates): the ignore audit went blind and CI never ran ruff at all
  .github/workflows/lint.yml
  .gitignore
  docs/quality-gates.md
  plugins/conserve/tests/test_context_scanner.py
  plugins/memory-palace/tests/test_journey_tracker.py
  plugins/memory-palace/tests/test_palace_renderer.py
  plugins/memory-palace/tests/test_tier_manager.py
  scripts/check_per_file_ignores.py
  tests/test_ci_enforces_lint.py
  tests/unit/test_check_per_file_ignores.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin

fix(skills): six of the seven uncalled libraries were never uncalled
  docs/skill-integration-guide.md
  plugins/abstract/scripts/skill_graph.py
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/tests/scripts/test_skill_graph.py
  plugins/cartograph/commands/visualize.md
  plugins/cartograph/skills/call-chain/SKILL.md
  plugins/conserve/skills/agent-expenditure/SKILL.md
  plugins/imbue/skills/assisted-mastery/SKILL.md
  plugins/tome/skills/code-search/SKILL.md
  plugins/tome/skills/dig/SKILL.md
  plugins/tome/skills/discourse/SKILL.md
  plugins/tome/skills/papers/SKILL.md
  scripts/skill_graph_baseline.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(tests): the one skipped test was guarding an exemption that had expired
  tests/test_assets_respect_enforced_vows.py
Due: none

fix(scripts): the test runner deleted the output of the run that failed
  scripts/run-plugin-tests.sh
  tests/unit/test_run_plugin_tests.py
Due: none

refactor(abstract): the audit reported strengths as recommendations
  plugins/abstract/docs/frontmatter-exceptions.md
  plugins/abstract/docs/python-structure.md
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/scripts/compliance_checker.py
  plugins/abstract/scripts/discussion_enrichment.py
  plugins/abstract/scripts/improvement_suggester.py
  plugins/abstract/scripts/skill_graph.py
  plugins/abstract/scripts/skills_auditor.py
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-authoring/scripts/README.md
  plugins/abstract/skills/skill-authoring/README.md
  plugins/abstract/skills/skills-eval/scripts/README.md
  plugins/abstract/skills/skills-eval/scripts/automation/deploy.sh
  plugins/abstract/src/abstract/README.md
  plugins/abstract/src/abstract/cli_framework.py
  plugins/abstract/src/abstract/skills_eval/auditor.py
  plugins/abstract/src/abstract/skills_eval/compliance.py
  plugins/abstract/src/abstract/skills_eval/improvements.py
  plugins/abstract/src/abstract/skills_eval/token_tracker.py
  plugins/abstract/src/abstract/tokens.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

refactor(abstract): three copies of the learnings path ignored CLAUDE_HOME
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/hooks/post_learnings_stop.py
  plugins/abstract/hooks/shared/best_effort.py
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/src/abstract/cli.py
  plugins/abstract/src/abstract/utils.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(conjure): a partial service override reset the whole CLI contract
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/usage_logger.py
  plugins/conjure/scripts/war_room/delphi.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/scripts/war_room/orchestrator.py
  plugins/conjure/scripts/war_room/phases.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/scripts/test_usage_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(ci): the lint gate died before it linted anything
  .github/workflows/lint.yml
Due: none

refactor(tome): three cleanups landed without the names they call
  plugins/tome/src/tome/channels/github.py
  plugins/tome/src/tome/channels/triz.py
  plugins/tome/src/tome/output/export.py
  plugins/tome/tests/channels/test_triz.py
  plugins/tome/tests/unit/test_triz_export_visualizer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(ci): the lint guard checked the gate was written, not that it runs
  tests/test_ci_enforces_lint.py
Due: none

fix(abstract): an execution nothing timed was logged as a real 0ms
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/hooks/test_skill_execution_logger.py
  plugins/abstract/tests/test_hooks_skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): the fabricated durations already on disk stayed fabricated
  plugins/abstract/scripts/correct_fabricated_durations.py
  plugins/abstract/tests/scripts/test_correct_fabricated_durations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(abstract): the corrector's CLI and its safety rails ran unguarded
  plugins/abstract/tests/scripts/test_correct_fabricated_durations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(sanctum): the BDD examples fail the lint gate they are written for
  plugins/abstract/tests/hooks/test_skill_execution_logger.py
  plugins/abstract/tests/scripts/test_correct_fabricated_durations.py
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/sanctum/skills/test-updates/SKILL.md
  plugins/sanctum/skills/test-updates/modules/bdd-patterns.md
  plugins/sanctum/skills/test-updates/modules/tdd-workflow.md
  plugins/sanctum/skills/test-updates/modules/test-enhancement.md
  plugins/sanctum/skills/test-updates/modules/test-generation.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(docs): instructions told the reader to run targets that do not exist
  plugins/abstract/skills/skill-authoring/modules/deployment-checklist.md
  plugins/attune/agents/project-implementer.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/leyline/skills/stewardship/modules/diligence.md
  plugins/memory-palace/skills/session-palace-builder/SKILL.md
  plugins/sanctum/commands/prepare-pr.md
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/skills/pr-prep/modules/quality-gates.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/update-readme/SKILL.md
  tests/test_cited_make_targets_resolve.py
Due: run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget
