Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(scripts): remove false-positive deprecated-pre-decision rule
  scripts/check_hook_modernization.py
  tests/unit/test_check_hook_modernization.py
Due: none

test(tome): backfill coverage for channels and output modules
  plugins/tome/tests/unit/test_channels.py
  plugins/tome/tests/unit/test_triz_export_visualizer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(minister): cover project_tracker CLI surface
  plugins/minister/tests/unit/test_project_tracker_cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(abstract): refresh effort levels and add 2.1.97-2.1.138 compat notes
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/skills/escalation-governance/SKILL.md
  plugins/abstract/skills/skills-eval/modules/evaluation-criteria.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

chore(assets): refresh architecture diagram and skills showcase gif
  assets/architecture-dark.svg
  assets/architecture-light.svg
  assets/gifs/skills-showcase.gif
Due: none

chore(assets): add subtitle burn-in script for skills-showcase gif
  assets/tapes/add-subtitles.sh
Due: none

docs(knowledge-corpus): add seven-tier QA testing taxonomy entry
  docs/knowledge-corpus/qa-testing-tiers.md
Due: none

fix(1.9.6): address PR #521 review findings (release-blocking nits)
  CHANGELOG.md
  README.md
  assets/tapes/add-subtitles.sh
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/gauntlet/src/gauntlet/providers/in_loop.py
  plugins/minister/skills/dora-metrics/SKILL.md
  plugins/minister/skills/dora-metrics/modules/agentic-workflow-signals.md
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
  plugins/pensive/skills/performance-review/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

feat(pensive): add harden command, skill, and orchestrator agent
  book/src/reference/capabilities-reference.md
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/agents/harden-orchestrator.md
  plugins/pensive/commands/harden.md
  plugins/pensive/skills/harden/SKILL.md
  plugins/pensive/skills/harden/modules/cross-cutting.md
  plugins/pensive/skills/harden/modules/frontier-checks.md
  plugins/pensive/skills/harden/modules/nist-controls.md
  plugins/pensive/skills/harden/modules/proposal-shape.md
  plugins/pensive/skills/harden/modules/python-checks.md
  plugins/pensive/skills/harden/modules/rust-checks.md
  plugins/pensive/tests/unit/skills/test_harden.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(minister): collector partial flag, --strict, CLI validation (#525, #526)
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(memory-palace): catch yaml.YAMLError on corrupt index (#528)
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/tests/hooks/test_deduplication.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(minister): type design refinements - invariants, tz-aware, Tier (#529)
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(minister): empty-window metrics report N/A, not Elite (#527)
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(pensive): wire harden detector code (Python AST MVP)
  plugins/pensive/src/pensive/harden/__init__.py
  plugins/pensive/src/pensive/harden/__main__.py
  plugins/pensive/src/pensive/harden/cli.py
  plugins/pensive/src/pensive/harden/detectors_python.py
  plugins/pensive/src/pensive/harden/scanner.py
  plugins/pensive/src/pensive/harden/types.py
  plugins/pensive/tests/unit/harden/__init__.py
  plugins/pensive/tests/unit/harden/test_python_detectors.py
  plugins/pensive/tests/unit/harden/test_scanner_cli.py
  plugins/pensive/tests/unit/harden/test_types.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(pensive): harden scanner skips .uv-cache and .cargo paths
  plugins/pensive/src/pensive/harden/scanner.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(gauntlet,pensive,parseltongue): move all in-function imports to top level
  plugins/gauntlet/src/gauntlet/providers/in_loop.py
  plugins/gauntlet/tests/unit/test_in_loop_provider.py
  plugins/parseltongue/tests/test_testing_guidance.py
  plugins/pensive/tests/unit/harden/test_python_detectors.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(conserve): add log-debugging-hygiene module with filter-first workflow
  plugins/conserve/skills/compression-strategy/SKILL.md
  plugins/conserve/skills/compression-strategy/modules/log-debugging-hygiene.md
  plugins/conserve/tests/test_log_debugging_hygiene.py
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(conserve): add /conserve:filter-log command
  book/src/reference/capabilities-reference.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/commands/filter-log.md
  plugins/conserve/tests/test_filter_log_command.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-description-budget

test(conserve): encode no-bundled-compressor invariant and tier-1 subset properties
  plugins/conserve/pyproject.toml
  plugins/conserve/tests/test_log_debugging_hygiene.py
  plugins/conserve/tests/test_log_filter_properties.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

docs(conserve): document /filter-log and log-debugging-hygiene module
  CHANGELOG.md
  book/src/plugins/conserve.md
  plugins/conserve/README.md
Due: run-plugin-tests, validate-conserve-plugin

docs(readme): reflect conserve filter-first log debugging work
  README.md
Due: none

fix(conserve): address PR #539 review findings C1-I8, M1-M4, N1-N2, S2
  CHANGELOG.md
  README.md
  plugins/conserve/skills/compression-strategy/modules/log-debugging-hygiene.md
  plugins/conserve/tests/test_filter_log_command.py
  plugins/conserve/tests/test_log_debugging_hygiene.py
  plugins/conserve/tests/test_log_filter_properties.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

feat(scribe): add Tier 5 / 2026 slop patterns
  .claude/rules/slop-scan-for-docs.md
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/hookify/skills/rule-catalog/rules/documentation/require-slop-scan-for-docs.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/scribe/agents/doc-editor.md
  plugins/scribe/agents/prose-reviewer.md
  plugins/scribe/agents/slop-hunter.md
  plugins/scribe/commands/doc-generate.md
  plugins/scribe/commands/doc-polish.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/remediation-strategies.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
  plugins/scribe/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(scribe): cover trailing 'Y, not X' and comma-joined 'No X, no Y, no Z' negation slop
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/agents/doc-editor.md
  plugins/scribe/agents/prose-reviewer.md
  plugins/scribe/agents/slop-hunter.md
  plugins/scribe/commands/doc-generate.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/remediation-strategies.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(scribe): rewrite trailing 'Y, not X' as 'Y instead of X'
  plugins/scribe/agents/prose-reviewer.md
  plugins/scribe/skills/slop-detector/modules/remediation-strategies.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: fix smart-quote and negation slop across plugins
  plugins/abstract/skills/modular-skills/modules/core-workflow.md
  plugins/conjure/skills/agent-teams/SKILL.md
  plugins/sanctum/agents/workflow-improvement-analysis-agent.md
  plugins/sanctum/agents/workflow-improvement-planner-agent.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/spec-kit/skills/speckit-orchestrator/SKILL.md
Due: run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, check-context-optimization, validate-description-budget

feat(pensive): add shell-review skill with POSIX ruleset and reference scripts
  plugins/pensive/skills/harden/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/pensive/skills/shell-review/modules/safety-patterns.md
  plugins/pensive/skills/shell-review/modules/structure-patterns.md
  plugins/pensive/tests/__init__.py
  plugins/pensive/tests/skills/__init__.py
  plugins/pensive/tests/skills/test_shell_review.py
  plugins/pensive/tests/unit/__init__.py
  plugins/pensive/tests/unit/skills/__init__.py
  plugins/pensive/tests/unit/skills/test_shell_review.py
  scripts/logging.sh
  scripts/shellcheck.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(abstract,skills): compress 37 skill descriptions to ≤100 chars and fix stale shared-patterns module refs
  plugins/abstract/skills/friction-detector/SKILL.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-scope-guide/SKILL.md
  plugins/abstract/skills/metacognitive-self-mod/SKILL.md
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/plugin-review/SKILL.md
  plugins/abstract/skills/rules-eval/SKILL.md
  plugins/abstract/skills/shared-patterns/SKILL.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skill-graph-audit/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/abstract/tests/unit/skills/test_shared_patterns.py
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/cartograph/skills/call-chain/SKILL.md
  plugins/cartograph/skills/code-communities/SKILL.md
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/conserve/skills/smart-sourcing/SKILL.md
  plugins/conserve/skills/token-conservation/SKILL.md
  plugins/egregore/skills/summon/SKILL.md
  plugins/gauntlet/skills/challenge/SKILL.md
  plugins/imbue/skills/workflow-monitor/SKILL.md
  plugins/leyline/skills/damage-control/SKILL.md
  plugins/leyline/skills/risk-classification/SKILL.md
  plugins/leyline/skills/sem-integration/SKILL.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/minister/skills/dora-metrics/SKILL.md
  plugins/phantom/skills/computer-control/SKILL.md
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/scribe/skills/doc-importer/SKILL.md
  plugins/scribe/skills/session-replay/SKILL.md
  plugins/scribe/skills/session-to-post/SKILL.md
  tests/test_discoverability_metadata.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

refactor(pensive): split math_review.py into mixin package (#486)
  plugins/pensive/src/pensive/skills/math_review.py
  plugins/pensive/src/pensive/skills/math_review/__init__.py
  plugins/pensive/src/pensive/skills/math_review/_algorithms.py
  plugins/pensive/src/pensive/skills/math_review/_numerical.py
  plugins/pensive/src/pensive/skills/math_review/_reporting.py
  plugins/pensive/src/pensive/skills/math_review/_statistics.py
  plugins/pensive/tests/skills/test_math_review_package_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(pensive): split performance_review.py into module package (#486)
  plugins/pensive/src/pensive/skills/performance_review/__init__.py
  plugins/pensive/src/pensive/skills/performance_review/_helpers.py
  plugins/pensive/src/pensive/skills/performance_review/_visitor.py
  plugins/pensive/tests/skills/test_performance_review_package_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(pensive): split bug_review.py into mixin package (#486)
  plugins/pensive/src/pensive/skills/bug_review.py
  plugins/pensive/src/pensive/skills/bug_review/__init__.py
  plugins/pensive/src/pensive/skills/bug_review/_analysis.py
  plugins/pensive/src/pensive/skills/bug_review/_detection.py
  plugins/pensive/src/pensive/skills/bug_review/_reporting.py
  plugins/pensive/tests/skills/test_bug_review_package_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(pensive): split api_review.py into mixin package (#486)
  plugins/pensive/src/pensive/skills/api_review.py
  plugins/pensive/src/pensive/skills/api_review/__init__.py
  plugins/pensive/src/pensive/skills/api_review/_language.py
  plugins/pensive/src/pensive/skills/api_review/_quality.py
  plugins/pensive/src/pensive/skills/api_review/_reporting.py
  plugins/pensive/tests/skills/test_api_review_package_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(pensive): split test_review.py into mixin package (#486)
  plugins/pensive/src/pensive/skills/test_review.py
  plugins/pensive/src/pensive/skills/test_review/__init__.py
  plugins/pensive/src/pensive/skills/test_review/_constants.py
  plugins/pensive/src/pensive/skills/test_review/_coverage.py
  plugins/pensive/src/pensive/skills/test_review/_patterns.py
  plugins/pensive/src/pensive/skills/test_review/_reporting.py
  plugins/pensive/src/pensive/skills/test_review/_structure.py
  plugins/pensive/tests/skills/test_test_review_package_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(pensive): split makefile_review.py into mixin package (#486)
  plugins/pensive/src/pensive/skills/makefile_review.py
  plugins/pensive/src/pensive/skills/makefile_review/__init__.py
  plugins/pensive/src/pensive/skills/makefile_review/_analysis.py
  plugins/pensive/src/pensive/skills/makefile_review/_constants.py
  plugins/pensive/src/pensive/skills/makefile_review/_helpers.py
  plugins/pensive/src/pensive/skills/makefile_review/_quality.py
  plugins/pensive/src/pensive/skills/makefile_review/_reporting.py
  plugins/pensive/tests/skills/test_makefile_review_package_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(hookify): add destructive-command-guard rule (#488)
  plugins/hookify/skills/rule-catalog/SKILL.md
  plugins/hookify/skills/rule-catalog/rules/security/destructive-command-guard.md
  plugins/hookify/tests/test_destructive_command_guard_rule.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

test(pensive): cover analyze() edge cases in bug_review and performance_review
  plugins/pensive/tests/skills/test_bug_review.py
  plugins/pensive/tests/skills/test_performance_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: populate [Unreleased] CHANGELOG and fix capabilities-reference ordering
  CHANGELOG.md
  book/src/reference/capabilities-reference.md
Due: none

docs: replace spatial-copula slop with plain verbs
  README.md
  docs/karpathy-derivation/project-brief.md
  plugins/abstract/shared-modules/trigger-patterns.md
  plugins/abstract/skills/modular-skills/modules/enforcement-patterns.md
  plugins/abstract/skills/shared-patterns/modules/editing.md
  plugins/abstract/skills/shared-patterns/modules/troubleshooting.md
  plugins/abstract/skills/skill-authoring/modules/examples.md
  plugins/abstract/skills/skill-authoring/modules/progressive-disclosure.md
  plugins/abstract/skills/skills-eval/modules/trigger-isolation-analysis.md
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/egregore/skills/summon/modules/budget.md
  plugins/imbue/hooks/scope-guard-integration.md
  plugins/leyline/commands/verify-plugin.md
  plugins/leyline/skills/evaluation-framework/modules/evaluation-rubric.md
  plugins/leyline/skills/evaluation-framework/modules/quality-metrics.md
  plugins/leyline/skills/progressive-loading/modules/api-review.md
  plugins/leyline/skills/progressive-loading/modules/cargo-patterns.md
  plugins/leyline/skills/progressive-loading/modules/macos-patterns.md
  plugins/leyline/skills/progressive-loading/modules/performance-budgeting.md
  plugins/leyline/skills/sem-integration/modules/detection.md
  plugins/leyline/skills/storage-templates/modules/storage-patterns.md
  plugins/leyline/skills/supply-chain-advisory/SKILL.md
  plugins/pensive/skills/performance-review/modules/time-complexity.md
  plugins/pensive/skills/rust-review/modules/async-slop.md
  plugins/sanctum/skills/doc-updates/modules/adr-patterns.md
  plugins/sanctum/skills/stack-mode/SKILL.md
Due: run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
