Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

refactor(phantom): restyle entrypoint.sh to the house shell rules
  plugins/phantom/scripts/entrypoint.sh
Due: none

refactor(egregore): restyle install_systemd.sh to the house shell rules
  plugins/egregore/scripts/install_systemd.sh
Due: none

refactor(memory-palace): restyle precommit_palace_maintenance.sh to the house shell rules
  plugins/memory-palace/scripts/precommit_palace_maintenance.sh
Due: validate-memory-palace-plugin

refactor(leyline): restyle auto-star-repo.sh to the house shell rules
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/tests/test_auto_star_repo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(egregore): restyle install_launchd.sh to the house shell rules
  plugins/egregore/scripts/install_launchd.sh
Due: none

test: empty the main() ratchet allowlist after the shell restyle
  tests/test_shell_scripts_define_main.py
Due: none

fix(leyline): type-check tokens.py whether or not tiktoken is installed
  plugins/leyline/src/leyline/tokens.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): name the unknown target in the catch-all error
  plugins/egregore/Makefile
Due: none

fix(archetypes): show the shell flags debug-variables claims to show
  plugins/archetypes/Makefile
Due: validate-archetypes-plugin

fix(sanctum): point test-git and test-merge-docs at tests that exist
  plugins/sanctum/Makefile
Due: none

fix(conjure): type-check quota_tracker with leyline and tiktoken installed
  plugins/conjure/scripts/quota_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(imbue): make ci, help and the citation demo report real outcomes
  plugins/imbue/Makefile
Due: validate-imbue-plugin

fix(conjure): fail delegate-verify when the service list cannot be read
  plugins/conjure/Makefile
Due: validate-conjure-plugin

fix(leyline): make the formatting, update and profile targets truthful
  plugins/leyline/Makefile
Due: none

fix(conserve): make the demo, status and help targets do what they say
  plugins/conserve/Makefile
  tests/test_makefile_review_targets.py
Due: validate-conserve-plugin

fix(tome): keep academic, Reddit and full-text search working when sources push back
  plugins/tome/agents/discourse-scanner.md
  plugins/tome/agents/literature-reviewer.md
  plugins/tome/src/tome/channels/academic.py
  plugins/tome/src/tome/channels/discourse.py
  plugins/tome/src/tome/channels/fetch.py
  plugins/tome/src/tome/channels/http.py
  plugins/tome/tests/channels/test_fetch_resilience.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): search every named option before a report ranks it
  plugins/tome/skills/research/SKILL.md
  plugins/tome/tests/test_research_workflow.py
  plugins/tome/workflows/research.js
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix: run Make recipes under -euo pipefail on the stock macOS make too
  Makefile
  plugins/abstract/config/make/common.mk
  plugins/abstract/config/make/markdown-only.mk
  plugins/phantom/Makefile
  tests/test_make_shell_is_strict_on_make_3_81.py
Due: validate-abstract-plugin

fix: stop test targets from re-running a passing suite after a failure
  plugins/abstract/Makefile
  plugins/abstract/config/make/common.mk
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/imbue/Makefile
  plugins/leyline/Makefile
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
  plugins/sanctum/Makefile
  plugins/spec-kit/Makefile
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix: make the root clean, help, plugin-check and capture check truthful
  Makefile
Due: none

fix(gauntlet,herald): name the unknown target in the catch-all error
  plugins/gauntlet/Makefile
  plugins/herald/Makefile
Due: none

fix(conserve,conjure,imbue): leave the global uv cache alone on clean
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/imbue/Makefile
  tests/test_makefile_review_targets.py
Due: validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin

test(sanctum): give the branch-measurement tests a budget load cannot overrun
  plugins/sanctum/tests/test_post_implementation_policy.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): make analyze-skill, improve-skill and dev-setup honest
  plugins/abstract/Makefile
Due: validate-abstract-plugin

fix(pensive): let mutation-test, ci and the skill review report failure
  plugins/pensive/Makefile
  plugins/pensive/pyproject.toml
  plugins/pensive/uv.lock
Due: none

fix(attune): fail dev-setup when pre-commit hooks do not install
  plugins/attune/Makefile
Due: none

fix(memory-palace): keep plugin-check on the demo store and stop masking CLI errors
  plugins/memory-palace/Makefile
  plugins/memory-palace/tests/test_plugin_check_recipes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(cartograph,sanctum): add the dev tools python.mk's shared targets run
  plugins/cartograph/pyproject.toml
  plugins/cartograph/uv.lock
  plugins/sanctum/pyproject.toml
  plugins/sanctum/uv.lock
  tests/test_makefile_review_set_y.py
Due: none

fix(tome): profile a real entry script in the uv environment
  plugins/tome/Makefile
Due: none

fix: print the root clean summary on failure too
  Makefile
Due: none

fix(scribe): make validate, typecheck and count-slop report real failures
  plugins/scribe/Makefile
  tests/test_makefile_review_set_x.py
Due: none

fix(scry): fail validate, lint and test-integration on a failed check
  plugins/scry/Makefile
Due: none

fix(spec-kit): fail skill demos on a missing skill and demo every command
  plugins/spec-kit/Makefile
Due: none

fix(gauntlet): let demo-gauntlet-extract fail when the extractor fails
  plugins/gauntlet/Makefile
Due: none

fix(parseltongue): make ci check the tree instead of rewriting it
  plugins/parseltongue/Makefile
Due: none

fix(scribe): stop the demo pointing at a /slop-scan command scribe lacks
  plugins/scribe/Makefile
  tests/test_makefile_review_set_x.py
Due: none

fix: let `make security` run and pass in every python.mk plugin
  plugins/abstract/config/make/python.mk
  plugins/attune/pyproject.toml
  plugins/conjure/uv.lock
  plugins/egregore/pyproject.toml
  plugins/egregore/uv.lock
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/uv.lock
  plugins/herald/pyproject.toml
  plugins/herald/uv.lock
  plugins/hookify/pyproject.toml
  plugins/hookify/uv.lock
  plugins/leyline/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/minister/uv.lock
  plugins/oracle/pyproject.toml
  plugins/oracle/uv.lock
  plugins/tome/pyproject.toml
  plugins/tome/uv.lock
  tests/test_makefile_review_set_y.py
  uv.lock
Due: validate-abstract-plugin, validate-conjure-plugin

test: check root help output, not hand-written help lines
  tests/test_make_test_mods.py
  tests/test_make_validate_plugins.py
Due: none

test(abstract): run the skrills wrapper tests against a copy with no local binary
  plugins/abstract/tests/test_skrills_or_fallback.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs: record the shell restyle, Makefile review and tome fixes under 1.10.0
  CHANGELOG.md
Due: none

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
