Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

feat(sanctum): add Zellij session detection to notifications
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): use gh api PATCH for PR description updates
  plugins/sanctum/commands/pr-review.md
Due: run-plugin-tests, validate-description-budget

feat(scribe): add documentation review plugin with AI slop detection
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/Makefile
  plugins/scribe/README.md
  plugins/scribe/agents/doc-editor.md
  plugins/scribe/agents/slop-hunter.md
  plugins/scribe/commands/doc-generate.md
  plugins/scribe/commands/doc-polish.md
  plugins/scribe/commands/slop-scan.md
  plugins/scribe/commands/style-learn.md
  plugins/scribe/plugin.json
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/doc-generator/modules/generation-guidelines.md
  plugins/scribe/skills/doc-generator/modules/quality-gates.md
  plugins/scribe/skills/doc-generator/modules/remediation-workflow.md
  plugins/scribe/skills/shared/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/fiction-patterns.md
  plugins/scribe/skills/slop-detector/modules/remediation-strategies.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/skills/style-learner/SKILL.md
  plugins/scribe/skills/style-learner/modules/exemplar-reference.md
  plugins/scribe/skills/style-learner/modules/feature-extraction.md
  plugins/scribe/skills/style-learner/modules/style-application.md
  plugins/scribe/tests/__init__.py
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(scribe): add doc-verifier agent for QA validation
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/README.md
  plugins/scribe/agents/doc-verifier.md
  plugins/scribe/commands/doc-verify.md
  plugins/scribe/plugin.json
Due: run-plugin-tests, validate-description-budget

feat(sanctum): integrate scribe plugin with /update-docs workflow
  plugins/sanctum/commands/update-docs.md
  plugins/sanctum/skills/doc-updates/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(sanctum): integrate scribe doc review with /pr-review
  plugins/sanctum/commands/pr-review.md
Due: run-plugin-tests, validate-description-budget

fix(sanctum): resolve hooks.json indirect references in plugin auditor
  plugins/conserve/hooks/hooks.json
  plugins/imbue/scripts/pre-pr-scope-check.sh
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/hooks/verify_workflow_complete.py
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_session_complete_notify.py
  plugins/sanctum/tests/test_update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin

fix(skills): correct broken markdown anchor links in TOC
  .pre-commit-config.yaml
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/sanctum/skills/pr-review/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conjure-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(docs): replace AI slop 'leveraging' with 'using'
  docs/superpowers-integration.md
Due: none

chore(deps): update Python dev dependencies
  pyproject.toml
Due: none

chore(deps): update ruff and black versions across all plugins
  plugins/abstract/pyproject.toml
  plugins/attune/pyproject.toml
  plugins/conjure/pyproject.toml
  plugins/conserve/pyproject.toml
  plugins/hookify/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/memory-palace/hooks/pyproject.toml
  plugins/memory-palace/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/parseltongue/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/sanctum/pyproject.toml
  plugins/spec-kit/pyproject.toml
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(sanctum): ensure /update-dependencies recurses into subdirectories
  plugins/sanctum/agents/dependency-updater.md
  plugins/sanctum/commands/update-dependencies.md
  plugins/sanctum/uv.lock
Due: run-plugin-tests, validate-description-budget

fix(docs): address PR review comments
  book/src/reference/capabilities-agents.md
  plugins/memory-palace/docs/knowledge-corpus/agent-psychosis-codebase-hygiene.md
  plugins/memory-palace/uv.lock
Due: run-plugin-tests, validate-memory-palace-plugin

feat(attune): add War Room specification for multi-LLM deliberation
  docs/specs/war-room-specification.md
Due: none

feat(attune): implement War Room Phase 1 - skill structure and orchestrator
  plugins/attune/commands/war-room.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/skills/war-room/modules/deliberation-protocol.md
  plugins/attune/skills/war-room/modules/expert-roles.md
  plugins/attune/skills/war-room/modules/merkle-dag.md
  plugins/attune/uv.lock
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

feat(attune): implement War Room Phase 2 - full deliberation phases
  CHANGELOG.md
  plugins/attune/CHANGELOG.md
  plugins/conjure/pyproject.toml
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/tests/pytest.ini
  plugins/conjure/tests/test_war_room_orchestrator.py
  plugins/conjure/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

feat(attune): implement War Room Phase 3 & 4 - Strategeion and Delphi
  CHANGELOG.md
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/tests/test_war_room_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

chore(sanctum): remove duplicate skill-review command
  CHANGELOG.md
  plugins/pensive/commands/skill-review.md
  plugins/pensive/uv.lock
  plugins/sanctum/commands/skill-logs.md
  plugins/sanctum/commands/skill-review.md
  plugins/sanctum/commands/update-plugins.md
  plugins/sanctum/tests/test_continuous_improvement.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

docs: update skill-review references after deduplication
  book/src/plugins/pensive.md
  book/src/reference/capabilities-commands.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/skills/workflow-improvement/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(fix-pr): add Step 6.0 to reconcile ALL unworked items before issue creation
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
Due: run-plugin-tests, validate-description-budget

fix(war-room): add Haiku fallback for unavailable external LLMs
  plugins/attune/skills/war-room/modules/merkle-dag.md
  plugins/conjure/scripts/war_room_orchestrator.py
  plugins/conjure/tests/test_war_room_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(docs): correct broken links in skills-showcase tutorial
  docs/tutorials/skills-showcase.md
Due: none

fix(docs): correct broken links across book and docs
  book/src/getting-started/common-workflows.md
  book/src/getting-started/first-plugin.md
  book/src/getting-started/migration-guide.md
  book/src/tutorials/README.md
  book/src/tutorials/cross-plugin-collaboration.md
  book/src/tutorials/memory-palace-curation.md
  book/src/tutorials/skills-showcase.md
  docs/examples/README.md
  docs/examples/context-optimization-demo.md
  docs/script-integration-pattern.md
Due: none

fix(docs): resolve all broken markdown links across documentation
  .linkcheckignore
  docs/adr/0003-2025-01-command-description-refactoring.md
  docs/adr/0004-2025-12-skill-description-budget-optimization.md
  docs/api-updates.md
  docs/examples/hook-development/hook-types-comprehensive.md
  docs/guides/README.md
  docs/guides/data-extraction-pattern.md
  docs/guides/documentation-standards.md
  docs/guides/lsp-native-support.md
  docs/optimization-patterns.md
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/sanctum/commands/pr-review/modules/review-framework.md
  scripts/check-markdown-links.py
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(pr-review): address remaining PR feedback items
  CHANGELOG.md
  docs/specs/war-room-spec-architecture.md
  docs/specs/war-room-spec-data.md
  docs/specs/war-room-spec-experts.md
  docs/specs/war-room-spec-implementation.md
  docs/specs/war-room-spec-integration.md
  docs/specs/war-room-spec-overview.md
  docs/specs/war-room-spec-protocol.md
  docs/specs/war-room-specification.md
  plugins/attune/CHANGELOG.md
  plugins/conjure/tests/test_war_room_experts.py
  plugins/conjure/tests/test_war_room_full_flow.py
  plugins/conjure/tests/test_war_room_invocation.py
  plugins/conjure/tests/test_war_room_merkle_dag.py
  plugins/conjure/tests/test_war_room_orchestrator.py
  plugins/conjure/tests/test_war_room_phases.py
  plugins/conjure/tests/test_war_room_session.py
  plugins/hookify/CHANGELOG.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
  plugins/sanctum/commands/fix-pr-modules/troubleshooting-fixes.md
  plugins/sanctum/tests/test_workflow_steps_modularization.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-description-budget

feat(conserve): add auto-clear context management with continuation agents
  CHANGELOG.md
  README.md
  book/src/reference/capabilities-agents.md
  book/src/reference/capabilities-reference-details.md
  book/src/reference/capabilities-reference.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/README.md
  plugins/conserve/agents/continuation-agent.md
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/hooks/hooks.json
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/hooks/setup.sh
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/clear-context/modules/session-state.md
  plugins/conserve/skills/mcp-code-execution/modules/mcp-coordination.md
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/memory-palace/README.md
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/setup.sh
  plugins/sanctum/hooks/session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(conserve): address PR review feedback
  plugins/conserve/hooks/hooks.json
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/clear-context/modules/session-state.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(attune,imbue): add reversibility routing and TDD gate enforcement
  README.md
  book/src/plugins/attune.md
  book/src/plugins/imbue.md
  book/src/reference/capabilities-reference.md
  plugins/attune/README.md
  plugins/attune/commands/war-room.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/skills/war-room/modules/deliberation-protocol.md
  plugins/attune/skills/war-room/modules/reversibility-assessment.md
  plugins/imbue/README.md
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/proof-enforcement.md
  plugins/imbue/hooks/tdd_bdd_gate.py
  plugins/imbue/skills/proof-of-work/modules/iron-law-enforcement.md
  plugins/imbue/tests/unit/hooks/__init__.py
  plugins/imbue/tests/unit/hooks/test_tdd_bdd_gate.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs: update api-overview with accurate plugin counts and versions
  docs/api-overview.md
Due: none

fix(testing): implement testing improvements across plugins
  plugins/abstract/Makefile
  plugins/abstract/pyproject.toml
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/imbue/Makefile
  plugins/leyline/Makefile
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  scripts/run-plugin-tests.sh
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

docs: update testing-guide with new testing features
  docs/testing-guide.md
Due: none

docs: add testing improvements to CHANGELOG
  CHANGELOG.md
Due: none

fix(sanctum): register session_complete_notify hook
  plugins/sanctum/hooks/hooks.json
Due: none

docs: update references and fix test coverage for v1.3.3
  plugins/abstract/pyproject.toml
Due: validate-abstract-plugin

fix lint
  plugins/conjure/tests/scripts/test_quota_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

feat(sanctum): address PR review suggestions
  plugins/sanctum/README.md
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/pyproject.toml
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
