Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(tome): make the ADR-0026 TRIZ steps runnable
  plugins/tome/agents/triz-analyst.md
  plugins/tome/skills/research/SKILL.md
  plugins/tome/skills/triz/SKILL.md
  plugins/tome/src/tome/channels/triz.py
  plugins/tome/tests/channels/test_triz_cli.py
  plugins/tome/workflows/research.js
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

refactor(pensive): delete the uncalled legacy SARIF to_json
  plugins/pensive/src/pensive/reporting/formatters.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor: drop guards for states the code already rules out
  plugins/abstract/hooks/pre_skill_execution.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/scripts/skill_analyzer.py
  plugins/conjure/scripts/quota_tracker.py
  plugins/conserve/scripts/context_scanner/renderers.py
  plugins/conserve/scripts/detect_duplicates.py
  plugins/egregore/scripts/conventions.py
  plugins/leyline/src/leyline/tokens.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin

refactor(conserve): split the two most complex scanner functions
  plugins/conserve/scripts/context_scanner/renderers.py
  plugins/conserve/scripts/detect_duplicates.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix: delete frontmatter hooks that never ran, and unbreak bloat-scan
  plugins/abstract/tests/test_every_skill_and_command_frontmatter_loads.py
  plugins/conserve/commands/bloat-scan.md
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/context-optimization/SKILL.md
  plugins/sanctum/commands/prepare-pr.md
  plugins/sanctum/commands/update-dependencies.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs: fix references to agents, commands and paths that do not exist
  book/src/reference/capabilities-agents.md
  book/src/reference/capabilities-commands.md
  docs/guides/agent-boundaries.md
  docs/guides/authentication-integration.md
  plugins/abstract/commands/create-skill.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/attune/commands/war-room.md
  plugins/conserve/skills/context-optimization/modules/subagent-coordination.md
  plugins/pensive/agents/code-reviewer.md
  plugins/pensive/commands/skill-review.md
  plugins/sanctum/commands/do-issue.md
  plugins/sanctum/commands/fix-pr-modules/troubleshooting-fixes.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs(sanctum): point sync-capabilities at the capabilities-sync module
  plugins/sanctum/commands/sync-capabilities.md
Due: run-plugin-tests, validate-description-budget

docs(attune): list the skill-library taxonomy once, in the mission prompt
  plugins/attune/skills/skill-library-mission/modules/taxonomy.md
Due: run-plugin-tests

docs(spec-kit): keep checklist item rules once, in checklist-dimensions
  plugins/spec-kit/commands/speckit-checklist.md
  plugins/spec-kit/skills/spec-writing/modules/checklist-dimensions.md
Due: run-plugin-tests, validate-description-budget

docs(tome): say why retrieval agents keep their own canary procedure
  plugins/tome/workflows/research.js
Due: none

docs(sanctum): point capabilities-sync at the script that exists
  plugins/sanctum/skills/doc-updates/modules/capabilities-sync.md
Due: run-plugin-tests

test(tome): hold web-searcher to the positive-control contract
  plugins/tome/tests/unit/test_agent_envelope_contract.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore: delete make targets that cannot run and a duplicated script
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
  scripts/reinstall-all-plugins.sh
  tests/test_shell_scripts_define_main.py
Due: none

fix: restore the frontmatter fences f8957b6c glued to the last value
  plugins/abstract/tests/test_every_skill_and_command_frontmatter_loads.py
  plugins/conserve/commands/bloat-scan.md
  plugins/sanctum/skills/pr-prep/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

chore: delete two policy files nothing enforced
  .claude/context_governance.json
  .claude/quality_gates.json
  .claude/skills/night-market-config-catalog/SKILL.md
  .claude/skills/night-market-diagnostics-toolkit/SKILL.md
  .claude/skills/night-market-validation-and-qa/SKILL.md
  docs/quality-gates.md
Due: check-context-optimization

docs(abstract): move hook-authoring detail into its modules
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hook-authoring/modules/common-patterns.md
  plugins/abstract/skills/hook-authoring/modules/security-essentials.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

docs(memory-palace): move knowledge-intake scoring and hooks to modules
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/memory-palace/skills/knowledge-intake/modules/hook-integration.md
  plugins/memory-palace/skills/knowledge-intake/modules/quality-scoring.md
Due: run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(sanctum): move tutorial-updates validation and rebuild steps to modules
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/tutorial-updates/modules/binary-rebuild.md
  plugins/sanctum/skills/tutorial-updates/modules/tape-validation.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(abstract): make scope-selection.md the one home for hook scope rules
  plugins/abstract/skills/hook-scope-guide/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

docs(scribe): move the slop-detector summary report template to a module
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/report-format.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(sanctum): point pr-review phases at the modules that already hold them
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/anti-patterns.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(skills): split claude-code-plugin-reference hooks, workflows and mods into modules
  .claude/skills/claude-code-plugin-reference/SKILL.md
  .claude/skills/claude-code-plugin-reference/modules/hooks.md
  .claude/skills/claude-code-plugin-reference/modules/mods.md
  .claude/skills/claude-code-plugin-reference/modules/workflows.md
Due: check-context-optimization

docs(skills): split completion-integrity campaign phases into modules
  .claude/skills/night-market-completion-integrity-campaign/SKILL.md
  .claude/skills/night-market-completion-integrity-campaign/modules/p0-baseline.md
  .claude/skills/night-market-completion-integrity-campaign/modules/p1-shadow-and-opt-in.md
  .claude/skills/night-market-completion-integrity-campaign/modules/p2-measure-rates.md
  .claude/skills/night-market-completion-integrity-campaign/modules/p3-adversarial.md
  .claude/skills/night-market-completion-integrity-campaign/modules/p4-promotion.md
Due: check-context-optimization

chore: lower the prose-wrap baseline to lock in the unbloat deletions
  scripts/prose_wrap_baseline.json
Due: none

chore: delete the plugin-level pre-commit configs that hijacked hooks
  plugins/conserve/.pre-commit-config.yaml
  plugins/imbue/.pre-commit-config.yaml
Due: validate-imbue-plugin, validate-conserve-plugin

chore: fold the duplicate registration hook into one entry
  .pre-commit-config.yaml
Due: none

chore(deps): drop root runtime deps that no root code imports
  pyproject.toml
  uv.lock
Due: none

chore(conjure): drop unused dev tools, declare pyyaml for tests
  plugins/conjure/pyproject.toml
  plugins/conjure/uv.lock
Due: validate-conjure-plugin

chore(imbue): drop unused dev tools and a misnamed mypy override
  plugins/imbue/pyproject.toml
  plugins/imbue/uv.lock
Due: validate-imbue-plugin

chore(memory-palace): replace unused scipy with the numpy it hid
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/uv.lock
Due: validate-memory-palace-plugin

chore(conserve): drop unused dev tools, declare pyyaml for tests
  plugins/conserve/pyproject.toml
  plugins/leyline/pyproject.toml
  uv.lock
Due: validate-conserve-plugin

chore(attune): drop unused dev tools and dead mypy overrides
  plugins/attune/pyproject.toml
  plugins/attune/uv.lock
Due: none

chore(abstract): drop unused docs/test deps and dead mypy overrides
  plugins/abstract/pyproject.toml
  uv.lock
Due: validate-abstract-plugin

chore(leyline): drop pytest-mock and mypy overrides mypy calls unused
  plugins/leyline/pyproject.toml
  uv.lock
Due: none

chore(tome): drop pytest-asyncio and its loop-scope ini key
  plugins/tome/pyproject.toml
  plugins/tome/uv.lock
Due: none

chore(spec-kit): drop pytest-xdist and pytest-benchmark
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/uv.lock
Due: none

chore(parseltongue): drop unused docs group, black and pytest-mock
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/uv.lock
Due: none

chore(pensive): drop pytest-mock and the unused leyline.* mypy override
  plugins/pensive/pyproject.toml
  plugins/pensive/uv.lock
Due: none

chore(phantom): drop pytest-asyncio and its loop-scope ini key
  plugins/phantom/pyproject.toml
  plugins/phantom/uv.lock
Due: none

chore(sanctum): drop pytest-mock and mypy overrides for unchecked scripts
  plugins/sanctum/pyproject.toml
  plugins/sanctum/uv.lock
Due: none
