Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

refactor(shell): bring the hook and runner scripts under the house shell rules
  docs/testing-guide.md
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/hooks/setup.sh
  plugins/conserve/hooks/shared/json_utils.sh
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/hooks/shared/json_utils.sh
  plugins/imbue/hooks/user-prompt-submit.sh
  plugins/leyline/hooks/detect-git-platform.sh
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/leyline/skills/authentication-patterns/tests/test-interactive-auth.sh
  plugins/memory-palace/hooks/setup.sh
  plugins/memory-palace/hooks/shared/json_utils.sh
  scripts/run-plugin-lint.sh
  scripts/run-plugin-tests.sh
  scripts/run-plugin-typecheck.sh
  scripts/shared/json_utils.sh
  tests/test_lint_gate_reports_without_rewriting.py
  tests/test_shell_portability.py
  tests/unit/test_run_plugin_tests.py
Due: validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(leyline): let ensure_auth reject a bad service under set -u
  plugins/leyline/scripts/interactive_auth.sh
  plugins/leyline/tests/unit/scripts/test_interactive_auth_suite.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: point commit citations at the rewritten history
  docs/lessons-learned.md
  docs/metrics/tome-research-quality.md
  plugins/tome/tests/test_metrics_doc_citations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): post review insights from a --local report under plain python3
  CHANGELOG.md
  plugins/abstract/scripts/discussion_enrichment.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/scripts/post_review_insights.py
  plugins/abstract/src/abstract/markdown_fields.py
  plugins/abstract/src/abstract/paths.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/scripts/test_post_review_insights.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

Harden defaults and disable unsolicited external side effects
  .mcp.json
  plugins/conjure/README-SECURITY.md
  plugins/egregore/scripts/watchdog.sh
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/hooks/hooks.json
  plugins/memory-palace/hooks/memory-palace-config.yaml
Due: run-plugin-tests, validate-conjure-plugin, validate-memory-palace-plugin

fix(attune): stop skills downgrading the session model mid-mission
  plugins/attune/skills/makefile-generation/SKILL.md
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-init/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/skills/workflow-setup/SKILL.md
  tests/test_skill_model_pins.py
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(conserve): keep the CCR digest from echoing large outputs back
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/conserve/tests/test_reversible_compression.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(abstract): validate frontmatter against the hooks and agent contract
  plugins/abstract/scripts/hook_validator.py
  plugins/abstract/src/abstract/frontmatter.py
  plugins/abstract/src/abstract/hook_events.py
  plugins/abstract/tests/scripts/test_hook_validator.py
  plugins/abstract/tests/test_frontmatter.py
  plugins/abstract/tests/test_skill_auditor_validation_floor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(agents): use the frontmatter fields plugin agents actually read
  plugins/abstract/agents/meta-architect.md
  plugins/abstract/agents/skill-auditor.md
  plugins/abstract/agents/skill-evaluator.md
  plugins/abstract/agents/skill-improver.md
  plugins/abstract/tests/test_every_plugin_agent_uses_read_fields.py
  plugins/attune/agents/project-architect.md
  plugins/attune/agents/project-implementer.md
  plugins/cartograph/agents/codebase-explorer.md
  plugins/conserve/agents/context-optimizer.md
  plugins/conserve/agents/continuation-agent.md
  plugins/gauntlet/agents/extractor.md
  plugins/parseltongue/agents/python-tester.md
  plugins/pensive/agents/architecture-reviewer.md
  plugins/pensive/agents/code-refiner.md
  plugins/pensive/agents/code-reviewer.md
  plugins/pensive/agents/rust-auditor.md
  plugins/sanctum/agents/commit-agent.md
  plugins/sanctum/agents/dependency-updater.md
  plugins/sanctum/agents/git-workspace-agent.md
  plugins/sanctum/agents/pr-agent.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

docs: correct workflow size, subagent mode and model-precedence claims
  .claude/rules/plan-before-large-dispatch.md
  docs/agent-model-matrix.md
  plugins/abstract/hooks/agent_dispatch_guard.py
  plugins/attune/workflows/skill-library.js
  plugins/hookify/skills/rule-catalog/rules/workflow/plan-before-large-dispatch.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/pensive/workflows/unified-review.js
  plugins/sanctum/workflows/fix-workflow-analysis.js
  scripts/check_agent_model_matrix.py
  tests/test_workflow_spend_posture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(egregore): let the session stop while the orchestrator runs
  plugins/conserve/agents/continuation-agent.md
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/hooks/stop_hook.py
  plugins/egregore/tests/test_stop_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(pensive): unquote the apostrophe that broke unified-review.js
  plugins/pensive/workflows/unified-review.js
Due: none

fix(hooks): quote ${CLAUDE_PLUGIN_ROOT} in every hook command
  plugins/abstract/hooks/hooks.json
  plugins/cartograph/hooks/hooks.json
  plugins/conserve/hooks/hooks.json
  plugins/egregore/hooks/hooks.json
  plugins/gauntlet/hooks/hooks.json
  plugins/herald/hooks/hooks.json
  plugins/herald/tests/unit/test_double_shot_latte.py
  plugins/hookify/hooks/hooks.json
  plugins/imbue/hooks/hooks.json
  plugins/leyline/hooks/hooks.json
  plugins/leyline/tests/hooks/test_hook_entrypoints.py
  plugins/leyline/tests/unit/hooks/test_fetch_recent_discussions.py
  plugins/leyline/tests/unit/skills/test_git_platform.py
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/tests/hooks/test_deduplication.py
  plugins/memory-palace/tests/hooks/test_hook_entrypoints.py
  plugins/oracle/hooks/hooks.json
  plugins/pensive/hooks/hooks.json
  plugins/sanctum/hooks/hooks.json
  plugins/tome/hooks/hooks.json
  tests/test_hook_commands_quote_plugin_root.py
  tests/test_hook_subprocess_budgets.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix: branch isolated agents from the current HEAD, not master
  .claude/settings.json
  tests/test_workflow_spend_posture.py
Due: none

perf(leyline): run auto-star off the session-start path
  plugins/leyline/hooks/hooks.json
  plugins/leyline/tests/hooks/test_hook_entrypoints.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

perf(tome): run channel agents without the operator's CLAUDE.md files
  plugins/egregore/agents/sentinel.md
  plugins/tome/agents/code-searcher.md
  plugins/tome/agents/discourse-scanner.md
  plugins/tome/agents/literature-reviewer.md
  plugins/tome/agents/triz-analyst.md
  plugins/tome/agents/web-searcher.md
  plugins/tome/tests/test_channel_agents_run_lean.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(phantom): price the current Opus, Sonnet and Fable models
  plugins/phantom/src/phantom/cost.py
  plugins/phantom/tests/unit/test_cost_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(corpus): record the 2.1.289 harness and the 5.5 model roster
  docs/knowledge-corpus/anthropic-model-roster.md
  docs/knowledge-corpus/claude-code-harness-deltas.md
Due: none

docs(readme): say how to get updates and the one-command install
  README.md
Due: none

fix(abstract): teach the hook payload keys the harness sends
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/tests/test_hook_authoring_payload_keys.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(marketplace): drop manifest fields Claude Code strips at load
  .claude-plugin/marketplace.json
  .claude/skills/claude-code-plugin-reference/SKILL.md
  plugins/imbue/.claude-plugin/plugin.json
  tests/test_plugin_manifest_contract.py
Due: validate-imbue-plugin, check-context-optimization

feat(plugins): link each plugin manifest to its source and docs
  .claude/skills/claude-code-plugin-reference/SKILL.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/archetypes/.claude-plugin/plugin.json
  plugins/attune/.claude-plugin/plugin.json
  plugins/cartograph/.claude-plugin/plugin.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/gauntlet/.claude-plugin/plugin.json
  plugins/herald/.claude-plugin/plugin.json
  plugins/hookify/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/minister/.claude-plugin/plugin.json
  plugins/oracle/.claude-plugin/plugin.json
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/phantom/.claude-plugin/plugin.json
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scry/.claude-plugin/plugin.json
  plugins/spec-kit/.claude-plugin/plugin.json
  plugins/tome/.claude-plugin/plugin.json
  tests/test_plugin_manifest_contract.py
Due: validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-memory-palace-plugin, check-context-optimization

fix(marketplace): migrate installs of the renamed conservation and pensieve plugins
  .claude-plugin/marketplace.json
  tests/test_plugin_manifest_contract.py
Due: none

fix(commands): require a person to start issue and plugin-reinstall commands
  plugins/leyline/commands/reinstall-all-plugins.md
  plugins/leyline/commands/update-all-plugins.md
  plugins/minister/commands/close-issue.md
  plugins/minister/commands/update-labels.md
  tests/test_plugin_manifest_contract.py
Due: run-plugin-tests, validate-description-budget

fix(phantom): delete the misspelled user_invocable key from control-desktop
  plugins/phantom/commands/control-desktop.md
  tests/test_plugin_manifest_contract.py
Due: run-plugin-tests, validate-description-budget

feat(egregore): show the running loop above the prompt and answer /egregore-loop
  plugins/egregore/.claude-plugin/plugin.json
  plugins/egregore/hooks/hooks.json
  plugins/egregore/hooks/loop-band.tsx
  plugins/egregore/mod-tests/loop-band.test.ts
  plugins/egregore/types/index.d.ts
Due: none

feat(conserve): show context fill and cache reuse in a band above the prompt
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/hooks/context-band.tsx
  plugins/conserve/hooks/hooks.json
  plugins/conserve/mod-tests/context-band.test.ts
  plugins/conserve/tests/unit/test_context_band_threshold.py
  plugins/conserve/types/index.d.ts
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

chore: ignore the type files Claude Code writes beside a loaded mod
  .gitignore
Due: none

feat: add make test-mods to gate every plugin that ships a mod
  Makefile
  tests/test_make_test_mods.py
Due: none

feat(plugins): link the conserve and egregore manifests to their source
  plugins/conserve/.claude-plugin/plugin.json
  plugins/egregore/.claude-plugin/plugin.json
  tests/test_plugin_manifest_contract.py
Due: validate-conserve-plugin

feat: add make validate-plugins to run the harness's own manifest check
  Makefile
  tests/test_make_validate_plugins.py
Due: none

docs(reference): cover plugin agent fields, the hook roster, and mods
  .claude/skills/claude-code-plugin-reference/SKILL.md
Due: check-context-optimization

feat(egregore): record rate limits from a StopFailure hook
  plugins/egregore/hooks/hooks.json
  plugins/egregore/hooks/rate_limit_hook.py
  plugins/egregore/pyproject.toml
  plugins/egregore/tests/test_rate_limit_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(readme): note the 2.1.287 floor for the conserve and egregore bands
  README.md
Due: none

docs(matrix): restate tier cost multipliers for the 5.5 models
  docs/agent-model-matrix.md
Due: none

chore(ledger): record the 2.1.289 harness and 5.5 model watermark
  .claude/upstream-baseline.json
Due: none

fix(phantom): price Sonnet 5 at its standard $2/$10
  docs/knowledge-corpus/anthropic-model-roster.md
  plugins/phantom/src/phantom/cost.py
  plugins/phantom/tests/unit/test_cost_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(imbue,conserve): match review agents by name after the plugin prefix
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/tests/unit/hooks/test_session_start_agent_type.py
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/tests/unit/hooks/test_session_start_agent_type.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin
