Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

refactor(quality): apply Tier 3 quick wins F01-F04, F09 (5 findings)
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/conjure/scripts/usage_logger.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/tests/test_war_room_invocation.py
  plugins/conserve/tests/conftest.py
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/leyline/scripts/verify_plugin.py
  plugins/pensive/src/pensive/skills/unified_review.py
  plugins/pensive/tests/skills/test_unified_review.py
  plugins/sanctum/scripts/quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin

style(hygiene): apply Tier 3 hygiene fixes (F-01, F-04, F-06 to F-13, F-17)
  .claude/agents/code-review-mode.md
  docs/claude-rules-templates.md
  docs/guides/rules-templates.md
  docs/inclusive-defaults.md
  docs/metrics/autonomy-dashboard.md
  docs/module-loading-guide.md
  plugins/abstract/docs/claude-code-compatibility.md
  plugins/attune/commands/mission.md
  plugins/attune/skills/precommit-setup/modules/ci-integration.md
  plugins/attune/skills/precommit-setup/modules/standard-hooks.md
  plugins/attune/tests/TESTING.md
  plugins/imbue/skills/proof-of-work/modules/todowrite-patterns.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/scribe/commands/session-to-post.md
  plugins/scribe/skills/session-to-post/modules/session-extraction.md
Due: run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(unbloat): preserve quality + hygiene scan reports for continuation pass
  reports/cleanup-hygiene-2026-05-02.md
  reports/cleanup-quality-2026-05-02.md
  reports/unbloat-session-2026-05-02.md
Due: none

refactor(quality): apply remaining Tier 3 small-effort fixes (F11, F14, F18)
  plugins/conjure/scripts/war_room/persistence.py
  plugins/oracle/hooks/daemon_lifecycle.py
  plugins/pensive/src/pensive/skills/architecture_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(quality): F06/F07/F10/F16 god-function decompositions
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/scripts/attune_init.py
  plugins/conserve/scripts/context_scanner/renderers.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/pensive/src/pensive/skills/performance_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin

docs(unbloat): record god-function decomposition pass (F06/F07/F10/F16)
  reports/unbloat-session-2026-05-02.md
Due: none

perf(pensive): pre-compile rust_review regex patterns at module load (A-01)
  plugins/pensive/src/pensive/skills/rust_review/builtins.py
  plugins/pensive/src/pensive/skills/rust_review/cargo.py
  plugins/pensive/src/pensive/skills/rust_review/ownership.py
  plugins/pensive/src/pensive/skills/rust_review/patterns.py
  plugins/pensive/src/pensive/skills/rust_review/safety.py
  plugins/pensive/src/pensive/skills/rust_review/structure.py
  plugins/pensive/src/pensive/skills/rust_review_data.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

perf(quality): apply Tier 3 algorithm wins A-07, A-11, A-12
  plugins/conserve/scripts/growth_controller.py
  plugins/imbue/validators/iron_law.py
  plugins/memory-palace/src/memory_palace/palace_repository.py
  plugins/memory-palace/src/memory_palace/project_palace.py
  plugins/memory-palace/src/memory_palace/session_history.py
  plugins/pensive/src/pensive/skills/architecture_review.py
  plugins/pensive/src/pensive/skills/rust_review/cargo.py
  plugins/pensive/src/pensive/skills/rust_review/reporting.py
  plugins/sanctum/hooks/security_pattern_check.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

refactor(quality): consolidate duplicated hook helpers (D-05/D-06/D-12)
  .github/workflows/deploy-book.yml
  plugins/abstract/src/abstract/improvement_memory.py
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/src/abstract/performance_tracker.py
  plugins/abstract/src/abstract/utils.py
  plugins/conserve/hooks/pre_compact_preserve.py
  plugins/conserve/hooks/shared/__init__.py
  plugins/conserve/hooks/shared/session_file.py
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/imbue/hooks/shared/__init__.py
  plugins/imbue/hooks/shared/vow_utils.py
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/hooks/vow_no_emoji_commits.py
  scripts/clawhub-batch-publish.sh
  scripts/clawhub-cron.sh
  scripts/clawhub-submit.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin

refactor(quality): C-13 decompose conserve cli main, C-21 surface vow hook errors
  plugins/conserve/scripts/context_scanner/cli.py
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/hooks/vow_no_emoji_commits.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin

docs(quality): truthful docstrings for stub safety/dependency methods (B-03, B-15)
  plugins/pensive/src/pensive/skills/bug_review.py
  plugins/phantom/src/phantom/safety.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(scripts): D-11 share get_plugin_version helper between root scripts
  scripts/_plugin_meta.py
  scripts/a2a_cards.py
  scripts/clawhub_export.py
Due: none

perf(conserve): A-04 walk SKILL.md tree once in safe_replacer
  plugins/conserve/scripts/safe_replacer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

perf(pensive): A-02/A-03 single-walk language detection
  plugins/pensive/src/pensive/analysis/repository_analyzer.py
  plugins/pensive/src/pensive/workflows/code_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(refinement): preserve 2026-05-02 Tier 3 scan reports and Wave 1 synthesis
  docs/refinement/2026-05-02/00-synthesis.md
  docs/refinement/2026-05-02/01-duplication.md
  docs/refinement/2026-05-02/02-algorithm-efficiency.md
  docs/refinement/2026-05-02/03-clean-code.md
  docs/refinement/2026-05-02/04-architecture.md
  docs/refinement/2026-05-02/05-additive-bias.md
  docs/refinement/2026-05-02/06-plugin-patterns.md
Due: none

refactor(abstract): D-04 partial - share dir helpers across scripts
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/scripts/promote_discussion_to_issue.py
  plugins/abstract/src/abstract/utils.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(refinement): record D-04 partial in Wave 1+2a synthesis
  docs/refinement/2026-05-02/00-synthesis.md
Due: none

refactor(abstract): D-04 finish - hooks share dir_utils facade
  plugins/abstract/hooks/pre_skill_execution.py
  plugins/abstract/hooks/shared/dir_utils.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/unit/hooks/test_dir_utils.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

refactor(hooks): D-01 vendor json_utils.sh per plugin
  plugins/conserve/hooks/session-start.sh
  plugins/conserve/hooks/setup.sh
  plugins/conserve/hooks/shared/json_utils.sh
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/hooks/shared/json_utils.sh
  plugins/imbue/hooks/user-prompt-submit.sh
  plugins/memory-palace/hooks/setup.sh
  plugins/memory-palace/hooks/shared/json_utils.sh
  scripts/shared/check-json-utils-drift.sh
Due: validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

refactor: D-02 unify parse_frontmatter on leyline canonical
  plugins/conserve/scripts/area_agent_registry.py
  plugins/conserve/scripts/coordination_workspace.py
  plugins/leyline/src/leyline/frontmatter.py
  plugins/leyline/tests/unit/src/test_frontmatter.py
  scripts/a2a_cards.py
  scripts/clawhub_export.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(abstract): D-03 share extract_section across scripts
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/scripts/discussion_enrichment.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/unit/test_utils_extended.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

refactor: D-13 share CLI JSON envelope helpers via leyline
  plugins/conserve/scripts/safe_replacer.py
  plugins/leyline/src/leyline/cli_envelope.py
  plugins/leyline/tests/unit/src/test_cli_envelope.py
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/scripts/test_generator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(memory-palace): C-20 narrow CLI excepts to typed errors
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/tests/scripts/test_memory_palace_cli_palaces.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(memory-palace): C-46 decompose build_parser
  plugins/memory-palace/scripts/memory_palace_cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(quality): B-08 + B-10 -- delete vacuous tests, fix audit bug
  plugins/imbue/tests/integration/test_review_workflow_integration.py
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations_modules.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

feat(leyline): AR-30 git_platform Python wrapper for gh api/graphql
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/scripts/promote_discussion_to_issue.py
  plugins/leyline/scripts/verify_plugin.py
  plugins/leyline/src/leyline/git_platform.py
  plugins/leyline/tests/unit/src/test_git_platform.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(refinement): final Wave 1+2+3 synthesis with 24 closed findings
  docs/refinement/2026-05-02/00-synthesis.md
Due: none

refactor(sanctum): AR-06 split validators.py into per-class package
  plugins/sanctum/src/sanctum/validators.py
  plugins/sanctum/src/sanctum/validators/__init__.py
  plugins/sanctum/src/sanctum/validators/_frontmatter.py
  plugins/sanctum/src/sanctum/validators/_results.py
  plugins/sanctum/src/sanctum/validators/agent.py
  plugins/sanctum/src/sanctum/validators/command.py
  plugins/sanctum/src/sanctum/validators/plugin.py
  plugins/sanctum/src/sanctum/validators/sanctum.py
  plugins/sanctum/src/sanctum/validators/skill.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(memory-palace): AR-05 split project_palace into package
  plugins/memory-palace/src/memory_palace/project_palace/__init__.py
  plugins/memory-palace/src/memory_palace/project_palace/capture.py
  plugins/memory-palace/src/memory_palace/project_palace/entry.py
  plugins/memory-palace/src/memory_palace/project_palace/manager.py
  plugins/memory-palace/src/memory_palace/project_palace/rooms.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(leyline): AR-15 add bootstrap helper for cross-plugin sys.path
  plugins/imbue/scripts/imbue_validator.py
  plugins/leyline/src/leyline/bootstrap.py
  plugins/leyline/tests/unit/src/test_bootstrap.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

refactor(pensive): AR-01 split architecture_review into mixin package
  plugins/pensive/src/pensive/skills/architecture_review.py
  plugins/pensive/src/pensive/skills/architecture_review/__init__.py
  plugins/pensive/src/pensive/skills/architecture_review/_constants.py
  plugins/pensive/src/pensive/skills/architecture_review/documentation.py
  plugins/pensive/src/pensive/skills/architecture_review/patterns.py
  plugins/pensive/src/pensive/skills/architecture_review/principles.py
  plugins/pensive/src/pensive/skills/architecture_review/quality.py
  plugins/pensive/src/pensive/skills/architecture_review/reporting.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(scribe): P-14 consolidate slop-detector modules
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/i18n-patterns.md
  plugins/scribe/skills/slop-detector/modules/language-handling.md
  plugins/scribe/skills/slop-detector/modules/language-support.md
  plugins/scribe/skills/slop-detector/modules/metrics.md
  plugins/scribe/skills/slop-detector/modules/progress-indicators.md
  plugins/scribe/skills/slop-detector/modules/reporting.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(refinement): record Wave 3 second pass closures
  docs/refinement/2026-05-02/00-synthesis.md
Due: none

fix(pensive): code-refinement Step 6 + completion gate (fix-workflow)
  plugins/pensive/skills/code-refinement/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(quality): full-review F1-F5 + AR-F1/F2 -- close 8 review findings
  plugins/abstract/src/abstract/utils.py
  plugins/abstract/tests/unit/test_utils_extended.py
  plugins/conserve/scripts/safe_replacer.py
  plugins/imbue/hooks/session-start.sh
  plugins/leyline/src/leyline/cli_envelope.py
  plugins/leyline/src/leyline/frontmatter.py
  plugins/leyline/tests/unit/scripts/test_verify_plugin.py
  plugins/leyline/tests/unit/src/test_frontmatter.py
  plugins/memory-palace/README.md
  plugins/pensive/src/pensive/skills/architecture_review/__init__.py
  plugins/sanctum/scripts/test_generator.py
  plugins/sanctum/scripts/update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

refactor(sanctum): AR-F3 promote _extract_skill_refs to _shared module
  plugins/sanctum/src/sanctum/validators/_shared.py
  plugins/sanctum/src/sanctum/validators/command.py
  plugins/sanctum/src/sanctum/validators/skill.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): normalize path-prefixed frontmatter modules entries
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations_modules.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: populate 1.9.4 [Unreleased] CHANGELOG; refresh API overview
  CHANGELOG.md
  README.md
  docs/api-overview.md
  plugins/sanctum/scripts/update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

chore(sanctum): include scripts/ in pytest coverage targets
  plugins/sanctum/pyproject.toml
Due: none
