Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

refactor(sanctum): build the meta-evaluation check set from a list
  plugins/sanctum/scripts/meta_evaluation.py
  plugins/sanctum/tests/unit/scripts/test_meta_evaluation_units.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(sanctum): finish removing the TOC check I deleted half of
  plugins/sanctum/scripts/meta_evaluation.py
  plugins/sanctum/tests/unit/scripts/test_meta_evaluation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(scripts): make five quality gates fail closed when they cannot check
  scripts/check_per_file_ignores.py
  scripts/check_skill_graph_drift.py
  scripts/check_upstream_drift.py
  scripts/clawhub_export.py
  scripts/supply_chain_scan.py
  tests/test_gates_fail_closed.py
  tests/unit/test_supply_chain_scan.py
Due: none

fix(hooks): read the payload keys the harness sends, and stop a newline bypass
  plugins/abstract/scripts/hook_validator.py
  plugins/abstract/tests/scripts/test_hook_validator.py
  plugins/cartograph/hooks/graph_community_refresh.py
  plugins/cartograph/tests/unit/test_graph_community_refresh.py
  plugins/conserve/hooks/permission_request.py
  plugins/conserve/tests/unit/test_permission_request.py
  plugins/gauntlet/hooks/graph_auto_update.py
  plugins/gauntlet/tests/unit/test_graph_auto_update.py
  tests/test_hook_payload_keys.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

fix(hooks): keep every hook's subprocess budget inside its declared cap
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/src/gauntlet/blast_radius.py
  plugins/imbue/hooks/guard_package_hallucination.py
  plugins/imbue/hooks/shared/package_guard.py
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/hooks/hooks.json
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
  tests/test_hook_subprocess_budgets.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-memory-palace-plugin

test(hooks): make the four timeout budgets fail when reverted
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/imbue/hooks/guard_package_hallucination.py
  plugins/imbue/tests/unit/hooks/test_package_guard.py
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/tests/hooks/test_deduplication.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-memory-palace-plugin

fix(hookify): emit rules that load, and check that they do
  plugins/hookify/scripts/hook_to_hookify.py
  plugins/hookify/scripts/rule_suggester.py
  plugins/hookify/tests/test_hook_to_hookify.py
  plugins/hookify/tests/test_rule_suggester.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(herald,oracle): make four assertions discriminate
  plugins/herald/tests/test_notify.py
  plugins/oracle/tests/unit/test_client.py
  plugins/oracle/tests/unit/test_daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test: replace three suites that passed against absent behavior
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/parseltongue/tests/test_coverage_gaps.py
  plugins/spec-kit/tests/test_command_skill_references.py
  plugins/spec-kit/tests/test_wrapped_commands.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: three matchers that answered the wrong question
  plugins/imbue/scripts/contract_validator.py
  plugins/imbue/tests/unit/test_contract_validator.py
  plugins/pensive/src/pensive/utils/severity_mapper.py
  plugins/pensive/tests/utils/test_severity_mapper.py
  plugins/sanctum/scripts/test_analyzer.py
  plugins/sanctum/tests/test_test_analyzer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix: three failures that returned success
  plugins/oracle/src/oracle/daemon.py
  plugins/oracle/tests/integration/test_daemon.py
  plugins/phantom/src/phantom/loop.py
  plugins/phantom/tests/unit/test_loop.py
  plugins/spec-kit/src/speckit/caching.py
  plugins/spec-kit/tests/test_caching.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: make journal appends and state writes survive concurrency and failure
  plugins/egregore/scripts/budget.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/scripts/window.py
  plugins/egregore/tests/test_budget.py
  plugins/leyline/src/leyline/decision_journal.py
  plugins/leyline/tests/test_decision_journal.py
  plugins/memory-palace/src/memory_palace/palace_repository.py
  plugins/memory-palace/tests/unit/test_palace_atomic_writes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: validate at three boundaries that accepted anything
  plugins/conjure/scripts/delegation_services.py
  plugins/conjure/tests/test_cjr_fixes.py
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/leyline/tests/test_quota_tracker.py
  plugins/memory-palace/src/memory_palace/corpus/keyword_index.py
  plugins/memory-palace/tests/unit/test_keyword_index_ids.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-memory-palace-plugin

fix: reach two things the pipeline could not, and stop hiding a third
  plugins/abstract/scripts/skill_analyzer.py
  plugins/abstract/scripts/token_estimator.py
  plugins/abstract/tests/scripts/test_analysis_failures_are_visible.py
  plugins/scribe/src/scribe/pattern_loader.py
  plugins/scribe/tests/test_slop_patterns.py
  scripts/slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(gauntlet): extract Go declarations and calls the grammar's own way
  plugins/gauntlet/src/gauntlet/treesitter_parser.py
  plugins/gauntlet/tests/unit/test_treesitter_parser.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(build): unreachable exit-5 branches, a gate that skipped its own scorer
  .github/workflows/slop-check.yml
  .gitignore
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/imbue/Makefile
  plugins/leyline/Makefile
  plugins/leyline/scripts/interactive_auth.sh
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/parseltongue/Makefile
  plugins/tome/Makefile
  scripts/run-plugin-lint.sh
Due: validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

docs: correct six comments that described code that is not there
  README.md
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/scripts/tool_performance_analyzer.py
  plugins/abstract/src/abstract/config.py
  plugins/conjure/scripts/delegation_executor.py
  plugins/conserve/hooks/permission_denied_logger.py
  plugins/conserve/tests/unit/hooks/test_permission_denied_logger.py
  plugins/imbue/hooks/vow_no_edit_narration.py
  plugins/imbue/tests/unit/hooks/test_vow_no_edit_narration.py
  plugins/memory-palace/hooks/research_queue.py
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/src/memory_palace/palace_repository.py
  plugins/memory-palace/tests/hooks/test_research_queue.py
  plugins/pensive/src/pensive/utils/content_parser.py
  scripts/slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

docs(lessons): record LL-008, the four reworks in the PR #784 fix pass
  docs/lessons-learned.md
Due: none

fix(leyline): ignore the lockfile the journal leaves beside its journals
  .gitignore
  plugins/leyline/tests/test_decision_journal.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(hooks): drop 16 manifest keys the harness ignores, and read manifests
  plugins/abstract/scripts/hook_validator.py
  plugins/abstract/tests/scripts/test_hook_validator.py
  plugins/conserve/hooks/hooks.json
  plugins/egregore/hooks/hooks.json
  plugins/egregore/hooks/session_start_hook.py
  plugins/leyline/hooks/hooks.json
  plugins/sanctum/hooks/hooks.json
  plugins/tome/hooks/hooks.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

fix(spec-kit): drop the asyncio pytest option its removed plugin owned
  plugins/spec-kit/pyproject.toml
Due: none

fix(lint): order the posixpath import that PR #783 added
  scripts/check_plugin_hooks.py
Due: none

test: guard eight PR #784 fixes that had no test
  plugins/abstract/tests/hooks/test_homeostatic_monitor_input.py
  plugins/abstract/tests/unit/test_config.py
  plugins/memory-palace/tests/unit/test_palace_repository.py
  tests/test_ci_covers_ecosystem_gates.py
  tests/test_gate_exit_codes.py
  tests/test_shell_portability.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

docs(memory-palace): correct the skip docstring
  plugins/memory-palace/src/memory_palace/palace_repository.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs(changelog): fold PR #784 fixes into 1.9.20
  CHANGELOG.md
Due: none

docs(readme): drop What's New, fix Quillx credit
  README.md
Due: none

feat: add optional you.com web-search channel to tome
  CHANGELOG.md
  book/src/plugins/tome.md
  book/src/reference/capabilities-reference.md
  plugins/tome/.claude-plugin/plugin.json
  plugins/tome/README.md
  plugins/tome/openpackage.yml
  plugins/tome/skills/web-search/SKILL.md
  plugins/tome/src/tome/channels/web.py
  plugins/tome/src/tome/models.py
  plugins/tome/tests/channels/test_web.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs: keep the 2026-09-02 review's two lessons, drop the report
  docs/full-review-2026-09-02.md
  docs/lessons-learned.md
  scripts/prose_wrap_baseline.json
Due: none

fix(tome): review fixes for the you.com web channel
  plugins/tome/skills/web-search/SKILL.md
  plugins/tome/src/tome/channels/web.py
  plugins/tome/src/tome/output/citations.py
  plugins/tome/tests/channels/test_web.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(readme): bump skills badge to 210 for the web-search skill
  README.md
Due: none

feat(scribe): score splices, ", not Y" tails, negated alternatives
  .claude/rules/slop-scan-for-docs.md
  CHANGELOG.md
  plugins/hookify/skills/rule-catalog/rules/documentation/warn-slop-in-markdown.md
  plugins/hookify/tests/test_warn_slop_in_markdown_rule.py
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
  tests/unit/test_slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

perf(imbue): halve the git calls in the scope-guard prompt hook
  plugins/imbue/hooks/user-prompt-submit.sh
Due: validate-imbue-plugin

chore: remove files nothing in the repo references
  assets/tapes/validate-and-regenerate.sh
  docs/metrics/cache-hit-dashboard.md
  docs/metrics/skills-scoring-rubric.md
  plugins/abstract/data/overlap_mappings.yaml
  plugins/abstract/docs/architecture-evolution.md
  plugins/abstract/hooks/hooks-observability.json
  plugins/attune/data/paradigm_trade_offs.yaml
  plugins/egregore/templates/alert-completion.md
  plugins/egregore/templates/alert-crash.md
  plugins/leyline/skills/storage-templates/USAGE_EXAMPLES.md
  plugins/memory-palace/docs/developer-drafts/autosop-ai-documentation-generator-from-code.md
  plugins/memory-palace/docs/developer-drafts/capturing-expert-knowledge-before-it-s-lost-dozuki.md
  plugins/memory-palace/docs/developer-drafts/cloneable-agentic-ai-cloning-expert-worker.md
  plugins/memory-palace/docs/developer-drafts/demystifying-tacit-knowledge-in-graphic-design.md
  plugins/memory-palace/docs/developer-drafts/how-field-technicians-capture-job-site-notes-resq.md
  plugins/memory-palace/docs/developer-drafts/memos-self-hosted-markdown-note-taking-with.md
  plugins/memory-palace/docs/developer-drafts/minutes-local-first-meeting-transcription-with.md
  plugins/memory-palace/docs/developer-drafts/obsidian-web-clipper-cross-browser-markdown.md
  plugins/memory-palace/docs/developer-drafts/odk-collect-offline-android-xforms-field-data.md
  plugins/memory-palace/docs/developer-drafts/singlefile-single-file-html-web-page-archiver.md
  plugins/memory-palace/docs/developer-drafts/stepsnap-openscribe-screen-interaction-to-step-by.md
  plugins/memory-palace/docs/developer-drafts/tacit-knowledge-extraction-via-logic-augmented.md
  plugins/memory-palace/docs/developer-drafts/top-3-challenges-facing-the-skilled-trades-canada.md
  plugins/memory-palace/docs/developer-drafts/trilium-web-clipper-plus-manifest-v3-clipper-for.md
  plugins/memory-palace/docs/developer-drafts/web-clipper-multi-platform-browser-capture-to-20.md
  plugins/memory-palace/telemetry/dry_runs/cache-intercept-staging.md
  plugins/memory-palace/telemetry/flag_changes.csv
Due: run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

refactor(egregore,tome): drop two modules nothing outside their tests imports
  plugins/egregore/README.md
  plugins/egregore/scripts/specialists.py
  plugins/egregore/tests/test_specialists.py
  plugins/tome/src/tome/memory.py
  plugins/tome/tests/unit/test_research_memory.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor: delete functions with zero callers anywhere in the repo
  plugins/abstract/scripts/skill_graph.py
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/scripts/template_customizer.py
  plugins/conserve/scripts/context_scanner/models.py
  plugins/memory-palace/hooks/shared/fallback_stubs.py
  plugins/memory-palace/src/memory_palace/corpus/usage_tracker.py
  plugins/pensive/src/pensive/config/configuration.py
  plugins/pensive/src/pensive/plugin/__init__.py
  plugins/sanctum/src/sanctum/validators/plugin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, validate-memory-palace-plugin

refactor(egregore,tome): drop RepoRegistry routing and corpus metrics, both unreached
  plugins/egregore/README.md
  plugins/egregore/scripts/multi_repo.py
  plugins/egregore/tests/test_multi_repo.py
  plugins/tome/src/tome/metrics/corpus.py
  plugins/tome/tests/metrics/test_corpus.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests
