Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

docs(changelog): move two entries from Unreleased into 1.9.19
  CHANGELOG.md
Due: none

docs(changelog): one heading per kind in the Unreleased section
  CHANGELOG.md
Due: none

docs(changelog): 1.9.19 records the work it ships
  CHANGELOG.md
Due: none

fix(hooks): give UserPromptSubmit hooks time to finish
  CHANGELOG.md
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/hooks/hooks.json
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/egregore/hooks/hooks.json
  plugins/imbue/hooks/hooks.json
  plugins/sanctum/hooks/hooks.json
  tests/unit/test_user_prompt_submit_timeouts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin

fix(memory-palace): queue research sessions from the transcript
  CHANGELOG.md
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/research-queue-integration.md
  plugins/memory-palace/hooks/research_queue.py
  plugins/memory-palace/tests/hooks/test_research_queue.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

ci(attestation): install the shell tooling the sweep needs
  .github/workflows/trust-attestation.yml
  CHANGELOG.md
  tests/test_ci_installs_shell_tooling.py
Due: none

feat(scribe): audience tiers and slop ratchet
  .claude/rules/slop-scan-for-docs.md
  .claude/skills/night-market-docs-and-writing/SKILL.md
  .github/workflows/slop-check.yml
  .pre-commit-config.yaml
  .slop-config.yaml
  CHANGELOG.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/hookify/skills/rule-catalog/rules/documentation/require-slop-scan-for-docs.md
  plugins/hookify/skills/rule-catalog/rules/documentation/warn-slop-in-markdown.md
  plugins/hookify/tests/test_require_slop_scan_for_docs_rule.py
  plugins/hookify/tests/test_warn_slop_in_markdown_rule.py
  plugins/sanctum/skills/doc-consolidation/SKILL.md
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/sanctum/skills/update-readme/SKILL.md
  plugins/scribe/commands/doc-polish.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/audience-targeting.md
  plugins/scribe/skills/slop-detector/modules/config-file.md
  plugins/scribe/skills/slop-detector/modules/document-economy.md
  plugins/scribe/skills/tech-tutorial/SKILL.md
  plugins/scribe/tests/test_audience_targeting.py
  plugins/scribe/tests/test_slop_patterns.py
  plugins/scribe/workflows/doc-sweep.js
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

Normalise the hooks path so equivalent spellings are caught
  scripts/check_plugin_hooks.py
  tests/unit/test_check_plugin_hooks.py
Due: none

chore(gauntlet): drop networkx, declared for a graph that is SQLite-backed
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/uv.lock
Due: none

chore(memory-palace): drop the tokens extra nothing loads
  plugins/memory-palace/README.md
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/uv.lock
  plugins/tome/uv.lock
Due: run-plugin-tests, validate-memory-palace-plugin

chore(minister): drop the github extra, the plugin shells out to gh
  plugins/minister/pyproject.toml
  plugins/minister/uv.lock
Due: none

chore(spec-kit): drop five dev deps with no consumer
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/uv.lock
Due: none

refactor(conserve): delete context-map, a skill nothing invoked
  README.md
  book/src/reference/capabilities-reference.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/openpackage.yml
  plugins/conserve/skills/context-map/SKILL.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

refactor(abstract): delete shared-patterns under the consumer rule it exemplified
  .claude/rules/shared-utility-consumer-rule.md
  README.md
  book/src/plugins/abstract.md
  book/src/reference/capabilities-reference.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/docs/wrapper-development-guide.md
  plugins/abstract/examples/test-skill-migration-example.md
  plugins/abstract/openpackage.yml
  plugins/abstract/skills/shared-patterns/SKILL.md
  plugins/abstract/skills/shared-patterns/modules/advanced.md
  plugins/abstract/skills/shared-patterns/modules/creation.md
  plugins/abstract/skills/shared-patterns/modules/editing.md
  plugins/abstract/skills/shared-patterns/modules/error-handling.md
  plugins/abstract/skills/shared-patterns/modules/testing-templates.md
  plugins/abstract/skills/shared-patterns/modules/troubleshooting.md
  plugins/abstract/skills/shared-patterns/modules/validation-patterns.md
  plugins/abstract/skills/shared-patterns/modules/workflow-patterns.md
  plugins/abstract/skills/skill-authoring/modules/advanced-patterns.md
  plugins/abstract/skills/skill-graph-audit/modules/interpretation.md
  plugins/abstract/tests/scripts/test_abstract_validator_code_blocks.py
  plugins/abstract/tests/unit/skills/test_shared_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

refactor(skills): one copy of the citation-verifier protocol, in review-core
  plugins/imbue/skills/structured-output/SKILL.md
  plugins/pensive/skills/api-review/SKILL.md
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/pensive/skills/blast-radius/SKILL.md
  plugins/pensive/skills/bug-review/SKILL.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/harden/SKILL.md
  plugins/pensive/skills/makefile-review/SKILL.md
  plugins/pensive/skills/math-review/SKILL.md
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/skills/safety-critical-patterns/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/pensive/skills/test-review/SKILL.md
  plugins/pensive/skills/tiered-audit/SKILL.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/scribe/skills/voice-review/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs: delete eight planning artifacts for shipped work, fold one into its skill
  docs/error-handling-template.md
  docs/examples/skill-development/graphviz-examples.md
  plugins/attune/docs/full-cycle-workflow-guide.md
  plugins/attune/docs/quick-start-example.md
  plugins/attune/docs/tasks-integration.md
  plugins/conjure/docs/modularization-plan.md
  plugins/scribe/docs/voice-craft-plan.md
  plugins/scribe/docs/voice-craft-spec.md
  plugins/scribe/skills/voice-extract/SKILL.md
  plugins/scribe/skills/voice-extract/modules/research-basis.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(abstract): delete the worked-example skill tree and the exceptions list that cataloged it
  plugins/abstract/README.md
  plugins/abstract/docs/examples/hook-testing/comprehensive-examples.md
  plugins/abstract/docs/examples/modular-skills/advanced-patterns/README.md
  plugins/abstract/docs/examples/modular-skills/advanced-patterns/modules/cross-cutting-concerns.md
  plugins/abstract/docs/examples/modular-skills/advanced-patterns/modules/dynamic-loading.md
  plugins/abstract/docs/examples/modular-skills/advanced-patterns/modules/hierarchical-dependencies.md
  plugins/abstract/docs/examples/modular-skills/basic-implementation/README.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/README.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/SKILL.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/modules/code-review.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/modules/deployment-procedures.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/modules/documentation-guidelines.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/modules/git-workflow.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/modules/testing-strategies.md
  plugins/abstract/docs/examples/modular-skills/sample-migration.md
  plugins/abstract/docs/examples/modular-skills/sample-migration/modules/focused-modules.md
  plugins/abstract/docs/examples/modular-skills/sample-migration/modules/hub-extraction.md
  plugins/abstract/docs/examples/modular-skills/sample-migration/modules/migration-results.md
  plugins/abstract/docs/examples/modular-skills/sample-migration/modules/original-analysis.md
  plugins/abstract/docs/examples/modular-skills/sample-migration/modules/shared-scripts.md
  plugins/abstract/docs/frontmatter-exceptions.md
  plugins/abstract/skills/modular-skills/SKILL.md
  scripts/prose_wrap_baseline.json
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

chore(skills): demote five alwaysApply flags nothing honors
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/conserve/skills/decisive-action/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/conserve/skills/token-conservation/SKILL.md
  plugins/leyline/skills/stewardship/SKILL.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs(abstract): one compatibility timeline instead of three that overlapped
  plugins/abstract/docs/compatibility/compatibility-features-march2026-early.md
  plugins/abstract/docs/compatibility/compatibility-features-march2026-recent.md
  plugins/abstract/docs/compatibility/compatibility-features-plugin-compat.md
  plugins/abstract/docs/compatibility/compatibility-features.md
Due: run-plugin-tests, validate-abstract-plugin

docs(changelog): the September unbloat records what it removed and what it left
  CHANGELOG.md
Due: none

refactor(skills): the five module ToCs and one procedure the SKILL.md pass missed
  plugins/parseltongue/skills/python-testing/modules/async-testing.md
  plugins/parseltongue/skills/python-testing/modules/fixtures-and-mocking.md
  plugins/parseltongue/skills/python-testing/modules/test-infrastructure.md
  plugins/parseltongue/skills/python-testing/modules/test-quality.md
  plugins/parseltongue/skills/python-testing/modules/testing-workflows.md
  plugins/sanctum/commands/update-plugins/modules/phase3-meta-eval.md
Due: run-plugin-tests, validate-description-budget

test(conjure): pin the credential, overlay and prompt seams before splitting the executor
  plugins/conjure/tests/scripts/test_delegation_prompt.py
  plugins/conjure/tests/scripts/test_delegation_services.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(conjure): split the delegation executor along the seams its fixes kept crossing
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_prompt.py
  plugins/conjure/scripts/delegation_services.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/conjure/tests/scripts/test_delegation_prompt.py
  plugins/conjure/tests/scripts/test_delegation_services.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(changelog): record the delegation executor split
  CHANGELOG.md
Due: none

docs(reviews): Tier 3 review of the whole codebase, 2026-09-02
  docs/full-review-2026-09-02.md
Due: none

fix(gates): fourteen quality targets that could not fail now can
  Makefile
  plugins/abstract/Makefile
  plugins/abstract/config/make/python.mk
  plugins/conserve/Makefile
  plugins/scribe/Makefile
  plugins/spec-kit/Makefile
  tests/test_gate_exit_codes.py
Due: validate-abstract-plugin, validate-conserve-plugin

test: six tests that computed a verdict and never asserted it
  plugins/conserve/tests/unit/test_pre_compact_preserve.py
  plugins/conserve/tests/unit/test_tool_output_summarizer.py
  plugins/sanctum/tests/test_quality_checker.py
  plugins/sanctum/tests/test_workflow_steps_modularization.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

fix(herald): connect the webhook to the address the validator approved
  plugins/herald/scripts/notify.py
  plugins/herald/tests/test_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(shell): the house lint gate runs on macOS sh, and the auth module fails on purpose
  plugins/conserve/hooks/shared/json_utils.sh
  plugins/imbue/hooks/shared/json_utils.sh
  plugins/leyline/scripts/interactive_auth.sh
  plugins/memory-palace/hooks/shared/json_utils.sh
  scripts/shared/json_utils.sh
  scripts/shellcheck.sh
  tests/test_shell_portability.py
Due: validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix(build): stop assuming GNU tools the documented macOS toolchain lacks
  .claude/skills/night-market-build-and-env/SKILL.md
  Makefile
  plugins/abstract/Makefile
  plugins/abstract/config/make/common.mk
  plugins/abstract/config/make/markdown-only.mk
  plugins/conserve/hooks/setup.sh
  plugins/imbue/Makefile
  plugins/memory-palace/hooks/setup.sh
  plugins/pensive/Makefile
  plugins/sanctum/Makefile
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization

docs(rules): one side of the rationalization-table rule, and a validator that keeps it
  .claude/rules/bounded-discovery.md
  plugins/abstract/scripts/rules_validator.py
  plugins/abstract/tests/scripts/test_rules_validator.py
  plugins/attune/skills/skill-library-mission/SKILL.md
  plugins/imbue/skills/assisted-mastery/SKILL.md
  plugins/imbue/skills/graduated-implementation/SKILL.md
  plugins/imbue/skills/scope-guard/modules/anti-overengineering.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

chore(make): twenty-three Makefile findings, and a lint that reports instead of rewriting
  .gitignore
  Makefile
  plugins/abstract/Makefile
  plugins/abstract/config/make/common.mk
  plugins/abstract/config/make/docs.mk
  plugins/abstract/config/make/python.mk
  plugins/abstract/docs/Makefile
  plugins/attune/Makefile
  plugins/cartograph/Makefile
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/conserve/tests/Makefile
  plugins/egregore/Makefile
  plugins/gauntlet/Makefile
  plugins/hookify/Makefile
  plugins/imbue/Makefile
  plugins/imbue/pyproject.toml
  plugins/imbue/uv.lock
  plugins/leyline/Makefile
  plugins/memory-palace/Makefile
  plugins/minister/Makefile
  plugins/oracle/Makefile
  plugins/parseltongue/Makefile
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/uv.lock
  plugins/pensive/Makefile
  plugins/pensive/pyproject.toml
  plugins/pensive/uv.lock
  plugins/sanctum/Makefile
  plugins/spec-kit/Makefile
  plugins/spec-kit/tests/Makefile
  plugins/tome/Makefile
  tests/unit/test_plugin_check_harness.py
Due: validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

docs(adr): manifests and ADRs say what the code does
  docs/adr/0001-plugin-dependency-isolation.md
  docs/adr/0002-quota-tracker-refactoring.md
  docs/adr/0014-pensive-review-skill-consolidation.md
  docs/adr/0015-orchestrator-skill-simplification.md
  docs/adr/0016-orphan-skill-decisions.md
  plugins/cartograph/.claude-plugin/plugin.json
  plugins/egregore/.claude-plugin/plugin.json
  plugins/leyline/README.md
  plugins/minister/.claude-plugin/plugin.json
Due: run-plugin-tests

fix(hooks): a SessionEnd hook that can finish, and two files nobody else can plant
  plugins/imbue/hooks/user-prompt-submit.sh
  plugins/memory-palace/hooks/hooks.json
  scripts/clawhub-cron.sh
  tests/test_hook_timeouts_are_honored.py
  tests/test_shell_portability.py
Due: validate-imbue-plugin, validate-memory-palace-plugin

docs(abstract): the compliance checker is invoked the way it parses
  plugins/abstract/docs/skill-selection.md
  plugins/abstract/skills/modular-skills/modules/enforcement-patterns.md
  plugins/abstract/skills/skill-authoring/modules/troubleshooting.md
  plugins/abstract/skills/skill-authoring/modules/validation.md
  plugins/abstract/skills/skills-eval/modules/skill-authoring-best-practices.md
  plugins/abstract/skills/skills-eval/modules/trigger-isolation-analysis.md
  plugins/abstract/skills/skills-eval/scripts/README.md
Due: run-plugin-tests, validate-abstract-plugin

fix(leyline,abstract): count every request under a lock, and stop hiding parser bugs as empty results
  plugins/abstract/scripts/insight_palace_bridge.py
  plugins/abstract/tests/unit/scripts/test_insight_palace_bridge.py
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/leyline/tests/test_quota_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(conjure,gauntlet): refuse the one prompt shape that cannot be escaped, and name a bad config
  plugins/conjure/scripts/delegation_prompt.py
  plugins/conjure/tests/scripts/test_delegation_prompt.py
  plugins/gauntlet/src/gauntlet/blast_radius.py
  plugins/gauntlet/tests/unit/test_blast_radius.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor(conjure): provider verification leaves the Delegator
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_verify.py
  plugins/conjure/tests/scripts/test_delegation_verify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(shell): nine review lows across the gate scripts and hooks
  plugins/conserve/hooks/setup.sh
  plugins/egregore/scripts/watchdog.sh
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/memory-palace/hooks/setup.sh
  plugins/pensive/tests/skills/test_shell_review.py
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations_modules.py
  scripts/check-all-quality.sh
  scripts/logging.sh
  scripts/run-plugin-lint.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
