Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

refactor(attune): modularize precommit-setup into hub-and-spoke (5 modules)
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/attune/skills/precommit-setup/modules/ci-integration.md
  plugins/attune/skills/precommit-setup/modules/component-level-hooks.md
  plugins/attune/skills/precommit-setup/modules/standard-hooks.md
  plugins/attune/skills/precommit-setup/modules/troubleshooting.md
  plugins/attune/skills/precommit-setup/modules/validation-hooks.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

refactor(attune): document progressive module loading by mission type
  plugins/attune/skills/mission-orchestrator/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

chore(skills): add Use-when trigger pattern to 4 post-audit skills
  plugins/gauntlet/skills/gauntlet-curate/SKILL.md
  plugins/imbue/skills/vow-enforcement/SKILL.md
  plugins/oracle/skills/setup/SKILL.md
  plugins/sanctum/skills/stack-mode/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs(audit): formalize skill role taxonomy (entrypoint / library / hook-target)
  docs/skill-taxonomy.md
Due: none

docs(quality-gates): orchestration map and vow-enforcement integration path
  docs/quality-gate-orchestration.md
Due: none

docs(decisions): unified-review and proof-of-work disposition records
  docs/decisions/2026-04-25-proof-of-work-layering.md
  docs/decisions/2026-04-25-unified-review-disposition.md
Due: none

docs(audit): record follow-up session deltas and deferred items
  docs/audit-2026-04-25-comprehensive-skill-audit.md
Due: none

fix(abstract): raise validate_budget DEFAULT_BUDGET to 60K
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): handle YAML folded block scalars in description parser
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(pensive): add /performance-review skill and command
  book/src/reference/capabilities-reference.md
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/Makefile
  plugins/pensive/README.md
  plugins/pensive/commands/performance-review.md
  plugins/pensive/pyproject.toml
  plugins/pensive/scripts/perf_review_demo.py
  plugins/pensive/skills/performance-review/SKILL.md
  plugins/pensive/skills/performance-review/modules/gauntlet-integration.md
  plugins/pensive/skills/performance-review/modules/space-complexity.md
  plugins/pensive/skills/performance-review/modules/time-complexity.md
  plugins/pensive/src/pensive/skills/performance_review.py
  plugins/pensive/tests/skills/test_performance_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(sanctum): set +x on brainstorm_session_warn.py SessionStart hook
  plugins/sanctum/hooks/brainstorm_session_warn.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(gauntlet): defer anthropic import to function scope
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/src/gauntlet/challenges.py
  plugins/gauntlet/tests/test_challenge_variations.py
  plugins/gauntlet/tests/unit/test_challenges.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add LIVE demo and per-command test targets to Makefile
  plugins/gauntlet/Makefile
Due: none

refactor(pensive): performance cleanups from /performance-review pass
  plugins/pensive/src/pensive/analysis/repository_analyzer.py
  plugins/pensive/src/pensive/skills/makefile_review.py
  plugins/pensive/src/pensive/skills/unified_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: 1.9.3 README badges, CHANGELOG entries, proof-of-work log
  CHANGELOG.md
  README.md
  reviews/proof-of-work-2026-04-26.md
Due: none

test(abstract): add round-trip test + Verification section for skill-graph-audit
  plugins/abstract/skills/skill-graph-audit/SKILL.md
  plugins/abstract/tests/scripts/test_skill_graph.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

chore(gitignore): ignore .egregore/ and .superpowers/ runtime state
  .gitignore
Due: none

fix(pr-446): address /pr-review-toolkit findings
  CHANGELOG.md
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/sanctum/tests/test_release_consistency.py
  reviews/pr-446-review.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(pr-446): apply skill role taxonomy findings to audit
  docs/skill-integration-guide.md
  plugins/abstract/scripts/skill_graph.py
  plugins/abstract/skills/skill-graph-audit/SKILL.md
  plugins/abstract/tests/scripts/test_skill_graph.py
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microservices/SKILL.md
  plugins/cartograph/skills/call-chain/SKILL.md
  plugins/conserve/skills/agent-expenditure/SKILL.md
  plugins/pensive/skills/api-review/SKILL.md
  plugins/pensive/skills/blast-radius/SKILL.md
  plugins/pensive/skills/bug-review/SKILL.md
  plugins/sanctum/skills/do-issue/SKILL.md
  plugins/spec-kit/skills/speckit-orchestrator/SKILL.md
  plugins/tome/skills/code-search/SKILL.md
  plugins/tome/skills/discourse/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-archetypes-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

chore(memory-palace): index 23 webfetch captures
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(pr-446): incorporate review files into existing docs
  docs/inclusive-defaults.md
  plugins/abstract/scripts/post_review_insights.py
  reviews/1.9.3/inclusive-default-audit.md
  reviews/pr-417-review.md
  reviews/pr-446-review.md
  reviews/proof-of-work-2026-04-26.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(scribe): integrate 2025-26 AI slop playbook into slop-detector
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/anti-goals.md
  plugins/scribe/skills/slop-detector/modules/cleanup-workflow.md
  plugins/scribe/skills/slop-detector/modules/document-economy.md
  plugins/scribe/skills/slop-detector/modules/empirical-baseline.md
  plugins/scribe/skills/slop-detector/modules/evidence-backed-claims.md
  plugins/scribe/skills/slop-detector/modules/hallucination-detection.md
  plugins/scribe/skills/slop-detector/modules/identity-and-voice-leaks.md
  plugins/scribe/skills/slop-detector/modules/stub-and-deferral.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/skills/style-learner/SKILL.md
  plugins/scribe/skills/tech-tutorial/SKILL.md
  plugins/scribe/skills/voice-generate/SKILL.md
  plugins/scribe/skills/voice-review/SKILL.md
  plugins/scribe/tests/unit/skills/test_doc_generator.py
  plugins/scribe/tests/unit/skills/test_slop_detector.py
  plugins/scribe/tests/unit/skills/test_slop_detector_new_modules.py
  plugins/scribe/tests/unit/skills/test_style_learner.py
  plugins/scribe/tests/unit/skills/test_tech_tutorial.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat: extend AI slop playbook integration across plugins
  CONSTITUTION.md
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/skills/rust-review/modules/async-slop.md
  plugins/pensive/skills/rust-review/modules/iterator-and-allocation-slop.md
  plugins/pensive/skills/rust-review/modules/model-specific-tells.md
  plugins/pensive/skills/rust-review/modules/test-slop.md
  plugins/pensive/tests/skills/test_rust_review_new_modules.py
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/structured-finding-output.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

chore(unbloat): Phase 1 quick wins + cleanup reports
  Makefile
  cleanup-report.md
  plugins/egregore/tests/test_user_prompt_hook.py
  reports/cleanup-bloat.md
  reports/cleanup-hygiene.md
  reports/cleanup-quality.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(slop): Phase 2 P0 fixes per slop-scan-for-docs Layer 0
  book/src/getting-started/first-plugin.md
  docs/guides/README.md
  plugins/sanctum/skills/tutorial-updates/modules/markdown-generation.md
Due: run-plugin-tests

refactor(unbloat): Phase 3 structural cleanup
  .pre-commit-hook-makefile-dogfood.yaml
  docs/tome-implementation-plan.md
  docs/tome-project-brief.md
  docs/tome-specification.md
  plugins/abstract/docs/examples/modular-skills/complete-skills/development-workflow/SKILL.md
  plugins/abstract/skills/validate-plugin-structure.md
  plugins/conserve/scripts/detect_duplicates.py
  plugins/egregore/scripts/watchdog.sh
  plugins/imbue/scripts/imbue_validator.py
  plugins/scribe/src/scribe/pattern_loader.py
  plugins/scribe/uv.lock
  scripts/add_cross_framework_fields.py
  scripts/add_model_hints.py
  scripts/cursor_lean_export.py
  tests/unit/test_add_cross_framework_fields.py
  tests/unit/test_add_model_hints.py
  tests/unit/test_cursor_lean_export.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

style(slop): Phase 4 em-dash polish + actionable purge
  book/src/plugins/pensive.md
  plugins/imbue/skills/structured-output/SKILL.md
  plugins/leyline/skills/supply-chain-advisory/modules/incident-response.md
  plugins/pensive/skills/unified-review/modules/output-format-templates.md
  plugins/sanctum/commands/update-ci.md
  plugins/scribe/skills/session-to-post/SKILL.md
  plugins/scribe/skills/session-to-post/modules/narrative-structure.md
  plugins/spec-kit/skills/speckit-orchestrator/modules/progress-tracking.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

refactor(unbloat): Phase 5 partial - R1, R3, R5 refactors
  .pre-commit-config.yaml
  Makefile
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/egregore/scripts/parallel.py
  scripts/shared/check-json-utils-drift.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(unbloat): Phase 5 R2/R4/R6 + R7 + Phase 6 cleanup
  .claude/doc-sync.yaml
  .pre-commit-config.yaml
  docs/guides/lsp-native-support.md
  plugins/attune/scripts/plugin_project_init.py
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/__init__.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_constants.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_quality.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_recommendations.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_structure.py
  plugins/phantom/src/phantom/loop.py
  plugins/sanctum/skills/doc-updates/modules/capabilities-sync.md
  scripts/check_docstring_quality.py
  scripts/lsp-diagnostic.sh
  scripts/lsp-vs-grep-comparison.sh
  scripts/parse-doc-sync.py
  tests/unit/test_check_docstring_quality.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(conserve): document substantive-commits filter for churn detection
  plugins/conserve/skills/bloat-detector/modules/git-history-analysis.md
Due: run-plugin-tests, validate-conserve-plugin

chore(unbloat): delete residual scripts/test-lsp-manually.sh
  scripts/test-lsp-manually.sh
Due: none

chore(unbloat): delete 5 orphaned plugin scripts
  plugins/memory-palace/scripts/metrics/cache_hit_dashboard.py
  plugins/memory-palace/scripts/metrics/context_savings.py
  plugins/memory-palace/scripts/metrics/regret_rate.py
  plugins/memory-palace/scripts/tending_cli.py
  plugins/sanctum/scripts/validate_versions.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

chore(unbloat): Phase 1 of Tier 3 scan (F01, F03, F04, F12, F13)
  .gitignore
  Makefile
  cleanup-report.md
  reports/skill-graph.json
Due: none

refactor(abstract): F11 hook-scope-guide skill dir + register
  book/src/reference/capabilities-reference.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/skills/hook-scope-guide/SKILL.md
  plugins/abstract/tests/test_skill_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

chore(unbloat): Phase 4 - archive stale tracked artifacts (F14, F17)
  docs/architecture-analysis-report.md
  reports/cleanup-bloat.md
  reports/cleanup-hygiene.md
  reports/cleanup-quality.md
Due: none

docs(unbloat): preserve session reports for 2026-05-01 and 2026-05-02
  reports/cleanup-bloat-2026-05-02.md
  reports/unbloat-session-2026-05-01.md
  reports/unbloat-session-2026-05-02.md
Due: none

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
