Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(sanctum): register benchmark pytest marker
  plugins/sanctum/pyproject.toml
Due: none

fix: address PR #207 blocking review feedback
  .github/workflows/mutation-testing.yml
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/attune/templates/hooks/hooks.json.template
  plugins/attune/templates/hooks/pre_commit_tdd.py.template
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): address PR #207 review feedback round 2
  docs/adr/0006-self-adapting-skill-health.md
  docs/plans/2026-02-15-self-adapting-systems-design.md
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/pre_skill_execution.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/scripts/update_changelog.py
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/src/abstract/skill_versioning.py
  plugins/abstract/tests/hooks/test_continual_metrics.py
  plugins/abstract/tests/hooks/test_skill_observability_proof.py
  plugins/abstract/tests/test_hooks_skill_execution_logger.py
  pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix: address PR #207 review feedback round 3
  plugins/abstract/src/abstract/experience_library.py
  plugins/conserve/tests/conftest.py
  plugins/conserve/tests/unit/skills/test_performance_monitoring.py
  plugins/conserve/tests/unit/skills/test_token_conservation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

fix(memory-palace): replace dt.UTC with dt.timezone.utc for Python 3.9 compat
  plugins/memory-palace/scripts/seed_corpus.py
  plugins/memory-palace/scripts/update_vitality_scores.py
  plugins/memory-palace/skills/knowledge-intake/scripts/intake_cli.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(imbue,memory-palace): replace datetime.UTC with timezone.utc for Python 3.9 compat
  plugins/imbue/tests/conftest.py
  plugins/imbue/tests/integration/test_review_workflow_integration.py
  plugins/imbue/tests/performance/test_workflow_scalability.py
  plugins/imbue/tests/unit/agents/test_review_analyst.py
  plugins/imbue/tests/unit/skills/test_evidence_logging.py
  plugins/imbue/tests/unit/skills/test_structured_output.py
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/hooks/skill_tracker_post.py
  plugins/memory-palace/hooks/skill_tracker_pre.py
  plugins/memory-palace/hooks/web_content_processor.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/scripts/metrics/regret_rate.py
  plugins/memory-palace/scripts/update_autonomy_state.py
  plugins/memory-palace/src/memory_palace/corpus/counter_reinforcement.py
  plugins/memory-palace/src/memory_palace/corpus/decay_model.py
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/src/memory_palace/corpus/source_lineage.py
  plugins/memory-palace/src/memory_palace/corpus/usage_tracker.py
  plugins/memory-palace/src/memory_palace/garden_metrics.py
  plugins/memory-palace/src/memory_palace/lifecycle/autonomy_state.py
  plugins/memory-palace/src/memory_palace/observability/telemetry.py
  plugins/memory-palace/tests/conftest.py
  plugins/memory-palace/tests/test_decay_model.py
  plugins/memory-palace/tests/test_garden_metrics.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/memory-palace/tests/test_source_lineage.py
  plugins/memory-palace/tests/test_usage_tracker.py
  plugins/memory-palace/tests/unit/test_counter_reinforcement.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-memory-palace-plugin

fix: address PR #223 review feedback (16 findings)
  plugins/attune/skills/war-room/modules/discussion-publishing.md
  plugins/imbue/hooks/tdd_bdd_gate.py
  plugins/imbue/tests/unit/hooks/test_tdd_bdd_gate.py
  plugins/leyline/hooks/fetch-recent-discussions.sh
  plugins/leyline/skills/git-platform/modules/command-mapping.md
  plugins/minister/docs/playbooks/github-program-rituals.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix: address PR #223 review feedback (round 2)
  docs/adr/0007-github-discussions-integration.md
  docs/implementation-plan.md
  docs/specification.md
  plugins/leyline/hooks/fetch-recent-discussions.sh
Due: none

fix(mdbook,sanctum): mermaid rendering and modularize 6-complete
  book/book.toml
  book/theme/js/mermaid-init.js
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/issue-creation.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/issue-linkage.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/reconciliation.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/summary.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/thread-resolution.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/verification.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/tests/test_workflow_steps_modularization.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

feat(memory-palace): auto-prompt research storage after web search
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/research_storage_prompt.py
  plugins/memory-palace/hooks/tests/unit/test_research_storage_prompt.py
  plugins/memory-palace/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: skill frontmatter cleanup and shared CACHE_EXCLUDES extraction
  plugins/leyline/skills/pytest-config/SKILL.md
  plugins/parseltongue/skills/python-async/SKILL.md
  plugins/parseltongue/uv.lock
  plugins/pensive/skills/makefile-review/SKILL.md
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/scripts/update_plugins_modules/constants.py
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/unit/test_constants.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(abstract): add rules-eval skill for Claude Code rules validation
  plugins/abstract/commands/rules-eval.md
  plugins/abstract/scripts/rules_validator.py
  plugins/abstract/skills/rules-eval/SKILL.md
  plugins/abstract/skills/rules-eval/modules/content-quality-metrics.md
  plugins/abstract/skills/rules-eval/modules/frontmatter-validation.md
  plugins/abstract/skills/rules-eval/modules/glob-pattern-analysis.md
  plugins/abstract/skills/rules-eval/modules/organization-patterns.md
  plugins/abstract/tests/scripts/test_rules_validator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix: address PR #226 review feedback
  plugins/abstract/skills/rules-eval/modules/content-quality-metrics.md
  plugins/abstract/skills/rules-eval/modules/frontmatter-validation.md
  plugins/abstract/skills/rules-eval/modules/glob-pattern-analysis.md
  plugins/memory-palace/hooks/tests/unit/test_research_storage_prompt.py
  plugins/sanctum/tests/unit/test_constants.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin

refactor(memory-palace): consolidate hooks pyproject.toml into parent
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/scripts/rules_validator.py
  plugins/abstract/tests/hooks/test_continual_metrics.py
  plugins/abstract/tests/scripts/test_rules_validator.py
  plugins/abstract/tests/test_makefile_dogfooder.py
  plugins/memory-palace/hooks/pyproject.toml
  plugins/memory-palace/hooks/research_storage_prompt.py
  plugins/memory-palace/hooks/tests/unit/test_research_storage_prompt.py
  plugins/memory-palace/hooks/web_content_processor.py
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/scripts/update_vitality_scores.py
  plugins/memory-palace/scripts/validate_knowledge_corpus.py
  plugins/memory-palace/src/memory_palace/corpus/cache_lookup.py
  plugins/memory-palace/src/memory_palace/corpus/counter_reinforcement.py
  plugins/memory-palace/src/memory_palace/corpus/keyword_index.py
  plugins/memory-palace/src/memory_palace/corpus/query_templates.py
  plugins/memory-palace/src/memory_palace/corpus/source_lineage.py
  plugins/memory-palace/src/memory_palace/curation/models.py
  plugins/memory-palace/uv.lock
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/summary.md
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/scripts/update_plugins_modules/constants.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin, validate-description-budget

fix: address PR #226 review feedback (round 2)
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/attune/scripts/attune_init.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

refactor: consolidate duplicate plugins, hooks, commands, and skills
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/commands/analyze-hook.md
  plugins/abstract/commands/analyze-skill.md
  plugins/abstract/commands/hooks-eval.md
  plugins/abstract/commands/validate-hook.md
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/test_hooks_skill_execution_logger.py
  plugins/attune/.claude-plugin/plugin.json
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/hooks/hooks.json
  plugins/conserve/hooks/session-start.sh
  plugins/hookify/.claude-plugin/plugin.json
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/hooks/hooks.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/skill_tracker_post.py
  plugins/memory-palace/hooks/skill_tracker_pre.py
  plugins/memory-palace/scripts/validate_knowledge_corpus.py
  plugins/parseltongue/.claude-plugin/plugin.json
  plugins/pensive/.claude-plugin/plugin.json
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/skill-logs.md
  plugins/scribe/.claude-plugin/plugin.json
  plugins/scribe/commands/doc-verify.md
  plugins/scribe/commands/slop-scan.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, validate-description-budget

fix: address PR #228 review feedback - all 14 items
  plugins/abstract/.claude-plugin/metadata.json
  plugins/conserve/.claude-plugin/metadata.json
  plugins/conserve/skills/context-optimization/modules/mecw-theory.md
  plugins/conserve/tests/unit/commands/test_analyze_growth.py
  plugins/imbue/.claude-plugin/metadata.json
  plugins/memory-palace/data/indexes/embeddings.yaml
  plugins/memory-palace/data/indexes/keyword-index.yaml
  plugins/memory-palace/data/indexes/query-templates.yaml
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/memory-palace-config.yaml
  plugins/memory-palace/hooks/research_interceptor.py
  plugins/memory-palace/hooks/shared/config.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/build_embeddings.py
  plugins/memory-palace/scripts/build_indexes.py
  plugins/memory-palace/scripts/seed_corpus.py
  plugins/memory-palace/scripts/validate_knowledge_corpus.py
  plugins/memory-palace/skills/knowledge-intake/scripts/intake_cli.py
  plugins/pensive/tests/skills/test_fpf_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

feat: integrate wiki-backed knowledge corpus for cache-first search
  .gitignore
  plugins/memory-palace/hooks/memory-palace-config.yaml
  plugins/memory-palace/hooks/shared/config.py
  plugins/memory-palace/scripts/sync_wiki.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix: resolve pre-commit hook failures and remove SKILL.md version field
  .pre-commit-config.yaml
  plugins/pensive/pyproject.toml
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/tests/test_code_refinement.py
  plugins/pensive/uv.lock
  scripts/fix_descriptions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix: address PR #233 review feedback
  plugins/sanctum/commands/update-plugins/modules/phase2-performance.md
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

docs: add Claude Code 2.1.50 compatibility updates
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/docs/compatibility/compatibility-patterns.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/src/abstract/cli_framework.py
  plugins/abstract/src/abstract/tasks_manager_base.py
  plugins/conserve/scripts/detect_duplicates.py
  plugins/conserve/skills/context-optimization/modules/subagent-coordination.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat: add content assertion levels framework for execution markdown testing
  CHANGELOG.md
  book/src/plugins/conjure.md
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/tests/test_skill_structure.py
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/context-optimization/modules/subagent-coordination.md
  plugins/conserve/tests/unit/skills/test_clear_context.py
  plugins/conserve/tests/unit/skills/test_context_optimization.py
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/imbue/skills/proof-of-work/modules/iron-law-enforcement.md
  plugins/leyline/skills/testing-quality-standards/SKILL.md
  plugins/leyline/skills/testing-quality-standards/modules/content-assertion-levels.md
  plugins/leyline/tests/unit/skills/test_testing_quality_standards.py
  plugins/pensive/skills/test-review/SKILL.md
  plugins/pensive/skills/test-review/modules/content-assertion-quality.md
  plugins/pensive/tests/skills/test_test_review_content.py
  plugins/sanctum/skills/test-updates/modules/content-test-discovery.md
  plugins/sanctum/skills/test-updates/modules/generation/content-test-templates.md
  plugins/sanctum/skills/test-updates/modules/test-discovery.md
  plugins/sanctum/tests/unit/skills/test_test_updates_content.py
  plugins/scribe/agents/doc-editor.md
  plugins/scribe/agents/doc-verifier.md
  plugins/scribe/agents/slop-hunter.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix: address PR #233 second review round (B1 + 8 non-blocking items)
  CHANGELOG.md
  plugins/abstract/src/abstract/cli_framework.py
  plugins/abstract/tests/test_skill_structure.py
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/imbue/skills/proof-of-work/modules/iron-law-enforcement.md
  plugins/leyline/skills/testing-quality-standards/modules/content-assertion-levels.md
  plugins/sanctum/skills/test-updates/modules/generation/content-test-templates.md
  plugins/sanctum/tests/unit/skills/test_test_updates_content.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin

fix: remove redundant Path import in Level 3 template
  plugins/sanctum/skills/test-updates/modules/generation/content-test-templates.md
Due: run-plugin-tests

feat(scribe,sanctum): implement issues #122, #134, #135, #136, #137, #139
  .github/workflows/slop-check.yml
  plugins/leyline/.claude-plugin/plugin.json
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/pre-check.md
  plugins/sanctum/tests/test_workflow_steps_modularization.py
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/ci-integration.md
  plugins/scribe/skills/slop-detector/modules/config-file.md
  plugins/scribe/skills/slop-detector/modules/metrics.md
  plugins/scribe/skills/slop-detector/modules/progress-indicators.md
  plugins/scribe/tests/benchmarks/__init__.py
  plugins/scribe/tests/benchmarks/conftest.py
  plugins/scribe/tests/benchmarks/test_bench_slop_detection.py
  plugins/scribe/tests/test_ci_integration.py
  plugins/scribe/tests/test_config_file.py
  plugins/scribe/tests/test_metrics.py
  plugins/scribe/tests/test_progress_indicators.py
  pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(scribe): add integration tests and before/after examples (#132, #133)
  book/src/plugins/scribe.md
  plugins/scribe/README.md
  plugins/scribe/tests/test_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(memory-palace,scribe): add semantic deduplication and i18n pattern detection
  book/src/plugins/memory-palace.md
  plugins/memory-palace/.claude-plugin/metadata.json
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/README.md
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/scripts/build_embeddings.py
  plugins/memory-palace/scripts/seed_corpus.py
  plugins/memory-palace/scripts/sync_wiki.py
  plugins/memory-palace/src/memory_palace/corpus/__init__.py
  plugins/memory-palace/src/memory_palace/corpus/semantic_deduplicator.py
  plugins/memory-palace/tests/hooks/test_config.py
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
  plugins/memory-palace/tests/test_unified_search.py
  plugins/memory-palace/tests/unit/test_semantic_deduplicator.py
  plugins/memory-palace/uv.lock
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/i18n-patterns.md
  plugins/scribe/tests/test_i18n_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(leyline): restore hooks registration accidentally removed in plugin.json
  plugins/leyline/.claude-plugin/plugin.json
Due: none

fix(memory-palace): narrow broad Path.is_dir mock in test_research_interceptor
  plugins/memory-palace/tests/hooks/test_research_interceptor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): make faiss-cpu and numpy mandatory dependencies
  book/src/plugins/memory-palace.md
  plugins/memory-palace/README.md
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/src/memory_palace/corpus/semantic_deduplicator.py
  plugins/memory-palace/tests/unit/test_semantic_deduplicator.py
  plugins/memory-palace/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor(conserve): extract _format_location helper in detect_duplicates.py
  plugins/conserve/scripts/detect_duplicates.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
