Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(version): update marketplace.json to version 1.2.1
  .claude-plugin/marketplace.json
Due: none

docs(pre-commit): remove misleading ruff-format comment
  .pre-commit-config.yaml
Due: none

feat(fix-pr): auto-create GitHub issues for suggestions
  plugins/sanctum/commands/fix-pr.md
Due: run-plugin-tests, validate-description-budget

test: refactor multi-line assertions for PEP 8 compliance
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(python-testing): implement improvements from issue #74 feedback
  README.md
  assets/tapes/skills-showcase.tape
  plugins/parseltongue/skills/python-testing/SKILL.md
  plugins/parseltongue/skills/python-testing/modules/async-testing.md
  plugins/parseltongue/skills/python-testing/modules/fixtures-and-mocking.md
  plugins/parseltongue/skills/python-testing/modules/test-infrastructure.md
  plugins/parseltongue/skills/python-testing/modules/test-quality.md
  plugins/parseltongue/skills/python-testing/modules/testing-workflows.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(linting): refactor validate_210_fields to reduce complexity
  plugins/abstract/skills/skills-eval/modules/multi-metric-evaluation-methodology.md
  plugins/abstract/src/abstract/frontmatter.py
  plugins/abstract/tests/test_base.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(2.1.0): add Claude Code 2.1.0 compatibility with comprehensive validation
  CHANGELOG.md
  README.md
  assets/gifs/skills-showcase.gif
  assets/tapes/skills-showcase.tape
  book/src/introduction.md
  docs/common-workflows.md
  docs/plugin-development-guide.md
  plugins/abstract/agents/plugin-validator.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hooks-eval/modules/evaluation-criteria.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skills-eval/modules/evaluation-criteria.md
  plugins/abstract/src/abstract/base.py
  plugins/abstract/tests/test_frontmatter.py
  plugins/conserve/agents/context-optimizer.md
  plugins/conserve/skills/context-optimization/modules/subagent-coordination.md
  plugins/conserve/skills/mcp-code-execution/modules/mcp-subagents.md
  plugins/imbue/skills/feature-review/modules/scoring-framework.md
  plugins/leyline/skills/evaluation-framework/modules/scoring-patterns.md
  plugins/parseltongue/agents/python-tester.md
  plugins/pensive/agents/code-reviewer.md
  plugins/sanctum/agents/commit-agent.md
  plugins/sanctum/agents/git-workspace-agent.md
  plugins/sanctum/agents/pr-agent.md
  plugins/sanctum/hooks/verify_workflow_complete.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(linting): apply ruff-format style for assert statements
  plugins/abstract/tests/test_skill_structure.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(sanctum): enforce branch name version validation in PR reviews
  CHANGELOG.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/skills/pr-review/modules/version-validation.md
Due: run-plugin-tests, validate-description-budget

docs(lsp): add experimental status warnings to native support guide
  docs/guides/lsp-native-support.md
Due: none

feat(abstract): implement skill execution observability - Phase 1
  plugins/abstract/hooks/hooks.json
  plugins/abstract/hooks/skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs: add token conservation workflows and agent boundaries guide
  docs/guides/agent-boundaries.md
  plugins/conserve/README.md
Due: run-plugin-tests, validate-conserve-plugin

feat(abstract): implement skill observability Phases 2-3
  plugins/abstract/agents/skill-evaluator.md
  plugins/abstract/commands/aggregate-logs.md
  plugins/abstract/commands/evaluate-skill.md
  plugins/abstract/scripts/aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-description-budget

feat(abstract,sanctum): implement skill observability Phases 4-5
  plugins/abstract/agents/skill-improver.md
  plugins/abstract/commands/improve-skills.md
  plugins/pensive/agents/architecture-reviewer.md
  plugins/pensive/agents/rust-auditor.md
  plugins/sanctum/agents/commit-agent.md
  plugins/sanctum/agents/dependency-updater.md
  plugins/sanctum/agents/workflow-recreate-agent.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

fix(makefiles): standardize attune, parseltongue, pensive Makefiles
  plugins/attune/Makefile
  plugins/parseltongue/Makefile
  plugins/pensive/Makefile
Due: none

refactor(plugins): consolidate pensieve into memory-palace and pensive
  .claude-plugin/marketplace.json
  CHANGELOG.md
  README.md
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/README.md
  plugins/memory-palace/commands/skill-logs.md
  plugins/memory-palace/hooks/hooks.json
  plugins/memory-palace/hooks/skill_tracker_post.py
  plugins/memory-palace/hooks/skill_tracker_pre.py
  plugins/pensieve/.claude-plugin/plugin.json
  plugins/pensieve/README.md
  plugins/pensieve/commands/pensieve-history.md
  plugins/pensieve/commands/pensieve-metrics.md
  plugins/pensieve/hooks/hooks.json
  plugins/pensieve/tests/integration_test.py
  plugins/pensive/.claude-plugin/plugin.json
  plugins/pensive/README.md
  plugins/pensive/commands/skill-history.md
  plugins/pensive/commands/skill-review.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, validate-description-budget

fix(abstract): address PR #92 review feedback
  plugins/abstract/agents/skill-evaluator.md
  plugins/abstract/hooks/skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

update reamde hooks with small modification
  plugins/abstract/README-HOOKS.md
Due: run-plugin-tests, validate-abstract-plugin

feat(plugins): add methodology-curator skill and git safety rules
  CHANGELOG.md
  README.md
  book/src/getting-started/common-workflows.md
  docs/guides/error-handling-guide.md
  plugins/abstract/README.md
  plugins/abstract/commands/create-skill.md
  plugins/abstract/docs/model-optimization-guide.md
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/methodology-curator/modules/code-review.md
  plugins/abstract/skills/methodology-curator/modules/debugging.md
  plugins/abstract/skills/methodology-curator/modules/decision-making.md
  plugins/abstract/skills/methodology-curator/modules/instruction-design.md
  plugins/abstract/skills/methodology-curator/modules/knowledge-management.md
  plugins/abstract/skills/methodology-curator/modules/testing.md
  plugins/conserve/skills/context-optimization/modules/subagent-coordination.md
  plugins/hookify/CHANGELOG.md
  plugins/hookify/README.md
  plugins/hookify/examples/block-destructive-git.local.md
  plugins/hookify/skills/rule-catalog/SKILL.md
  plugins/hookify/skills/rule-catalog/rules/git/block-destructive-git.md
  plugins/hookify/skills/rule-catalog/rules/git/warn-risky-git.md
  plugins/sanctum/commands/fix-workflow.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

refactor(sanctum): strengthen commit message guardrails against AI attribution
  plugins/abstract/agents/skill-improver.md
  plugins/sanctum/skills/commit-messages/SKILL.md
Due: run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

refactor(sanctum): restructure fix-pr and fix-issue to follow attune workflow pattern
  plugins/sanctum/commands/fix-issue.md
  plugins/sanctum/commands/fix-pr.md
Due: run-plugin-tests, validate-description-budget

test: add comprehensive test coverage for error paths (#32, #33)
  docs/REMAINING-ISSUES-27-33.md
  plugins/abstract/src/abstract/wrapper_base.py
  plugins/abstract/tests/test_wrapper_infrastructure.py
  plugins/conjure/tests/test_delegation_error_paths.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin

refactor(abstract): consolidate module bloat to docs/examples (issues #27, #28, #29)
  docs/examples/hook-development/hook-types-comprehensive.md
  docs/examples/hook-development/security-patterns.md
  docs/examples/skill-development/authoring-best-practices.md
  docs/examples/skill-development/evaluation-methodology.md
  plugins/abstract/commands/bulletproof-skill.md
  plugins/abstract/commands/bulletproof-skill/modules/complete-guide.md
  plugins/abstract/commands/validate-hook.md
  plugins/abstract/commands/validate-hook/modules/complete-guide.md
  plugins/abstract/skills/hook-authoring/modules/hook-types.md
  plugins/abstract/skills/skills-eval/modules/multi-metric-evaluation-methodology.md
  plugins/abstract/skills/skills-eval/modules/skill-authoring-best-practices.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/abstract/skills/subagent-testing/modules/testing-patterns.md
  plugins/conserve/skills/mcp-code-execution/modules/mcp-coordination.md
  plugins/conserve/skills/mcp-code-execution/modules/mcp-subagents.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/complete-guide.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs: consolidate ephemeral reports into permanent documentation
  CHANGELOG.md
  docs/REMAINING-ISSUES-27-33.md
  docs/adr/0003-2025-01-command-description-refactoring.md
  docs/adr/0004-2025-12-skill-description-budget-optimization.md
  docs/optimization-summary-2025-12-31.md
Due: none

fix(abstract): correct hooks.json matcher format for Claude Code SDK compliance
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/hooks/hooks.json
Due: validate-abstract-plugin

fix(memory-palace): correct hooks.json matcher format for Claude Code SDK compliance
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugins/memory-palace/.claude-plugin/plugin.json
  plugins/memory-palace/hooks/hooks.json
Due: validate-memory-palace-plugin

Unbloat: Remove archives and refactor large docs (~44k tokens saved)
  docs/budget-optimization-dec-2025.md
  docs/guides/skill-observability-guide.md
  plugins/abstract/docs/claude-code-compatibility.md
  plugins/abstract/docs/compatibility/compatibility-features.md
  plugins/abstract/docs/compatibility/compatibility-issues.md
  plugins/abstract/docs/compatibility/compatibility-patterns.md
  plugins/abstract/docs/compatibility/compatibility-reference.md
  plugins/sanctum/commands/fix-pr-modules/configuration-options.md
  plugins/sanctum/commands/fix-pr-modules/troubleshooting-fixes.md
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-configuration.md
  plugins/sanctum/commands/pr-review/modules/review-framework.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

docs: Complete TODO audit and convert actionable TODOs to GitHub issues
  bloat-scan-report-20260109.md
  plugins/abstract/scripts/wrapper_generator.py
  plugins/attune/commands/init.md
  plugins/conserve/services/optimization_service.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, validate-description-budget

refactor: Remove complete-guide anti-pattern files (~4k tokens saved)
  plugins/abstract/commands/bulletproof-skill.md
  plugins/abstract/commands/bulletproof-skill/modules/complete-guide.md
  plugins/abstract/commands/validate-hook.md
  plugins/abstract/commands/validate-hook/modules/complete-guide.md
Due: run-plugin-tests, validate-abstract-plugin, validate-description-budget

docs: Update bloat report with Phase 4 results
  bloat-scan-report-20260109.md
Due: none

docs: debloat documentation files (~3,200 lines saved)
  docs/examples/hook-development/hook-types-comprehensive.md
  docs/examples/hook-development/security-patterns.md
  docs/examples/skill-development/authoring-best-practices.md
  docs/examples/skill-development/evaluation-methodology.md
  docs/guides/error-handling-guide.md
Due: none

docs: update bloat report and add documentation standards guide
  DEBLOAT_REPORT.md
  bloat-scan-report-20260109.md
  docs/guides/documentation-standards.md
Due: none

docs: update CHANGELOG with Phase 5 documentation debloating
  CHANGELOG.md
Due: none
