Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(memory-palace): reject list fragments as captured page titles
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(memory-palace): repair the titles the extractor should never have stored
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/scripts/precommit_palace_maintenance.sh
  plugins/memory-palace/src/memory_palace/corpus/index_promoter.py
  plugins/memory-palace/src/memory_palace/corpus/titles.py
  plugins/memory-palace/tests/test_index_promoter.py
  plugins/memory-palace/tests/unit/test_titles.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(docs): make the alphabetical reference alphabetical, and keep it so
  book/src/reference/capabilities-reference.md
  plugins/leyline/tests/unit/skills/test_loop_optimization.py
  tests/unit/test_capabilities_reference_ordering.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(memory-palace): persist vitality scores only on a real decay
  plugins/memory-palace/scripts/update_vitality_scores.py
  plugins/memory-palace/tests/scripts/test_update_vitality_scores.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(scripts): give the pinned-version gate a way out that is not deletion
  scripts/check_pinned_versions.py
  tests/unit/test_check_pinned_versions.py
Due: none

fix(spec-kit): stop advertising a path no command reads
  plugins/spec-kit/commands/speckit-analyze.md
  plugins/spec-kit/commands/speckit-converge.md
  plugins/spec-kit/commands/speckit-implement.md
  plugins/spec-kit/commands/speckit-tasks.md
  plugins/spec-kit/commands/speckit-taskstoissues.md
  plugins/spec-kit/tests/test_commands.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

docs(metadata): say what a declared dependency does not buy you
  docs/metadata.md
  plugins/leyline/skills/decision-journal/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(hooks): make the payload readers' sync note fail a run, not a review
  plugins/leyline/hooks/noqa_guard.py
  plugins/sanctum/hooks/deferred_item_watcher.py
  tests/unit/test_hook_payload_readers.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(harness): turn the dogfooding canaries into the guards they stood for
  plugins/scribe/Makefile
  tests/unit/test_plugin_check_harness.py
Due: none

test(ecosystem): collect the prototypes, so a shipped test is a run test
  prototypes/forced-eval/README.md
  pyproject.toml
  tests/unit/test_test_collection_coverage.py
Due: none

chore(memory-palace): drain the capture backlog the hooks left unstaged
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(workflows): guard the citation form that slipped between two gates
  plugins/abstract/agents/skill-evaluator.md
  plugins/abstract/commands/plugin-review.md
  plugins/attune/commands/war-room.md
  plugins/attune/skills/mission-orchestrator/modules/trust-tier.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/conserve/skills/bloat-detector/modules/ai-generated-bloat.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/hookify/commands/from-hook.md
  plugins/sanctum/commands/update-plugins.md
  plugins/sanctum/skills/pr-review/modules/knowledge-capture.md
  tests/test_cited_paths_resolve.py
Due: run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

test(abstract): make the friction-detector tests fail on wrong, not different
  plugins/abstract/skills/friction-detector/SKILL.md
  plugins/abstract/tests/unit/skills/test_friction_detector.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

chore(discussions): drop the untriaged ratchet to zero, the backlog is answered
  docs/discussion-reconciliation-2026-08-03.md
  scripts/reconcile_discussions.py
Due: none

docs(tests): replace the citation gate's own uncited numbers
  tests/test_cited_paths_resolve.py
Due: none

chore(memory-palace): route the 21 captures this session's research made
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

feat(tome): record why a channel is empty, not just that it is
  plugins/tome/src/tome/models.py
  plugins/tome/src/tome/synthesis/quality.py
  plugins/tome/tests/unit/test_channel_outcomes.py
  plugins/tome/tests/unit/test_provenance.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(adr): record why tome detects thin fields with controls, not overlap
  docs/adr/0020-tome-frontier-detection-via-positive-controls.md
Due: none

feat(tome): stop hiding the channels that came back with nothing
  plugins/tome/src/tome/output/report.py
  plugins/tome/tests/unit/test_report_coverage.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): stop teaching the next pass to avoid the source that broke
  plugins/tome/src/tome/output/report.py
  plugins/tome/src/tome/scripts/research_planner.py
  plugins/tome/tests/unit/test_replan_outcomes.py
  plugins/tome/tests/unit/test_report_coverage.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(adr): drop two correlation figures ADR-0020 could not vouch for
  docs/adr/0020-tome-frontier-detection-via-positive-controls.md
Due: none

feat(tome): route the agents through the query layer they were skipping
  plugins/tome/agents/code-searcher.md
  plugins/tome/agents/discourse-scanner.md
  plugins/tome/agents/literature-reviewer.md
  plugins/tome/agents/triz-analyst.md
  plugins/tome/skills/research/SKILL.md
  plugins/tome/src/tome/synthesis/quality.py
  plugins/tome/tests/unit/test_agent_envelope_contract.py
  plugins/tome/tests/unit/test_parse_envelope.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(tome): gate the frontier verdict on a control, not a query count
  plugins/tome/src/tome/synthesis/frontier.py
  plugins/tome/src/tome/synthesis/quality.py
  plugins/tome/tests/unit/test_frontier.py
  plugins/tome/tests/unit/test_frontier_stories.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test(tome): validate the frontier verdict by sabotage, not by self-scoring
  plugins/tome/tests/fixtures/frontier/labels.yaml
  plugins/tome/tests/validation/__init__.py
  plugins/tome/tests/validation/test_frontier_corpus.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(tome): put the frontier verdict on the page, and stop a channel vouching
  plugins/tome/skills/research/SKILL.md
  plugins/tome/src/tome/output/report.py
  plugins/tome/src/tome/synthesis/frontier.py
  plugins/tome/tests/unit/test_report_coverage.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(tome): stop the analogy generator from voting on the literature
  plugins/tome/src/tome/models.py
  plugins/tome/src/tome/synthesis/frontier.py
  plugins/tome/tests/unit/test_frontier_channel_roles.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): give the channels a control they actually run
  plugins/tome/agents/code-searcher.md
  plugins/tome/agents/discourse-scanner.md
  plugins/tome/agents/literature-reviewer.md
  plugins/tome/src/tome/channels/canary.py
  plugins/tome/tests/unit/test_agent_envelope_contract.py
  plugins/tome/tests/unit/test_canary_targets.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): put the session's gaps where a person can dispose of them
  plugins/tome/agents/literature-reviewer.md
  plugins/tome/src/tome/output/report.py
  plugins/tome/tests/unit/test_report_stories.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(tome): stop telling operators the controls do not exist
  plugins/tome/skills/research/SKILL.md
  plugins/tome/tests/unit/skills/test_research_skill_matches_code.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

test(tome): confirm the label corpus, and move its most partial entry
  plugins/tome/tests/fixtures/frontier/labels.yaml
  plugins/tome/tests/validation/test_frontier_corpus.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(adr): record which channels may testify, and unpick a contradiction
  docs/adr/0020-tome-frontier-detection-via-positive-controls.md
  plugins/tome/skills/research/SKILL.md
  plugins/tome/tests/unit/skills/test_research_skill_matches_code.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(tome): stop the replay harness from dropping recorded findings
  plugins/tome/tests/validation/test_frontier_corpus.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(tome): measure the frontier signal instead of tuning it
  docs/adr/0020-tome-frontier-detection-via-positive-controls.md
  plugins/tome/Makefile
  plugins/tome/src/tome/metrics/frontier_matrix.py
  plugins/tome/src/tome/scripts/verify_canaries.py
  plugins/tome/src/tome/synthesis/frontier.py
  plugins/tome/tests/unit/test_frontier_matrix.py
  plugins/tome/tests/unit/test_verify_canaries.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: update retired model id in SDK example
  docs/guides/skills-separation-quickref.md
Due: none

chore(memory-palace): index 38 web captures
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

Document MiniMax model and endpoint metadata
  CHANGELOG.md
  plugins/conjure/skills/minimax-delegation/SKILL.md
  plugins/conjure/skills/minimax-delegation/modules/minimax-specifics.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

Fix MiniMax auth test isolation
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

refactor: make wide signatures keyword-only instead of suppressing PLR0917
  plugins/attune/scripts/attune_arch_init.py
  plugins/attune/scripts/attune_init.py
  plugins/attune/scripts/template_engine.py
  plugins/memory-palace/hooks/shared/deduplication.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/scripts/intake_cli.py
  plugins/memory-palace/src/memory_palace/journey_tracker.py
  plugins/memory-palace/src/memory_palace/knowledge_graph.py
  plugins/memory-palace/src/memory_palace/project_palace/capture.py
  plugins/memory-palace/src/memory_palace/project_palace/manager.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
  plugins/memory-palace/tests/test_project_palace.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(tome): give metadata.json a version key so the bump can find it
  plugins/sanctum/tests/test_release_consistency.py
  plugins/tome/.claude-plugin/metadata.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
