Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix(egregore): a contract that contradicted itself, and three claims about wiring
  plugins/egregore/scripts/handoff_gate.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/scripts/verdict.py
  plugins/egregore/tests/test_handoff_gate.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run_e2e.py
  plugins/egregore/tests/test_verdict.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(conjure): a hardcoded flag, two silent drops, and a provider with no skill
  book/src/reference/capabilities-reference.md
  plugins/conjure/.claude-plugin/metadata.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/scripts/check_skill_coverage.py
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/skills/gemini-delegation/SKILL.md
  plugins/conjure/skills/glimmer-delegation/SKILL.md
  plugins/conjure/tests/scripts/test_delegation_setup.py
  plugins/conjure/tests/test_delegation_error_paths.py
  plugins/conjure/tests/unit/skills/test_candidate_order_prose.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(war-room): a threshold no panel could reach, and a bypass nobody asked for
  plugins/conjure/scripts/war_room/delphi.py
  plugins/conjure/scripts/war_room/experts.py
  plugins/conjure/tests/test_war_room_delphi_coverage.py
  plugins/conjure/tests/test_war_room_experts.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix: four gates that answered yes when the truthful answer was no
  .github/workflows/trust-attestation.yml
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/test_delegation_error_paths.py
  plugins/egregore/scripts/scope.py
  plugins/egregore/tests/test_scope.py
  tests/test_ci_enforces_lint.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(lessons): LL-005, a guard that reproduced the defect it guarded
  docs/lessons-learned.md
Due: none

refactor(egregore): the runner takes argv, so a caller cannot mis-quote one
  plugins/egregore/scripts/claude_babysitter.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/tests/test_claude_babysitter.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(hooks): a wrap rule that was stated everywhere and enforced nowhere
  .pre-commit-config.yaml
  scripts/check_prose_wrap_drift.py
  scripts/prose_wrap_baseline.json
  tests/scripts/test_check_prose_wrap_drift.py
Due: none

docs(egregore): the fence reads more than the diff, so the contract says so
  plugins/egregore/scripts/night_run.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(hooks): the gate and the backlog report read files by one route
  CHANGELOG.md
  scripts/check_prose_wrap_drift.py
  tests/scripts/test_check_prose_wrap_drift.py
Due: none

docs(changelog): two semicolon splices in the entry added this session
  CHANGELOG.md
Due: none

docs(memory-palace): name the consumer that keeps the capture index tracked
  plugins/memory-palace/README.md
Due: run-plugin-tests, validate-memory-palace-plugin

chore(conjure): register the skill that was already on disk
  book/src/reference/capabilities-reference.md
  plugins/conjure/.claude-plugin/plugin.json
Due: validate-conjure-plugin

fix(scripts): a plugin with no coverage threshold reported failure having run nothing
  scripts/run-plugin-tests.sh
  tests/unit/test_run_plugin_tests.py
Due: none

fix(hooks): the if gates were on the wrong object and never ran
  plugins/cartograph/hooks/hooks.json
  plugins/gauntlet/hooks/hooks.json
  plugins/imbue/hooks/hooks.json
  plugins/imbue/tests/unit/hooks/test_bash_hook_if_gates.py
  plugins/pensive/hooks/hooks.json
  scripts/check_hook_modernization.py
  tests/unit/test_check_hook_modernization.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

perf(conserve): the context monitor re-read the transcript once per tool call
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning_cache.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

perf(memory-palace): a prompt with no URL paid for the shared package
  plugins/memory-palace/hooks/url_detector.py
  plugins/memory-palace/tests/hooks/test_url_detector.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(conserve): the estimate cache followed symlinks at a predictable path
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning_cache.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

perf(hooks): session start injected three manuals before the session had a subject
  plugins/conserve/hooks/session-start.sh
  plugins/imbue/hooks/session-start.sh
  plugins/imbue/tests/unit/skills/test_proof_of_work.py
  plugins/imbue/tests/unit/skills/test_rigorous_reasoning.py
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/test_post_implementation_policy.py
  tests/unit/test_session_start_injection_budget.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-conserve-plugin

docs(conjure): bring the minimax description under the resident-context cap
  plugins/conjure/skills/minimax-delegation/SKILL.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(changelog): record the hook gate that never ran
  CHANGELOG.md
Due: none

ci: run the 13,900 plugin tests that no workflow was running
  .github/workflows/plugin-tests.yml
  CHANGELOG.md
  plugins/attune/tests/test_sync_templates.py
  plugins/conjure/tests/scripts/test_delegation_setup.py
  plugins/pensive/tests/skills/test_shell_review.py
  tests/test_ci_runs_plugin_suites.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

ci: four things the first plugin-tests run found that no local run could
  .github/workflows/plugin-tests.yml
  plugins/conjure/tests/scripts/test_delegation_setup.py
  tests/test_ci_runs_plugin_suites.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(changelog): the entry described the shakeout that had not happened yet
  CHANGELOG.md
Due: none

feat(scribe): detect prose that defines things by what they will not do
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/src/scribe/negation.py
  plugins/scribe/tests/test_negation_density.py
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

ci(slop): the gate enforced a snapshot of the pattern source
  .github/workflows/slop-check.yml
  .slop-config.yaml
  CHANGELOG.md
  book/src/getting-started/README.md
  book/src/plugins/archetypes.md
  docs/metrics/cache-hit-dashboard.md
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: none

fix(conjure): the registration test could not see two spellings
  plugins/conjure/.claude-plugin/metadata.json
  plugins/conjure/tests/test_skills.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(plugins): 15 shipped documents cited a path no install contains
  plugins/abstract/shared-modules/iron-law-enforcement.md
  plugins/abstract/skills/modular-skills/modules/enforcement-patterns.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skill-authoring/modules/persuasion-principles.md
  plugins/abstract/skills/skill-authoring/modules/troubleshooting.md
  plugins/abstract/skills/skills-eval/modules/skill-authoring-best-practices.md
  plugins/archetypes/skills/architecture-paradigm-domain-driven/SKILL.md
  plugins/conserve/commands/filter-log.md
  plugins/conserve/skills/agent-expenditure/SKILL.md
  plugins/conserve/skills/compression-strategy/modules/log-debugging-hygiene.md
  plugins/egregore/skills/quality-gate/SKILL.md
  plugins/pensive/skills/architecture-review/modules/ceremony-audit.md
  plugins/sanctum/commands/fixit.md
  plugins/sanctum/commands/shared/output-hygiene.md
  plugins/scribe/skills/slop-detector/modules/spelling-normalization.md
  tests/test_shipped_plugin_docs_avoid_repo_local_rules.py
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-archetypes-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(testing): the Iron Law said test first and never said what for
  plugins/abstract/shared-modules/iron-law-enforcement.md
  plugins/abstract/tests/unit/skills/test_iron_law_grounding.py
  plugins/imbue/skills/proof-of-work/modules/iron-law-enforcement.md
  plugins/imbue/tests/unit/skills/test_proof_of_work.py
  plugins/leyline/skills/testing-quality-standards/modules/anti-patterns.md
  plugins/leyline/tests/unit/skills/test_testing_anti_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin

feat(scribe): the trailing corrective that ends more than one word later
  .claude/rules/slop-scan-for-docs.md
  README.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
  plugins/scribe/tests/unit/skills/test_slop_detector_new_modules.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: fold the skill triage into the two places its findings are used
  docs/skill-triage-2026-08.md
  docs/tradeoffs.md
  plugins/abstract/skills/skill-graph-audit/modules/interpretation.md
Due: run-plugin-tests, validate-abstract-plugin

feat(conjure): delegation probed eight CLIs per call and remembered nothing
  book/src/reference/capabilities-reference.md
  plugins/conjure/.claude-plugin/metadata.json
  plugins/conjure/.claude-plugin/plugin.json
  plugins/conjure/README.md
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/scripts/provider_ledger.py
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/conjure/skills/provider-setup/SKILL.md
  plugins/conjure/tests/test_provider_ledger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

feat(plugins): a workflow per plugin, and a gate that keeps them runnable
  .claude/skills/claude-code-plugin-reference/SKILL.md
  plugins/abstract/workflows/skill-audit.js
  plugins/archetypes/workflows/paradigm-panel.js
  plugins/cartograph/workflows/atlas.js
  plugins/conjure/workflows/provider-sweep.js
  plugins/conserve/workflows/bloat-sweep.js
  plugins/egregore/workflows/gate-audit.js
  plugins/gauntlet/workflows/knowledge-extract.js
  plugins/herald/workflows/judge-panel.js
  plugins/hookify/workflows/rule-sweep.js
  plugins/imbue/workflows/evidence-sweep.js
  plugins/leyline/workflows/plugin-health.js
  plugins/memory-palace/workflows/palace-sweep.js
  plugins/minister/workflows/initiative-pulse.js
  plugins/oracle/workflows/quality-bench.js
  plugins/parseltongue/workflows/python-sweep.js
  plugins/phantom/workflows/surface-check.js
  plugins/scribe/workflows/doc-sweep.js
  plugins/scry/workflows/capture-set.js
  plugins/spec-kit/workflows/spec-review.js
  tests/test_shipped_workflows.py
Due: validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization

feat(egregore): the loop's failure mode had no observation at all
  .claude/skills/night-market-architecture-contract/SKILL.md
  .claude/skills/night-market-research-frontier/SKILL.md
  docs/adr/0023-continuation-baton-makes-a-dropped-turn-observable.md
  plugins/egregore/scripts/continuation_baton.py
  plugins/egregore/tests/test_continuation_baton.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization

docs(lessons): LL-006, thirteen green tests could not tell the mechanism from the thing it beats
  docs/lessons-learned.md
Due: none

test: five branches this cycle added and never exercised
  plugins/conjure/tests/test_provider_ledger.py
  plugins/egregore/tests/test_continuation_baton.py
  tests/test_shipped_workflows.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

test(egregore): the baton tests described behavior without naming it
  plugins/egregore/tests/test_continuation_baton.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

test: three docstrings held to a bar the fourth file already met
  plugins/conjure/tests/test_provider_ledger.py
  tests/test_shipped_workflows.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs: the changelog stopped twelve commits ago and a table claimed 938 tests
  .claude/skills/claude-code-plugin-reference/SKILL.md
  CHANGELOG.md
  book/src/reference/capabilities-reference.md
  docs/testing-guide.md
  tests/test_shipped_workflows.py
Due: check-context-optimization

docs(readme): two badges and a paragraph that were true when written
  README.md
  tests/test_readme_counts_match_the_repository.py
Due: none

docs(api-overview): two counts this branch changed and the table did not
  docs/api-overview.md
Due: none
