Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

feat(attune): add dorodango polishing workflow
  plugins/attune/.claude-plugin/plugin.json
  plugins/attune/skills/dorodango/SKILL.md
  plugins/attune/skills/dorodango/modules/pass-definitions.md
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/skills/agent-expenditure/SKILL.md
  plugins/conserve/skills/agent-expenditure/modules/waste-signals.md
  plugins/conserve/tests/unit/skills/test_agent_expenditure.py
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/skills/latent-space-engineering/SKILL.md
  plugins/imbue/skills/latent-space-engineering/modules/competitive-review.md
  plugins/imbue/skills/latent-space-engineering/modules/emotional-framing.md
  plugins/imbue/skills/latent-space-engineering/modules/style-gene-transfer.md
  plugins/imbue/tests/unit/skills/test_latent_space_engineering.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(leyline): add invisible text injection detection
  plugins/leyline/hooks/sanitize_external_content.py
  plugins/leyline/skills/content-sanitization/SKILL.md
  plugins/leyline/tests/hooks/test_sanitize_external_content.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix: address PR review findings from #283 and #292
  .github/workflows/mutation-testing.yml
  docs/api-overview.md
  plugins/abstract/commands/plugin-review.md
  plugins/abstract/pyproject.toml
  plugins/abstract/skills/plugin-review/SKILL.md
  plugins/abstract/skills/plugin-review/modules/tier-pr.md
  plugins/abstract/skills/plugin-review/modules/tier-release.md
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/abstract/tests/scripts/test_compatibility_validator.py
  plugins/abstract/tests/scripts/test_skill_validator.py
  plugins/abstract/tests/scripts/test_wrapper_scripts.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_reporter.py
  plugins/abstract/tests/unit/scripts/test_dogfooder_validator.py
  plugins/abstract/tests/unit/skills/test_plugin_review.py
  plugins/abstract/tests/unit/test_config.py
  plugins/abstract/tests/unit/test_self_adapting_coverage.py
  plugins/abstract/tests/unit/test_tasks_manager_base.py
  plugins/attune/pyproject.toml
  plugins/attune/tests/test_attune_init.py
  plugins/attune/tests/test_plugin_structure.py
  plugins/attune/tests/test_version_fetcher.py
  plugins/conjure/tests/test_hooks.py
  plugins/conserve/pyproject.toml
  plugins/conserve/tests/unit/scripts/test_growth_analyzer.py
  plugins/egregore/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/rules/parseltongue.md
  plugins/pensive/pyproject.toml
  plugins/sanctum/tests/test_session_complete_notify.py
  plugins/spec-kit/pyproject.toml
  scripts/generate_dependency_map.py
  tests/scripts/test_generate_dependency_map.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-conjure-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(sanctum): add openpackage.yml support to update_versions.py
  plugins/abstract/openpackage.yml
  plugins/archetypes/openpackage.yml
  plugins/attune/openpackage.yml
  plugins/conjure/openpackage.yml
  plugins/conserve/openpackage.yml
  plugins/hookify/openpackage.yml
  plugins/imbue/openpackage.yml
  plugins/memory-palace/openpackage.yml
  plugins/minister/openpackage.yml
  plugins/parseltongue/openpackage.yml
  plugins/pensive/openpackage.yml
  plugins/sanctum/openpackage.yml
  plugins/sanctum/scripts/update_versions.py
  plugins/scribe/openpackage.yml
  plugins/scry/openpackage.yml
  plugins/spec-kit/openpackage.yml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin

docs(sanctum): add deferred-item capture design specification
  docs/superpowers/specs/2026-03-19-deferred-item-capture-design.md
Due: none

docs(sanctum): fix spec review findings (3 blockers, 6 warnings, 2 nits)
  docs/superpowers/specs/2026-03-19-deferred-item-capture-design.md
Due: none

docs(sanctum): fix spec review round 2 findings
  docs/superpowers/specs/2026-03-19-deferred-item-capture-design.md
Due: none

docs(sanctum): add deferred-item capture implementation plan
  docs/superpowers/plans/2026-03-19-deferred-item-capture.md
Due: none

docs(sanctum): fix plan review findings
  docs/superpowers/plans/2026-03-19-deferred-item-capture.md
Due: none

feat(leyline): add deferred-capture contract skill
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/openpackage.yml
  plugins/leyline/skills/deferred-capture/SKILL.md
  plugins/leyline/tests/unit/skills/test_deferred_capture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(sanctum): add deferred_capture.py reference implementation
  plugins/sanctum/scripts/deferred_capture.py
  plugins/sanctum/tests/unit/scripts/test_deferred_capture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(sanctum): add PostToolUse deferred-item watcher hook
  plugins/sanctum/hooks/deferred_item_watcher.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_watcher.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(sanctum): add Stop hook for deferred-item sweep
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(sanctum): register deferred-item hooks in hooks.json
  plugins/sanctum/hooks/hooks.json
Due: none

feat: add deferred_capture.py wrappers for all plugins
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/deferred_capture.py
  plugins/abstract/tests/unit/test_deferred_capture.py
  plugins/attune/pyproject.toml
  plugins/attune/scripts/deferred_capture.py
  plugins/attune/tests/unit/test_deferred_capture.py
  plugins/egregore/pyproject.toml
  plugins/egregore/scripts/deferred_capture.py
  plugins/egregore/tests/unit/test_deferred_capture.py
  plugins/imbue/pyproject.toml
  plugins/imbue/scripts/deferred_capture.py
  plugins/imbue/tests/unit/test_deferred_capture.py
  plugins/pensive/scripts/deferred_capture.py
  plugins/pensive/tests/unit/test_deferred_capture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin

feat: add deferred-capture skill integrations and Makefile target
  Makefile
  plugins/abstract/src/abstract/rollback_reviewer.py
  plugins/abstract/tests/test_rollback_reviewer.py
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-brainstorming/modules/deferred-capture.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/skills/war-room/modules/deferred-capture.md
  plugins/egregore/skills/summon/modules/intake.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/imbue/skills/scope-guard/modules/github-integration.md
  plugins/pensive/skills/unified-review/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs: update docs, tests, and changelog for v1.6.7 release
  CHANGELOG.md
  README.md
  book/src/plugins/leyline.md
  book/src/plugins/sanctum.md
  book/src/reference/capabilities-reference.md
  docs/api-overview.md
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_watcher.py
  plugins/sanctum/tests/unit/scripts/test_deferred_capture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: address PR #318 review feedback across 17 items
  plugins/abstract/scripts/deferred_capture.py
  plugins/abstract/tests/unit/test_deferred_capture.py
  plugins/attune/scripts/deferred_capture.py
  plugins/attune/tests/unit/test_deferred_capture.py
  plugins/egregore/scripts/deferred_capture.py
  plugins/egregore/tests/unit/test_deferred_capture.py
  plugins/imbue/scripts/deferred_capture.py
  plugins/imbue/tests/unit/test_deferred_capture.py
  plugins/leyline/hooks/sanitize_external_content.py
  plugins/leyline/src/leyline/deferred_capture.py
  plugins/leyline/tests/hooks/test_sanitize_external_content.py
  plugins/leyline/tests/unit/src/test_deferred_capture_shared.py
  plugins/pensive/scripts/deferred_capture.py
  plugins/pensive/tests/unit/test_deferred_capture.py
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/hooks/deferred_item_watcher.py
  plugins/sanctum/scripts/deferred_capture.py
  plugins/sanctum/tests/unit/scripts/test_deferred_capture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin

feat(scribe): detect ASCII arrow and plus-sign slop in prose
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
Due: run-plugin-tests

fix: address remaining PR #318 review threads (6 items)
  .gitignore
  docs/superpowers/plans/2026-03-18-fsck-blog-improvements.md
  docs/superpowers/plans/2026-03-19-deferred-item-capture.md
  docs/superpowers/specs/2026-03-18-fsck-blog-improvements-design.md
  docs/superpowers/specs/2026-03-19-deferred-item-capture-design.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/imbue/skills/scope-guard/modules/decision-framework.md
  plugins/imbue/skills/scope-guard/modules/github-integration.md
  plugins/leyline/tests/unit/src/test_deferred_capture_shared.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

feat(makefiles): achieve 100% dogfood coverage across all 18 plugins
  plugins/conserve/Makefile
  plugins/egregore/Makefile
  plugins/imbue/Makefile
  plugins/leyline/Makefile
  plugins/memory-palace/Makefile
  plugins/pensive/Makefile
  plugins/tome/Makefile
Due: validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin

fix: address PR #324 review feedback across 5 plugins
  docs/api-overview.md
  plugins/conserve/hooks/permission_request.py
  plugins/egregore/scripts/learning.py
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/hooks/noqa_guard.py
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/tome/agents/literature-reviewer.md
  plugins/tome/agents/triz-analyst.md
  plugins/tome/hooks/_session_utils.py
  plugins/tome/hooks/pre_compact.py
  plugins/tome/skills/triz/SKILL.md
  plugins/tome/src/tome/channels/academic.py
  plugins/tome/src/tome/channels/discourse.py
  plugins/tome/src/tome/channels/github.py
  plugins/tome/src/tome/channels/triz.py
  plugins/tome/src/tome/models.py
  plugins/tome/src/tome/output/citations.py
  plugins/tome/src/tome/output/export.py
  plugins/tome/src/tome/output/report.py
  plugins/tome/src/tome/output/visualizer.py
  plugins/tome/src/tome/session.py
  plugins/tome/src/tome/synthesis/merger.py
  plugins/tome/src/tome/synthesis/ranker.py
  plugins/tome/tests/channels/test_academic.py
  plugins/tome/tests/unit/test_pre_compact.py
  plugins/tome/tests/unit/test_ranker.py
  plugins/tome/tests/unit/test_session.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(tome): add autoresearch-inspired research capabilities
  README.md
  plugins/tome/src/tome/channels/academic.py
  plugins/tome/src/tome/channels/discourse.py
  plugins/tome/src/tome/channels/github.py
  plugins/tome/src/tome/memory.py
  plugins/tome/src/tome/models.py
  plugins/tome/src/tome/scripts/research_planner.py
  plugins/tome/src/tome/synthesis/merger.py
  plugins/tome/src/tome/synthesis/quality.py
  plugins/tome/src/tome/synthesis/ranker.py
  plugins/tome/tests/unit/test_adaptive_planning.py
  plugins/tome/tests/unit/test_citation_chaining.py
  plugins/tome/tests/unit/test_fuzzy_dedup.py
  plugins/tome/tests/unit/test_gap_analysis.py
  plugins/tome/tests/unit/test_provenance.py
  plugins/tome/tests/unit/test_quality_assessment.py
  plugins/tome/tests/unit/test_query_expansion.py
  plugins/tome/tests/unit/test_research_memory.py
  plugins/tome/tests/unit/test_triangulation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat: add cross-framework bridge and enhance PR workflows
  .github/workflows/cross-framework-publish.yml
  bridge/openclaw/README.md
  bridge/openclaw/openclaw.plugin.json
  docs/cross-framework/project-brief.md
  plugins/attune/skills/mission-orchestrator/SKILL.md
  plugins/attune/skills/mission-orchestrator/modules/phase-routing.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-framework.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
  plugins/sanctum/commands/prepare-pr.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/skills/pr-prep/modules/todowrite-patterns.md
  plugins/sanctum/skills/pr-review/SKILL.md
  scripts/a2a_cards.py
  scripts/build_bridge.py
  scripts/clawhub_export.py
  scripts/framework_detect.py
  scripts/stargazer_overlap.py
  tests/unit/test_a2a_cards.py
  tests/unit/test_build_bridge.py
  tests/unit/test_clawhub_export.py
  tests/unit/test_framework_detect.py
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(leyline): add utility skill hub for utility-guided orchestration
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/openpackage.yml
  plugins/leyline/skills/utility/SKILL.md
  plugins/leyline/tests/unit/skills/test_utility.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

chore(leyline): remove overbuilt utility structural tests
  plugins/leyline/tests/unit/skills/test_utility.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(leyline): add utility gain estimation module
  plugins/leyline/skills/utility/modules/gain.md
  plugins/leyline/skills/utility/modules/state-builder.md
Due: run-plugin-tests

feat(leyline): add utility uncertainty module
  plugins/leyline/skills/utility/modules/uncertainty.md
Due: run-plugin-tests

feat(leyline): add utility step-cost module
  plugins/leyline/skills/utility/modules/step-cost.md
Due: run-plugin-tests

fix(scribe): replace cd ../.. test pattern with local pytest invocation
  plugins/scribe/Makefile
Due: none

feat(leyline): add utility redundancy module
  plugins/leyline/skills/utility/modules/redundancy.md
Due: run-plugin-tests

feat(leyline): add utility action-selector module
  plugins/leyline/skills/utility/modules/action-selector.md
Due: run-plugin-tests

feat(leyline): add utility integration patterns module
  plugins/leyline/skills/utility/modules/integration.md
Due: run-plugin-tests

refactor(parseltongue): move Python package from parseltongue/ to src/
  plugins/parseltongue/Makefile
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/src/parseltongue/__init__.py
  plugins/parseltongue/src/parseltongue/cli.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/__init__.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/_base.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/blocking_detection.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/complex_scenarios.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/error_timeout.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/function_analysis.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/race_conditions.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/resource_performance.py
  plugins/parseltongue/src/parseltongue/skills/async_analysis/testing_eventloop.py
  plugins/parseltongue/src/parseltongue/skills/code_transformation.py
  plugins/parseltongue/src/parseltongue/skills/compatibility_checker.py
  plugins/parseltongue/src/parseltongue/skills/language_detection.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/__init__.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_analysis.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_constants.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_core.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_ddd.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_gof.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_improvements.py
  plugins/parseltongue/src/parseltongue/skills/pattern_matching/_test_patterns.py
  plugins/parseltongue/src/parseltongue/skills/skill_loader.py
  plugins/parseltongue/src/parseltongue/skills/testing_guide.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests
