Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

chore(memory-palace): index 3 stacked-PR knowledge entries
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

fix(review): address PR #403 review feedback
  CHANGELOG.md
  plugins/abstract/tests/unit/skills/test_friction_detector.py
  plugins/conserve/scripts/context_scanner/__init__.py
  plugins/conserve/scripts/context_scanner/detection.py
  plugins/conserve/scripts/context_scanner/ecosystems.py
  plugins/conserve/scripts/context_scanner/models.py
  plugins/conserve/scripts/context_scanner/renderers.py
  plugins/oracle/hooks/daemon_lifecycle.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

refactor: move stdlib imports to module level (#407)
  plugins/egregore/scripts/notify.py
  plugins/gauntlet/hooks/precommit_gate.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

research(sanctum): stacked diff ADR and skeleton skills (#405)
  book/src/reference/capabilities-reference.md
  docs/adr/0010-stacked-diff-workflows.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/openpackage.yml
  plugins/sanctum/skills/stack-create/SKILL.md
  plugins/sanctum/skills/stack-push/SKILL.md
  plugins/sanctum/skills/stack-rebase/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(gauntlet): generate unique problem variations via Claude (#389)
  plugins/gauntlet/pyproject.toml
  plugins/gauntlet/src/gauntlet/challenges.py
  plugins/gauntlet/tests/test_challenge_variations.py
  plugins/gauntlet/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(gauntlet): add gauntlet-curate skill for problem bank research (#388)
  plugins/gauntlet/openpackage.yml
  plugins/gauntlet/scripts/curate_problems.py
  plugins/gauntlet/skills/gauntlet-curate/SKILL.md
  plugins/gauntlet/tests/unit/skills/__init__.py
  plugins/gauntlet/tests/unit/skills/test_gauntlet_curate.py
  plugins/gauntlet/tests/unit/test_curate_problems.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(gauntlet): replace em dashes with colons in gauntlet-curate SKILL.md
  plugins/gauntlet/skills/gauntlet-curate/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(imbue): graduate three vow constraints to Hard layer (#406)
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/hooks/vow_no_emoji_commits.py
  plugins/imbue/skills/vow-enforcement/SKILL.md
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_no_ai_attribution.py
  plugins/imbue/tests/unit/hooks/test_vow_no_emoji_commits.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

feat(memory-palace): journey replay, temporal view, graph wiring, computational encoding (#392 #393 #394)
  plugins/memory-palace/hooks/local_doc_processor.py
  plugins/memory-palace/hooks/session_lifecycle.py
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/src/memory_palace/migration.py
  plugins/memory-palace/src/memory_palace/palace_renderer.py
  plugins/memory-palace/src/memory_palace/palace_repository.py
  plugins/memory-palace/tests/hooks/test_graph_intake_wiring.py
  plugins/memory-palace/tests/test_computational_encoding.py
  plugins/memory-palace/tests/test_palace_renderer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(gauntlet): register gauntlet-curate skill and add to capabilities reference
  book/src/reference/capabilities-reference.md
  plugins/gauntlet/.claude-plugin/plugin.json
  plugins/gauntlet/skills/gauntlet-curate/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(memory-palace): separate entity write from link prediction in graph wiring
  plugins/memory-palace/hooks/local_doc_processor.py
  plugins/memory-palace/hooks/web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

fix(imbue,memory-palace): address PR #413 review findings
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_no_ai_attribution.py
  plugins/memory-palace/src/memory_palace/migration.py
  plugins/memory-palace/tests/test_computational_encoding.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin, validate-memory-palace-plugin

feat(sanctum): stack-aware /pr-review and /fix-pr
  book/src/reference/capabilities-reference.md
  docs/adr/0010-stacked-diff-workflows.md
  plugins/sanctum/.claude-plugin/plugin.json
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/openpackage.yml
  plugins/sanctum/skills/stack-mode/SKILL.md
  plugins/sanctum/tests/unit/skills/test_stack_mode.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

perf(imbue): split vow_bounded_reads hook and add blocking support
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads_reset.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(imbue): document bounded-reads hook split and shadow-mode blocking
  CHANGELOG.md
  book/src/plugins/imbue.md
  plugins/imbue/README.md
Due: run-plugin-tests, validate-imbue-plugin

docs(readme): update skills count to 182 and surface imbue 1.9.2 changes
  README.md
Due: none

fix(imbue): address PR #417 review findings
  plugins/imbue/README.md
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(imbue): add fcntl.flock to vow_bounded_reads counter (#418)
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

feat(imbue): graduate three vow constraints to Nen Court (#406)
  plugins/imbue/skills/vow-enforcement/SKILL.md
  plugins/imbue/tests/unit/validators/__init__.py
  plugins/imbue/tests/unit/validators/test_iron_law.py
  plugins/imbue/tests/unit/validators/test_markdown_wrap.py
  plugins/imbue/tests/unit/validators/test_proof_of_work.py
  plugins/imbue/validators/iron_law.py
  plugins/imbue/validators/markdown_wrap.py
  plugins/imbue/validators/proof_of_work.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(imbue): make vow hooks executable
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/hooks/vow_no_emoji_commits.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(abstract): filter synthetic sessions from skill log aggregation
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/tests/scripts/test_aggregate_skill_logs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): enrich Phase 6a Learning posts with insights and trends
  plugins/abstract/scripts/discussion_enrichment.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/tests/scripts/test_discussion_enrichment.py
  plugins/abstract/tests/scripts/test_post_learnings_to_discussions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): post /pr-review findings to Discussions as Insights
  plugins/abstract/scripts/post_review_insights.py
  plugins/abstract/tests/scripts/test_post_review_insights.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(sanctum): wire post_review_insights into /pr-review and /fix-pr
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/pr-review.md
Due: run-plugin-tests, validate-description-budget

test(abstract): add invariant-encoding and edge-case tests
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/tests/scripts/test_discussion_enrichment.py
  plugins/abstract/tests/scripts/test_post_learnings_to_discussions.py
  plugins/abstract/tests/scripts/test_post_review_insights.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(imbue): address PR #417 blockers B1/B2/B3 from review refresh
  plugins/imbue/hooks/vow_no_ai_attribution.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
  plugins/imbue/tests/unit/hooks/test_vow_no_ai_attribution.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(release): finalize 1.9.2 changelog, README, and abstract diagram
  CHANGELOG.md
  README.md
  book/src/plugins/abstract.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

chore(memory-palace): index 4 README-research webfetches
  plugins/memory-palace/hooks/memory-palace-index.yaml
Due: validate-memory-palace-plugin

docs(1.9.3): inclusive-default audit checklist (#445)
  reviews/1.9.3/inclusive-default-audit.md
Due: none

docs(inclusive-defaults): codify project policy (#445)
  docs/inclusive-defaults.md
Due: none

feat(1.9.3): inclusive-default flips for hookify, spec-kit, sanctum (#445)
  plugins/hookify/scripts/install_rule.py
  plugins/hookify/tests/test_install_rule.py
  plugins/sanctum/commands/update-docs.md
  plugins/spec-kit/commands/speckit-tasks.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

docs(1.9.3): per-plugin inclusive-default callouts + CHANGELOG (#445)
  CHANGELOG.md
  plugins/conjure/README.md
  plugins/egregore/README.md
  plugins/hookify/README.md
  plugins/imbue/README.md
  plugins/leyline/skills/utility/modules/integration.md
  plugins/oracle/README.md
  plugins/pensive/skills/tiered-audit/modules/tier3-gate.md
  plugins/phantom/skills/computer-control/SKILL.md
  plugins/spec-kit/README.md
Due: run-plugin-tests, validate-imbue-plugin, validate-conjure-plugin, check-context-optimization, validate-description-budget

chore(1.9.4): add karpathy-principles skill and fix sanctum task tracker
  book/src/reference/capabilities-reference.md
  docs/karpathy-derivation/implementation-plan.md
  docs/karpathy-derivation/project-brief.md
  docs/karpathy-derivation/specification.md
  plugins/attune/skills/mission-orchestrator/SKILL.md
  plugins/attune/skills/mission-orchestrator/modules/adaptive-constraints.md
  plugins/attune/tests/unit/skills/test_mission_orchestrator.py
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/commands/karpathy-check.md
  plugins/imbue/skills/karpathy-principles/SKILL.md
  plugins/imbue/skills/karpathy-principles/modules/anti-patterns.md
  plugins/imbue/skills/karpathy-principles/modules/senior-engineer-test.md
  plugins/imbue/skills/karpathy-principles/modules/tradeoff-acknowledgment.md
  plugins/imbue/skills/karpathy-principles/modules/verifiable-goals.md
  plugins/imbue/skills/karpathy-principles/references/source-attribution.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/imbue/tests/unit/skills/test_karpathy_principles.py
  plugins/leyline/skills/additive-bias-defense/SKILL.md
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/sanctum/hooks/hooks.json
  plugins/sanctum/hooks/task_created_tracker.py
  plugins/sanctum/tests/unit/hooks/test_task_created_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

refactor(skills): modularize architecture-aware-init + add Use-when triggers
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/attune/skills/architecture-aware-init/modules/paradigm-selection.md
  plugins/attune/skills/architecture-aware-init/modules/research-flow.md
  plugins/attune/skills/architecture-aware-init/modules/scaffold-generation.md
  plugins/attune/skills/architecture-aware-init/modules/script-integration.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/imbue/skills/catchup/SKILL.md
  plugins/imbue/skills/karpathy-principles/SKILL.md
  plugins/imbue/skills/review-core/SKILL.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/leyline/skills/additive-bias-defense/SKILL.md
  plugins/sanctum/hooks/hooks.json
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs(quality-gates): document skill-level gate composition graph
  docs/quality-gates.md
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/imbue/skills/justify/SKILL.md
  plugins/imbue/skills/karpathy-principles/SKILL.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/imbue/skills/vow-enforcement/SKILL.md
  plugins/leyline/skills/additive-bias-defense/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs(audit): comprehensive skill audit findings synthesis
  docs/audit-2026-04-25-comprehensive-skill-audit.md
Due: none

feat(sanctum): brainstorm-session warn hook + config_change_audit Edit/Write events
  plugins/sanctum/hooks/brainstorm_session_warn.py
  plugins/sanctum/hooks/config_change_audit.py
  plugins/sanctum/tests/test_brainstorm_session_warn.py
  plugins/sanctum/tests/test_config_change_audit.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
