Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix(conjure): a deeper path let more of a file through, not less
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_setup.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(conjure): the shared module documented an API nobody wrote
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
Due: run-plugin-tests, validate-conjure-plugin

fix(abstract): the second correction run overwrote the first one's backup
  plugins/abstract/scripts/correct_fabricated_durations.py
  plugins/abstract/tests/scripts/test_correct_fabricated_durations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs(ci): the lint rationale was contradicted by the step below it
  .github/workflows/lint.yml
Due: none

fix(conjure): the demo aggregate claimed LIVE while running only echoes
  plugins/conjure/Makefile
  tests/test_provider_status_demo_is_live.py
Due: validate-conjure-plugin

test(conjure): the CLI flags reached no guard of their own
  plugins/conjure/tests/scripts/test_delegation_setup.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(journal): record the duplicate demo targets as LL-003
  docs/lessons-learned.md
Due: none

fix(conjure): four providers declared flags their CLIs reject
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(conjure): the shared contract described fields, not the CLIs
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
Due: run-plugin-tests, validate-conjure-plugin

fix(conjure): the docs told the reader to run commands the CLI rejects
  plugins/conjure/README.md
  plugins/conjure/skills/minimax-delegation/SKILL.md
  plugins/conjure/skills/qwen-delegation/SKILL.md
  plugins/conjure/skills/qwen-delegation/modules/qwen-specifics.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(conjure): the dialect notes described flags, not what a caller gets
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

test(conjure): the negative shapes had only mocks standing behind them
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conjure): a dash-leading prompt was argv to seven of eight providers
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

feat(conjure): delegation runs by default and falls back on its own
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/tests/conftest.py
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/test_delegation_error_paths.py
  plugins/conjure/tests/test_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

docs(conjure,attune,egregore): delegation is the default, not the request
  .claude/skills/night-market-config-catalog/SKILL.md
  plugins/attune/skills/mission-orchestrator/SKILL.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/conjure/skills/agent-teams/SKILL.md
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/skills/delegation-core/modules/task-assessment.md
  plugins/conjure/skills/delegation-core/shared-shell-execution.md
  plugins/egregore/skills/summon/SKILL.md
Due: run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(changelog): record the delegation default inversion
  CHANGELOG.md
Due: none

docs(conjure,attune): close the surfaces that still said opt-in
  docs/inclusive-defaults.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/conjure/README.md
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/tests/unit/skills/test_delegation_default_posture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(conjure): the fallback had no route out of itself
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/conjure/skills/delegation-core/modules/provider-onboarding.md
  plugins/conjure/tests/unit/skills/test_delegation_default_posture.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(conjure): auth was decided by spawning the provider, not before it
  plugins/conjure/scripts/delegation_executor.py
  plugins/conjure/scripts/delegation_setup.py
  plugins/conjure/skills/delegation-core/modules/provider-onboarding.md
  plugins/conjure/skills/qwen-delegation/SKILL.md
  plugins/conjure/tests/scripts/test_delegation_executor.py
  plugins/conjure/tests/scripts/test_delegation_setup.py
  plugins/conjure/tests/test_cjr_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

docs(abstract): the authoring doctrine manufactured the coercion
  .claude/rules/bounded-autonomy.md
  plugins/abstract/README.md
  plugins/abstract/docs/skill-assurance-framework.md
  plugins/abstract/shared-modules/anti-rationalization.md
  plugins/abstract/shared-modules/iron-law-interlock.md
  plugins/abstract/shared-modules/skill-selection-judgment.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/modular-skills/modules/enforcement-patterns.md
  plugins/abstract/skills/skill-authoring/README.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skill-authoring/modules/anti-rationalization.md
  plugins/abstract/skills/skill-authoring/modules/persuasion-principles.md
  plugins/abstract/skills/skill-authoring/modules/progressive-disclosure.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/skills-eval/modules/trigger-isolation-analysis.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

feat(sanctum): the governance block fired at the same volume for every turn
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/test_post_implementation_policy.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: triage the skill graph, and retire the coercion apparatus
  book/src/reference/capabilities-reference.md
  docs/quality-gates.md
  docs/skill-triage-2026-08.md
  plugins/abstract/.claude-plugin/plugin.json
  plugins/abstract/README.md
  plugins/abstract/commands/bulletproof-skill.md
  plugins/abstract/commands/create-command.md
  plugins/abstract/commands/create-hook.md
  plugins/abstract/commands/create-skill.md
  plugins/abstract/commands/test-skill.md
  plugins/abstract/docs/model-optimization-guide.md
  plugins/abstract/docs/skill-assurance-framework.md
  plugins/abstract/examples/test-skill-migration-example.md
  plugins/abstract/openpackage.yml
  plugins/abstract/shared-modules/enforcement-language.md
  plugins/abstract/shared-modules/iron-law-interlock.md
  plugins/abstract/shared-modules/trigger-patterns.md
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/skills-eval/modules/trigger-isolation-analysis.md
  plugins/abstract/skills/subagent-testing/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(rules,sanctum): a cited number the paper does not contain, and the block that contradicted the rule
  .claude/rules/bounded-autonomy.md
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/tests/test_post_implementation_policy.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: measure the duplication baseline, and withdraw a recommendation
  docs/skill-triage-2026-08.md
  plugins/abstract/shared-modules/iron-law-enforcement.md
Due: run-plugin-tests, validate-abstract-plugin

refactor(sanctum): a skill that both imported TDD and restated it
  docs/skill-triage-2026-08.md
  plugins/sanctum/skills/test-updates/SKILL.md
  plugins/sanctum/skills/test-updates/modules/tdd-workflow.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(memory-palace): the capture queue had no consumer and no ceiling
  plugins/memory-palace/hooks/web_research_handler.py
  plugins/memory-palace/tests/hooks/conftest.py
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

docs: retract the reference-count verdicts, and say how they failed
  docs/skill-triage-2026-08.md
Due: none

feat(egregore): the night-run driver, its gates, and the window reader
  plugins/conjure/skills/delegation-core/SKILL.md
  plugins/egregore/pyproject.toml
  plugins/egregore/scripts/claude_babysitter.py
  plugins/egregore/scripts/handoff_gate.py
  plugins/egregore/scripts/night_run.py
  plugins/egregore/scripts/scope.py
  plugins/egregore/scripts/verdict.py
  plugins/egregore/scripts/window.py
  plugins/egregore/templates/handoff/design.md
  plugins/egregore/templates/handoff/handoff.md
  plugins/egregore/templates/handoff/requirements.md
  plugins/egregore/templates/handoff/tasks.md
  plugins/egregore/tests/test_claude_babysitter.py
  plugins/egregore/tests/test_handoff_gate.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run.py
  plugins/egregore/tests/test_scope.py
  plugins/egregore/tests/test_verdict.py
  plugins/egregore/tests/test_window.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(egregore): CronCreate cannot resume a run whose session has exited
  plugins/egregore/README.md
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/scripts/window.py
  plugins/egregore/skills/summon/SKILL.md
  plugins/egregore/skills/summon/modules/budget.md
  plugins/egregore/tests/test_window.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(egregore): finish the retraction, including the two durable: true calls
  plugins/egregore/agents/orchestrator.md
  plugins/egregore/skills/summon/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix(egregore): the parked tree kept unjudged edits, and the worktree was cut in the wrong directory
  plugins/egregore/scripts/night_run.py
  plugins/egregore/tests/test_item_walk.py
  plugins/egregore/tests/test_night_run_e2e.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): the retry watchdog was switched on where it hangs on a spend cap
  plugins/egregore/scripts/window.py
  plugins/egregore/tests/test_window.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): the watchdog relaunched a session and recorded nothing it did
  plugins/egregore/scripts/watchdog.sh
  plugins/egregore/tests/test_watchdog_relaunch.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(egregore): the Stop hook re-injected forever, and it was priced
  CHANGELOG.md
  plugins/egregore/README.md
  plugins/egregore/hooks/_manifest_utils.py
  plugins/egregore/hooks/hooks.json
  plugins/egregore/hooks/stop_hook.py
  plugins/egregore/tests/test_stop_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(egregore): name the open problem the stall bound does not close
  plugins/egregore/README.md
Due: run-plugin-tests

docs: record the continuation mechanism the loop rides
  .claude/skills/night-market-architecture-contract/SKILL.md
  .claude/skills/night-market-research-frontier/SKILL.md
  CHANGELOG.md
  docs/adr/0022-stop-hook-reinjection-as-continuation.md
  docs/lessons-learned.md
  plugins/egregore/README.md
Due: run-plugin-tests, check-context-optimization

docs(adr): link ADR-0022 to the Knowledge discussion that carries it
  docs/adr/0022-stop-hook-reinjection-as-continuation.md
Due: none

test(egregore): the stall bound's fallback branches ran unguarded
  plugins/egregore/tests/test_session_start_hook.py
  plugins/egregore/tests/test_stop_hook.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(sanctum): the quality rubric scored file length, not test quality
  CHANGELOG.md
  plugins/sanctum/scripts/quality_checker.py
  plugins/sanctum/skills/test-updates/modules/quality-validation.md
  plugins/sanctum/tests/test_quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs(sanctum): ratify the rubric revision instead of leaving it flagged
  CHANGELOG.md
  docs/tradeoffs.md
  plugins/sanctum/skills/test-updates/modules/quality-validation.md
  plugins/sanctum/tests/test_quality_checker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
