Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

feat(attune): add Claude Code Tasks integration POC
  docs/exploration/tasks-integration-exploration-2026-01.md
  docs/testing/subagent-stability-testing-2026-01.md
  plugins/attune/agents/project-implementer.md
  plugins/attune/commands/execute.md
  plugins/attune/scripts/tasks_manager.py
  plugins/attune/tests/test_tasks_integration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

feat(spec-kit,sanctum): extend Tasks integration to spec-kit and sanctum
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/scripts/tasks_manager.py
  plugins/spec-kit/commands/speckit-implement.md
  plugins/spec-kit/scripts/tasks_manager.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

docs: update CHANGELOG with full Tasks integration scope
  CHANGELOG.md
Due: none

docs: sync superpowers integration docs with v4.0.0-v4.1.0 changes
  README.md
  docs/guides/superpowers-integration.md
  docs/superpowers-integration.md
  plugins/abstract/skills/skills-eval/modules/integration-testing.md
  plugins/sanctum/docs/superpowers-integration-guide.md
Due: run-plugin-tests, validate-abstract-plugin

refactor: consolidate tasks_manager.py to shared scripts location
  plugins/attune/tests/conftest.py
  plugins/attune/uv.lock
  plugins/sanctum/scripts/tasks_manager.py
  plugins/spec-kit/scripts/tasks_manager.py
  scripts/tasks_manager.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Revert "refactor: consolidate tasks_manager.py to shared scripts location"
  plugins/attune/scripts/tasks_manager.py
  plugins/attune/tests/conftest.py
  plugins/attune/uv.lock
  plugins/sanctum/scripts/tasks_manager.py
  plugins/spec-kit/scripts/tasks_manager.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor: differentiate tasks_manager.py per plugin
  plugins/attune/scripts/tasks_manager.py
  plugins/attune/uv.lock
  plugins/sanctum/scripts/tasks_manager.py
  plugins/sanctum/uv.lock
  plugins/spec-kit/scripts/tasks_manager.py
  plugins/spec-kit/uv.lock
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(deps): move tiktoken and leyline to optional dependencies
  docs/dependency-audit.md
  plugins/conjure/README.md
  plugins/conjure/pyproject.toml
  plugins/conjure/uv.lock
  plugins/hookify/README.md
  plugins/hookify/uv.lock
  plugins/leyline/README.md
  plugins/leyline/pyproject.toml
  plugins/memory-palace/pyproject.toml
  plugins/memory-palace/uv.lock
  plugins/sanctum/hooks/verify_workflow_complete.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-memory-palace-plugin

fix(conjure): use subprocess.PIPE instead of asyncio.subprocess.PIPE
  plugins/conjure/scripts/war_room_orchestrator.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin

fix(conserve): remove AI slop from skill documentation
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/cpu-gpu-performance/SKILL.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(skills): restore frontmatter, versions, TOC links, and test content
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/uv.lock
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs: condense READMEs and docstrings for token efficiency
  README.md
  book/src/introduction.md
  docs/api-overview.md
  docs/architecture-analysis-report.md
  docs/guides/README.md
  docs/plugin-development-guide.md
  docs/skill-integration-guide.md
  docs/testing-guide.md
  plugins/abstract/README.md
  plugins/abstract/src/abstract/skill_tools.py
  plugins/abstract/src/abstract/skills_eval/auditor.py
  plugins/conserve/README.md
  plugins/hookify/README.md
  plugins/imbue/README.md
  plugins/leyline/README.md
  plugins/minister/README.md
  plugins/minister/uv.lock
  plugins/parseltongue/README.md
  plugins/parseltongue/uv.lock
  plugins/pensive/README.md
  plugins/pensive/src/pensive/analysis/repository_analyzer.py
  plugins/pensive/src/pensive/skills/api_review.py
  plugins/pensive/src/pensive/skills/base.py
  plugins/pensive/src/pensive/skills/unified_review.py
  plugins/pensive/src/pensive/workflows/code_review.py
  plugins/pensive/uv.lock
  plugins/sanctum/README.md
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/hooks/security_pattern_check.py
  plugins/scry/README.md
  plugins/scry/uv.lock
  scripts/check-markdown-links.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin

fix(skills): repair broken module references and restore frontmatter
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hooks-eval/SKILL.md
  plugins/abstract/skills/makefile-dogfooder/SKILL.md
  plugins/abstract/skills/modular-skills/SKILL.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/conjure/skills/gemini-delegation/SKILL.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/skills/shared/SKILL.md
  plugins/leyline/skills/progressive-loading/SKILL.md
  plugins/leyline/skills/shared/SKILL.md
  plugins/memory-palace/skills/digital-garden-cultivator/SKILL.md
  plugins/memory-palace/skills/knowledge-locator/SKILL.md
  plugins/memory-palace/skills/session-palace-builder/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(skills): update all skill versions to match plugin version 1.3.4
  plugins/abstract/skills/escalation-governance/SKILL.md
  plugins/abstract/skills/hook-authoring/SKILL.md
  plugins/abstract/skills/hooks-eval/SKILL.md
  plugins/abstract/skills/makefile-dogfooder/SKILL.md
  plugins/abstract/skills/shared-patterns/SKILL.md
  plugins/abstract/skills/subagent-testing/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-client-server/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-cqrs-es/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-event-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-functional-core/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-layered/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microkernel/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microservices/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-modular-monolith/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-pipeline/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-serverless/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigms/SKILL.md
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/hookify/skills/rule-catalog/SKILL.md
  plugins/hookify/skills/writing-rules/SKILL.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/memory-palace/skills/review-chamber/SKILL.md
  plugins/minister/skills/github-initiative-pulse/SKILL.md
  plugins/minister/skills/release-health-gates/SKILL.md
  plugins/parseltongue/skills/python-async/SKILL.md
  plugins/pensive/skills/shared/SKILL.md
  plugins/sanctum/skills/doc-consolidation/SKILL.md
  plugins/sanctum/skills/test-updates/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(docs): remove AI slop from commands and agents
  plugins/attune/commands/execute.md
  plugins/conserve/agents/continuation-agent.md
  plugins/sanctum/commands/update-tests.md
Due: run-plugin-tests, validate-conserve-plugin, validate-description-budget

docs(skills): add Table of Contents to 19 skills >100 lines
  plugins/abstract/skills/methodology-curator/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-layered/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microservices/SKILL.md
  plugins/archetypes/skills/architecture-paradigms/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/conserve/skills/bloat-detector/SKILL.md
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/conserve/skills/decisive-action/SKILL.md
  plugins/conserve/skills/optimizing-large-skills/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/imbue/skills/catchup/SKILL.md
  plugins/imbue/skills/diff-analysis/SKILL.md
  plugins/imbue/skills/rigorous-reasoning/SKILL.md
  plugins/imbue/skills/workflow-monitor/SKILL.md
  plugins/leyline/skills/pytest-config/SKILL.md
  plugins/pensive/skills/fpf-review/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/sanctum/skills/pr-prep/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(abstract): rename PATH to TARGET in Makefile to avoid env conflict
  plugins/abstract/Makefile
  plugins/abstract/config/make/common.mk
Due: validate-abstract-plugin

docs: reduce verbosity in guides and README
  docs/guides/README.md
  docs/guides/authentication-integration.md
  docs/guides/documentation-standards.md
  docs/guides/error-handling-guide.md
  docs/tutorials/skills-showcase.md
  plugins/sanctum/README.md
Due: run-plugin-tests

docs(skills-eval): fix script paths and update PATH to TARGET
  plugins/abstract/skills/skills-eval/SKILL.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, check-context-optimization, validate-description-budget

docs: improve clarity and reduce verbosity in guides
  docs/guides/development-vs-runtime-skills-separation.md
  docs/guides/skill-observability-guide.md
  plugins/spec-kit/README.md
Due: run-plugin-tests

feat(conserve): add fallback context estimation when CLAUDE_CONTEXT_USAGE unavailable
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/tests/unit/test_context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

chore: consolidate docs, simplify Makefile, and enhance test coverage
  .gitignore
  Makefile
  README.md
  docs/exploration/tasks-integration-exploration-2026-01.md
  docs/guides/superpowers-integration.md
  docs/meta-evaluation-integration.md
  docs/testing/subagent-stability-testing-2026-01.md
  plugins/abstract/skills/skills-eval/SKILL.md
  plugins/abstract/tests/unit/skills/test_hooks_eval.py
  plugins/abstract/tests/unit/skills/test_modular_skills.py
  plugins/abstract/tests/unit/skills/test_skills_eval.py
  plugins/attune/docs/tasks-integration.md
  plugins/attune/scripts/tasks_manager.py
  plugins/conjure/README.md
  plugins/conjure/pyproject.toml
  plugins/conserve/README.md
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/leyline/README.md
  plugins/leyline/pyproject.toml
  plugins/leyline/tests/unit/skills/test_evaluation_framework.py
  plugins/leyline/tests/unit/skills/test_testing_quality_standards.py
  plugins/memory-palace/README.md
  plugins/memory-palace/pyproject.toml
  plugins/minister/README.md
  plugins/sanctum/commands/update-version.md
  plugins/sanctum/scripts/meta_evaluation.py
  plugins/sanctum/scripts/tasks_manager.py
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/unit/scripts/test_meta_evaluation.py
  plugins/scry/README.md
  plugins/spec-kit/scripts/tasks_manager.py
  tests/integration/test_all_plugin_examples.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix: address PR #155 review comments
  plugins/attune/scripts/tasks_manager.py
  plugins/pensive/tests/test_integration.py
  plugins/sanctum/commands/fix-pr-modules/workflow-steps.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/scripts/tasks_manager.py
  plugins/spec-kit/scripts/tasks_manager.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

feat(attune): add war-room-checkpoint skill for embedded escalation
  docs/specs/war-room-checkpoint-integration-spec.md
  plugins/attune/.claude-plugin/plugin.json
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/tests/unit/__init__.py
  plugins/attune/tests/unit/skills/__init__.py
  plugins/attune/tests/unit/skills/test_war_room_checkpoint.py
  plugins/pensive/commands/architecture-review.md
  plugins/pensive/tests/skills/test_architecture_review.py
  plugins/sanctum/commands/do-issue.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/tests/test_do_issue.py
  plugins/sanctum/tests/test_fix_pr_war_room.py
  plugins/sanctum/tests/test_pr_review_war_room.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(conserve): implement issues #55-68 batch
  plugins/conserve/.claude-plugin/plugin.json
  plugins/conserve/scripts/aggressive_skill_optimizer.py
  plugins/conserve/scripts/dependency_manager.py
  plugins/conserve/scripts/growth-controller.py
  plugins/conserve/skills/code-quality-principles/SKILL.md
  plugins/conserve/skills/decisive-action/SKILL.md
  plugins/conserve/skills/response-compression/SKILL.md
  plugins/conserve/skills/smart-sourcing/SKILL.md
  plugins/conserve/tests/unit/skills/test_smart_sourcing.py
  plugins/sanctum/skills/code-review/modules/comment-guidelines.md
  plugins/sanctum/skills/session-management/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(sanctum): add module auditing to update-plugins command
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/skills/code-review/modules/comment-guidelines.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/test-updates/SKILL.md
  plugins/sanctum/tests/test_update_plugin_registrations.py
  plugins/sanctum/tests/test_update_plugin_registrations_simple.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(fix-pr): enforce issue creation for unaddressed review items
  CHANGELOG.md
  plugins/attune/.claude-plugin/plugin.json
  plugins/attune/CHANGELOG.md
  plugins/attune/Makefile
  plugins/attune/README.md
  plugins/attune/commands/arch-init.md
  plugins/attune/commands/attune:arch-init
  plugins/attune/commands/brainstorm.md
  plugins/attune/commands/execute.md
  plugins/attune/commands/plan.md
  plugins/attune/commands/project-init.md
  plugins/attune/commands/specify.md
  plugins/attune/commands/upgrade-project.md
  plugins/attune/commands/validate.md
  plugins/attune/docs/architecture-aware-initialization.md
  plugins/attune/docs/brainstorm-attune-plugin.md
  plugins/attune/docs/full-cycle-workflow-guide.md
  plugins/attune/docs/integration-summary.md
  plugins/attune/docs/quick-start-example.md
  plugins/attune/examples/architecture-aware-example.md
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/validate_project.py
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-init/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/conserve/agents/continuation-agent.md
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/clear-context/modules/session-state.md
  plugins/conserve/tests/unit/skills/test_clear_context.py
  plugins/sanctum/commands/do-issue.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/tests/test_workflow_steps_modularization.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(war-room): auto-document decisions to docs/plans/
  plugins/attune/commands/war-room.md
Due: run-plugin-tests, validate-description-budget

fix(conserve): add Read-before-Write instruction to clear-context skill
  plugins/conserve/skills/clear-context/SKILL.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix(pr-review): address PR #164 review feedback
  CHANGELOG.md
  plugins/conserve/docs/modularization-plan.md
Due: run-plugin-tests, validate-conserve-plugin

docs(fix-pr): add troubleshooting note for GraphQL mutation name
  plugins/sanctum/commands/fix-pr-modules/troubleshooting-fixes.md
Due: run-plugin-tests, validate-description-budget

fix: clarify pre-commit hooks and improve Python 3.9 compatibility
  .pre-commit-config.yaml
  plugins/abstract/src/abstract/frontmatter.py
  plugins/abstract/tests/test_frontmatter.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

perf(assets): optimize skills-showcase.gif from 1.9MB to 968KB
  assets/gifs/skills-showcase.gif
Due: none

feat(makefiles): add benchmark targets to imbue and minister
  plugins/imbue/Makefile
  plugins/minister/Makefile
Due: validate-imbue-plugin

feat(hookify): add hook-to-hookify conversion tool
  plugins/hookify/commands/from-hook.md
  plugins/hookify/scripts/hook_to_hookify.py
  plugins/hookify/tests/test_hook_to_hookify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

feat(hookify): add context-aware rule suggestions
  plugins/hookify/scripts/rule_suggester.py
  plugins/hookify/tests/test_rule_suggester.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
