Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

run-plugin-lint:
  name: Lint Changed Plugins
  entry: ./scripts/run-plugin-lint.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-typecheck:
  name: Type Check Changed Plugins
  entry: ./scripts/run-plugin-typecheck.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

run-plugin-tests:
  name: Test Changed Plugins
  entry: ./scripts/run-plugin-tests.sh --changed
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-abstract-skills:
  name: Validate Abstract Skills
  entry: python3 plugins/abstract/scripts/abstract_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/abstract
  - --scan

validate-imbue-skills:
  name: Validate Imbue Skills
  entry: python3 plugins/imbue/scripts/imbue_validator.py
  language: system
  pass_filenames: false
  args:
  - --root
  - plugins/imbue
  - --scan

validate-abstract-plugin:
  name: Validate Abstract Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/abstract
  language: system
  pass_filenames: false

validate-imbue-plugin:
  name: Validate Imbue Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/imbue
  language: system
  pass_filenames: false

validate-archetypes-plugin:
  name: Validate Archetypes Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/archetypes
  language: system
  pass_filenames: false

validate-conjure-plugin:
  name: Validate Conjure Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conjure
  language: system
  pass_filenames: false

validate-conserve-plugin:
  name: Validate Conserve Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/conserve
  language: system
  pass_filenames: false

validate-memory-palace-plugin:
  name: Validate Memory Palace Plugin Structure
  entry: python3 plugins/abstract/scripts/validate-plugin.py plugins/memory-palace
  language: system
  pass_filenames: false

check-context-optimization:
  name: Check Context Optimization
  entry: python3 plugins/abstract/scripts/context_optimizer.py stats plugins/
  language: system
  pass_filenames: false

validate-description-budget:
  name: Validate Description Budget
  entry: python3 plugins/abstract/scripts/validate_budget.py
  language: system
  pass_filenames: false

fix: eight findings from the June review that still stood in September
  plugins/leyline/skills/quota-management/SKILL.md
  plugins/leyline/tests/test_ley_fixes.py
  plugins/memory-palace/src/memory_palace/corpus/knowledge_orchestrator.py
  plugins/memory-palace/tests/test_knowledge_orchestrator.py
  plugins/parseltongue/src/parseltongue/analysis/testing_guide/_constants.py
  plugins/parseltongue/tests/test_testing_guidance.py
  plugins/pensive/src/pensive/skills/unified_review.py
  plugins/pensive/src/pensive/workflows/code_review.py
  plugins/pensive/tests/test_edge_cases.py
  plugins/pensive/tests/test_integration.py
  plugins/pensive/tests/test_pen_fixes.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs(changelog): the September fix pass records what it closed and what it declined
  CHANGELOG.md
Due: none

chore: ignore the cron lock directory, and count the fixes the way the commits do
  .gitignore
  CHANGELOG.md
Due: none

test(gates): make three skipped families report a verdict
  tests/test_cited_paths_resolve.py
  tests/test_lint_gate_reports_without_rewriting.py
  tests/test_shipped_plugin_docs_avoid_repo_local_rules.py
  tests/test_shipped_workflows.py
Due: none

docs(sanctum,readme): make lint reports, it does not rewrite
  README.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(scribe): find the characters a document carries but never shows
  .claude/rules/slop-scan-for-docs.md
  CHANGELOG.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/tests/test_slop_patterns.py
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: the make version requirement, and a count that drifted
  docs/api-overview.md
  docs/plugin-development-guide.md
Due: none

chore(gates): lock the wrap ratchet at the count it already reached
  scripts/prose_wrap_baseline.json
Due: none

feat(scribe): name the negation that describes a former state
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(scribe): point the slop scorer at comments and docstrings
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: none

feat(imbue): guard the write path against edit narration
  .claude/rules/slop-scan-for-docs.md
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/vow_no_edit_narration.py
  plugins/imbue/tests/unit/hooks/test_vow_no_edit_narration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(scribe): a cited path that resolves and a count that was measured
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/data/languages/en.yaml
Due: none

docs(scribe): catch the catalog up to the category it gained
  CHANGELOG.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(scribe): docstrings that describe what the scorer now reads
  scripts/slop_score.py
Due: none

docs(scribe): measure the claim that --python stays off by default
  .claude/rules/slop-scan-for-docs.md
  scripts/slop_score.py
Due: none

fix(imbue): exempt the module that documents the patterns it quotes
  plugins/imbue/tests/unit/hooks/test_vow_no_edit_narration.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(imbue): list the hook the capabilities tables never saw
  book/src/plugins/imbue.md
  book/src/reference/capabilities-reference.md
  plugins/imbue/README.md
  scripts/slop_score.py
Due: run-plugin-tests, validate-imbue-plugin

fix(scribe): floor the word count a Python score divides by
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: none

fix(scribe): strip the code RST marks with two backticks
  .slop-config.yaml
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: none

feat(scribe,sanctum): let the doc consumers review a Python file
  plugins/sanctum/skills/doc-updates/SKILL.md
  plugins/scribe/workflows/doc-sweep.js
  tests/test_shipped_workflows.py
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(scribe): the counts the floor and the allowlist moved
  .claude/rules/slop-scan-for-docs.md
  CHANGELOG.md
Due: none

docs(scribe): say which change left the markdown gate alone
  CHANGELOG.md
Due: none

fix(gauntlet): walk subdirectories, as the docstring always said
  plugins/gauntlet/src/gauntlet/extraction.py
  plugins/gauntlet/tests/unit/test_extraction.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(gauntlet): keep nested definitions in the code graph
  plugins/gauntlet/src/gauntlet/treesitter_parser.py
  plugins/gauntlet/tests/unit/test_treesitter_parser.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(minister): the separator that made every DORA metric read zero
  plugins/minister/src/minister/dora_metrics.py
  plugins/minister/tests/unit/test_dora_metrics.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(memory-palace,scry): pin the paths these Makefiles delete
  plugins/memory-palace/Makefile
  plugins/scry/Makefile
  tests/test_makefile_destructive_targets.py
Due: validate-memory-palace-plugin

fix(abstract): stop a bare make from rewriting the source tree
  plugins/abstract/config/make/common.mk
  tests/test_makefile_default_goal.py
Due: validate-abstract-plugin

fix(gauntlet): make the pre-commit gate fail closed
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/gauntlet/tests/unit/test_precommit.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(scribe): give the double-dash tell an enforcement path
  scripts/slop_score.py
  tests/unit/test_slop_score.py
Due: none

test: close the gaps this week's fixes left behind
  plugins/gauntlet/tests/unit/test_extraction.py
  plugins/gauntlet/tests/unit/test_precommit.py
  plugins/gauntlet/tests/unit/test_treesitter_parser.py
  plugins/minister/tests/unit/test_dora_metrics.py
  tests/test_makefile_default_goal.py
  tests/unit/test_slop_score.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

docs: fold three over-limit documents into the docs that own them
  book/src/plugins/egregore.md
  docs/examples/hook-development/security-patterns.md
  docs/quality-gates.md
  plugins/egregore/README.md
Due: run-plugin-tests

docs(journal): record the dogfooding lessons, repair the index
  docs/lessons-learned.md
  plugins/leyline/src/leyline/decision_journal.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: four defects a documentation pass surfaced and left standing
  Makefile
  docs/guides/data-extraction-pattern.md
  docs/testing-guide.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/pensive/skills/architecture-review/SKILL.md
  tests/test_intra_repo_anchors_resolve.py
  tests/test_makefile_default_goal.py
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

docs(adr): record the two superpowers designs ADR-0019 missed
  .gitignore
  docs/adr/0019-superpowers-design-consolidation.md
Due: none

docs(changelog): fold the unreleased work into 1.9.20, record this pass
  CHANGELOG.md
Due: none

fix(gauntlet): judge the scanned tree, not where it sits on disk
  plugins/gauntlet/src/gauntlet/extraction.py
  plugins/gauntlet/tests/unit/test_extraction.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

refactor(sanctum): drop a meta-evaluation check that always passed
  plugins/sanctum/scripts/meta_evaluation.py
  plugins/sanctum/tests/unit/scripts/test_meta_evaluation_units.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$
