Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

fix: rename SkillMetrics to SkillLogSummary in test imports
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix: resolve 11 issues across plugins (#176 #178 #188 #216 #217 #218 #219 #224 #225 #229 #230)
  .github/DISCUSSION_TEMPLATE/decisions.yml
  .github/workflows/mutation-testing.yml
  plugins/abstract/skills/plugin-review/SKILL.md
  plugins/abstract/skills/skill-authoring/SKILL.md
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/src/abstract/rollback_reviewer.py
  plugins/abstract/tests/unit/test_self_adapting_coverage.py
  plugins/attune/templates/hooks/hooks.json.template
  plugins/conjure/Makefile
  plugins/conserve/Makefile
  plugins/conserve/commands/bloat-scan.md
  plugins/conserve/skills/bloat-detector/SKILL.md
  plugins/conserve/skills/bloat-detector/modules/growth-analysis.md
  plugins/conserve/tests/conftest.py
  plugins/imbue/.claude-plugin/plugin.json
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/Makefile
  plugins/memory-palace/Makefile
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/minister/docs/playbooks/release-train-health.md
  plugins/sanctum/commands/update-docs.md
  plugins/sanctum/commands/update-plugins.md
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/tests/test_error_handling.py
  plugins/scribe/README.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix: enforce single PR for multi-issue /do-issue execution
  plugins/sanctum/commands/do-issue.md
  plugins/sanctum/skills/do-issue/SKILL.md
  plugins/sanctum/skills/do-issue/modules/completion.md
  plugins/sanctum/skills/do-issue/modules/parallel-execution.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

fix: revert bulk lint ignores in parseltongue, fix 73 violations directly
  plugins/abstract/src/abstract/experience_library.py
  plugins/parseltongue/parseltongue/config.py
  plugins/parseltongue/parseltongue/skills/async_analysis.py
  plugins/parseltongue/parseltongue/skills/code_transformation.py
  plugins/parseltongue/parseltongue/skills/compatibility_checker.py
  plugins/parseltongue/parseltongue/skills/language_detection.py
  plugins/parseltongue/parseltongue/skills/pattern_matching.py
  plugins/parseltongue/parseltongue/skills/testing_guide.py
  plugins/parseltongue/parseltongue/utils.py
  plugins/parseltongue/pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat: integrate stewardship virtues with Claude's soul training
  STEWARDSHIP.md
  docs/implementation-plan.md
  docs/project-brief.md
  docs/specification.md
  plugins/hookify/skills/rule-catalog/rules/git/block-destructive-git.md
  plugins/hookify/skills/rule-catalog/rules/git/block-force-push.md
  plugins/hookify/skills/rule-catalog/rules/python/warn-print-statements.md
  plugins/hookify/skills/rule-catalog/rules/security/require-security-review.md
  plugins/hookify/skills/rule-catalog/rules/stewardship/campsite-check.md
  plugins/hookify/skills/rule-catalog/rules/workflow/enforce-scope-guard.md
  plugins/hookify/skills/rule-catalog/rules/workflow/plan-before-large-dispatch.md
  plugins/imbue/commands/stewardship-health.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/leyline/scripts/stewardship_tracker.py
  plugins/leyline/skills/stewardship/SKILL.md
  plugins/leyline/skills/stewardship/modules/care.md
  plugins/leyline/skills/stewardship/modules/curiosity.md
  plugins/leyline/skills/stewardship/modules/diligence.md
  plugins/leyline/skills/stewardship/modules/foresight.md
  plugins/leyline/skills/stewardship/modules/humility.md
  plugins/leyline/skills/stewardship/modules/reflection.md
  plugins/leyline/tests/test_stewardship_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix: correct README version badge and plugin counts, gitignore marketing docs
  .gitignore
  README.md
  docs/marketing/do-issue-reddit-post.md
  docs/marketing/reddit-marketing-guide.md
  docs/marketing/reddit-setup-answer.md
  docs/marketing/spec-kit-reddit-post.md
  docs/marketing/war-room-reddit-post.md
Due: none

fix: implement virtue practice dimension, harden error handling
  docs/api-overview.md
  plugins/leyline/scripts/plugin_health.py
  plugins/leyline/scripts/stewardship_tracker.py
  plugins/leyline/tests/test_plugin_health.py
  plugins/leyline/tests/test_stewardship_tracker.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix: remove planning docs from repo per review feedback
  .gitignore
  docs/implementation-plan.md
  docs/project-brief.md
  docs/specification.md
Due: none

refactor: remove 6K lines of dead code across 6 plugins
  plugins/abstract/examples/sanctum_integration_example.py
  plugins/abstract/scripts/automation_setup.py
  plugins/abstract/scripts/automation_validate.py
  plugins/abstract/scripts/check_frontmatter.py
  plugins/abstract/scripts/modular_analyze.py
  plugins/abstract/scripts/modular_tokens.py
  plugins/abstract/scripts/performance_benchmark.py
  plugins/abstract/tests/integration/test_full_workflow.py
  plugins/abstract/tests/scripts/test_automation_scripts.py
  plugins/abstract/tests/scripts/test_check_frontmatter.py
  plugins/abstract/tests/scripts/test_modular_analyze.py
  plugins/abstract/tests/scripts/test_modular_tokens.py
  plugins/abstract/tests/test_deleted_tools_integration.py
  plugins/abstract/tests/test_performance.py
  plugins/conserve/tests/test_constants.py
  plugins/conserve/tests/unit/scripts/test_conservation_validator.py
  plugins/imbue/tests/performance/test_workflow_scalability.py
  plugins/parseltongue/parseltongue/utils.py
  plugins/parseltongue/tests/test_agents_config.py
  plugins/parseltongue/tests/test_edge_cases.py
  plugins/parseltongue/tests/test_integration.py
  plugins/sanctum/examples/abstract_integration_example.py
  plugins/sanctum/test-wrapper-integration.py
  plugins/sanctum/tests/helpers.py
  plugins/spec-kit/tests/test_agents.py
  plugins/spec-kit/tests/test_performance.py
  plugins/spec-kit/tests/verify_tests.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin

refactor: prune unused deps and delete 15 more dead files
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/categorize_frontmatter.py
  plugins/abstract/scripts/skill_utils.py
  plugins/abstract/tests/scripts/test_categorize_frontmatter.py
  plugins/abstract/tests/scripts/test_skill_utils.py
  plugins/archetypes/uv.lock
  plugins/hookify/agents/__init__.py
  plugins/hookify/hooks/__init__.py
  plugins/leyline/scripts/quota_tracker.py
  plugins/memory-palace/scripts/build_embeddings.py
  plugins/memory-palace/scripts/build_indexes.py
  plugins/memory-palace/skills/__init__.py
  plugins/parseltongue/parseltongue/agents.py
  plugins/parseltongue/parseltongue/config.py
  plugins/parseltongue/parseltongue/skills/__init__.py
  plugins/parseltongue/pyproject.toml
  plugins/parseltongue/tests/test_agents_config.py
  plugins/parseltongue/uv.lock
  plugins/pensive/pyproject.toml
  plugins/pensive/uv.lock
  plugins/sanctum/tests/test_continuous_improvement.py
  plugins/sanctum/tests/test_update_plugin_registrations_simple.py
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/uv.lock
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-archetypes-plugin, validate-memory-palace-plugin

refactor: remove dead code, unused deps, and stale tests (Wave 4)
  plugins/abstract/docs/examples/batch_skills_analyzer.py
  plugins/abstract/scripts/add_bdd_markers.py
  plugins/abstract/scripts/migration_analyzer.py
  plugins/abstract/scripts/wrapper_generator.py
  plugins/abstract/src/__init__.py
  plugins/abstract/src/abstract/base.py
  plugins/abstract/tests/scripts/test_add_bdd_markers.py
  plugins/abstract/tests/scripts/test_coverage_booster.py
  plugins/abstract/tests/test_base.py
  plugins/abstract/tests/test_migration_analyzer.py
  plugins/abstract/tests/unit/test_wrapper_generator.py
  plugins/attune/scripts/architecture_researcher.py
  plugins/attune/scripts/template_customizer.py
  plugins/conjure/pyproject.toml
  plugins/conjure/uv.lock
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/memory-palace/scripts/seed_corpus.py
  plugins/memory-palace/tests/scripts/test_seed_corpus.py
  plugins/parseltongue/tests/test_coverage_gaps.py
  plugins/pensive/src/pensive/plugin/loader.py
  plugins/pensive/src/pensive/skills/base.py
  plugins/pensive/src/pensive/utils/__init__.py
  plugins/pensive/src/pensive/utils/report_generator.py
  plugins/pensive/tests/skills/test_base.py
  plugins/pensive/tests/utils/test_report_generator.py
  plugins/scribe/tests/benchmarks/conftest.py
  plugins/scribe/tests/benchmarks/test_bench_slop_detection.py
  plugins/scribe/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-memory-palace-plugin

fix: replace datetime.UTC with timezone.utc for Python 3.9 compat
  plugins/imbue/tests/conftest.py
  plugins/imbue/tests/integration/test_review_workflow_integration.py
  plugins/imbue/tests/unit/agents/test_review_analyst.py
  plugins/imbue/tests/unit/skills/test_structured_output.py
  plugins/leyline/scripts/stewardship_tracker.py
  plugins/leyline/src/leyline/quota_tracker.py
  plugins/minister/src/minister/project_tracker.py
  plugins/minister/tests/bdd/test_scenarios.py
  plugins/minister/tests/conftest.py
  plugins/minister/tests/unit/test_initiative_tracker.py
  plugins/minister/tests/unit/test_project_tracker.py
  plugins/sanctum/tests/hooks/test_session_complete_notify.py
  plugins/sanctum/tests/test_config_change_audit.py
  plugins/sanctum/tests/test_session_complete_notify.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

refactor(sanctum): replace global with lru_cache in security hook
  plugins/sanctum/hooks/security_pattern_check.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(abstract): use dynamic repo detection for Discussions posting
  plugins/abstract/hooks/aggregate_learnings_daily.py
  plugins/abstract/scripts/auto_promote_learnings.py
  plugins/abstract/scripts/post_learnings_to_discussions.py
  plugins/abstract/tests/hooks/test_aggregate_learnings_daily.py
  plugins/abstract/tests/scripts/test_auto_promote_learnings.py
  plugins/abstract/tests/scripts/test_post_learnings_to_discussions.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs: update CHANGELOG, README, and marketplace schema for 1.6.3
  .claude-plugin/marketplace.json
  CHANGELOG.md
  README.md
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning.py
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete.md
  plugins/sanctum/hooks/post_implementation_policy.py
  plugins/sanctum/hooks/security_pattern_check.py
  plugins/sanctum/skills/do-issue/modules/completion.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

fix: add cache dir exclusions to find commands across 6 plugins
  plugins/abstract/skills/hook-authoring/scripts/README.md
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/conserve/rules/conserve.md
  plugins/conserve/skills/bloat-detector/modules/ai-generated-bloat.md
  plugins/conserve/skills/bloat-detector/modules/code-bloat-patterns.md
  plugins/leyline/skills/storage-templates/modules/lifecycle-stages.md
  plugins/pensive/skills/api-review/modules/consistency-audit.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/shell-review/SKILL.md
  plugins/pensive/skills/test-review/modules/coverage-analysis.md
  plugins/pensive/skills/test-review/modules/framework-detection.md
  plugins/sanctum/skills/file-analysis/SKILL.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/tutorial-updates/modules/manifest-parsing.md
Due: run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

docs(changelog): mark entries as 1.6.3 and add find-exclusion fix
  CHANGELOG.md
Due: none

test(memory-palace): add content sanitization test coverage
  plugins/memory-palace/tests/hooks/test_web_research_handler.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

refactor: address PR #233 deferred review items
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/scripts/detect_duplicates.py
  plugins/conserve/tests/unit/skills/test_clear_context.py
  plugins/conserve/tests/unit/skills/test_context_optimization.py
  plugins/leyline/tests/unit/skills/test_testing_quality_standards.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

docs(sanctum): restore procedural details and fix cross-refs
  plugins/sanctum/commands/update-plugins.md
  plugins/sanctum/commands/update-plugins/modules/phase2-performance.md
  plugins/sanctum/commands/update-plugins/modules/phase3-meta-eval.md
  plugins/sanctum/commands/update-plugins/modules/phase4-queue.md
  plugins/sanctum/scripts/update_plugin_registrations.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

docs: add ADR 0008 for behavioral contract verification
  docs/adr/0008-behavioral-contract-verification.md
Due: none

feat(leyline): add ERC-8004 behavioral contract verification
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/generate_trust_badges.py
  plugins/abstract/tests/scripts/test_generate_trust_badges.py
  plugins/conjure/uv.lock
  plugins/leyline/commands/verify-plugin.md
  plugins/leyline/pyproject.toml
  plugins/leyline/scripts/verify_plugin.py
  plugins/leyline/src/leyline/erc8004/__init__.py
  plugins/leyline/src/leyline/erc8004/client.py
  plugins/leyline/src/leyline/erc8004/config.py
  plugins/leyline/src/leyline/erc8004/identity.py
  plugins/leyline/src/leyline/erc8004/pytest_plugin.py
  plugins/leyline/src/leyline/erc8004/reputation.py
  plugins/leyline/tests/unit/scripts/__init__.py
  plugins/leyline/tests/unit/scripts/test_verify_plugin.py
  plugins/leyline/tests/unit/test_erc8004/__init__.py
  plugins/leyline/tests/unit/test_erc8004/test_client.py
  plugins/leyline/tests/unit/test_erc8004/test_config.py
  plugins/leyline/tests/unit/test_erc8004/test_identity.py
  plugins/leyline/tests/unit/test_erc8004/test_pytest_plugin.py
  plugins/leyline/tests/unit/test_erc8004/test_reputation.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-description-budget

fix: address PR #306 review blocking issues
  plugins/conserve/tests/unit/skills/test_clear_context.py
  plugins/conserve/tests/unit/skills/test_context_optimization.py
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/scripts/verify_plugin.py
  plugins/leyline/src/leyline/erc8004/pytest_plugin.py
  plugins/leyline/tests/test_auto_star_repo.py
  plugins/leyline/tests/unit/scripts/test_verify_plugin.py
  plugins/leyline/tests/unit/test_erc8004/test_pytest_plugin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

refactor(leyline): convert auto-star to user-prompted star check
  CHANGELOG.md
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/hooks/hooks.json
  plugins/leyline/tests/test_auto_star_repo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

style(leyline): soften star prompt tone
  plugins/leyline/hooks/auto-star-repo.sh
Due: none

fix(leyline): target athola/claude-night-market and add --star mode
  plugins/leyline/hooks/auto-star-repo.sh
  plugins/leyline/tests/test_auto_star_repo.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): use full URL in star prompt for clarity
  plugins/leyline/hooks/auto-star-repo.sh
Due: none

fix(leyline): scope star prompt dismissal to current session
  plugins/leyline/hooks/auto-star-repo.sh
Due: none

refactor: pivot from ERC-8004 to GitHub Attestations (SLSA)
  .github/workflows/trust-attestation.yml
  docs/adr/0008-behavioral-contract-verification.md
  plugins/abstract/pyproject.toml
  plugins/abstract/scripts/generate_trust_badges.py
  plugins/abstract/tests/scripts/test_generate_trust_badges.py
  plugins/leyline/pyproject.toml
  plugins/leyline/scripts/verify_plugin.py
  plugins/leyline/src/leyline/erc8004/__init__.py
  plugins/leyline/src/leyline/erc8004/client.py
  plugins/leyline/src/leyline/erc8004/config.py
  plugins/leyline/src/leyline/erc8004/identity.py
  plugins/leyline/src/leyline/erc8004/pytest_plugin.py
  plugins/leyline/src/leyline/erc8004/reputation.py
  plugins/leyline/tests/unit/scripts/test_verify_plugin.py
  plugins/leyline/tests/unit/test_erc8004/__init__.py
  plugins/leyline/tests/unit/test_erc8004/test_client.py
  plugins/leyline/tests/unit/test_erc8004/test_config.py
  plugins/leyline/tests/unit/test_erc8004/test_identity.py
  plugins/leyline/tests/unit/test_erc8004/test_pytest_plugin.py
  plugins/leyline/tests/unit/test_erc8004/test_reputation.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs: add Quillx 3/5 Adapted AI disclosure badge
  README.md
Due: none

fix: address PR #306 review feedback
  plugins/leyline/commands/verify-plugin.md
  plugins/leyline/pyproject.toml
  plugins/leyline/tests/test_auto_star_repo.py
  plugins/leyline/tests/test_manifest_consistency.py
  plugins/sanctum/pyproject.toml
  plugins/sanctum/tests/test_do_issue_module_docs.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

uv.lock
  plugins/conjure/uv.lock
Due: validate-conjure-plugin

test(abstract): add Tasks API mode coverage
  plugins/abstract/tests/unit/test_tasks_manager_base.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

perf(memory-palace): O(n) session chain traversal
  plugins/memory-palace/src/memory_palace/session_history.py
  plugins/memory-palace/tests/unit/test_session_history.py
  plugins/pensive/skills/rust-review/modules/cfg-test-misuse.md
  plugins/pensive/skills/rust-review/modules/collection-types.md
  plugins/pensive/skills/rust-review/modules/duplicate-validators.md
  plugins/pensive/skills/rust-review/modules/error-messages.md
  plugins/pensive/skills/rust-review/modules/silent-returns.md
  plugins/pensive/skills/rust-review/modules/sql-injection.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin

feat(pensive): add 6 rust review checks
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/src/pensive/skills/rust_review.py
  plugins/pensive/tests/skills/test_rust_review.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

fix(conserve,conjure): tool_result counting + json.loads guards
  plugins/conjure/scripts/war_room/audit_trail.py
  plugins/conjure/scripts/war_room/persistence.py
  plugins/conjure/tests/unit/test_audit_trail.py
  plugins/conjure/tests/unit/test_persistence.py
  plugins/conserve/hooks/context_warning.py
  plugins/conserve/tests/unit/test_context_warning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conjure-plugin, validate-conserve-plugin
