Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

feat(attune): complete Phase 2 - high-priority skills discoverability
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

feat(attune): complete Phase 3 - high-priority commands discoverability
  plugins/attune/commands/execute.md
  plugins/attune/commands/plan.md
  plugins/attune/commands/specify.md
  plugins/attune/commands/war-room.md
Due: run-plugin-tests, validate-description-budget

feat(attune): complete Phase 4 - remaining components discoverability
  plugins/attune/agents/project-implementer.md
  plugins/attune/commands/arch-init.md
  plugins/attune/commands/project-init.md
  plugins/attune/commands/upgrade-project.md
  plugins/attune/commands/validate.md
  plugins/attune/skills/makefile-generation/SKILL.md
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/attune/skills/war-room-checkpoint/SKILL.md
  plugins/attune/skills/workflow-setup/SKILL.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

docs(attune): complete Phase 5 - documentation and validation
  docs/adr/0005-attune-discoverability-enhancement.md
  plugins/attune/CHANGELOG.md
  plugins/attune/README.md
Due: run-plugin-tests

test(attune): add comprehensive metadata validation tests for v1.4.0
  tests/test_discoverability_metadata.py
Due: none

docs(attune): consolidate ephemeral planning documents
  .claude/brainstorm-attune-discoverability.md
  docs/implementation-plan-attune-discoverability-v1.4.0.md
  plugins/attune/templates/TEMPLATE-GUIDE.md
Due: run-plugin-tests

chore(attune): bump version to 1.4.0
  plugins/attune/.claude-plugin/plugin.json
Due: none

feat(sanctum): add AI slop detection to commit and PR review workflows
  plugins/sanctum/commands/commit-msg.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/commands/pr-review/modules/review-workflow.md
  plugins/sanctum/tests/test_commit_messages.py
  plugins/sanctum/tests/test_pr_review_workflow.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-description-budget

chore: update uv lockfiles
  plugins/sanctum/uv.lock
  uv.lock
Due: none

fix(plugins): address PR #190 review feedback
  .claude/brainstorm-attune-discoverability.md
  docs/implementation-plan-attune-discoverability-v1.4.0.md
  plugins/abstract/commands/plugin-review.md
  plugins/attune/CHANGELOG.md
  plugins/conserve/skills/context-optimization/SKILL.md
  plugins/conserve/skills/cpu-gpu-performance/SKILL.md
  plugins/conserve/skills/mcp-code-execution/SKILL.md
  plugins/conserve/skills/optimizing-large-skills/SKILL.md
  plugins/imbue/skills/diff-analysis/SKILL.md
  plugins/imbue/skills/evidence-logging/SKILL.md
  plugins/imbue/skills/review-core/SKILL.md
  plugins/imbue/skills/structured-output/SKILL.md
  plugins/leyline/skills/service-registry/SKILL.md
  plugins/leyline/skills/storage-templates/SKILL.md
Due: run-plugin-tests, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(plugins): add agent teams execution and performance-optimization skill
  README.md
  book/src/reference/capabilities-reference.md
  docs/adr/0003-command-description-refactoring.md
  docs/adr/0004-skill-description-budget-optimization.md
  docs/api-overview.md
  plugins/abstract/pyproject.toml
  plugins/abstract/shared-modules/iron-law-interlock.md
  plugins/abstract/skills/hook-authoring/modules/hook-types.md
  plugins/abstract/skills/hook-authoring/modules/testing-hooks.md
  plugins/abstract/skills/makefile-dogfooder/modules/testing.md
  plugins/abstract/skills/performance-optimization/SKILL.md
  plugins/abstract/skills/performance-optimization/modules/conditional-loading.md
  plugins/abstract/skills/skill-authoring/modules/graphviz-conventions.md
  plugins/abstract/skills/skills-eval/modules/multi-metric-evaluation-methodology.md
  plugins/abstract/skills/skills-eval/modules/skill-authoring-best-practices.md
  plugins/attune/agents/project-architect.md
  plugins/attune/agents/project-implementer.md
  plugins/attune/commands/war-room.md
  plugins/attune/pyproject.toml
  plugins/attune/skills/precommit-setup/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/skills/war-room/modules/deliberation-protocol.md
  plugins/attune/skills/war-room/modules/expert-roles.md
  plugins/conjure/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/sanctum/commands/do-issue.md
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/pr-review.md
  plugins/sanctum/skills/do-issue/SKILL.md
  plugins/sanctum/skills/do-issue/modules/parallel-execution.md
Due: run-plugin-tests, validate-abstract-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conjure-plugin, check-context-optimization, validate-description-budget

fix(abstract): add deprecation tests and encoding param for validate_plugin
  plugins/abstract/scripts/validate_plugin.py
  plugins/abstract/tests/unit/scripts/test_validate_plugin.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(plugins): address PR #193 non-blocking review items
  plugins/conserve/hooks/session-start.sh
  plugins/imbue/hooks/session-start.sh
Due: validate-imbue-plugin, validate-conserve-plugin

fix(plugins): harden git block rules and clean up skill descriptions
  plugins/abstract/shared-modules/iron-law-interlock.md
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/hookify/examples/block-destructive-git.local.md
  plugins/hookify/skills/rule-catalog/rules/git/block-destructive-git.md
  plugins/leyline/skills/git-platform/SKILL.md
  plugins/sanctum/hooks/session_complete_notify.py
  plugins/sanctum/skills/tutorial-updates/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, check-context-optimization, validate-description-budget

fix(plugins): relocate deleted shared modules into consuming skills
  plugins/imbue/skills/evidence-logging/SKILL.md
  plugins/imbue/skills/evidence-logging/modules/evidence-formats.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/proof-of-work/modules/todowrite-patterns.md
  plugins/pensive/skills/code-refinement/SKILL.md
  plugins/pensive/skills/code-refinement/modules/code-quality-analysis.md
  plugins/pensive/skills/unified-review/SKILL.md
  plugins/pensive/skills/unified-review/modules/output-format-templates.md
  plugins/pensive/skills/unified-review/modules/quality-checklist-patterns.md
  plugins/pensive/skills/unified-review/modules/review-workflow-core.md
  plugins/pensive/tests/test_safety_critical_patterns.py
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/skills/commit-messages/modules/output-templates.md
  plugins/sanctum/skills/git-workspace-review/SKILL.md
  plugins/sanctum/skills/git-workspace-review/modules/git-commands.md
  plugins/sanctum/skills/pr-prep/SKILL.md
  plugins/sanctum/skills/pr-prep/modules/todowrite-patterns.md
  plugins/sanctum/skills/pr-review/SKILL.md
  plugins/sanctum/skills/pr-review/modules/github-comments.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/sanctum/skills/workflow-improvement/modules/auto-issue-creation.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(plugins): complete truncated DO NOT descriptions and harden validation
  plugins/archetypes/skills/architecture-paradigm-cqrs-es/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-event-driven/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-functional-core/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-hexagonal/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-microkernel/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-modular-monolith/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-serverless/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-service-based/SKILL.md
  plugins/archetypes/skills/architecture-paradigm-space-based/SKILL.md
  plugins/attune/skills/architecture-aware-init/SKILL.md
  plugins/hookify/skills/writing-rules/SKILL.md
  plugins/imbue/skills/feature-review/SKILL.md
  plugins/leyline/skills/testing-quality-standards/SKILL.md
  plugins/memory-palace/skills/knowledge-intake/SKILL.md
  plugins/sanctum/skills/tutorial-updates/SKILL.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/spec-kit/skills/spec-writing/SKILL.md
  plugins/spec-kit/skills/task-planning/SKILL.md
  scripts/fix_descriptions.py
Due: run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-archetypes-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

chore: add LSP proxy for graceful server fallback and clean up settings
  .cclsp.json
  .claude/settings.json
  scripts/lsp-proxy.py
Due: none

fix(spec-kit): relocate deleted shared modules into consuming skills
  plugins/spec-kit/skills/spec-writing/SKILL.md
  plugins/spec-kit/skills/spec-writing/modules/checklist-dimensions.md
  plugins/spec-kit/skills/speckit-orchestrator/SKILL.md
  plugins/spec-kit/skills/speckit-orchestrator/modules/artifact-structure.md
  plugins/spec-kit/skills/task-planning/SKILL.md
  plugins/spec-kit/skills/task-planning/modules/tech-stack-patterns.md
Due: run-plugin-tests, check-context-optimization, validate-description-budget

revert: remove LSP proxy and restore .cclsp.json
  .cclsp.json
  scripts/lsp-proxy.py
Due: none

fix: address PR #199 review feedback across 7 plugins
  CHANGELOG.md
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/hooks/__init__.py
  plugins/abstract/tests/hooks/test_continual_metrics.py
  plugins/abstract/tests/hooks/test_skill_observability_proof.py
  plugins/attune/commands/mission.md
  plugins/attune/skills/mission-orchestrator/SKILL.md
  plugins/conjure/skills/agent-teams/modules/messaging-protocol.md
  plugins/leyline/skills/risk-classification/modules/heuristic-classifier.md
  plugins/leyline/skills/risk-classification/modules/verification-gates.md
  plugins/memory-palace/hooks/web_content_processor.py
  plugins/memory-palace/scripts/memory_palace_cli.py
  plugins/memory-palace/src/memory_palace/lifecycle/autonomy_state.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

docs: add Python 3.9+ hook compatibility requirements
  README.md
  book/src/getting-started/installation.md
  docs/plugin-development-guide.md
Due: none

docs: correct Python version to 3.9+ in tooling overview
  docs/plugin-development-guide.md
Due: none

feat(abstract): add improvement queue module with init and persistence
  plugins/abstract/scripts/aggregate_skill_logs.py
  plugins/abstract/scripts/update_changelog.py
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/tests/test_improvement_queue.py
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add flag/trigger logic to improvement queue
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/tests/test_improvement_queue.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add evaluation window and human-gated rollback decisions
  plugins/abstract/src/abstract/improvement_queue.py
  plugins/abstract/tests/test_improvement_queue.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add homeostatic monitor PostToolUse hook
  plugins/abstract/hooks/homeostatic_monitor.py
  plugins/abstract/hooks/hooks.json
  plugins/abstract/tests/test_hooks_homeostatic_monitor.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add experience library for storing successful skill trajectories
  plugins/abstract/src/abstract/experience_library.py
  plugins/abstract/tests/test_experience_library.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add versioned skill definitions with YAML frontmatter management
  plugins/abstract/src/abstract/skill_versioning.py
  plugins/abstract/tests/test_skill_versioning.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

feat(abstract): add rollback reviewer for human-gated GitHub issue creation
  plugins/abstract/src/abstract/rollback_reviewer.py
  plugins/abstract/tests/test_rollback_reviewer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

test(abstract): add integration tests for full homeostatic monitoring loop
  plugins/abstract/tests/integration/test_homeostatic_loop.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

fix(abstract): address lint and test issues in self-adapting system modules
  plugins/abstract/hooks/pre_skill_execution.py
  plugins/abstract/hooks/skill_execution_logger.py
  plugins/abstract/tests/hooks/test_continual_metrics.py
  plugins/abstract/tests/hooks/test_skill_observability_proof.py
  plugins/abstract/tests/test_hooks_skill_execution_logger.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

docs: mark self-adapting systems design as implemented
  docs/plans/2026-02-15-self-adapting-systems-design.md
Due: none

fix(conserve): prevent task list duplication in continuation agents
  plugins/conserve/agents/continuation-agent.md
  plugins/conserve/skills/clear-context/SKILL.md
  plugins/conserve/skills/clear-context/modules/session-state.md
Due: run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat: implement PR #100 review backlog (issues #104-110)
  .github/workflows/mutation-testing.yml
  plugins/attune/scripts/plugin_project_init.py
  plugins/attune/templates/hooks/coverage_check.py.template
  plugins/attune/templates/hooks/hooks.json.template
  plugins/attune/templates/hooks/pre_commit_tdd.py.template
  plugins/attune/uv.lock
  plugins/imbue/skills/proof-of-work/modules/iron-law-enforcement.md
  plugins/imbue/uv.lock
  plugins/sanctum/scripts/update_plugin_registrations.py
  plugins/sanctum/scripts/update_plugins_modules/knowledge_queue.py
  plugins/sanctum/scripts/update_plugins_modules/meta_evaluation.py
  plugins/sanctum/scripts/update_plugins_modules/performance_analysis.py
  plugins/sanctum/scripts/update_versions.py
  plugins/sanctum/tests/test_continuous_improvement_integration.py
  plugins/sanctum/tests/test_error_handling.py
  plugins/sanctum/tests/test_performance.py
  plugins/sanctum/tests/test_update_plugin_registrations.py
  plugins/sanctum/uv.lock
  uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin
