Repository athola/claude-night-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-skills, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-archetypes-plugin, validate-conjure-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

Path conditions:
  run-plugin-lint: any of: ^plugins/.*\.py$
  run-plugin-typecheck: any of: ^plugins/.*\.py$
  run-plugin-tests: any of: ^plugins/.*\.(py|md)$
  validate-abstract-skills: any of: ^plugins/abstract/.*SKILL\.md$
  validate-imbue-skills: any of: ^plugins/imbue/.*SKILL\.md$
  validate-abstract-plugin: any of: ^plugins/abstract/
  validate-imbue-plugin: any of: ^plugins/imbue/
  validate-archetypes-plugin: any of: ^plugins/archetypes/
  validate-conjure-plugin: any of: ^plugins/conjure/
  validate-conserve-plugin: any of: ^plugins/conserve/
  validate-memory-palace-plugin: any of: ^plugins/memory-palace/
  check-context-optimization: any of: ^.*SKILL\.md$
  validate-description-budget: any of: ^plugins/.*(SKILL\.md|commands/.*\.md)$

feat(herald): add cross-platform double-shot-latte Stop-hook judge
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/hooks/hooks.json
  plugins/herald/tests/unit/test_double_shot_latte.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(herald): gate LLM second shot, cap its timeout
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/tests/unit/test_double_shot_latte.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(herald): portable hook invocation, sweep stale throttles
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/hooks/hooks.json
  plugins/herald/tests/unit/test_double_shot_latte.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(herald): raise continuation cap to 10, prompt to resume
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/tests/unit/test_double_shot_latte.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(herald): make continuation cap configurable via env
  CHANGELOG.md
  plugins/herald/README.md
  plugins/herald/hooks/double_shot_latte.py
  plugins/herald/tests/unit/test_double_shot_latte.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

feat(sanctum): add output-hygiene enforcement
  plugins/sanctum/commands/commit-msg.md
  plugins/sanctum/commands/fix-pr-modules/steps/4-fix.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/summary.md
  plugins/sanctum/commands/fix-pr-modules/steps/6-complete/thread-resolution.md
  plugins/sanctum/commands/pr-review/modules/review-workflow-phases-1-4.md
  plugins/sanctum/commands/shared/output-hygiene.md
  plugins/sanctum/skills/commit-messages/SKILL.md
  plugins/sanctum/tests/test_output_hygiene.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(leyline): add decision journal contract
  CHANGELOG.md
  book/src/plugins/leyline.md
  book/src/reference/capabilities-reference.md
  plugins/attune/scripts/attune_init.py
  plugins/attune/skills/project-brainstorming/SKILL.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/attune/skills/project-init/SKILL.md
  plugins/attune/skills/project-planning/SKILL.md
  plugins/attune/skills/project-specification/SKILL.md
  plugins/attune/skills/war-room/SKILL.md
  plugins/attune/tests/test_attune_init_structure.py
  plugins/imbue/skills/justify/SKILL.md
  plugins/imbue/skills/karpathy-principles/SKILL.md
  plugins/imbue/skills/review-core/SKILL.md
  plugins/leyline/.claude-plugin/plugin.json
  plugins/leyline/openpackage.yml
  plugins/leyline/scripts/journal_append.py
  plugins/leyline/skills/decision-journal/SKILL.md
  plugins/leyline/src/leyline/decision_journal.py
  plugins/leyline/tests/test_decision_journal.py
  plugins/leyline/tests/unit/test_journal_append.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/sanctum/commands/fix-pr.md
  plugins/sanctum/commands/fixit.md
  plugins/sanctum/skills/do-issue/modules/completion.md
  plugins/sanctum/skills/pr-review/modules/knowledge-capture.md
  plugins/sanctum/skills/workflow-improvement/SKILL.md
  plugins/spec-kit/commands/speckit-constitution.md
  plugins/spec-kit/commands/speckit-implement.md
  plugins/spec-kit/commands/speckit-plan.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(leyline): escape pipes in decision-journal index rows
  plugins/leyline/src/leyline/decision_journal.py
  plugins/leyline/tests/test_decision_journal.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(leyline): harden decision-journal against adversarial input
  plugins/attune/scripts/attune_init.py
  plugins/attune/tests/test_attune_init_structure.py
  plugins/leyline/scripts/journal_append.py
  plugins/leyline/skills/decision-journal/SKILL.md
  plugins/leyline/src/leyline/decision_journal.py
  plugins/leyline/tests/test_decision_journal.py
  plugins/leyline/tests/unit/test_journal_append.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

docs(changelog): add output-hygiene 1.9.10 entry
  CHANGELOG.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
Due: validate-memory-palace-plugin

feat(imbue): add anti-blind-trust workflow guardrails
  CHANGELOG.md
  book/src/plugins/imbue.md
  book/src/reference/capabilities-reference.md
  docs/research/19c28f3c-ai-workflow-guardrails.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/README.md
  plugins/imbue/hooks/guard_package_hallucination.py
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/shared/package_guard.py
  plugins/imbue/skills/assisted-mastery/SKILL.md
  plugins/imbue/skills/assisted-mastery/modules/modes-and-fading.md
  plugins/imbue/skills/assisted-mastery/modules/tradeoff-ledger.md
  plugins/imbue/skills/dependency-verification/SKILL.md
  plugins/imbue/skills/dependency-verification/modules/registry-checks.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/proof-of-work/modules/independent-verification.md
  plugins/imbue/tests/unit/hooks/test_guard_package_hallucination.py
  plugins/imbue/tests/unit/hooks/test_package_guard.py
  plugins/leyline/skills/risk-classification/SKILL.md
  plugins/leyline/skills/risk-classification/modules/automation-tiers.md
  scripts/skill_graph_baseline.json
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

chore(abstract): raise description budget to 90k
  plugins/abstract/scripts/validate_budget.py
  plugins/abstract/tests/unit/scripts/test_validate_budget.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin

chore: gitignore tome research session state
  .gitignore
Due: none

feat(imbue): add graduated-implementation skill and scope-ramp hook
  .gitignore
  CHANGELOG.md
  book/src/plugins/imbue.md
  book/src/reference/capabilities-reference.md
  docs/research/3dfdba53-graduated-implementation.md
  plugins/attune/skills/project-execution/SKILL.md
  plugins/imbue/.claude-plugin/plugin.json
  plugins/imbue/README.md
  plugins/imbue/hooks/guard_scope_ramp.py
  plugins/imbue/hooks/hooks.json
  plugins/imbue/hooks/shared/scope_ramp.py
  plugins/imbue/skills/assisted-mastery/SKILL.md
  plugins/imbue/skills/graduated-implementation/SKILL.md
  plugins/imbue/skills/graduated-implementation/modules/advancement-gate.md
  plugins/imbue/skills/graduated-implementation/modules/ramp-ledger.md
  plugins/imbue/tests/unit/hooks/test_guard_scope_ramp.py
  plugins/imbue/tests/unit/hooks/test_scope_ramp.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

fix(imbue): harden scope-ramp state against /tmp symlink attack
  plugins/imbue/hooks/guard_scope_ramp.py
  plugins/imbue/tests/unit/hooks/test_guard_scope_ramp.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

fix(imbue): harden vow-bounded-reads hooks against /tmp symlink attack
  plugins/imbue/hooks/guard_scope_ramp.py
  plugins/imbue/hooks/shared/vow_utils.py
  plugins/imbue/hooks/vow_bounded_reads.py
  plugins/imbue/hooks/vow_bounded_reads_reset.py
  plugins/imbue/tests/unit/hooks/test_secure_state.py
  plugins/imbue/tests/unit/hooks/test_vow_bounded_reads.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(imbue): resolve PR #555 review threads on research docs
  CHANGELOG.md
  docs/research/19c28f3c-ai-workflow-guardrails.md
  docs/research/3dfdba53-graduated-implementation.md
  docs/research/mmpo-belief-entropy-logprob-path.md
  plugins/imbue/hooks/shared/scope_ramp.py
  plugins/imbue/skills/assisted-mastery/SKILL.md
  plugins/imbue/skills/assisted-mastery/modules/research-basis.md
  plugins/imbue/skills/dependency-verification/SKILL.md
  plugins/imbue/skills/graduated-implementation/SKILL.md
  plugins/imbue/skills/graduated-implementation/modules/research-basis.md
  plugins/imbue/tests/unit/hooks/test_scope_ramp.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-imbue-plugin, check-context-optimization, validate-description-budget

feat(tome): ground TRIZ channel in researched canonical method
  docs/research/2026-06-04-triz-for-workflows.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/tome/agents/triz-analyst.md
  plugins/tome/skills/triz/SKILL.md
  plugins/tome/src/tome/channels/triz.py
  plugins/tome/src/tome/channels/triz_data/39_parameters.yaml
  plugins/tome/src/tome/channels/triz_data/NOTICE
  plugins/tome/src/tome/channels/triz_data/__init__.py
  plugins/tome/src/tome/channels/triz_data/contradiction_matrix.csv
  plugins/tome/tests/channels/test_triz.py
  plugins/tome/tests/unit/test_triz_export_visualizer.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(scribe): normalize British spellings to American in slop workflow
  .claude/rules/slop-scan-for-docs.md
  plugins/scribe/agents/prose-reviewer.md
  plugins/scribe/agents/slop-hunter.md
  plugins/scribe/data/spelling/british_american.yaml
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/config-file.md
  plugins/scribe/skills/slop-detector/modules/spelling-normalization.md
  plugins/scribe/src/scribe/spelling.py
  plugins/scribe/tests/test_spelling.py
  plugins/scribe/uv.lock
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(tome): add ideation catalog with diverse selection and rotation
  book/src/reference/capabilities-reference.md
  docs/research/2026-06-04-ideation-methods-for-workflows.md
  plugins/tome/.claude-plugin/plugin.json
  plugins/tome/skills/ideate/SKILL.md
  plugins/tome/skills/triz/SKILL.md
  plugins/tome/src/tome/channels/ideation.py
  plugins/tome/src/tome/channels/ideation_data/__init__.py
  plugins/tome/src/tome/channels/ideation_data/methods.yaml
  plugins/tome/tests/channels/test_ideation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

test: guard workflow wiring and degradation paths
  plugins/attune/tests/unit/skills/test_mission_orchestrator.py
  plugins/tome/tests/channels/test_ideation.py
  plugins/tome/tests/channels/test_triz.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests

fix(imbue,tome): address PR #568 review feedback
  plugins/imbue/scripts/citation_verifier.py
  plugins/imbue/tests/unit/test_citation_verifier.py
  plugins/scribe/src/scribe/spelling.py
  plugins/tome/src/tome/channels/ideation.py
  plugins/tome/src/tome/channels/triz.py
  plugins/tome/src/tome/channels/triz_data/NOTICE
  plugins/tome/tests/channels/test_ideation.py
  plugins/tome/tests/channels/test_triz.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-plugin

docs(tome): consolidate research notes into skills, gitignore docs/research
  .gitignore
  docs/research/2026-06-04-ideation-methods-for-workflows.md
  docs/research/2026-06-04-triz-for-workflows.md
  plugins/tome/skills/ideate/SKILL.md
  plugins/tome/skills/triz/SKILL.md
  plugins/tome/src/tome/channels/ideation.py
  plugins/tome/src/tome/channels/ideation_data/__init__.py
  plugins/tome/tests/channels/test_ideation.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, check-context-optimization, validate-description-budget

feat(scribe): detect copula-led negation, de-slop docs
  .claude/rules/slop-scan-for-docs.md
  STEWARDSHIP.md
  docs/quality-gates.md
  docs/skill-integration-guide.md
  plugins/abstract/skills/skill-authoring/modules/advanced-patterns.md
  plugins/abstract/skills/subagent-testing/modules/testing-patterns.md
  plugins/conserve/agents/ai-hygiene-auditor.md
  plugins/hookify/skills/rule-catalog/rules/security/destructive-command-guard.md
  plugins/imbue/skills/karpathy-principles/references/source-attribution.md
  plugins/imbue/skills/proof-of-work/SKILL.md
  plugins/imbue/skills/scope-guard/SKILL.md
  plugins/leyline/skills/decision-journal/SKILL.md
  plugins/leyline/skills/progressive-loading/modules/python-testing.md
  plugins/leyline/skills/utility/modules/gain.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/skills/knowledge-intake/modules/pruning-workflows.md
  plugins/pensive/skills/architecture-review/SKILL.md
  plugins/pensive/skills/harden/modules/rust-checks.md
  plugins/pensive/skills/rust-review/modules/model-specific-tells.md
  plugins/scribe/agents/prose-reviewer.md
  plugins/scribe/agents/slop-hunter.md
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
  plugins/tome/skills/triz/SKILL.md
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-imbue-skills, validate-abstract-plugin, validate-imbue-plugin, validate-conserve-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(scribe): detect unnecessary prose semicolons
  .claude/rules/slop-scan-for-docs.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/doc-generator/SKILL.md
  plugins/scribe/skills/doc-importer/SKILL.md
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/remediation-strategies.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/style-learner/SKILL.md
  plugins/scribe/skills/tech-tutorial/SKILL.md
  plugins/scribe/skills/tech-tutorial/modules/progressive-complexity.md
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

feat(conserve): add reversible compression (CCR) for large tool outputs
  plugins/conserve/Makefile
  plugins/conserve/README.md
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/conserve/scripts/context_retrieve.py
  plugins/conserve/skills/compression-strategy/SKILL.md
  plugins/conserve/skills/compression-strategy/modules/reversible-compression.md
  plugins/conserve/skills/context-optimization/SKILL.md
  plugins/conserve/skills/context-optimization/modules/cache-aligned-prefixes.md
  plugins/conserve/tests/test_compression_modules.py
  plugins/conserve/tests/test_reversible_compression.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

test(conserve): cover CCR edge cases and fail-open behavior
  plugins/conserve/tests/test_reversible_compression.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

chore(conserve): add make coverage target for hooks and scripts
  plugins/conserve/Makefile
Due: validate-conserve-plugin

fix(conserve,pensive): address PR #577 review findings
  plugins/conserve/hooks/tool_output_summarizer.py
  plugins/conserve/scripts/context_retrieve.py
  plugins/conserve/skills/compression-strategy/modules/reversible-compression.md
  plugins/conserve/tests/test_reversible_compression.py
  plugins/conserve/tests/unit/skills/test_elegant_code.py
  plugins/gauntlet/hooks/precommit_gate.py
  plugins/pensive/skills/rust-review/modules/float-equality.md
  plugins/pensive/skills/rust-review/modules/mem-forget-audit.md
  plugins/pensive/src/pensive/skills/rust_review/float_equality.py
  plugins/pensive/src/pensive/skills/rust_review/idiomatic_elision.py
  plugins/pensive/src/pensive/skills/rust_review/line_cache.py
  plugins/pensive/src/pensive/skills/rust_review/match_wildcard.py
  plugins/pensive/src/pensive/skills/rust_review/mem_forget.py
  plugins/pensive/src/pensive/skills/rust_review/mutable_statics.py
  plugins/pensive/src/pensive/skills/rust_review/native_modeling.py
  plugins/pensive/src/pensive/skills/rust_review/numeric_cast.py
  plugins/pensive/src/pensive/skills/rust_review/repr_packed.py
  plugins/pensive/src/pensive/skills/rust_review/transmute_audit.py
  plugins/pensive/src/pensive/skills/rust_review_data.py
  plugins/pensive/tests/skills/test_rust_review_idiomatic_elision.py
  plugins/pensive/tests/skills/test_rust_review_line_cache.py
  plugins/pensive/tests/skills/test_rust_review_numeric_cast.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin

test(conserve,pensive): honest labels for fix-commit tests
  plugins/conserve/tests/test_reversible_compression.py
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/pensive/tests/skills/test_rust_review_idiomatic_elision.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, validate-memory-palace-plugin

feat(plugins): add coercion/conversion rust-review audits
  plugins/abstract/Makefile
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/memory-palace/hooks/memory-palace-index.yaml
  plugins/parseltongue/Makefile
  plugins/pensive/README.md
  plugins/pensive/agents/rust-auditor.md
  plugins/pensive/commands/rust-review.md
  plugins/pensive/skills/rust-review/SKILL.md
  plugins/pensive/skills/rust-review/modules/coercion-params.md
  plugins/pensive/skills/rust-review/modules/conversion-traits.md
  plugins/pensive/skills/rust-review/modules/idiomatic-elision.md
  plugins/pensive/src/pensive/skills/rust_review/__init__.py
  plugins/pensive/src/pensive/skills/rust_review/coercion_params.py
  plugins/pensive/src/pensive/skills/rust_review/conversion_traits.py
  plugins/pensive/src/pensive/skills/rust_review/idiomatic_elision.py
  plugins/pensive/src/pensive/skills/rust_review_data.py
  plugins/pensive/tests/skills/test_rust_review_coercion_params.py
  plugins/pensive/tests/skills/test_rust_review_conversion_traits.py
  plugins/pensive/tests/skills/test_rust_review_idiomatic_elision.py
  plugins/sanctum/Makefile
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(plugins): resolve preexisting test warnings
  plugins/abstract/pyproject.toml
  plugins/abstract/tests/unit/test_utils_extended.py
  plugins/conjure/pyproject.toml
  plugins/conjure/tests/pytest.ini
  plugins/egregore/pyproject.toml
  plugins/minister/pyproject.toml
  plugins/oracle/src/oracle/daemon.py
  plugins/oracle/tests/integration/test_daemon.py
  plugins/parseltongue/pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conjure-plugin

fix(plugins): set pytest-asyncio loop scope
  plugins/attune/pyproject.toml
  plugins/conserve/pyproject.toml
  plugins/imbue/pyproject.toml
  plugins/leyline/pyproject.toml
  plugins/pensive/pyproject.toml
  plugins/phantom/pyproject.toml
  plugins/spec-kit/pyproject.toml
  plugins/spec-kit/tests/pytest.ini
  plugins/tome/pyproject.toml
Due: validate-imbue-plugin, validate-conserve-plugin

fix(abstract,conserve): resolve leyline mypy errors
  plugins/abstract/src/abstract/tokens.py
  plugins/conserve/pyproject.toml
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-abstract-plugin, validate-conserve-plugin

fix(plugins): resolve full-review findings
  plugins/conserve/scripts/context_retrieve.py
  plugins/conserve/tests/test_reversible_compression.py
  plugins/leyline/src/leyline/deferred_capture.py
  plugins/leyline/tests/unit/src/test_deferred_capture_shared.py
  plugins/pensive/src/pensive/skills/rust_review/reporting.py
  plugins/pensive/src/pensive/skills/rust_review/structure.py
  plugins/pensive/tests/skills/test_rust_review_line_cache.py
  plugins/pensive/tests/skills/test_rust_review_severity.py
  plugins/sanctum/hooks/deferred_item_sweep.py
  plugins/sanctum/tests/unit/hooks/test_deferred_item_sweep.py
  plugins/scribe/skills/slop-detector/SKILL.md
  scripts/run-plugin-typecheck.sh
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-conserve-plugin, check-context-optimization, validate-description-budget

feat(scribe): add 2025-2026 AI slop detection patterns
  .claude/rules/slop-scan-for-docs.md
  plugins/memory-palace/data/indexes/vitality-scores.yaml
  plugins/scribe/data/languages/en.yaml
  plugins/scribe/skills/slop-detector/SKILL.md
  plugins/scribe/skills/slop-detector/modules/structural-patterns.md
  plugins/scribe/skills/slop-detector/modules/vocabulary-patterns.md
  plugins/scribe/tests/test_slop_patterns.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests, validate-memory-palace-plugin, check-context-optimization, validate-description-budget

fix(plugins): restore py3.9 support and cache review reads
  assets/gifs/skills-showcase.gif
  plugins/leyline/src/leyline/decision_journal.py
  plugins/leyline/src/leyline/deferred_capture.py
  plugins/leyline/tests/test_python39_compat.py
  plugins/pensive/src/pensive/workflows/code_review.py
  plugins/pensive/tests/unit/test_review_context.py
Due: run-plugin-lint, run-plugin-typecheck, run-plugin-tests
